.card-feature
  .card-feature__icon-wrap
    +icon('guarantee', 'card-feature__icon')
  .card-feature__body
    p.card-feature__desc Возврат и обмен товара в течение 30 дней с момента покупки
      i.card-feature__tooltip.fas.fa-info #[small.card-feature__tooltip-body Какая-то подсказка о возврате и обмене товара]
      //- span.card-feature__tooltip i #[small.card-feature__tooltip-body Какая-то подсказка о возврате и обмене товара]