.card-feature
  .card-feature__icon-wrap
    +icon('support', 'card-feature__icon')
  .card-feature__body
    p.card-feature__desc Сложности в подборе запчасти?
    a.card-feature__link(href="tel:14814") Звоните - 14814