figure.company-feature
  .company-feature__icon-wrap
    +icon('wallet', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Оплата наличными при получении товара или Картами Visa / Mastercard