figure.company-feature
  .company-feature__icon-wrap
    +icon('truck-delivery', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Доставка по всему Казахстану от 800 тенге в течении 2-3 дней