figure.company-feature
  .company-feature__icon-wrap
    +icon('support', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Сложности в подборе запчасти? 
    a.company-feature__link(href="tel:+14814") Звоните -  14814