figure.company-feature
  .company-feature__icon-wrap
    +icon('recommended', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Высокое качество от ведущих мировых брендов