figure.company-feature.company-feature--wide
  .company-feature__icon-wrap
    +icon('stats', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Передовые технологии и методики