figure.company-feature
  .company-feature__icon-wrap
    +icon('pallet', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Широкий ассортимент товара и доступные цены