figure.company-feature
  .company-feature__icon-wrap
    +icon('discount', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Система скидок и подарков для постоянных клиентов