figure.company-feature
  .company-feature__icon-wrap
    +icon('analytics', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Регулярные акции и специальные предложения