figure.company-feature
  .company-feature__icon-wrap
    +icon('online-learning', 'company-feature__icon')
  figcaption.company-feature__figcaption
    p.company-feature__desc Оснащенные учебные площадки