// Basic Definitions
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;

  @media (min-width: $md) {
    font-size: 50%;
  }
  
  @media (min-width: $lg) {
    font-size: 62.5%;
  }
  /*@media (min-width: $xl) {
    font-size: 50%;
  }
  @media (min-width: 1800px) {
    font-size: 75%;
  }*/
}

body {
  background: $body-bg;

  &.index-page {
    background: $body-bg-secondary;
  }
}

.container-fluid {
  max-width: $layout-max-width;
}

.main {
  background: $white;
  max-width: calc(#{$layout-max-width} + 11rem);
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 0;
  box-shadow: -11px 0 12px -7px rgba(0, 0, 0, .05),
              11px 0 12px -7px rgba(0, 0, 0, .05);

  @media (min-width: $sm) {
    padding-bottom: 4.5rem;
  }
}

.preview-desc {
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 4rem;
  }

  a {
    color: $primary-color;
  }
}

.overlay {
  background: rgba($black, .5);
  z-index: $overlayZIndex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.simplebar-scrollbar {
  background: $black;
  border-radius: 5px;
}

.simplebar-track {
  background: #d3d3d3;
  border-radius: 5px;
  width: 4px !important;
}