@font-face {
  font-family: 'fa';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'),
       url('../fonts/fa-regular-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fa';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'),
       url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}