::placeholder {
  color: $dark--medium;
  font-size: 1.4rem;
}

input:not(.btn) {
  padding: 1rem 0.5rem;
  width: 100%;
  outline: none;
  border: 1px solid $gray--medium;
  border-radius: 3px;
}

textarea {
  padding: 1rem 1.5rem;
  resize: vertical;
  width: 100%;
  outline: none;
  border: 1px solid $gray--medium;
  border-radius: 3px;
}

button,
button:focus {
  outline: none;
}

label {
  user-select: none;
}

select {
  max-width: 100%;
}

/* Checkbox */
.checkbox-label {
  &__main {
    font-size: 1.4rem;
    cursor: pointer;
    color: $font-base-color;
    height: 100%;
    padding: 0 1.5rem 0 2.5rem;
    position: relative;
    margin: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    min-width: 1.6rem;
    min-height: 1.6rem;

    &::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid $gray;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      text-align: center;
      line-height: 1.6rem;
      font-family: fa;
      font-size: 1.2rem;
      background: $white;
    }
  }

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  &__input:checked + .checkbox-label__main::before {
    content: "\f00c";
    width: 1.6rem;
    height: 1.6rem;
    background: $primary-color;
    border-color: $primary-color;
  }
}
/* Checkbox */

/* Radio */
.radio-label {
  line-height: 1.6rem;

  &__main {
    font-size: 1.4rem;
    cursor: pointer;
    color: $font-base-color;
    height: 100%;
    padding: 2px 1.5rem 2px 2.5rem;
    position: relative;
    margin: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .3s;
    max-width: 100%;

    &::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid $gray;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      line-height: 1.6rem;
      border-radius: 50%;
      background: $white;
      margin-top: -1px;
    }
  }

  &__input {
    @include hide-element;
  }

  &__input:checked + .radio-label__main {
    color: $primary-color;

    &::before {
      background: $white;
      border-color: $primary-color;
      border-width: .5rem;
    }
  }
}
/* Radio */

.main-form {
  &__field {
    margin-bottom: 2.5rem;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $sm--mw) {
        flex-wrap: wrap;

        > * {
          margin: .5rem 0;
        }
      }
    }

    .checkbox-label {
      &__main {
        white-space: normal;
        padding-left: 3rem;
        color: $dark--medium;
        padding-top: 1px;
        display: block;

        &::before {
          top: 0;
          transform: none;
        }
      }

      &__input:checked + label {
        color: $font-base-color;
      }

      a {
        color: $primary-color;
        padding-right: 1.8rem;
        position: relative;

        &::after {
          content: "\f054";
          width: 1.4rem;
          height: 1.4rem;
          font-family: fa;
          font-size: 1rem;
          text-indent: 1px;
          color: $white;
          position: absolute;
          right: 0;
          background: $primary-color;
          text-align: center;
          border-radius: 50%;
          line-height: 1.4rem;
        }
      }
    }

    &.error {
      input {
        background-color: #fff7f7;
        border-color: #ff7f7f;
        box-shadow: 0 0 7px rgba(255, 51, 51, 0.2);
      }

      .error__desc {
        display: block;
        font-size: 1.2rem;
        color: #ff4747;
        text-align: right;
        display: block;
      }
    }
  }
  
  &__label {
    font-size: 1.4rem;
    color: $dark--medium;
    margin-bottom: .5rem;

    span {
      color: $primary-color;
    }
  }

  &__input {
    border-radius: 3px;
    transition: all .3s;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  &__recover-psw {
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;
    font-size: 1.4rem;

    &:hover {
      color: $primary-color;
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }

  &__footer {
    border-top: 1px solid $gray--medium;
    padding-top: 2.5rem;
  }

  &__btn.btn {
    padding: 1.75rem 2.5rem;
    font-size: 1.4rem;
    
    @media (max-width: $sm--mw) {
      width: 100%;
    }

    &.btn--upper {
      text-transform: uppercase;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 1.6rem;
    }
  }
}

.reg-form-wrap {
  padding: 2.5rem 3rem;
}

.extra-fields {
  background: #fafafa;
  border-top: 1px solid $gray--medium;
  border-bottom: 1px solid $gray--medium;
  padding: 2.5rem 3rem 0;
  margin: 0 -3rem 2.5rem;

  &.is-hidden {
    display: none;
  }
}