.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;

  th {
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    font-size: 1.6rem;
  }

  td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    transition: all .3s;
    position: relative;

    &:first-child::before {
      content: "";
      width: .3rem;
      height: 2rem;
      position: absolute;
      left: 0;
      transition: all .3s;

      @include absolute-vertical;
    }

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      height: 2rem;
      background: $gray--medium;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }

    strong {
      font-weight: 500;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  tr:hover td {
    background: $gray--thin;
    color: $primary-color;

    &::before {
      background: $primary-color;
    }
  }

  tr:hover svg {
    fill: $primary-color;
  }
}

.brands-table {
  th:nth-child(3),
  td:nth-child(3) {
    width: 5rem;
    text-align: center;
  }

  svg {
    fill: $dark--medium;
  }
}

.prices-table {
  th:nth-child(3),
  td:nth-child(3) {
    width: 5rem;
    text-align: center;
  }

  td {
    &:not(:first-child)::before {
      display: none;
    }
  }

  svg {
    fill: $dark--medium;
    display: none;
  }

  [class*="fa"] {
    color: $dark--medium;
    transition: all .3s;
  }

  .price-table-date {
    font-size: 1.2rem;
    color: $dark--medium;
  }

  tr:hover {
    &:hover {
      [class*="fa"] {
        color: $primary-color;
        display: none;
      }

      svg {
        display: inline-block;
      }
    }
  }
}

.g_highlight_over {
  background: $gray--thin;
  color: $primary-color;
}