body {
  font-weight: $font-base-weight;
  font-family: $font-base-stack;
  font-size: $font-base-size;
  line-height: $base-line-height;
  color: $font-base-color;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: $headings-weight;
  font-family: $headings-fonts-stack;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 {
  font-size: 3.6rem;
}
h2, .h2 {
  font-size: 3.0rem;
}
h3, .h3 {
  font-size: 2.4rem;
}
h4, .h4 {
  font-size: 2rem;
}
h5, .h5 {
  font-size: 1.8rem;
}
h6, .h6 {
  font-size: 1.6rem;
}

strong {
  font-weight: 500;
}

.main-title {
  color: $black;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background: radial-gradient($gray 20%, transparent 20%);
  background-size: 9px 9px;
  background-repeat: repeat-x;
  background-position: left bottom; 
  position: relative;
  margin-top: -.5rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  &::before {
    content: "";
    width: 6.5rem;
    height: 4px;
    background: $primary-color;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: 2;
  }

  &::after {
    content: "";
    width: 8.4rem;
    height: 3px;
    background: $white;
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
  }

  span {
    color: $dark--medium;
    font-size: 3rem;
    padding-left: 1.5rem;
  }

  small {
    color: $dark--medium;
    font-size: 1.6rem;
    text-transform: none;

    &::before {
      content: "/";
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      margin-right: 1.5rem;
    }
  }

  a {}
}

.main-heading {
  color: $black;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background: radial-gradient($gray 20%, transparent 20%);
  background-size: 9px 9px;
  background-repeat: repeat-x;
  background-position: left bottom; 
  position: relative;
  margin-top: -.5rem;
  line-height: 1.1;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  &::before {
    content: "";
    width: 6.5rem;
    height: 4px;
    background: $primary-color;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: 2;
  }

  &::after {
    content: "";
    width: 8.4rem;
    height: 3px;
    background: $white;
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
  }

  &__text {
    display: inline-block;
    font-weight: 400;
    font-size: 3rem;
  }

  span {
    color: $dark--medium;
    font-size: 3rem;
    padding-left: 1.5rem;
  }

  small {
    color: $dark--medium;
    font-size: 1.6rem;
    text-transform: none;

    &::before {
      content: "/";
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      margin-right: 1.5rem;
    }
  }

  &__link-wrap {
    font-size: 1.6rem;
    
    @media (min-width: $md) {
      display: inline-block;

      &::before {
        content: "/";
        color: $dark--medium;
        margin: 0 1.5rem 0 1rem;
      }
    }

    strong {
      color: $black;
      text-transform: uppercase;
      font-weight: 500;

      span,
      a {
        color: $primary-color;
        font-weight: 500;
        font-size: 1.8rem;
        padding: 0 0 0 .5rem;
      }
    }
  }

  &__link {
    color: $primary-color;
    text-transform: none;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.post {
  > * {
    // margin: 0 0 2rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }

  p {
    margin: 0 0 2rem;
    font-size: 1.6rem;
    color: $black;
  }

  strong, b {
    font-weight: 500;
  }

  ul {
    list-style: none;

    li {
      &::before {
        content: "— ";
        color: $gray;
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: item-counter;

    li {
      counter-increment: item-counter;
      padding: .5rem 0 .5rem 2.5rem;
      position: relative;

      &::before {
        content: counter(item-counter) ". ";
        font-weight: bold;
        position: absolute;
        font-weight: 500;
        left: 0;
        top: .5rem;
      }
    }
  }

  a {
    color: $primary-color;
  }

  img {
    max-width: 100%;
    // display: block;
    height: auto;
  }

  .images_row {
	  img {
		  // display: inline;
		  padding: 10px;
		  border: 1px solid #c9c9c9;
		  margin: 15px;
	  }
  }

  .img-shadow {
    border: 1px solid $gray--medium;
    box-shadow: 0 0 2.3rem rgba($black, 0.2);
  }

  .float-left {
    float: left;
    margin: 1.5rem 1.5rem 1.5rem 0;
  }

  .float-right {
    float: right;
    margin: 1.5rem 0 1.5rem 1.5rem;
  }

  .rows-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }

  .post-features {
    &__heading {
      position: relative;
      font-weight: 500;
      color: $black;
      margin-bottom: 3rem;
      text-transform: uppercase;
      margin-bottom: 1.3rem;
      padding-bottom: 1rem;

      &::before {
        content: "";
        height: 2px;
        background: mix(black, $primary-color, 20%);
        width: 3.5rem;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    &__desc {}
  }
  
  table.images {
	  border-spacing: 1rem;
	  margin: auto;
	  
	  td {
		  padding: 0.2rem;
	      @media (min-width: $md) {
			padding: 1rem;
		  }
	  }
  }
}

// Main-Title-Header
.main-title-header {
  margin-bottom: 2.5rem;
  position: relative;

  .main-title {
    @media (min-width: $md) {
      padding-right: 16rem;
    }
  }

  .main-title-img {
    position: absolute;
    right: 0;
    bottom: 2rem;
    display: none;
    max-width: 15rem;

    @media (min-width: $sm) {
      display: block;
    }
  }
}
// Main-Title-Header