/* Misc Global Classes
------------------------------------------ */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.mb-small {
  margin-bottom: 1.5rem;
}
.mb-medium {
  margin-bottom: 3.5rem;
}
.mb-big {
  margin-bottom: 7.5rem;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.iframe-wrap {
  max-width: 90rem;
  margin: 0 auto 2rem;

  background: $gray--thin;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  .iframe-main {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  iframe {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.zoom {
  position: absolute;
  /*pointer-events: none;*/
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  opacity: 1;
  transition: transform .5s cubic-bezier(0,1,0,1),opacity 1s cubic-bezier(0,1,0,1);
}

.zoom_dec {
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0;
  background-image: url("../images/general/zoom.png");
  transition: opacity .3s linear;
}

.zoom_w {
  display: block;
  position: relative;
}

.zoom_w:hover .zoom_dec {
  opacity: 1;
}

.zoom_w:hover:before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.3);
  content: "";
}

.zoom_w:after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
}

.zoom_w:active .zoom {
  opacity: 0;
  transform: scale(2);
}
/* Misc Global Classes
------------------------------------------ */