.error-notification {
  text-align: center;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 4rem;
  }

  &__img-wrap {
    margin: 0 0 2.5rem;
  }

  &__img {
    margin: 0 auto;
  }

  &__desc {
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 2.5rem;
  }
}