.accordeon {
  $self: &;

  counter-reset: accordeonItem;
  
  @media (max-width: $md--mw) {
    margin-left: -15px;
    margin-right: -15px;
  }

  &__heading {
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    cursor: pointer;
    border-top: 1px solid $gray--medium;
    position: relative;
    user-select: none;

    counter-increment: accordeonItem;

    &::before {
      content: counter(accordeonItem) '. ';
      color: $dark--medium;
      font-weight: 500;
      border-right: 1px solid $gray;
      margin-right: 1rem;
      padding-right: 1rem;
    }

    span {
      position: absolute;
      right: 1.5rem;

      @include absolute-vertical;

      &::before {
        content: "+";
        font-size: 1.8rem;
        font-weight: 500;
        color: $primary-color;
      }
    }

    &.is-active {
      color: $primary-color;

      &::after {
        content: "";
        width: 3px;
        height: 2rem;
        background: $primary-color;
        left: 0;

        @include absolute-vertical;
      }

      span::before {
        content: "-";
        color: $black;
      }
    }

    &.is-active + .accordeon__pane {
      display: block;
    }
  }

  &__pane {
    border-top: 1px solid $gray--medium;
    padding: 1.5rem 2rem 0;
    display: none;
    counter-reset: subAccordeonItem;

    .post {
      padding-bottom: 1.5rem;

      > * {
        font-size: 1.4rem;
      }

      figcaption {
        margin-top: 1rem;
      }
    }

    #{$self}__heading {
      margin: 0 -2rem;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 1.5rem 2rem;
      counter-increment: subAccordeonItem;

      @media (min-width: $md) {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
      }

      &:first-child {
        margin-top: -1.5rem;
        border-top: none;
      }

      &::before {
        content: counter(accordeonItem) "." counter(subAccordeonItem);
        border: none;
        margin-right: .5rem;
        color: $dark--medium;
      }

      &::after {
        display: none;
      }
    }

    #{$self}__pane {
      margin: 0 -2rem;
      padding: 1.5rem 2rem;

      @media (min-width: $md) {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
      }

      .post {
        padding-bottom: 0;
      }
    }
  }
}