.add-address {
  border-top: 1px solid $gray--medium;
  margin-top: 2.5rem;
  padding-top: 2.5rem;

  > .row [class*="col-"]:not(:nth-child(-n+3)) {
    margin: 2.5rem 0 0;
  }

  @media (max-width: $md--mw) {
    > .row [class*="col-"]:not(:nth-child(-n+1)) {
      margin: 1.5rem 0 0;
    }
  }

  &__field {
    position: relative;
  }

  &__label {
    font-size: 1.4rem;
    color: $dark--medium;
    margin-bottom: .5rem;

    span {
      color: $primary-color;
    }
  }

  &__input {
    border-radius: 3px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color;
    }
  }

  &__msg {
    border-radius: 3px;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1.4rem;
    height: 4.4rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  &__symb-left {
    font-size: 1.2rem;
    color: $gray;
    right: 1.5rem;
    top: 1.2rem;
    position: absolute;
    background: $white;
    pointer-events: none;
  }

  .choices {
    border-radius: 3px;

    &__inner {
      font-size: 1.4rem;
      min-height: 4rem;
      padding-top: 1rem;
    }
  }

  .btn {
    font-size: 1.4rem;

    @media (min-width: $md) {
      // width: 100%;
    }
  }

  &--mob {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    
    > .row [class*="col-"]:not(:first-child) {
      margin: 1.5rem 0 0;
    }

    .add-address__msg {
      height: auto;
      min-height: 6.5rem;
    }

    .btn {
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 1.4rem;
      width: auto;
    }
  }
}

.tabs__panes .add-address {
  @media (max-width: $md--mw) {
    display: none;
  }
}