.table-added {
  margin-bottom: 2rem;
  width: 100%;

  th {
    font-size: 1.4rem;
    font-weight: 500;
    color: #b2b2b2;
    padding-bottom: 1rem;
  }

  td {
    padding: 1rem .5rem;
  }

  th:nth-child(2),
  td:nth-child(3) {
    text-align: center;
  }

  th:nth-child(3),
  td:nth-child(4) {
    text-align: right;
  }

  &__title {
    font-size: 1.4rem;
    color: $font-base-color;
    max-width: 19rem;
    line-height: 1.3;
  }

  &__price {
    font-size: 2.2rem;
    color: $font-base-color;

    &-value {
      color: $primary-color;
    }
  }

  &__img-wrap {
    width: 7rem;
    height: 7rem;
    display: block;
    margin: 0 auto;
  }

  &__img {
    max-height: 100%;
    margin: 0 auto;
  }

  strong {
    font-size: 1.8rem;
    color: $font-base-color;
    font-weight: 500;
  }
}

.product-added-footer {
  background: $gray--light;
  padding: 3rem;
  margin: 0 -3rem -3rem;

  @media (min-width: $sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn--white {
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: $sm) {
      font-size: 1.4rem;
      width: auto;
      margin-bottom: 0;
    }
  }

  .btn--main {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
      text-transform: uppercase;
    }
  }
}

.compare-success {
  display: none;

  .modal-win & {
    display: block;
  }

  &__heading {}

  &__item {
    display: flex;
    flex: none;
  }

  &__desc {
    padding-left: 1.5rem;
    flex: 1;
  }

  &__img-wrap {
    width: 8rem;
    height: 8rem;
    position: relative;
  }

  &__img {}

  &__item-header {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  &__item-price {
    font-size: 1.6rem;
    color: $primary-color;
    font-weight: 500;

    span {
      color: $font-base-color;
    }
  }
}