.alert-notification {
  $self: &;

  background-color: rgba(255, 71, 71, 1);
  text-align: center;
  padding: 1rem;
  animation: blinkNotification 1s infinite;
  animation-fill-mode: forwards;

  &__desc {
    font-size: 1.6rem;
    color: $white;
    display: inline-block;
    vertical-align: middle;
  }

  &__info {
    fill: $white;
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 3.5rem;
    margin-right: .5rem;
  }

  &__close {
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;

    @include absolute-vertical;

    &:hover &-icon {
      fill: $dark;
    }

    &-icon {
      fill: $white;
      width: 100%;
      height: 100%;
      transition: all .3s;

      @include absolute-center;
    }
  }

  .container-fluid {
    position: relative;
  }
}