.authorize {
  $self: &;

  text-align: right;
  position: relative;

  &__list {
    margin: 0 0 1rem;
    padding: 0 1rem 0 0;
    list-style: none;
    position: relative;
    z-index: 6;
  }

  &__item {
    position: relative;
    
    @media (min-width: $md) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
        padding-right: 2rem;
      }

      &:not(:last-child)::after {
        content: "|";
        font-size: 1.2rem;
        color: $gray--medium;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    color: $font-base-color;
    font-size: 1.4rem;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }

    &:hover #{$self}__icon {
      fill: $primary-color;
    }

    @media (max-width: $md--mw) {
      &--login {
        border-radius: 20rem;
        border: 1px solid $gray--medium;
        color: $primary-color;
        display: inline-block;
        font-size: 1.6rem;
        padding: .7rem 1.85rem;
        margin-bottom: .8rem;
      
        #{$self}__icon {
          fill: $primary-color;
        }
      }

      &--register {
        font-size: 1.5rem;
        color: $font-base-color;
        display: inline-block;
        padding-right: .5rem;
      }
    }
  }

  &__icon {
    fill: $font-base-color;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .5rem;
    transition: all .3s;
    position: relative;
    top: -1px;
  }

  &--soc .soc__link:hover {
    border-color: $primary-color;
    background: $white;
  }
  &--soc .soc__link:hover .soc__icon {
    fill: $primary-color;
  }

  &__dropdown {
    position: absolute;
    left: -9999px;
    top: 100%;
    border: 1px solid $gray--medium;
    box-shadow: 0 0 15px rgba($black, 0.1);
    width: 20rem;
    z-index: 5;
    background: $white;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @media (min-width: $md) {
      top: -2rem;
      padding: 6rem 1rem 1rem;
    }

    .checkbox-label__main {
      padding-left: 2.2rem;
    }

    .soc {
      margin-left: -.5rem;
      margin-right: -.5rem;
    }

    .soc__item {
      width: 2.5rem;
      height: 2.5rem;
      margin: .4rem;

      &:first-child {
        margin-left: .4rem;
      }
    }
  }

  &__dropdown-body {
    text-align: left;
  }

  &.is-dropdown-opened {
    #{$self}__dropdown {
      opacity: 1;
      visibility: visible;
      left: auto;
      right: 0;
    }

    #{$self}__link--login {
      color: $primary-color;
    }

    #{$self}__icon {
      fill: $primary-color;
    }
  }

  .auth-form {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray--medium;
  }

  .authorize__soc .soc__item {
    margin-left: .6rem;
  }
}

.soc-heading {
  color: $gray;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  text-align: center;
}