.logged-in {
  $self: &;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &__header {
    cursor: pointer;
    display: flex;
    padding-right: 2rem;
    padding-left: 1px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 56;

    @media (max-width: $sm) {
      padding: 0;
    }
  }

  &__body {
    transition: opacity .3s;
    z-index: $dropdownZIndex;
    background: $white;
    border: 1px solid transparent;
    padding-top: 10rem;
    top: -2rem;
    max-width: 30rem;
    width: 100%;

    height: 0;
    overflow: hidden;

    @include hide-element;

    @media (min-width: $sm) {
      top: -2.5rem;
    }

    @media (max-width: 479px) {
      min-width: 20rem;
      left: auto !important;
      right: 0;
    }
  }

  &__choice {
    padding: 0 1rem 1.5rem;

    .choices {
      background: $white;
      border-radius: 3px;
    }
  }

  &__user-data {
    transition: all .3s;
    border: 1px solid transparent;
    max-width: 30rem;
    flex-basis: 30rem;
    //position: relative;
    background: $white;

    @media (max-width: 479px) {
      //max-width: 12rem;
      //flex-basis: 12rem;
      max-width: 20rem;
      flex-basis: 20rem;
    }

    &:hover #{$self}__body,
    &:focus #{$self}__body {
      opacity: 1;
      visibility: visible;
      left: auto;
      right: 0;
      border-color: $gray--medium;
      box-shadow: 0 1rem 1.5rem rgba($black, 0.1);
      border-top: none;

      overflow: visible;
      height: auto;
    }

    &-avatar {
      position: relative;
      margin-right: 1rem;
      margin-left: auto;

      @media (max-width: 479px) {
        margin-left: auto;
      }
    }

    &-avatar-img-wrap {
      width: 3.5rem;
      height: 3.5rem;
    }

    &-avatar-img {
      border-radius: 50%;
      max-width: 100%;
      max-height: 100%;
      display: block;
      height: auto;
    }

    &-avatar-notification {
      border-radius: 50%;
      color: $white;
      background: #ff4747;
      width: 1.4rem;
      height: 1.4rem;
      line-height: 1.7rem;
      text-align: center;
      font-size: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(30%);
    }

    &-info {
      font-size: 1.2rem;
      white-space: nowrap;

      @media (max-width: 479px) {
        display: none;
      }
    }

    &-name {
      color: $dark--medium;
    }

    &-id {
      font-weight: 500;
      color: $black;
    }

    &-more {
      font-size: 1.4rem;
      color: $primary-color;
    }

    .alert-notification {
      position: absolute;
      right: 100%;
      z-index: 56;
      min-width: 30rem;
      text-align: left;
      padding: 1.5rem 2rem 1.5rem 0;

      @media (max-width: $sm--mw) {
        display: none;
      }

      @include absolute-vertical;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid none solid solid;
        border-width: 9px 0 9px 9px;
        border-color: $white $white $white rgba(255, 71, 71, 1);
        animation: blinkNotification 1s infinite;
        animation-fill-mode: forwards; 
      }

      &__desc {
        font-size: 1.4rem;
      }

      &__info {
        display: none;
      }

      &__close {
        top: 1.5rem;
        right: 1rem;
        width: 1rem;
        height: 1rem;
      }

      .container-fluid {
        position: static;
      }
    }
  }

  &__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 11rem;
    color: $black;
  }

  &__basket {
    padding-left: 1.5rem;
    padding-right: .5rem;
    position: relative;
    z-index: 56;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      border-left: 1px solid $gray--medium;
      position: absolute;
      left: -2px;
    }

    &-main {
      position: relative;
      display: inline-block;
    }

    &-icon {
      fill: $primary-color;
      width: 2.8rem;
      height: 2.8rem;
    }

    &-count {
      color: $white;
      background: #ff4747;
      position: absolute;
      left: 100%;
      padding: .3rem .6rem .1rem;
      font-size: 1rem;
      border-radius: 7px;
      line-height: 1.2rem;
      transform: translate(-50%, -40%);
    }
  }

  &__nav {}

  &__list {
    list-style: none;
    font-size: 1.4rem;
    margin: 0;

    .category-nav__title {
      display: none;
    }
  }

  &__item {
    border-bottom: 1px solid $gray--medium;

    &:first-child {
      border-top: 1px solid $gray--medium;
    }
  }

  &__link {
    color: $font-base-color;
    display: block;
    background: $gray--thin;
    transition: all .3s;
    position: relative;
    padding: 1.3rem 1.5rem;
    line-height: 1.2;

    &::before {
      content: "";
      width: 3px;
      height: 2rem;
      left: 0;

      @include absolute-vertical;
    }

    span {
      color: #ff4747;
    }

    &:hover {
      background: $white;
      text-decoration: none;
    }

    &:hover::before {
      background-color: $primary-color;
    }
  }
}

.logout-btn {
  padding-left: 1.5rem;
  padding-right: 1rem;
  margin-left: 1.5rem;
  position: relative;
  z-index: 56;

  &::before {
    content: "";
    width: 0;
    height: 100%;
    border-left: 1px solid #e6e6e6;
    position: absolute;
    left: -2px;
  }

  &__link {
    &:hover {
      opacity: .8;
    } 
  }

  &__icon {
    fill: $primary-color;
  }
}