.brand-info {
  padding: 2rem;
  border: 1px solid $gray--medium;
  margin-bottom: 2rem;

  @media (min-width: $sm) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $xlg) {
    flex-wrap: nowrap;
  }

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }
  
  &__logo {
    @media (min-width: $sm) {
      flex-basis: 20%;
      max-width: 20%;
      border-right: 1px solid $gray--medium;
    }
  }

  &__img-wrap {
    max-width: 8rem;
    margin: 0 auto 2rem;

    @media (min-width: $sm) {
      margin: 0 auto;
    }
  }

  &__img {}

  &__params {
    margin-bottom: 2rem;

    @media (min-width: $sm) {
      flex-basis: 60%;
      max-width: 60%;
      padding: 0 2.5rem;
      margin-bottom: 0;
    }
  }

  &__param {
    font-size: 1.8rem;
    margin: 0;

    &-wrap {
      display: flex;
    }
    
    &-dt {
      font-weight: 400;
      max-width: 28%;
      flex-basis: 28%;
    }

    &-dd {
      text-transform: uppercase;
      color: $primary-color;
      max-width: 72%;
      flex-basis: 72%;

      a {
        color: $primary-color;
      }
    }
  }

  &__more {
    flex-basis: 100%;
    max-width: 100%;
    margin: 1.5rem 0 0;

    @media (min-width: $xlg) {
      flex-basis: 30%;
      max-width: 30%;
      margin: 0;
    }

    .btn {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
    }
  }
}