.brand-catalogs {
  color: $white;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1.3;
  margin-left: auto;
  font-weight: 500;
  padding-left: 3.2rem;
  position: relative;

  @media (min-width: $md) {
    max-width: 15rem;
    width: 100%;
    margin: 0 2.5rem;
  }

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }

  &:hover &__icon {
    fill: $primary-color;
  }

  &__icon {
    fill: $gray;
    width: 2rem;
    height: 2rem;
    transition: all .3s;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -1px;
  }

  &__title {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (min-width: $md) {
      display: flex;
    }
  }
}