.breadcrumbs {
  padding: 1rem 0;
  border-bottom: 1px solid $gray--medium;
  margin-bottom: 2rem;
  list-style: none;
  line-height: 1.2;

  @media (min-width: $md) {
    margin-bottom: 2rem;
  }

  &--no-gutters {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &__item {
    color: $black;
    font-size: 1.2rem;
    display: inline-block;

    &:not(:first-child)::before {
      content: "\f054";
      font-family: fa;
      margin: 0 1rem;
      font-size: .8rem;
      color: $gray;
    }
  }

  &__link {
    color: $gray;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
}