.btn {
  background: $btn-bg-color;
  color: $dark;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  transition: all .3s;
  display: inline-block;
  transition: all .3s;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: $btn-radius;

  // &--radius {
  //   border-radius: $btn-radius;
  // }

  &:hover {
    // box-shadow: 0 5px 5px rgba(0,0,0, .2);
  }

  &:active {
    transform: translateY(-1px);
  }

  &__icon {
    fill: $btn-icon-fill-color;
    color: $btn-icon-fill-color;
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline-block;
  }
  
  /* Btn Types */
  &--main {
    background: $primary-color;
    color: $white;

    &:hover {
      background: darken($primary-color, 11%);
      text-decoration: none;
      color: $white;
    }
	
	&.disabled {
	  background: darkgray;
	}
  }

  &--reverse {
    background: $white;
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      box-shadow: none;
      color: $white;
      background: $primary-color;
      text-decoration: none;
    }
  }

  &--ghost {
    background: $white;
    border: none;
    color: $dark--medium;

    &:hover {
      box-shadow: none;
      color: $dark--medium;
    }
  }

  &--white {
    background: $white;
    border: 1px solid $gray;
    color: $primary-color;

    &:hover {
      background: $primary-color;
      color: $white;
      border-color: transparent;
      text-decoration: none;
    }
  }
  /* Btn Types */

  /* Btn Sizes */
  /* Btn Sizes */

  /* Disabled state */
  &[disabled] {
    opacity: .7;
    cursor: default;
    filter: grayscale(50%);
  }

  &--main[disabled]:hover {
    background: $primary-color;
  }

  &--reverse[disabled]:hover {
    border-color: $primary-color;
    color: $primary-color;
    background: $white;
  }
  /* Disabled state */
}