.callback-form {
  > *:last-child {
    margin-bottom: 0;
  }

  &__field {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 1.4rem;
    color: $black;
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__label-required {
    color: $primary-color;
  }

  &__input {
    border: 1px solid $gray--medium;
  }

  &__textarea {
    border: 1px solid $gray--medium;
  }

  &__submit {
    width: auto;
  }
}