.card-features {
  // margin-bottom: 2rem;

  [class*="col-"] {
    margin-bottom: 1rem;
    
    @media (min-width: $md) {
      // margin-bottom: 3rem;
    }
  }

  @media (max-width: $md--mw) {
    border-top: 1px solid $gray--medium;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card-feature {
  display: flex;
  font-size: 1.4rem;
  align-items: center;

  &__icon-wrap {
    flex-basis: 5rem;
    max-width: 5rem;
    flex-shrink: 0;
    height: 5rem;
    border: 2px solid $gray;
    border-radius: 50%;
    margin-right: 1.5rem;
    position: relative;
    overflow: hidden;
  }

  &__icon {
    fill: $gray;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__body {
    min-width: 5rem;
  }

  &__desc {
    color: $dark--medium;
    margin: 0;
  }

  &__link {
    font-weight: 500;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  &__tooltip {
    //width: 1.5rem;
    //height: 1.5rem;
    // display: inline-block;
    // vertical-align: middle;
    // background: $primary-color;
    // border-radius: 50%;
    // text-align: center;
    // line-height: 1.5rem;
    position: relative;
    color: $primary-color;
    font-size: 1.6rem;
    margin-left: .5rem;
    cursor: pointer;

    &:hover &-body {
      display: block;
    }

    &-body {
      display: none;
      min-width: 15rem;
      bottom: 100%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      border: 1px solid $gray--medium;
      font-size: 1.2rem;
      font-family: $font-base-stack;
      font-weight: normal;
      margin-top: -5px;
      z-index: 2;
      background: $white;
      color: $dark;
      line-height: 1.5;
      text-align: left;
      padding: 1rem;
      border-radius: 3px;
      box-shadow: .3rem .3rem 1rem rgba($black, .15);
      cursor: default;
    }
  }
}

.card-features {
  .icon-truck-delivery {
    width: 6rem;
    height: 6rem;
    right: 100%;
    left: auto;
    transform: translate(60%, -50%);
  }

  .icon-wallet {
    width: 4.5rem;
    height: 4.5rem;
    transform: translate(-60%, -50%);
    margin-top: .3rem;
  }

  .icon-support {
    width: 4.7rem;
    height: 4.7rem;
    margin-top: .3rem;
  }
}