.main-nav {
  $self: &;

  max-width: $catalog-nav-container-width;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__point-item {
    position: relative;

    &:hover #{$self}__icon-arrow {
      transform: rotate(180deg);
    }

    &:hover #{$self}__point-link {
      background: darken($primary-color, 11%);
    }
  }

  &__point-link {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    transform-origin: center top;
    white-space: nowrap;
    text-align: left;

    &:hover {
      transform: none;
    }
  }

  &__icon {
    margin-top: -3px;
    margin-right: 1rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    fill: $white;
  }

  &__icon-arrow {
    margin: -3px 0 0 .5rem;
    transition: all .3s;
    max-width: 1.5rem;
    max-height: 1.5rem;
    fill: $white;
  }

  &__container {
    z-index: $dropdownZIndex;
    top: 100%;
    width: 100%;
    box-shadow: 0 3px 5px rgba($black, .15);
    transition: opacity .3s;

    overflow: hidden;

    @include hide-element;

    #{$self}__point-item:hover & {
      opacity: 1;
      visibility: visible;
      left: 0;

      overflow: visible;
      height: auto;
    }
  }

  &__item {
    background: $catalog-nav-first-lvl-bg;
    border-top: 1px solid $catalog-nav-first-lvl-border-color;
    font-size: $catalog-nav-first-lvl-font-size;
    position: relative;

    &:first-child {
      border: none;
    }
  }

  &__link {
    color: $font-base-color;
    padding: 1.2rem 2rem 1.2rem 1.5rem;
    display: block;
    transition: all .3s;
    position: relative;

    &:hover {
      color: $primary-color;
      background: $gray--thin;
      text-decoration: none;
    }

    &:hover::before {
      content: "";
      width: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      background: $primary-color;
    }
  }

  &__sub-container {
    z-index: $dropdownZIndex;
    top: 0;
    width: $catalog-nav-container-width;
    box-shadow: 0 3px 5px rgba($black, .15);
    transition: color .3s, background .3s;

    @include hide-element;

    #{$self}__item:hover & {
      opacity: 1;
      visibility: visible;
      left: 100%;
    }
  }

  &__sub-item {
    background: $catalog-nav-second-lvl-bg;
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid $gray--medium;
    }
  }

  &__sub-link {
    color: $font-base-color;
    padding: 1.2rem 2rem 1.2rem 1.5rem;
    display: block;
    position: relative;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      background: $white;
      text-decoration: none;
    }

    &:hover::before {
      content: "";
      width: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      background: $primary-color;
    }
  }

  &__tertiary-container {
    z-index: $dropdownZIndex;
    top: 0;
    width: $catalog-nav-container-width;
    box-shadow: 0 3px 5px rgba($black, .15);
    transition: opacity .3s;

    @include hide-element;

    #{$self}__sub-item:hover & {
      opacity: 1;
      visibility: visible;
      left: 100%;
    }
  }

  &__tertiary-item {
    background: $catalog-nav-tertiary-lvl-bg;
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid $gray--medium;
    }
  }

  &__tertiary-link {
    color: $font-base-color;
    padding: 1.2rem 2rem 1.2rem 1.5rem;
    display: block;
    position: relative;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      background: $white;
      text-decoration: none;
    }

    &:hover::before {
      content: "";
      width: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      background: $primary-color;
    }
  }

  &__deep-list {
    z-index: $dropdownZIndex;
    top: 0;
    width: $catalog-nav-container-width;
    box-shadow: 0 3px 5px rgba($black, .15);
    transition: opacity .3s;

    @include hide-element;

    #{$self}__tertiary-item:hover & {
      opacity: 1;
      visibility: visible;
      left: 100%;
    }
  }

  &__deep-item {
    background: $catalog-nav-tertiary-lvl-bg;
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid $gray--medium;
    }
  }

  &__deep-link {
    color: $font-base-color;
    padding: 1.2rem 2rem 1.2rem 1.5rem;
    display: block;
    position: relative;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      background: $white;
      text-decoration: none;
    }

    &:hover::before {
      content: "";
      width: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      background: $primary-color;
    }
  }

  &--icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    fill: $primary-color;
  }
}

/* ----------- Mobile Navbar ----------- */
/* Toggle */
.catalog-nav-toggle {
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  transform-origin: center top;
  white-space: nowrap;
  left: 0;
  top: 0;
  bottom: 0;

  &:hover {
    transform: none;
  }

  &__icon {
    margin-top: -3px;
    margin-right: 1rem;
    fill: $white;
    max-width: 1.8rem;
    max-height: 1.8rem;
  }

  &:hover &__icon-arrow {
    transform: rotate(180deg);
  }

  &__icon-arrow {
    margin: -3px 0 0 .5rem;
    transition: all .3s;
    fill: $white;
    max-width: 2rem;
    max-height: 2rem;
  }
}
/* Toggle */

.main-nav {
  @media (max-width: $md--mw) {
    left: -100%;
    transition: left .3s;
    position: fixed;
    bottom: 0;
    top: 0;
    background: $white;
    z-index: $overlayAboveZIndex;
    max-width: $catalog-nav-mobcontainer-width;
  }

  .is-navbar-opened & {
    left: 0;
  }

  &__close-nav-wrap {
    display: none;  
  }

  @media (max-width: $md--mw) {
    /* containers */
    &__point-container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__container {
      opacity: 1;
      visibility: visible;
      position: static;
      box-shadow: none;
    }

    &__sub-container,
    &__tertiary-container,
    &__deep-list {
      opacity: 1;
      visibility: visible;
      position: static;
      width: 100%;
      display: none;
      box-shadow: none;
    }
    /* containers */
    
    /* elements */
    &__close-nav-wrap {
      display: block;
      position: absolute;
      right: 0; 
      top: 0;
      bottom: 0;
      width: 5rem;
    }

    &__close-nav {
      fill: $white;
      max-width: 2rem;
      max-height: 2rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__point-link {
      font-size: 2rem;
      cursor: default;

      span {
        display: none;
      }
    }
    
    &__icon {
      max-width: 2rem;
      max-height: 2rem;
      margin-right: 2rem;
    }

    &__icon-arrow {
      display: none;
    }

    &--icon {
      transform: translateY(-50%) rotate(90deg);
      right: 1.5rem;
    }

    &__sub-item,
    &__tertiary-item,
    &__deep-item {
      background: $white;
      margin-left: 1.5rem;
    }
    /* elements */

    /* opened styles */
    &__item.is-opened &__sub-container {
      display: block;
    }

    &__sub-item.is-opened &__tertiary-container {
      display: block;
    }

    &__tertiary-item.is-opened &__deep-list {
      display: block;
    }

    &__item.is-opened &__link &--icon {
      transform: translateY(-50%) rotate(-90deg);
    }

    &__sub-item.is-opened &__sub-link &--icon {
      transform: translateY(-50%) rotate(-90deg);
    }

    &__tertiary-item.is-opened &__tertiary-link &--icon {
      transform: translateY(-50%) rotate(-90deg);
    }
    /* opened styles */
  }
}

body.is-navbar-opened {
  overflow: hidden;
}
/* ----------- Mobile Navbar ----------- */