.category-nav {
  $self: &;

  &__title {}

  &__list {
    list-style: none;

    .h3:not(:first-child) {
      margin-top: 2.5rem;
    }

    &--search-result {
      margin-bottom: 4rem;

      @media (min-width: $md) {
        margin-bottom: 8rem;
      }
    }
  }

  &__item {
    border-bottom: 1px solid $gray--medium;
    font-size: 1.4rem;

    &:first-child {
      border-top: 1px solid $gray--medium;
    }
  }

  &__link {
    color: $black;
    display: block;
    padding: 1rem 1.5rem;
    transition: all .3s;
    position: relative;

    &::before {
      content: "";
      width: 0;
      border-left: 3px solid transparent;
      top: 50%;
      height: 20px;
      transform: translateY(-50%);
      position: absolute;
      left: 0;
    }

    span {
      color: $gray;
      padding-left: .5rem;
    }

    #{$self}__item &:hover,
    #{$self}__item.active & {
      background: $gray--thin;
      text-decoration: none;
      color: $black;
    }

    #{$self}__item.active & {
      cursor: default;
    }

    &:hover::before,
    #{$self}__item.active &::before {
      border-color: $primary-color;
    }
  }
}