.client-request {
  border: 1px solid $gray--medium;
  padding: 3rem;

  &__form {
    display: flex;
    margin: 0 -1.5rem;
    align-items: center;
    flex-wrap: wrap;

    > * {
      padding: 0 1.5rem;
    }
  }

  &__heading {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;

    flex-basis: 100%;
    margin-bottom: 1.5rem;

    @media (min-width: $xlg) {
      flex-basis: auto;
      margin-bottom: 0;
    }
  }

  &__field {
    flex-grow: 1;
    margin-bottom: 1.5rem;
    flex-basis: 100%;

    @media (min-width: $sm) {
      margin-bottom: 0;
      flex-basis: auto;
    }
  }

  &__input {
    font-size: 1.4rem;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }
  
  &__submit {
    flex-basis: 100%;

    @media (min-width: $sm) {
      flex-basis: auto;
    }
  }

  &__btn {
    font-size: 1.4rem;
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
    }
  }
}