.company-history {
  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
    margin-bottom: .5rem;
  }

  &__stage {
    position: relative;

    &-year {
      font-size: 1.6rem;
      font-weight: 500;
      color: $black;
      width: 11.5rem;
      position: absolute;
      left: 0;

      &::after {
        content: "/";
        color: $gray;
        font-weight: 400;
        position: absolute;
        right: 0;
      }
    }

    &-desc {
      padding-left: 14rem;
    }
  }
}