.compare {
  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    padding-left: 2.5rem;

    span {
      font-size: 1.4rem;
      color: #b3b3b3;
      font-weight: 400;
      margin-left: .5rem;
    }

    &-icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      fill: #b3b3b3;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__main {
    max-height: 37.6rem;
    overflow-x: hidden;
    overflow-y: auto;

    &[data-simplebar="init"] {
      padding-right: 1rem;
    }
  }

  &__item {
    display: flex;
    padding: 2rem 1.5rem 2rem 0;
    position: relative;
    border-top: 1px solid $gray--medium;

    &-preview {
      flex: none;
    }
    
    &-desc {
      flex: 1;
      padding-left: .5rem;
    }

    &-header {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1.3;
      margin-bottom: 1.5rem;
      max-height: 4.5rem;
      overflow: hidden;

      a {
        color: $font-base-color;
        transition: all .3s;

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }

    &-price {
      color: $primary-color;
      font-weight: 500;

      span {
        color: $font-base-color;
      }
    }

    &-img-wrap {
      width: 6rem;
      height: 6rem;
      display: block;
      padding-right: 1rem;
    }

    &-img {
      max-width: 5rem;
      margin: 0 auto;
      max-height: 100%;
    }

    &-close {
      position: absolute;
      right: 0;
      top: 2rem;
      width: 1.2rem;
      height: 1.2rem;
      line-height: 1;

      &:hover {
        svg {
          fill: #900;
        }
      }

      &-icon {
        fill: $gray;
        width: 100%;
        height: 100%;
        transition: all .3s;
      }
    }
  }

  &__footer {
    padding-top: 2.5rem;
    border-top: 1px solid $gray--medium;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-accept {
    font-size: 1.4rem;
    padding: .6rem .5rem;
    white-space: nowrap;
    flex-basis: 50%;
    max-width: 50%;
  }

  &__btn-reset {
    font-size: 1.4rem;
    color: $gray;
    flex-basis: 50%;
    max-width: 50%;
    padding: .6rem .5rem;
    text-align: right;
  }
}