.company-feature {
  text-align: center;
  margin: 1rem 0;

  &__icon-wrap {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
  }

  &__icon {
    fill: $gray;
    width: 100%;
    height: 100%;
  }

  &__figcaption {
    position: relative;
    padding-top: 1.5rem;
    margin-top: 1.5rem;

    &::before {
      content: "";
      width: 6rem;
      height: 3px;
      top: 0;
      background: $primary-color;

      @include absolute-horizontal;
    } 
  }

  & &__desc {
    margin: 0;
    font-size: 1.4rem;
    color: $dark--medium;
    line-height: 1.4;
  }

  &__link {
    color: $primary-color;
    font-weight: 500;
    font-size: 1.4rem;
  }
}