.counter {
  position: relative;
  height: 100%;
  padding: 0 2.5rem;
  max-width: 11rem;

  &__btn {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    background: transparent;
    transition: all .3s;
    font-weight: bold;
    font-size: 1.8rem;

    &:hover {
      color: $primary-color;
    }
  }

  &__field {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    border-color: $gray--medium;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    height: 100%;
    border-radius: 3px;
    min-width: 4rem;
  }

  &--add {
    right: 1px;
  }

  &--remove {
    left: 1px;
  }
}