.delivery-opt {
  margin-bottom: 2.5rem;

  &__field {
    margin-bottom: 1.5rem;

    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }

  &__label {
    color: $dark--medium;
    margin-bottom: .5rem;
    font-size: 1.4rem;
  }
  
  .radio-labels {
    @media (min-width: $md) {
      min-height: 3.8rem;
      display: flex;
    }

    .radio-label {
      margin: 0 0 1rem;

      @media (min-width: $md) {
        margin: 0;
        max-width: 33.333%;
        flex-basis: 33.333%;
      }
    }
  }

  .btn {
    font-size: 1.4rem;

    @media (min-width: $md) {
      width: 100%;
    }
  }

  .choices {
    border-radius: 3px;

    &__inner {
      font-size: 1.4rem;
    }
  }
}