.disclaimer {
  background: $gray--thin;
  padding: 2.5rem 0 1.5rem;

  @media (min-width: $md) {
    padding: 4.5rem 0 3.5rem;
  }

  &__title {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__desc {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
}