.email-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  @media (min-width: $md) {
    text-align: left;
  }

  &__info {
    @media (max-width: $md--mw) {
      flex-basis: 100%;
      max-width: 100%;
      margin: 0 0 3rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    color: $black;
    margin: 0 0 1rem;

    @media (min-width: $md) {
      margin: 0;
    }
  }

  &__detail {
    font-size: 1.2rem;
    color: $dark--medium;
    display: block;
  }

  &__btn {
    font-size: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;

    @media (min-width: $md) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}