.footer-contacts-line {
  position: relative;
  padding-left: 3.5rem;
  line-height: 1.35;
  max-width: 22rem;
  margin: 1.25rem auto;
  
  @media (min-width: $md) {
    margin: 1.5rem 0;
  }

  &__icon {
    fill: $primary-color;
    width: 2.7rem;
    height: 2.7rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    font-size: 1.4rem;
    color: #999;
  }

  &__info {
    color: $white;
    font-size: 1.2rem;
  }

  &__info-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: $white;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}