.auth-form {

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__field {
    display: flex;
  }

  &__input {
    font-size: 1.4rem;
    padding: .5rem 1rem;

    &::placeholder {
      font-style: normal;
    }
  }

  &__checkbox label {
    font-size: 1.2rem;
  }

  &__btn {
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
  }
}