.location {
  margin-bottom: 2.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid $gray--medium;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $black;
    margin-bottom: 2.5rem;
    font-weight: 500;

    span {
      color: $primary-color;
    }
  }

  &__places {
    display: flex;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
  }

  &__place {
    flex-basis: 50%;
    max-width: 50%;

    &-img {
      width: 100%;
      max-width: 100%;
      display: block;
      height: 100%;
    }

    @media (max-width: $sm--mw) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__contacts {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $gray--medium;

    .tiny-contacts {
      width: auto;

      &__desc {
        font-size: 1.4rem;
        color: $dark--medium;
        line-height: 1.2;
        max-width: 12rem;
        margin-left: 1rem;
      }

      &__wrap {
        white-space: nowrap;
      }

      &__icon {
        @include elem-size(3rem);

        @media (max-width: $md--mw) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__contact {
    padding-left: 6rem;
    position: relative;
    margin: 1.5rem 0;

    @media (min-width: $md) {
      margin: 0;
    }

    &-icon {
      left: 0;
      fill: $primary-color;

      @include absolute-vertical;
      @include elem-size(3rem);
    }

    &-title {
      font-size: 1.4rem;
      color: $dark--medium;
    }

    &-desc {
      a {
        color: $primary-color;
      }

      [href*="mailto"] {
        color: $black;
      }
    }
  }

  &__details {}

  &__detail {
    max-width: 40rem;
    margin: 1.5rem 0;

    @media (min-width: $md) {
      max-width: 30rem;
      margin: 0;
    }

    &-heading {
      font-weight: 500;
      color: $black;
      font-size: 1.6rem;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      &::after {
        content: "";
        width: 3.5rem;
        height: 3px;
        background: $primary-color;
        top: 100%;
        left: 0;
        position: absolute;
        margin-top: -2px;
      }
    }

    &-desc {
      color: $black;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.3;
    }

    dt {
      font-size: 1.4rem;
      color: $dark--medium;
      font-weight: 400;

      flex-basis: 50%;
      max-width: 50%;
    }

    dd {
      flex-basis: 50%;
      max-width: 50%;
      font-size: 1.4rem;

      a {
        font-weight: 500;
        color: $black;
      }
    }
  }

  &-desc {
    font-size: 1.4rem;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto 2.5rem;

    strong {
      font-weight: 500;
    }
  }
}