.tiny-contacts {
  $self: &;

  display: flex;
  align-items: center;
  white-space: nowrap;

  @media (min-width: $md) {
    width: 22.5rem;
  }

  &__wrap {
    
    &:hover {
      text-decoration: none;
    }

    &:hover #{$self}__phone {
      color: $primary-color;
    }
  }
  
  &__icon.icon {
    fill: $primary-color;
    width: 2rem;
    height: 2rem;
    transform: translate(0, -5px);

    @media (min-width: $md) {
      width: 2.5rem;
      height: 2.4rem;
      transform: translate(0, -7px);
    }
  }
  
  &__phone {
    color: $font-base-color;
    font-size: 1.6rem;
    margin: 0 .75rem;

    @media (min-width: $md) {
      font-size: 1.6rem;
      margin: 0 1rem;
    }
  }
  
  &__weekdays {
    font-size: 1.2rem;
    line-height: 1.15;
    color: $dark--medium;
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }
  
  &__working-hours {}

  &--center {
    justify-content: center;
  }
}

.header-contacts {
    max-width: 22rem;
    margin: 0 auto;
    display: flex;
    text-align: center;
    position: relative;
    padding-left: 4rem;
    line-height: 1.3;
    align-items: center;

    @media (min-width: $xlg) {
        max-width: 36rem;
    }

    @media (max-width: $md--mw) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        padding-left: 3rem;
    }

    &__tel {
        font-weight: 500;
        font-size: 1.6rem;
        color: $black;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }

        @media (max-width: $md--mw) {
            font-size: 1.2rem;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        fill: $primary-color;
        width: 3rem;
        height: 3rem;

        @include absolute-vertical;

        @media (max-width: $md--mw) {
            width: 2rem;
            height: 2rem;
        }
    }

    &__timetable {
        color: $dark--medium;
        font-size: 1.2rem;
        list-style: none;
        margin-left: 1.5rem;
        margin-bottom: 0;
        text-align: left;

        @media (max-width: $xlg--mw) {
            display: none;
        }
    }
}