.history {
  $self: &;

  font-size: 1.4rem;
  color: $black;
  text-align: center;
  transition: all .3s;
  border: 1px solid transparent;
  padding: 1.5rem;
  display: block;
  max-width: 15rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media (min-width: $md) {
    padding: 1.5rem 2.5rem;
  }

  &__main {
    margin: 0;
  }

  &__img-wrap {
    max-width: 6rem;
    max-height: 6rem;
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $gray;
    transition: all .3s;
  }

  &__figcaption {
    max-width: 11rem;
    margin: 1rem auto 0;
    position: relative;
    line-height: 1.2;
    padding: 1.5rem 0 0;

    &::before {
      content: "";
      width: 5rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      top: 0;

      @include absolute-horizontal;
    }
  }

  &:hover {
    color: $primary-color;
    text-decoration: none;
    border-color: $gray--medium;
    box-shadow: 0 0 1.5rem rgba($black, 0.35);

    #{$self}__icon {
      fill: $primary-color;
    }
  }
}