.icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.fa,
.fas {
  font-family: fa;
  display: inline-block;
  line-height: 1;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  
  &-info {
    &::before {
      content: "\f05a";
    }
  }
  
  &-chevron-circle-right {
    &::before {
      content: "\f138";
    }
  }
  
  &-chevron-right {
    &::before {
      content: "\f054";
    }
  }
  
  &-chevron-left {
    &::before {
      content: "\f053";
    }
  }
  
  &-chevron-up {
    &::before {
      content: "\f077";
    }
  }
  
  &-chevron-down {
    &::before {
      content: "\f078";
    }
  }

  &-angle-double-down {
    &::before {
      content: "\f322";
    }
  }

  &-file-excel {
    &::before {
      content: "\f1c3";
    }
  }

  &-phone-alt {
    transform: rotate(-270deg);

    &::before {
      content: "\f095";
    }
  }

  &-envelope {
    &::before {
      content: "\f0e0";
    }
  }

  &-lock {
    &::before {
      content: "\f023";
    }
  }

  &-calculator {
    &::before {
      content: "\f1ec";
    }
  }

  &-ellipsis-h {
    &::before {
      content: "\f141";
    }
  }

  &-times-circle {
    &::before {
      content: "\f057";
    }
  }
}

.fa {
  font-weight: 400;
}

.fas {
  font-weight: 900;
}