.line-auth {
  .row {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1rem;
  }

  [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  input {
    padding: .5rem .5rem;
    font-size: 1.3rem;
    margin-bottom: .5rem;

    @media (min-width: $sm) {
      margin-bottom: 0;
    }
  }

  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
    }
  }

  &__helpers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &-main {
      display: flex;
      align-items: center;
      margin-bottom: .5rem;
      flex-wrap: wrap;
    }

    a {
      font-size: 1.3rem;
      color: $primary-color;
      text-decoration: underline;
	  margin-right: 1.5rem;
	  
      &:hover {
        text-decoration: none;
      }
    }
  }

  .soc {
    &__link {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}