.manual-params {
  $self: &;

  padding: 3rem;
  background: $gray--thin;

  &__param {
    font-size: 1.2rem;
    color: $black;
    line-height: 1.7;
    display: flex;
    margin-bottom: 2rem;
    
    @media (min-width: $md) {
      max-width: 45rem;
      align-items: flex-end;
    }

    &--section {
      padding-top: 1rem;
    }
  }
  
  &__value {
    font-weight: normal;
    background: $gray--thin;
    padding-right: 5px;
    overflow: hidden;

    flex-basis: 50%;
    max-width: 50%;


    @media (min-width: $md) {
      position: relative;
      top: 7px;
      z-index: 2;

      flex-basis: 65%;
      max-width: 65%;

      &::after {
        border-bottom: 1px dotted $gray;
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    b {
      font-weight: 500;
      display: inline-block;
      background: $gray--light;
    }
  }

  &__property {
    font-weight: 500;
    background: $gray--thin;
    padding-left: 5px;
    margin: 0;

    flex-basis: 50%;
    max-width: 50%;

    @media (min-width: $md) {
      position: relative;
      top: 7px;
      z-index: 2;
      min-width: 13rem;
      text-align: left;

      flex-basis: 35%;
      max-width: 35%;
    }
  }

  &--bigger {
    padding: 0;
    background: $white;

    #{$self}__param {
      font-size: 1.4rem;
      max-width: 58rem;
      line-height: 1.5rem;
    }

    #{$self}__property,
    #{$self}__value {
      background: $white;
    }

    b {
      background: $white;
    }
  }
}