.match-item {
  $self: &;

  &:hover {
    text-decoration: none;
  }

  &__main {
    border: 1px solid $gray--medium;
    transition: box-shadow .3s ease-in-out;
    max-width: 19rem;
    margin: 0 auto;
    height: 100%;
    background: $white;

    &:hover {
      box-shadow: 0 0 15px rgba($black, 0.1);
    }

    &:hover #{$self}__caption {
      color: $primary-color;
    }
  }

  &__img-wrap {
    position: relative;
    height: 17.5rem;
  }
  
  &__img {
    max-height: 100%;

    @include absolute-center;
  }

  &__caption {
    font-size: 1.2rem;
    color: $black;
    text-transform: uppercase;
    padding: 3rem 1rem 2rem;
    text-align: center;
    font-weight: 500;
    position: relative;

    &::before {
      content: "";
      width: 5rem;
      height: 3px;
      top: 1.5rem;
      margin-top: 1px;
      background: $primary-color;

      @include absolute-horizontal;
    }
  }
}