.meating-carousel {
  $self: &;

  &__container {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    &.swiper-container-initialized {
      opacity: 1;
      visibility: visible;
    }
  }

  .swiper-slide {}

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($main-carousel-nav-bg, .5);
    width: 4rem;
    height: 4rem;
    z-index: 2;
    cursor: pointer;
    outline: none;
    transition: all .3s;

    @media (min-width: $md) {
      width: 6rem;
      height: 6rem;
    }

    #{$self}__move-icon {
      fill: $white;
      width: 1.5rem;
      height: 1.5rem;

      @include absolute-center;

      @media (min-width: $md) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:hover {
      background: $white;
    }

    &:hover #{$self}__move-icon {
      fill: $primary-color;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}

.meating-promo {
  $self: &;

  display: block;
  position: relative;
  filter: grayscale(100%);

  &::before {
    content: "";
    background: rgba($white, .3);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .3s;
    z-index: 2;
  }

  &:hover {
    filter: grayscale(0%);
  }

  &:hover::before {
    transform: scale(0);
    visibility: hidden;
  }

  &__img {
    width: 100%;
    transition: all .3s;
  }
}