.modal-win {
  $self: &;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity .3s, transform .3s;
  z-index: $overlayAboveZIndex;
  overflow-x: hidden;
  overflow-y: auto;

  background: rgba($black, .5);

  + .modal-win {
    background: rgba($black, .35);
  }

  &__main {
    padding: 3rem;
    background: $white;
    margin: 8rem auto;
    position: relative;
    width: 92%;

    opacity: 0;
    transition: opacity 1s;
    animation: fadeOut .25s;

    @media (min-width: $sm) {
      max-width: 54rem;
      width: 100%;
    }

    &.is-modal-win-opened  {
      animation: .3s scaleIn forwards;
      opacity: 1;
    }

    &--wide {
      max-width: 115rem;
    }
  }

  &__close {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
    }

    &:hover &-icon {
      fill: $dark;
    }

    &-icon {
      fill: $gray;
      max-width: 1.6rem;
      max-height: 1.6rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;
      cursor: pointer;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $black;
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    background: radial-gradient($gray 20%, transparent 20%);
    background-size: 9px 9px;
    background-repeat: repeat-x;
    background-position: left bottom; 
    position: relative;

    @media (min-width: $md) {
      font-size: 3rem;
    }

    &::before {
      content: "";
      width: 6.5rem;
      height: 4px;
      background: $primary-color;
      position: absolute;
      bottom: 4px;
      left: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 8.4rem;
      height: 3px;
      background: $white;
      position: absolute;
      bottom: 3px;
      left: 0;
      z-index: 1;
    }
  }
}

body.is-modal-opened {
  overflow: hidden;
}

body > [data-modal-win],
.wrapper__footer > [data-modal-win] {
  // @include hide-element;
  display: none;
}