.news-wrap {
  color: $font-base-color;
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: none;
    color: $font-base-color;

    .news__title {
      color: $primary-color;
    }
  }
}
.news {
  $self: &;

  display: flex;
  align-items: flex-start;

  &__img-wrap {
    padding: .5rem;
    border: 2px solid $gray;
    transition: all .3s;
    position: relative;
    flex-basis: 35%;
    max-width: 165px;
    
    &::before {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      bottom: -2px;
      right: -2px;
      background: linear-gradient(to right bottom, rgba($white, 0) 0, rgba($white, 0) 20%, $white 20%, $white 80%, rgba($white, 0) 80%, rgba($white, 0) 100%);
    }

    &:hover {
      border-color: $primary-color;
    }

    &:hover #{$self}__img {
      opacity: .9;
    }
  }

  &__img {
    transition: all .3s;
    // height: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 2;
    max-width: 165px;
    width: 100%;
    max-height: 15rem;
    margin: 0 auto;
  }

  &__body {
    padding-left: 2.5rem;
    flex-basis: 65%;
    max-width: 65%;

    font-size: 1.6rem;

    ul {
      list-style: none;
      margin-top: 2.5rem;
    }
  }

  &__date {
    font-size: 1.2rem;
    color: $gray;
    display: block;
    margin-bottom: .5rem;
  }

  &__date-icon {
    fill: $gray;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: -1px;
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.3;
    position: relative;
    padding-bottom: .8rem;
    margin-bottom: 1.5rem;
    transition: all .3s;

    &::after {
      content: "";
      width: 3.5rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }

  &__title-link {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  &__excerpt {
    line-height: 1.2;
    margin: 0 0 .7rem;

    @media (max-width: $md--mw) {
      display: none;
    }
  }

  &__excerpt-link {
    color: $black;

    @media (max-width: $md--mw) {
      display: none;
    }

    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }

  &__more {
    font-size: 1.2rem;
    font-weight: 500;
    color: $gray;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }

    &:hover #{$self}__more-icon-wrap {
      background: $primary-color;
    }
  }

  &__more-icon-wrap {
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    background: $gray;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s;
    margin-left: .5rem;
  }

  &__more-icon {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: $white;
  }

  &--lead {
    margin-bottom: 4rem;

    @media (max-width: $lg--mw) {
      display: none;
    }

    .news__title::after {
      background: $gray;
    }

    .news__title-link {
      color: $black;

      &:hover {
        color: $primary-color;
      }
    }

    #{$self}__img {
      max-height: 30rem;
    }
  }
}