.notification {
  $self: &;

  border-radius: .5rem;
  background: $gray--thin;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  position: relative;

  @media (min-width: $sm) {
    padding: 2.5rem 2.5rem 2.5rem 8.5rem;
  }

  &__icon {
    fill: $gray;
    left: 1.5rem;
    display: none;

    @include elem-size(5.5rem);
    @include absolute-vertical;

    @media (min-width: $sm) {
      display: block;
    }
  }

  &__body {
    @media (min-width: $sm) {
      padding-left: 1.5rem;
      border-left: 2px solid #ff4747;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.4rem;
    color: #ff4747;
    margin-bottom: 1rem;
  }

  &__desc {
    font-size: 1.2rem;
    line-height: 1.35;
    color: $black;
  }

  &--gray {
    #{$self}__body {
      border-left-color: $gray;
    }
  }
}

.basket-info {
  font-size: 1.2rem;
  color: $dark--medium;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  a {
    color: $primary-color;
  }
}