.opinions-carousel {
  &__container {
    padding: 6.5rem 2rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &.swiper-container-initialized {
      visibility: visible;
      opacity: 1;
    }
  }

  &__pagination {
    text-align: center;
    padding-top: 2.5rem;

    .swiper-pagination-bullet {
      width: 1.6rem;
      height: 1.6rem;
      border: 2px solid $gray;
      display: inline-block;
      margin: 0 .5rem;
      cursor: pointer;
      border-radius: 50%;
      position: relative;

      &-active {
        cursor: default;
        border-color: $primary-color;
        background: $primary-color;

        &::after {
          content: "";
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          background: $white;

          @include absolute-center;
        }
      }
    }
  }
}

.opinion {
  text-align: center;
  transition: all .3s;

  border: 1px solid transparent;
  border-radius: 3px;
  background: $white;
  padding: 1.5rem 1.5rem 2rem;
  font-size: 1.4rem;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;

  &:hover {
    border-color: $gray--medium;
    box-shadow: 0 0 1.5rem rgba($black, 0.35);
  }

  &:hover::after {
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: mix($black, $primary-color, 40%);
    border-radius: 0 0 3px 3px;
  }

  &__author {
    margin: -6.5rem 0 0;
  }

  &__author-img-wrap {
    margin: 0 auto 3rem;
    position: relative;
    width: 9.5rem;
    height: 9.5rem;

    &::after {
      content: "";
      width: 6.5rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      left: 50%;
      top: 100%;
      margin-top: 1.5rem;
      transform: translateX(-50%);
    }
  }

  &__author-img {
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    height: auto;
    max-height: 100%;
  }

  &__caption {}

  &__author-name {
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__desc {
    color: $dark--medium;
    font-style: italic;
    margin-bottom: 1.5rem;
    min-height: 8.5rem;
  }

  &__details {
    border-top: 1px solid $gray--medium;
    padding-top: 1.5rem;
    margin: 0 2rem;
  }

  &__topic-heading {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__topic {
    color: $black;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}