.orders-filter {
  padding: 2rem;
  border: 1px solid $gray--medium;
  margin-bottom: 2rem;
  transition: opacity .3s;

  @media (min-width: $md) {
    margin-bottom: 3rem;
    padding: 3rem 3rem 0 3rem;
  }

  @media (max-width: $md--mw) {
    @include hide-element;

    &.is-opened {
      visibility: visible;
      opacity: 1;
      position: static;
    }
  }

  [class*="col-"] {
    margin-top: 2rem;

    @media (min-width: $md) {
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }

  [class*="col-"] [class*="col-"] {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__heading {
    font-weight: 500;
  }

  &__close {
    margin-left: auto;
    background: none;
    border: none;
    fill: $dark--medium;
    float: right;

    &-icon {
      @include elem-size(1.75rem);
    }
  }

  &__control {
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  &__btn {
    border-radius: 3px;
    width: 100%;
  }

  &__status {
    height: 100%;

    .choices {
      border-radius: 3px;

      &__inner {
        min-height: 4.5rem;
      }
    }

    .choices__list--dropdown .item-1,
    .choices__list--dropdown .item-2,
    .choices__list--dropdown .item-3 {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      background: #1abc9c;
      border-radius: 50%;
      margin-right: 1rem;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }

    .choices__list--dropdown .item-1 {
      background: #1abc9c;
    }

    .choices__list--dropdown .item-2 {
      background: #f1c40f;
    }

    .choices__list--dropdown .item-3 {
      background: #94d82d;
    }
  }
  
  // Date Pickers
  &__date-pickers {
    display: flex;
    height: 100%;
  }

  &__date-picker {
    flex-basis: 50%;
    max-width: 50%;
  }

  &__date-picker,
  &__date-picker-main {
    position: relative;
    height: 100%;

    &-icon {
      fill: $primary-color;
      right: 1rem;
      
      @include elem-size(1.8rem);
      @include absolute-vertical;
    }

    &-title {
      font-size: 1.4rem;
      color: $black;
    }
  }

  &__date-from,
  &__date-to {
    padding-right: 3rem;
    font-size: 1.4rem;
    height: 100%;
    min-height: 4.5rem;
  }

  &__date-from {
    border-radius: 3px 0 0 3px;
  }

  &__date-to {
    border-radius: 0 3px 3px 0;
    border-left: none;
  }

  .pika-single {
    position: absolute !important;
  }
}

/* --- Mob Toggles --- */
.orders-header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .orders-header-control {}

  .orders-filter-toggle {
    color: $black;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $primary-color;
      margin: -3px .5rem 0 0;
    }
  } 
}
/* --- Mob Toggles --- */

.pika-button:hover {
  border-radius: 0;
}