/* Order-Footer Steps */
.order-footer {
  display: flex;
  align-items: center;

  &__message {
    border-radius: 3px;
    margin: 0 2rem;
    min-height: 4.3rem;
    flex-grow: 1;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  .footer-summary-price {
    text-align: right;
    margin-right: 2rem;
    padding-right: 2rem;
    flex-shrink: 0;
    border-right: 1px solid $gray--medium;

    &__title {
      font-size: 1.4rem;
      color: $dark--medium;
    }

    &__value {
      color: $primary-color;
      font-size: 1.8rem;
      font-weight: 500;

      span {
        color: $black;
      }
    }
  }

  .btn {
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;

    &__more-icon-wrap {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: $white;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      transition: all .3s;
      margin-left: 1rem;
      position: relative;
      top: -1px;
    }

    &__more-icon {
      width: 80%;
      height: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: $primary-color;
    }

    .fas, .fa {
      font-size: 1.4rem;
      margin-left: .5rem;
    }
  }
}

.order-mob-footer {
  margin: 0 -15px;
  
  &__main {
    display: flex;
    background: $gray--thin;
    padding-left: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 15px;
    flex-wrap: wrap;
    border-top: 1px solid $gray--medium;
  }

  &__payment {
    flex-basis: 50%;
    max-width: 50%;
    font-size: 1.4rem;
    color: $dark--medium;
    margin-top: 3px;
  }

  &__total-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: $black;
    flex-basis: 50%;
    max-width: 50%;

    &-value {
      color: $primary-color;
    }
  }

  &__message {
    border-radius: 3px;
  }

  &__controls {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2rem;

    .btn {
      width: 100%;
      white-space: nowrap;
      padding-left: 1rem;
      padding-right: 1rem;

      &--reverse {
        color: $dark--medium;
        border-color: $dark--medium;

        &:hover {
          background: $dark--medium;
          color: $white;
        }
      }

      &__more-icon-wrap {
        width: 1.15rem;
        height: 1.15rem;
        border-radius: 50%;
        background: $white;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        transition: all .3s;
        margin-left: 1rem;
        position: relative;
        top: -1px;
      }

      &__more-icon {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: $primary-color;
      }

      .fas, .fa {
        font-size: 1.4rem;
        margin-left: .5rem;
      }
    }
  }
}
/* Order-Footer Steps */