.order-success {
  text-align: center;

  &__img {
    margin: 0 auto 1.5rem;
  }

  &__figcaption {}

  &__heading {
    font-size: 3rem;
    padding: 0 0 2rem;
    margin: 0 0 2.5rem;
    position: relative;

    &::after {
      content: "";
      width: 6rem;
      height: 3px;
      background: $primary-color;
      top: 100%;

      @include absolute-horizontal;
    }
  }

  &__desc {
    font-size: 1.4rem;
    color: $black;
    line-height: 1.2;

    a {
      color: $primary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.basket-success-summary {
  text-align: center;
  margin-top: 2rem;
  
  @media (min-width: $md) {
    margin-top: 4rem;
  }

  .btn {
    font-size: 1.4rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}