.orders-list {
  $self: &;

  padding: 2rem 0 2rem;
  // border-top: 1px solid $gray--medium;
  border-bottom: 1px solid $gray--medium;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    // margin-bottom: 3rem;
  }

  &__header {
    margin-bottom: 2.5rem;
  }
  
  &__heading {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__date {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;
    display: block;

    @media (min-width: $md) {
      position: relative;
      padding-left: 3rem;
      display: inline-block;

      &::before {
        content: "/";
        font-size: 1.6rem;
        color: $dark--medium;
        position: absolute;
        left: 1.5rem;
      }
    }
  }
  
  // Orders-Table START
  &__table {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    width: 100%;

    td:nth-child(1), th:nth-child(1) {
      padding-left: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td:nth-child(2), th:nth-child(2) {
      padding-right: 0;
    }

    td:nth-child(3), th:nth-child(3) {
      text-align: center;
    }

    td:nth-child(4), th:nth-child(4) {
      text-align: center;
      white-space: nowrap;
    }

    td:nth-child(5), th:nth-child(5) {
      text-align: center;
    }

    td:nth-child(6), th:nth-child(6) {}
  }

  &__tr {
    &:hover td {
      background: $gray--thin;
    }
  }
    
  &__th {
    font-size: 1.4rem;
    color: $black;
    font-weight: 500;
    padding: 0 1rem 2rem 1rem;
  }

  &__td {
    //padding: 2rem 1rem;
    padding: 1rem 1rem;
    transition: all .3s;
    border-top: 1px solid $gray--medium;
  }

  &__tfoot {
    font-size: 1.2rem;
    color: $dark--medium;
    background: $gray--thin;

    td {
      padding-left: 2rem;
      padding-right: 2rem;

      &:first-child {
        padding-left: 2rem;
      }

      &:last-child {
        padding-right: 2rem;
      }
    }

    &-desc {
      max-width: 45rem;
    }

    .orders-list__total-price {
      font-size: 1.4rem;
      color: $black;
      text-align: right;
    }

    .orders-list__total-price-value {
      font-size: 1.8rem;
      font-weight: 500;
      color: $primary-color;
    }

    .orders-list__total-price-currency {
      font-size: 1.8rem;
      font-weight: 500;
    }

    &--white {
      background: $white;
      border-bottom: 1px solid $gray--medium;

      td {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      tr:hover td {
        background: $white;
      }

      .btn {
        font-size: 1.4rem;
        white-space: nowrap;

        &__more-icon-wrap {
          width: 1.15rem;
          height: 1.15rem;
          border-radius: 50%;
          background: $white;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          transition: all .3s;
          margin-left: 1rem;
          position: relative;
          top: -1px;
        }

        &__more-icon {
          width: 80%;
          height: 80%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          fill: $primary-color;
        }

        .fas {
          font-size: 1.2rem;
          margin-left: .5rem;
        }
      }
    }

    #{$self}__footer-summary {
      display: flex;
      align-items: center;
    }

    #{$self}__control-message {
      border-radius: 3px;
      margin: 0 2rem;
      min-height: 4.3rem;
      flex-grow: 1;

      &:focus {
        box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
        border-color: $primary-color
      }
    }
  }

  &__counter {
    max-width: 11rem;
  }
  
  &__order-number {
    color: $primary-color;
    display: inline-block;
    vertical-align: top;
    min-width: 9rem;

    &:hover {
      color: $primary-color;
    }
  }

  &__product-brand {
    font-size: 1.2rem;
    color: $gray;

    a {
      color: $primary-color;
    }
  }

  &__product-heading {
    color: $font-base-color;

    a {
      color: $font-base-color;
    }
  }

  &__error {
    color: $font-error-color;
  }

  &__price {}

  &__amount {
    font-weight: 500;
  }

  &__total-price {
    font-weight: 500;
    color: $primary-color;

    &-value {
      padding-left: 1rem;
    }

    &-currency {
      color: $black;
    }
  }

  .footer-summary-price {
    text-align: right;
    margin-right: 2rem;
    flex-shrink: 0;
    margin-left: auto;

    &__title {
      font-size: 1.4rem;
      color: $dark--medium;
    }

    &__value {
      color: $primary-color;
      font-size: 1.8rem;
      font-weight: 500;

      span {
        color: $black;
      }
    }
  }
  // Orders-Table END

  // Orders-List-Mob START
  &__mob {
    $self: &;

    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 2rem;

    &-header {
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 1.5rem;
    }

    &-heading {
      font-size: 1.6rem;
      font-weight: 500;
      flex-basis: 50%;
      max-width: 50%;
      color: $black;
    }

    &-footer {
      display: flex;
      background: $gray--thin;
      padding-left: 15px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-right: 15px;
      flex-wrap: wrap;
      border-top: 1px solid $gray--medium;
    }

    &-summary {
      font-size: 1.4rem;
      color: $black;
      flex-basis: 50%;
      max-width: 50%;

      &-payment {
        flex-basis: 50%;
        max-width: 50%;
        font-size: 1.4rem;
        color: $dark--medium;
        margin-top: 3px;
      }
    }

    &-total-price {
      font-size: 1.8rem;
      font-weight: 500;
      color: $black;
      flex-basis: 50%;
      max-width: 50%;
    }

    &-total {
      color: $primary-color;
    }

    &-desc {
      flex-basis: 100%;
      max-width: 100%;
      font-size: 1.2rem;
      color: $dark--medium;
      margin-top: 1rem;
    }

    &-order {
      border-top: 1px solid $gray--medium;
      padding: 1rem 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &.is-opened #{$self}-more {
        display: block;
      }
    }

    &-side {
      flex-basis: 50%;
      max-width: 50%;
      position: relative;
    }

    &-order-number-wrap {
      padding-left: 3rem;
    }

    &-order-number {
      color: $primary-color;
      font-size: 1.4rem;

      &:hover {
        color: $primary-color;
      }
    }

    &-order-date {
      display: block;
      font-size: 1.2rem;
      color: $dark--medium;
    }

    &-price {
      font-size: 1.6rem;
      font-weight: 500;
      padding-right: 2rem;

      span {
        color: $primary-color;
      }
    }

    &-toggle {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      transition: all .3s;

      @include absolute-vertical;

      &-icon {
        fill: $primary-color;

        @include elem-size(1.75rem);
      }

      #{$self}-order.is-opened & {
        transform: translateY(-50%) rotate(180deg) ;
      }
    }

    &-more {
      padding-top: 1rem;
      font-size: 1.4rem;
      display: none;
      width: 100%;

      .orders-mob__params {
        flex-basis: 100%;
        max-width: 100%;

        a {
          color: $primary-color;
        }
      }

      .orders-mob__param > * {
        flex-basis: 50%;
        max-width: 50%;
      }

      .orders-mob__param-definition {
        padding-left: 0;
      }
    }

    &-message {
      border-radius: 3px;
    }

    &-controls {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $gray--medium;

      .btn {
        width: 100%;
        white-space: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;

        &--reverse {
          color: $dark--medium;
          border-color: $dark--medium;

          &:hover {
            background: $dark--medium;
            color: $white;
          }
        }

        &__more-icon-wrap {
          width: 1.15rem;
          height: 1.15rem;
          border-radius: 50%;
          background: $white;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          transition: all .3s;
          margin-left: 1rem;
          position: relative;
          top: -1px;
        }

        &__more-icon {
          width: 80%;
          height: 80%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          fill: $primary-color;
        }
      }
    }
  }
  // Orders-List-Mob END

  .manual-params {
    @media (min-width: $md) {
      &__param {
        max-width: 100%;
        flex-basis: 100%;
      }

      &__value {
        max-width: 30%;
        flex-basis: 30%;
      }

      &__property {
        flex-basis: 70%;
        max-width: 70%;
      }
    }
  }

  .checkbox-label {
    float: left;
    margin-top: 2px;

    &__main {
      padding-right: .5rem;
    }
  }

  &--basket {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.car-selection {
  counter-reset: type;

  &__field {
    margin-bottom: 2rem;
    counter-increment: type;
  }

  &__input {
    border-radius: 3px;
    margin-bottom: 2rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  .choices {
    /*&::before {
      content: counter(type);
      position: absolute;
      left: 1px;
      top: 1px;
      font-size: 1.6rem;
      width: 4rem;
      text-align: center;
      color: $dark--medium;
      bottom: 1px;
      background: $gray--light;
      border-right: 1px solid $gray--medium;
      line-height: 4.2rem;
    }*/

    &__inner {
      padding-left: 5.5rem;

      .choices__item {
        opacity: 1;

        &::before {
          content: counter(type);
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          font-size: 1.6rem;
          width: 4rem;
          text-align: center;
          border-right: 1px solid $gray--medium;
          line-height: 4.2rem;
          border-radius: 3px 0 0 3px;

          background: $primary-color;
          color: $white;
        }

        /*&.choices__placeholder {
          color: $dark--medium;
        }*/
      }
    }

    &.is-disabled {
      .choices__item::before {
        background: $gray--light;
        color: $dark--medium;
      }

      .choices__placeholder {
        color: $dark--medium;
      }
    }
  }

  .checkbox-label {
    margin-bottom: 2rem;
  }

  &__power {
    position: relative;
    display: flex;

    input {
      border-radius: 3px 0 0 3px;
    }

    .choices {
      max-width: 7rem;
      flex-basis: 7rem;
      border-left: none;

      &__inner {
        padding-left: .5rem;
        color: $dark--medium;

        .choices__item::before {
          display: none;
        }
      }
    }
  }
}