.orders-table {
  $self: &;

  width: 100%;
  margin-bottom: 3rem;

  &__thead {}

  &__tbody {}

  &__tr {
    &:hover td {
      background: $gray--thin;
    }
  }

  &__th {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 1.5rem 2rem;
  }

  &__td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    transition: all .3s;

    #{$self}__tr:first-child & {
      border-top: 1px solid $gray--medium;
    }
  }

  &__order-id {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  &__order-date {
    color: $dark--medium;
    font-size: 1.2rem;
    display: block;
  }

  &__stock-heading {
    font-size: 1.4rem;
    color: $black;
    min-width: 17rem;
  }

  &__stock-location {
    color: $dark--medium;
    font-size: 1.2rem;
  }

  &__order-price {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__delivery-status {
    display: inline-block;
    padding: .7rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15rem;
    min-width: 7.5rem;
    color: $white;
    white-space: nowrap;
    line-height: 1;

    &--send {
      background: #f1c40f;
    }

    &--instock {
      background: #3498db;
    }

    &--draft {
      background: #cccccc;
    }

    &--delivered {
      background: #94d82d;
    }

    &--process {
      background: #e67e22;
    }

    &--unload {
      background: #1abc9c;
    }

    &--abandon {
      background: #ff4747;
    }
  }

  &__payment-status {
    font-size: 1.2rem;
    display: block;
    text-align: center;

    &::after {
      font-family: fa;
      display: block;
      line-height: 1;
    }

    &--success {
      color: #94d82d;

      &::after {
        content: "\f00c";
      }
    }

    &--warning {
      color: #ff4747;

      &::after {
        content: "\f00d";
      }
    }
  }

  &__delivery-location {
    color: $dark--medium;
    font-size: 1.2rem;
    line-height: 1.3;
  }

  &__delivery-more {
    color: $primary-color;
    font-size: 1.2rem;
    line-height: 1.3;
    display: block;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  &__basket {
    display: inline-block;
    vertical-align: middle;

    &-icon {
      fill: $primary-color;

      @include elem-size(2.25rem);
    }

    &:hover {
      text-decoration: none;
    }
    
    &:hover &-icon {
      fill: mix(black, $primary-color, 10%);
    }
  }

  &__remove {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;

    &-icon {
      fill: $dark;

      @include elem-size(1.5rem);
    }

    &:hover {
      text-decoration: none;
    }

    &:hover &-icon {
      fill: $black;
    }
  }

  /* Columns Mods */
  &__th:nth-child(1),
  &__td:nth-child(1) {}

  &__th:nth-child(2),
  &__td:nth-child(2) {
    text-align: center;
  }

  &__th:nth-child(3),
  &__td:nth-child(3) {
    text-align: center;
  }

  /*&__th:nth-child(4),*/
  &__td:nth-child(4),
  &__td:nth-child(5),
  &__td:nth-child(6),
  &__td:nth-child(7) {
    text-align: center;
  }
  &__td:nth-child(7) {
    white-space: nowrap;
  }
  /* Columns Mods */
}

.orders-mob {
  $self: &;;

  margin-bottom: 2rem;
  margin-left: -15px;
  margin-right: -15px;

  &__heading {
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray--medium;
  }


  &__order {
    &.is-opened &-body {
      display: block;
    }
  }

  &__order-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray--medium;
    padding: 1.5rem 15px;
  }

  &__order-controls {
    margin-left: auto;

    > *:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__order-id {
    font-size: 1.4rem;
    color: $primary-color;
  }

  &__order-date {
    font-size: 1.2rem;
    color: $dark--medium;
    display: block;
  }

  &__order-body-toggle {
    width: 3rem;
    margin-right: 1.5rem;
    background: none;
    border: none;

    &::before {
      content: "\f078";
      font-size: 1.6rem;
      color: $primary-color;
      font-family: fa;
      transition: all .3s;
      display: inline-block;
      vertical-align: middle;
    }

    #{$self}__order.is-opened &::before {
      // content: "\f077";
      transform: rotate(180deg);
    }
  }

  &__order-body {
    display: none;
    padding: 2rem 2rem 2rem 2rem;
    border-bottom: 1px solid $gray--medium;
  }

  &__params {
    font-size: 1.4rem;
    margin: 0;
  }

  &__param {
    display: flex;
    padding: .5rem 0;

    &-term {
      color: $dark--medium;
      font-weight: 400;
      flex-basis: 40%;
      max-width: 40%;
    }

    &-definition {
      font-weight: 500;
      color: $black;
      flex-basis: 60%;
      max-width: 60%;
      padding-left: .5rem;
    }
  }

  &__statuses {
    white-space: nowrap;

    .orders-table__delivery-status,
    .orders-table__payment-status {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }

    .orders-table__payment-status {
      &::after {
        display: none;
      }

      &::before,
      &::before {
        font-family: fa;
        display: inline-block;
        margin-right: .5rem;
        line-height: 1;
      }

      &--success::before {
        content: "\f00c";
      }

      &--warning::before {
        content: "\f00d";
      }
    }
  }
}