.order-steps {
  $self: &;

  list-style: none;
  // margin: 1rem 0 2rem;
  position: relative;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;

  @media (min-width: $md) {
    &::before {
      width: 100%;
      height: 0;
      border-top: 1px dashed $gray;
      content: "";
      z-index: -1;

      @include absolute-vertical;
    }
  }

  &__item {
    font-size: 1.2rem;
    color: $gray;
    background: $white;
    padding: 1rem 1.5rem;
    position: relative;
    
    &:not(:first-child) {
      margin: 0 0 0 2rem;

      @media (min-width: $md) {
        margin: 0 0 0 9rem;
      }

      &::before {
        content: ">";
        position: absolute;
        left: -1rem;
        color: $gray;
        background: $white;

        @include absolute-vertical;

        @media (min-width: $md) {
          left: -4.5rem;
        }
      }
    }

    @media (min-width: $md) {
      padding: 1rem 2rem;
    }

    &.is-current {
      color: $primary-color;
    }
  }

  &__icon {
    fill: $gray;
    margin-bottom: 1rem;

    @include elem-size(2.5rem);

    @media (min-width: $md) {
      @include elem-size(3rem);
    }
    
    #{$self}__item.is-current & {
      fill: $primary-color;
    }
  }

  &__title {
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }
}