.pagination-wrap {
  text-align: center;
  
  @media (min-width: $md) {
    text-align: right;
  }
}

.pagination {
  position: relative;
  padding: 0 2.25rem;
  display: inline-block;

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -1px;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $gray;
    vertical-align: top;

    &:hover {
      fill: $primary-color;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
  }

  &__item {
    font-size: 1.4rem;
    text-align: center;
    color: $dark--medium;
    display: inline-block;
    margin: 0 .2rem;
  }

  &__link {
    color: $dark;
    padding: 1rem;
    display: block;
    line-height: 1;
    transition: all .3s;

    &:hover,
    &.active {
      background: $primary-color;
      color: $white;
      text-decoration: none;
    }

    &.active {
      cursor: pointer;
    }
  }
}