.params {
  color: $black;

  &__heading {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__deflist {
    font-size: 1.4rem;
  }

  &__wrap {
    display: flex;
    border-bottom: 1px solid $gray--medium;
    padding: 1rem 0;

    &:first-child {
      border-top: 1px solid $gray--medium;
    }
  }

  &__descterm {
    max-width: 50%;
    flex-basis: 50%;
    font-weight: 400;
  }

  &__descdetail {
    max-width: 50%;
    flex-basis: 50%;
    font-weight: 500;
    padding-left: 5rem;
    border-left: 1px solid $gray--medium;

    span {
      color: $dark--medium;
    }
  }
}