.payment-form {
  border: 1px solid $gray--medium;
  padding: 2.5rem;

  &__fields {
    margin: 0 -1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $md) {
      flex-wrap: nowrap;
    }
  }

  &__field {
    flex-grow: 1;
    padding: 0 1.5rem;
    position: relative;

    @media (max-width: $md--mw) {
      flex-basis: 100%;
      max-width: 100%;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }

    &--currency {
      input {
        padding-right: 4rem;
      }
    }
  }

  &__helper {
    font-size: 1.4rem;
    color: $black;
    line-height: 1.3;

    @media (min-width: $md) {
      max-width: 12rem;
    }
  }

  &__input {
    font-size: 1.4rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color;
    }
  }

  &__currency {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    text-transform: uppercase;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $black;
  }

  &__btn {
    width: 100%;
    font-size: 1.4rem;
  }
}