.person {
  text-align: center;

  @media (max-width: $md--mw) {
    margin-bottom: 2rem;
  }

  &__img-wrap {
    margin-bottom: 2rem;
  }

  &__img {
    border-radius: 50%;
    margin: 0 auto;
  }

  &__figcaption {
    position: relative;
    padding-top: 2rem;

    &::before {
      content: "";
      width: 6.5rem;
      height: 3px;
      background: $primary-color;
      position: absolute;
      top: 0;

      @include absolute-horizontal;
    }
  }

  &__heading {
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    max-width: 11rem;
    margin: 0 auto 1rem;
    line-height: 1.2;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__duty {
    font-size: 1.4rem;
    color: $dark--medium;
    line-height: 1.25;
    display: block;
  }
}