.product {
  border: 1px solid $gray--medium;
  background: $white;
  transition: all .3s;

  &:hover {
    box-shadow: 0 0 1.5rem rgba($black, 0.1);
  }

  &__header {
    position: relative;

    &::after {
      content: "";
      top: 100%;
      border-top: 3px solid $primary-color;
      width: 4rem;
      position: absolute;
      left: 0;
    }
  }

  &__img-wrap {
    height: 13.5rem;
    display: block;
    position: relative;

    &--noset {
      background: $gray--thin;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 70%;
  }

  &__logo {
    max-width: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-height: 2.5rem;
  }

  &__body {
    padding: 1.5rem 1rem;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 4.7rem;
    overflow: hidden;
    margin: 0 0 1rem;
    line-height: 1.3;
  }

  &__title-link {
    color: $font-base-color;
    transition: all .3s;
    display: block;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__params {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
  }

  &__param {
    font-size: 1.4rem;
    color: $gray;
  }

  &__price {
    font-size: 2.2rem;
    color: $primary-color;
    line-height: 1.1;
  }

  &__currency {
    color: $font-base-color;
  }

  &__instock {
    font-size: 1.2rem;
    color: $font-base-color;
  }

  &__footer {
    padding: 0 1rem 1rem;
  }

  &__add {
    width: 100%;
    margin: 0 0 1rem;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .3rem;

    &:hover {
      background: $white;
      color: $primary-color;
      border-color: $primary-color;
      box-shadow: none;
    }
  }

  &__compare {
    font-size: 1.2rem;
    color: $gray;

    &:hover {
      text-decoration: underline;
      color: $gray;
    }

    &-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 .7rem 0 0;
      fill: $gray;
      position: relative;
      top: -2px;
    }
  }
}