.product-line-wrap {
}

.product-line {
  border-bottom: 1px solid $gray--medium;
  padding: 2rem 0;
  display: flex;

  .product-line-wrap:first-child & {
    border-top: 1px solid $gray--medium;
  }

  &__promo {
    display: flex;
    max-width: 39rem;
    flex-basis: 39rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__images {
    max-width: 5rem;
    margin-right: 3rem;
  }

  &__img-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:hover {
      text-decoration: none;
    }

    .product__stickers {
      /*right: auto;
      left: 0;*/
      position: static;
      margin-bottom: 1rem;

      &-sticker {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }

  &__img {
    margin-bottom: 1rem;
  }

  &__info {
    margin-right: 3rem;
    max-width: 28rem;
    flex-basis: 28rem;
  }

  &__title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    min-height: 7.5rem;
  }

  &__title-link {
    color: $font-base-color;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__params {
    font-size: 1.2rem;
    color: $gray;
    overflow: hidden;
  }

  &__param-heading {
    font-weight: normal;
    float: left;
    min-width: 7rem;
  }

  &__param-value {}

  &__param-value-link {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  &__meta {
    display: flex;
    border-bottom: 1px dashed $gray--medium;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;

    .counter {
      max-width: 9rem;
    }

    .counter__field {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 100%;
    align-items: center;
    text-align: center;

    > * {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  &__price-current {}
  
  &__price-heading {
    font-size: 1.4rem;
    color: $dark--medium;
    display: block;
  }
  
  &__price {
    font-size: 1.6rem;
    color: $primary-color;
    font-weight: 500;
  }

  &__price-currency {
    color: $black;
  }

  &__price-retail {}

  &__retail-price {
    font-size: 1.4rem;
    color: $black;
  }

  &__add {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__docs {
    color: $black;
    text-align: left;
    white-space: nowrap;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }

    &::after {
      content: "\f078";
      font-family: fa;
      color: $primary-color;
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: .5rem;
    }

    .is-manual-opened & {
      color: $primary-color;
    }

    .is-manual-opened &::after {
      content: "\f077";
    }
  }

  &__analogs {
    color: $primary-color;
    border-left: 1px solid $gray--medium;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    &::after {
      content: "\f078";
      font-family: fa;
      color: $primary-color;
      font-size: 1.2rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: .5rem;
    }

    .is-analogs-opened & {
      color: $primary-color;
    }

    .is-analogs-opened &::after {
      content: "\f077";
    }
  }

  &__instock {
    border-left: 1px solid $gray--medium;
    border-right: 1px solid $gray--medium;
    text-align: center;

    &-link {
      color: $primary-color;

      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }

    &--disabled {
      color: #db0c0f;
    }
  }

  &__compare {
    font-size: 1.2rem;
    color: $gray;
    transition: all .3s;
    text-align: right;

    &:hover {
      color: $dark--medium;
    }

    &-icon {
      fill: $gray;
      margin: -3px 5px 0 0;
    }
  }

  &__manual,
  &__analogs-list {
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
  }

  .is-manual-opened &__manual,
  .is-analogs-opened &__analogs-list {
    max-height: 9999px;
  }
  
  &__manual-body,
  &__analogs-body {
    position: relative;
  }

  &__manual-close,
  &__analogs-close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    border: none;
    background: none;
    width: 1.5rem;
    height: 1.5rem;

    &-icon {
      fill: $gray;
      transition: all .3s;
      width: 100%;
      height: 100%;
      vertical-align: top;

      &:hover {
        fill: $dark--medium;
      }
    }
  }
}