.product-main-promo {
  $self: &;

  max-width: 40rem;
  width: 100%;
  position: relative;
  margin: 0 auto 2rem;

  @media (min-width: $md) {
    display: flex;
    // margin: 0 0 3rem;
    max-width: 45rem;
    max-height: 20rem;
  }
  
  /* Main Carousel */
  &__main {
    position: relative;

    @media (min-width: $md) {
      padding-left: 2rem;
      flex-grow: 1;
      flex-shrink: 0;
      width: 30rem;
    }

    .swiper-container {
      height: 100%;
    }

    .swiper-wrapper {
      align-items: center;
    }

    .product__stickers {
      z-index: 5;
      top: 1rem;
      bottom: auto;
      right: 1rem;
    }
  }

  &__img-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: crosshair;
  }

  &__img {
    max-height: 100%;
  }

  &__pagination {
    text-align: center;
    padding: 1.5rem 0;

    @media (min-width: $md) {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 2px solid $dark--medium;
      margin: 0 .5rem;
      display: inline-block;
      vertical-align: middle;

      &-active {
        border: .5rem solid $primary-color;
      }
    }
  }
  /* Main Carousel */

  /* Thumbs Carousel */
  &__thumbs {
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: all .3s;
    
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: -9999px;

    @media (min-width: $md) {
      order: -1;
      flex: 0 0 6.5rem;
      max-width: 6.5rem;
    
      opacity: 1;
      visibility: visible;
      position: relative;
      left: 0;
    }

    .swiper-container {
      height: 100%;
    }
  }

  &__thumb {
    cursor: pointer;
    border: 1px solid $gray--medium;
    padding: .3rem;
    width: 6.5rem;
    height: 6.5rem;
    position: relative;
    display: block;

    &-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 94%;
      max-height: 100%;
    }
  }


  &__th-prev,
  &__th-next {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    outline: none;

    &:hover &-icon {
      fill: $primary-color;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      fill: $dark;
      transition: all .3s;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__th-prev {
    top: 0;
  }

  &__th-next {
    bottom: 0;
  }

  .swiper-slide-thumb-active &__thumb {
    border-color: $primary-color;
    border-width: 2px;
  }
  /* Thumbs Carousel */
  
  /* Zoom */
  &__zoom-pane {
    width: 45rem;
    height: 45rem;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 1rem;
    z-index: 3;

    opacity: 0;
    visibility: hidden;

    @media (min-width: $md) {
      display: block;
    }
  }

  &:hover &__zoom-pane {
    visibility: visible;
    opacity: 1;
  }
  /* Zoom */
}

/* Hide carousels until they init */
.js-thumbs-list,
.js-promo-main {
  transition: all .3s;

  &:not(.swiper-container-initialized) {
    visibility: hidden;
    opacity: 0;
  }
}
/* Hide carousels until they init */

/* Zoom Dop Styles */
.drift-bounding-box {
  z-index: 11;
  background: rgba($white, .3);
  border: 1px solid $gray;
  max-width: 14rem;
  max-height: 14rem;
}
@media (max-width: $md--mw) {
  /* Disable Mobile */
  .drift-zoom-pane.drift-open, .drift-zoom-pane {
    display: none;
  }
}
/* Zoom Dop Styles */