.section-area {
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  &__heading {
    font-size: 1.8rem;
    color: $black;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .manual-params {
    font-size: 1.4rem;
    border: 1px solid $gray--medium;
    padding: 2.5rem;
    position: relative;
  }

  .manual-params__value {
    color: $dark--medium;
    max-width: 50%;
    flex-basis: 50%;
  }

  .manual-params__property {
    max-width: 50%;
    flex-basis: 50%;
  }

  .manual-params__edit {
    color: $primary-color;
    font-size: 1.2rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    &:hover {
      color: $primary-color;
    }

    &-icon {
      fill: $primary-color;
      margin-right: .5rem;

      @include elem-size(1.2rem);
    }
  }

  &__save-psw {
    color: $primary-color;
    font-size: 1.2rem;

    &:hover {
      color: $primary-color;
    }

    &-icon {
      fill: $primary-color;
      margin-right: .5rem;

      @include elem-size(1.2rem);
    }
  }

  &__checkbox {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
  }

  &__label {
    font-size: 1.4rem;
    color: $dark--medium;

    span {
      color: $primary-color;
    }
  }

  &__field {
    margin-bottom: 2rem;
  }

  &__input {
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }

    &--gray {
      background: $gray--thin;
    }
  }

  &__footer {
    border-top: 1px solid $gray--medium;
    padding-top: 2.5rem;

    .btn {
      padding: 1rem 2rem;
    }
  }
}