.tabs .radio-option {
  > .row > [class*="col-"]:not(:first-child) {
    @media (max-width: $sm--mw) {
      margin-top: 1.5rem;
    }
  }

  > .row > [class*="col-"]:not(:nth-child(-n+2)) {
    @media (min-width: $sm) {
      margin-top: 2.5rem;
    }
  }
}

.signup-sto .radio-option {
  > .row > [class*="col-"]:not(:first-child) {
    @media (max-width: $sm--mw) {
      margin-top: 1.5rem;
    }
  }

  > .row > [class*="col-"]:not(:nth-child(-n+2)) {
    @media (max-width: $md--mw) {
      margin-top: 2.5rem;
    }
  }

  > .row > [class*="col-"]:not(:nth-child(-n+3)) {
    @media (min-width: $md) {
      margin-top: 3rem;
    }
  }
}

.radio-opt {
  border: 1px solid $gray--medium;
  transition: all .3s;
  padding: 1.5rem 2.5rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::after {
    border-bottom: 3px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    transition: all .3s;
  }

  &.active {
    box-shadow: 0 0 15px rgba($black, 0.35);

    &::after {
      border-bottom-color: $primary-color;
    }
  }

  &__title {
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;

    &::after {
      content: "";
      width: 6.5rem;
      height: 3px;
      background: $primary-color;
      top: 100%;
      margin-top: -2px;

      @include absolute-horizontal;
    }

    span {
      color: $primary-color;
    }
  }

  &__footer {
    background: $gray--light;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0 -2.5rem;

    .radio-label__main {
      display: inline-block;
      padding-left: 3rem;
      font-size: 1.4rem;

      &::before {

      }
    }
  }

  &__user-data {
    margin-bottom: 0rem;

    .manual-params {
      margin: 0 0 1.5rem;
      padding: 0;
      background: $white;

      &__param {
        margin-bottom: .7rem;
        font-size: 1.4rem;
      }
      
      &__value {
        color: $dark--medium;
        background: $white;
        flex-basis: 50%;
        max-width: 50%;

        @media (min-width: $sm) {
          flex-basis: 35%;
          max-width: 35%;
        }

        &::after {
          bottom: 5px;
        }
      }

      &__property {
        font-weight: 400;
        background: $white;
        flex-basis: 50%;
        max-width: 50%;

        @media (min-width: $sm) {
          flex-basis: 65%;
          max-width: 65%;
        }
      }
    }
  }

  &__notice {
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    text-align: center;
    margin: 0 0 2rem;
  }

  &__figure {
    text-align: center;
    max-width: 18.5rem;
    margin: 0 auto 2rem;
    font-size: 1.4rem;
  }
  
  &__icon {
    max-width: 5.5rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
    fill: $gray;
  }

  &__figcaption {
    strong {
      font-weight: 500;
    }
  }

  &__field {
    position: relative;
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 1.4rem;
    color: $dark--medium;
    margin-bottom: 1rem;
  }

  &__input {
    border-radius: 3px;
    font-size: 1.4rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }

    &.radio-opt__input--total {
      padding-right: 3.5rem;
      font-weight: 500;
      padding-left: 1.5rem
    }
  }

  &__total-currency {
    font-size: 1.2rem;
    color: #9f9f9f;
    font-weight: 500;
    right: 1rem;
    text-transform: uppercase;

    @include absolute-vertical;
  }

  &__comment {
    &-title {
      font-size: 1.4rem;
      color: $dark--medium;
    }

    &-desc {
      font-size: 1.4rem;
      color: #2b2b2b;
    }
  }
}

.payment-section {
  border-top: 1px solid $gray--medium;
  padding-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  &__heading {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 500;
  }
}