.search-form {
    $self: &;

    display: none;
    width: 100%;

    @media (min-width: $md) {
        display: flex;
    }

    &__field {
        background: $white;

        &:last-child {
            border-radius: 0 1rem 1rem 0;
        }
    }
    /* Search-Type */
    &__field--choices {
        min-width: 9rem;
        border-radius: 1rem 0 0 1rem;

        .choices {
            border: none;

            &.is-open {
                background: none;
            }

            &__inner {
                text-align: center;
            }
        }
    }
    /* Search-Type */

    &__field--input {
        flex-grow: 1;

        ::placeholder {
            font-style: italic;
        }
    }
    /* input */
    &__input {
        width: 100%;
        height: 100%;
    }
    /* input */
    /* Checkbox */
    &__checkbox-label {
        font-size: 1.4rem;
        cursor: pointer;
        color: $font-base-color;
        height: 100%;
        padding: 0 1.5rem 0 3.5rem;
        position: relative;
        margin: 0;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            border: 1px solid $gray;
            border-radius: 3px;
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: $white;
            text-align: center;
            line-height: 1.6rem;
            font-family: fa;
            font-size: 1.2rem;
        }
    }

    &__checkbox {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }

    &__checkbox:checked + label::before {
        content: "\f00c";
        width: 1.6rem;
        height: 1.6rem;
        background: $primary-color;
        border-color: $primary-color;
    }
    /* Checkbox */
    /* Submit */
    &__submit {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
        border-radius: 0 1rem 1rem 0;

        &:hover {
            transform: translate(0);
        }

        #{$self}__submit-icon {
            width: 2rem;
            height: 2rem;
            margin: 0;
            fill: $white;
        }
    }
    /* Submit */
    /* Mobile Toggle */
    &-toggle {
        background: none;
        border: none;
        padding: 0;
        margin: 0 0 0 1.5rem;
        transform: translateY(-2px);

        @media (min-width: $md) {
            display: none;
        }

        &__icon {
            fill: $white;
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    @media (max-width: $md--mw) {
        &.is-opened {
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 5;
            padding: .75rem;
            background: $header-bottom-background;
        }
    }
    /* Mobile Toggle */
}

// blame
.search-form .search-form__input {
  border-radius: 0;
}