.brands-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray--medium;
  padding-bottom: 2rem;

  @media (min-width: $md) {
    padding-bottom: 5rem;
  }
}

.brands-col {
  flex-basis: 50%;
  max-width: 50%;

  @media (min-width: $sm) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  @media (min-width: $md) {
    flex-basis: 20%;
    max-width: 20%;
  }

  @media (min-width: $lg) {
    flex-basis: 16.666%;
    max-width: 16.666%;
  }
}

.top-brands-section {
  margin-bottom: 2rem;
  padding-top: 3rem;

  @media (min-width: $md) {
    padding-top: 5rem;
    margin-bottom: 3rem;
  }
}

.brands-list-section {
  padding-top: 3rem;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }
}

.top-brand {
  $self: &;

  max-width: 20rem;
  display: block;
  transition: all .3s;
  padding: 2rem;
  margin: 0 auto;

  @media (min-width: $md) {
    padding: 2rem 1rem;
  }

  &:hover {
    box-shadow: 0 0 1.5rem rgba($black, 0.35);
    text-decoration: none;

    #{$self}__title {
      color: $primary-color;
    }
  }

  &__main {
    text-align: center;
    margin: 0;
  }
  
  &__img-wrap {
    max-width: 13rem;
    width: 100%;
    height: 12rem;
    position: relative;
    margin: 0 auto;
  }
  
  &__img {
    max-height: 100%;

    @include absolute-center;
  }
  
  &__title {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
    padding-top: 2rem;
    margin-top: 2rem;
    position: relative;
    transition: all .3s;

    &::before {
      content: "";
      width: 6.5rem;
      height: 3px;
      background: $primary-color;
      top: -1px;

      @include absolute-horizontal;
    }
  }
}

.brands-list {
  list-style: none;
  margin: 0;

  &__item {
    &:first-child {
      border-top: 1px solid $gray--medium;
    }
  }
}

.brand-thumb {
  $self: &;

  display: block;
  border-bottom: 1px solid $gray--medium;

  &:hover {
    text-decoration: none;

    #{$self}__title {
      color: $primary-color;
    }
  }

  &__main {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    margin: 0;
    min-height: 6.5rem;
  }

  &__img-wrap {
    max-width: 5rem;
    height: 3rem;
    flex-basis: 5rem;
    position: relative;
    min-width: 3rem;
  }

  &__img {
    max-height: 100%;

    @include absolute-center;
  }

  &__title {
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    transition: all .3s;
    padding-left: 1.5rem;
    margin-left: 1.5rem;
    position: relative;
    line-height: 1.1;

    &::before {
      content: "";
      height: 2rem;
      left: 0;
      border-left: 1px solid $gray--medium;

      @include absolute-vertical;
    }
  }
}