/* Select Lang */
.select-lang {
  max-width: 12rem;
  max-height: 3.4rem;

  .choices {
    border: none;
  }

  .choices__inner {
    text-align: right;
  }

  .choices__item--choice {
    text-align: center;
  }
}
/* Select Lang */