.signup-sto {
  margin-bottom: 3rem;

  fieldset,
  &__car-data,
  &__owner-data,
  &__service-data {
    border-bottom: 1px solid $gray--medium;
    padding-bottom: .5rem;
    margin-bottom: 2rem;

    @media (min-width: $md) {
      padding-bottom: 1.5rem;
      margin-bottom: 3rem;
    }
  }

  div &__service-data { // prioritet trouble... blame
    padding-bottom: 2rem;

    @media (min-width: $md) {
      padding-bottom: 3rem;
    }
  }

  &__heading {
    text-transform: uppercase;
    color: $black;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    @media (min-width: $md) {
      margin-bottom: 2.5rem;
    }

    span {
      color: $primary-color;
    }
  }

  &__label {
    color: $dark--medium;
    font-size: 1.4rem;

    &-required,
    span {
      color: $primary-color;
    }
  }
  
  &__field {
    margin-bottom: 1.5rem;
  }

  &__input {
    border-radius: 3px;
    transition: all .3s;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }
  }

  &__msg {
    border-radius: 3px;
    transition: all .3s;
    height: 100%;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

    &:focus {
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
      border-color: $primary-color
    }

    @media (min-width: $sm) {
      margin-bottom: 0;
      padding-top: 1.5rem;
    }
  }

  &__footer {
    @media (max-width: $md--mw) {
      [class*="col-"] {
        margin-bottom: 2rem;
      }
    }
  }

  .choices {
    border-radius: 3px;
    min-height: 4.6rem;
    height: 1px;

    &__inner {
      padding-left: 1.5rem;
    }
  }

  .radio-option {}

  .radio-opt {
    padding-top: 2.5rem;

    &__title {
      font-weight: 500;

      &::after {
        width: 3.5rem;
      }
    }

    &__address {
      text-align: center;
      margin-bottom: 3.5rem;
      font-size: 1.6rem;
    }

    &__footer {
      text-align: left;
      padding: 1.7rem 2.5rem 1.5rem;
      position: relative;
    }

    &__service {
      color: $primary-color;
      font-size: 1.4rem;
      right: 2.5rem;

      @include absolute-vertical;

      span {
        font-family: $font-base-stack;
        font-weight: 400;
        margin-left: .5rem;
      }
    }
  }

  &__btn {
    width: 100%;
    font-size: 1.8rem;
    height: 100%;
  }
}

.date-picker-main {
  position: relative;
  height: 100%;

  &-icon {
    fill: $primary-color;
    right: 1rem;
    
    @include elem-size(1.8rem);
    @include absolute-vertical;
  }

  .pika-single {
    position: absolute !important;
  }
}