﻿.soc {
  $self: &;

  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin-left: .5rem;

    &:first-child {
      margin-left: 0;
    }
  }
  
  &__link {
    border: 1px solid $gray;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: block;
    transition: all .3s;
    text-align: center;
    position: relative;

    &:hover {
      border-color: transparent;
    }

    &--fb:hover {
      background: #3b5998;
    }

    &--inst:hover {
      background: #f0523c;
    }

    &--tw:hover {
      background: #00aced;
    }

    &--vk:hover {
      background: #5d84ae;
    }

    &--gg:hover {
      background: #DD4B39;
    }

    &--yt:hover {
      background: #c4302b;
    }

    &--ok:hover {
      background: #ff9933;
    }

    &--mail:hover {
      background: #005ff9;
    }

    &:hover #{$self}__icon {
      fill: $white;
    }
  }

  &__icon {
    fill: $gray;
    width: 2rem;
    height: 2rem;
    transition: all .3s;

    @include absolute-center;
  }

  &__item--expand {
    #{$self}__link:hover {
      border-color: $gray;

      &:hover #{$self}__icon {
        fill: $gray;
      }
    }

    #{$self}__icon {
      fill: $primary-color;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.authorize-social {
  text-align: center;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  position: relative;

  &::before {
    content: "";
    border-top: 1px solid $gray--medium;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: "или";
    background: $white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: .5rem 1rem;
    font-size: 1.4rem;
    color: $gray--medium;
  }

  &__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .soc {
    &__link {
      @include elem-size(3.5rem);
    }

    &__icon {
      @include elem-size(2rem);
    }
  }
}