.stock-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  // table-layout: fixed;

  &__thead {}

  &__tr {}

  &__th {
    font-size: 1.4rem;
    color: $black;
    padding: 1rem 1rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid $gray--medium;
  }

  &__tbody {}

  &__td {
    padding: 1rem;
    border-bottom: 1px solid $gray--medium;
    // border-top: 1px solid $gray--medium;
    vertical-align: top;
  }

  &__product-promo {
    max-width: 6rem;
    position: relative;
  }

  &__product-logo,
  &__product-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__meta {
    position: relative;
    font-size: 1.2rem;
    color: $dark--medium;
    //margin-bottom: 1.5rem;
    margin-bottom: .5rem;
	
	.product__stickers {
      /*right: auto;
      left: 0;*/
      //position: static;
      //padding-top: .5rem;
	  bottom: 0;

      &-sticker {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }

  &__meta-title {
    color: $primary-color;
  }

  &__articul {
    color: $primary-color;
  }

  &__title {
    // min-height: 5rem;
    font-size: 1.4rem;
    //margin-bottom: 1.5rem;
    margin-bottom: 0;
    //max-width: 20rem;
  }

  &__title-link {
    color: $font-base-color;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__docs,
  &__analogs {
    color: $primary-color;
    font-size: 1.2rem;

    &::after {
      content: " \f078";
      font-family: fa;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__analogs {
    color: $primary-color;
    font-size: 1.2rem;
    border-left: 1px solid $gray--medium;
    padding-left: 1rem;
    margin-left: 1rem;

    &:hover {
      color: $primary-color;
    }
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 500;
    color: $primary-color;
  }
  
  &__currency {
    color: $black;
  }

  &__retail-price {
    font-size: 1.4rem;
    color: $black;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    padding: .7rem 0;
    border-top: 1px solid $gray--medium;
    align-items: center;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
	
	&__price {
		width: 17rem;
	}
  }

  &__amount {
    font-size: 1.2rem;
    color: $font-base-color;
    font-weight: 500;
    margin-right: 2rem;
    // max-width: 3rem;
    flex-basis: 3rem;
	white-space: nowrap;
  }

  &__location {
    font-size: 1.2rem;
    color: $black;
    flex-grow: 1;
  }

  &__add {
    margin-left: 1rem;

    &:hover {
      text-decoration: none;
    }

    &-icon {
      fill: $cart-icon-primary;
      width: 2rem;
      height: 2rem;
      transition: all .3s;

      &:hover {
        fill: darken($cart-icon-primary, 10%);
      }
    }
  }

  &__compare {
    margin-left: 1rem;

    &:hover {
      text-decoration: none;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      transition: all .3s;
      fill: $gray;

      &:hover {
        fill: $gray--medium;
      }
    }
  }

  &__forbidden {
    color: $dark--medium;
    font-size: 1.2rem;
  }
}