.top-header-nav {
  $self: &;

  position: relative;

  &.has-dropdown {
    padding-left: 2rem;
  }

  &__list {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    max-height: 3.6rem;
    overflow: hidden;

    @media (min-width: $md) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    // font-size: 1.2rem;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &::before {
      border-left: 1px solid $gray--medium;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 1.5rem;
      transform: translateY(-50%);
    }

    &:first-child::before {
      display: none;
    }
  }

  &__link {
    color: $dark--medium;
    display: block;
    padding: 0 1rem;
    transition: color .4s ease-in-out;
    position: relative;

    &:hover {
      color: $font-base-color;
      text-decoration: none;
      border-bottom-color: $primary-color;
    }

    &:hover #{$self}__text {
      border-bottom-color: $primary-color;
    }

  }

  &__text {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding: .7rem 0;
    border-bottom: 2px solid transparent;
    transition: border-color .4s ease-in-out;
  }

  &__toggle {
    background: transparent;
    border: none;
    width: 2.25rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    margin-top: -3px;

    @media (min-width: $md) {
      display: none;
    }

    #{$self}.has-dropdown & {
      display: block;
    }
  }

  &__toggle-icon {
    fill: $dark--medium;

    width: 100%;
    height: 100%;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background: $gray--light;
    flex-direction: column;
    max-width: 22rem;
    z-index: 2;
    display: none;
    border: 1px solid $gray--medium;
  }

  &.is-active &__dropdown {
    display: flex;
  }
}