.subscribe {
  &__main {
    margin: 0 auto;
    background: url("../images/general/envelope.png") no-repeat center / cover;
    max-width: 38rem;
    width: 100%;
    text-align: center;
    padding: 5rem 0 0;
    transform: translateY(3rem);
    height: 26rem;

    @media (min-width: $md) {
      transform: translateY(5.5rem);
    }
  }

  &__icon {
    fill: $gray;
    width: 100%;
    height: 100%;
  }

  &__icon-wrap {
    width: 6rem;
    height: 6rem;
    margin: 0 auto 1.5rem;
    padding: .5rem .5rem 1.5rem;
    position: relative;

    &::after {
      content: "";
      width: 6.5rem;
      height: 3px;
      position: absolute;
      top: 100%;
      left: 50%;
      background: $primary-color;
      transform: translateX(-50%);
    }
  }

  &__details {}

  &__desc {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__btn {
    font-size: 1.4rem;
  }
}
