.tree-nav-section {
  $self: &;

  &__header {}

  &__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $black;
    padding-bottom: 2.5rem;
    padding-right: 1.5rem;
    line-height: 1.1;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $gray--medium;

    input {
      margin-top: 1.5rem;
    }

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      fill: $primary-color;
      transition: transform .3s;

      @include elem-size(1.2rem);
    }
  }

  &__body {
    border-bottom: 1px solid $gray--medium;
    padding: 2.5rem 0;
    transition: all .3s;

    @include hide-element;
  }

  &.is-opened {
    #{$self}__heading-icon {
      transform: rotate(-180deg);
    }

    #{$self}__body {
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }
}

.tree-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    position: relative;

    &::before {
      content: "";
      border-left: 1px solid $gray;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  > ul::before {
    top: 1.3rem;
  }

  li {
    padding-left: 2rem;
    position: relative;

    &::before {
      content: "";
      width: 1.5rem;
      border-top: 1px solid $gray;
      position: absolute;
      left: 0;
      top: 1.3rem;
    }

    &:last-child::before {
      top: 1.3rem;
      bottom: 0;
      background: $white;
    }

    &:hover > a {
      // font-weight: 500;
      color: $primary-color;
      text-decoration: none;
    }

    &:hover > .tree-nav__toggle {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  a {
    color: $font-base-color;
    transition: all .3s;
    display: inline-block;
    padding: .5rem 0 .5rem;
    vertical-align: middle;
  }

  /* Tree Nav Toggle */
  &__toggle {
    position: absolute;
    left: -.5rem;
    top: .8rem;
    border: 1px solid $gray;
    background: $white;
    cursor: pointer;

    @include elem-size(1rem);

    &::before {
      content: "+";
      font-size: 1rem;

      @include absolute-center;
    }
  }

  .is-active > &__toggle::before {
    content: "-";
  }

  ul ul {
    display: none;
  }

  .is-active > ul {
    display: block;
  }
  /* Tree Nav Toggle */
}