.type-section {
  border: 1px solid $gray--medium;
  transition: all .3s;
  text-align: center;
  background: $gray--light;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &:hover {
    box-shadow: 0 0 15px rgba($black, 0.35);
  }

  &::after {
    content: "";
    bottom: 0;
    border-bottom: 3px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }

  &:hover::after {
    border-bottom-color: $primary-color;
  }

  &__wrap:hover {
    text-decoration: none;
  }

  &:hover &__icon {
    fill: $primary-color;
  }

  &:hover &__desc-icon-wrap {
    background: $primary-color;
  }

  &__header {
    background: $white;
    color: $primary-color;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 1.5rem;
    text-transform: uppercase;
  }
  
  &__title {
    position: relative;
    padding: 0 0 1rem;
    line-height: 1.1;
    color: $font-base-color;

    &::after {
      content: "";
      width: 6.5rem;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background: $primary-color;
    }
  }
  
  &__title-entity {
    color: $primary-color;

    @media (min-width: $sm) {
      display: block;
    }
  }

  &__type {
    padding: 3rem 2rem 2rem;
    margin: 0;
  }

  &__icon {
    fill: $gray;
    transition: all .3s;
    margin: 0 auto 1rem;
    display: block;
    width: 100%;
    height: 14rem;
    max-width: 65%;

    &--truck {
      max-width: 85%;
    }

    &--tyre {
      max-width: 40%;
    }
  }

  &__desc {
    font-size: 1.6rem;
    color: $font-base-color;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 1rem 2.25rem 1rem 0;
  }

  &__desc-icon-wrap {
    fill: $white;
    transform: translate(-50%, -50%);
    background: $gray;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
  }

  &__desc-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: .8rem;
    height: .8rem;
    transform: translate(-50%, -50%);
  }

  &__form {}

  &__field {
    position: relative;
  }

  &__input {
    border: 1px solid $gray--medium;
    width: 100%;
    padding-right: 3.5rem;
  }

  &__submit {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__submit-icon {
    fill: $primary-color;
    width: 1.6rem;
    height: 1.6rem;
    transition: all .3s;

    &:hover {
      fill: $font-base-color;
    }
  }
}