.tyres-area {
  margin-bottom: 3rem;

  @media (min-width: $md) {
    margin-bottom: 4rem;
  }

  &__main {
    border: 1px solid $gray--medium;
    padding: 1.5rem;
    margin-bottom: 2.5rem;

    @media (min-width: $sm) {
      padding: 3rem;
    }

    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }

  &__row {
    border-bottom: 1px solid $gray--medium;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $sm) {
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
    }

    &-heading {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--last {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--last-calc {
      margin-bottom: 0;
      border: none;
    }
  }

  &__seasons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
    }

    &-heading {
      color: $dark--medium;
      font-size: 1.4rem;
      flex-basis: 100%;
      margin-bottom: 1rem;

      @media (min-width: $sm) {
        margin-bottom: 0;
        flex-basis: auto;
      }
    }

    &-options {
      white-space: nowrap;
    }

    .radio-label {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      color: $black;

      @media (min-width: $md) {
        margin-left: 2.5rem;
      }

      &__main {
        padding-right: .5rem;
      }

      &__input:checked + label {
        color: $black;
      }
    }
  }

  &__params {
    max-width: 52rem;
    margin: 0 auto;

    &-row {
      display: flex;
      margin: 0 -1.5rem;
    }
  }

  &__param {
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 0 1.5rem;
    position: relative;

    &-label {
      color: $dark--medium;
      font-size: 1.4rem;

      strong {
        color: $primary-color;
        font-weight: 700;
        margin-right: .5rem;
      }
    }

    &-field {}

    &-helper-symb {
      font-size: 1.4rem;
      color: $dark--medium;
      position: absolute;
      left: -.4rem;
      bottom: .9rem;
    }

    .choices {
      min-height: 4rem;
      height: 1px;
      width: 100%;
      border-radius: 3px;
    }
  }

  &__helper {
    margin-top: 1.5rem;

    &-img {
      width: 100%;
    }
  }

  &__footer {
    margin: 0 -1.5rem -1.5rem;

    @media (min-width: $sm) {
      margin: 0 -3rem -3rem;
    }

    &-summary {
      background: $gray--thin;
      padding: 2.5rem;
    }

    &-main {
      padding: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (min-width: $sm) {
        flex-wrap: nowrap;
        padding: 2.5rem;
      }
    }

    .btn {
      font-size: 1.6rem;
      padding-left: 6.5rem;
      padding-right: 6.5rem;
      width: 100%;

      @media (min-width: $sm) {
        width: auto;
      }
    }
  }

  &__calculate {
    white-space: nowrap;
    flex-basis: 100%;
    margin-bottom: 1.5rem;

    @media (min-width: $sm) {
      margin-bottom: 0;
      flex-basis: auto;
    }

    &-link {
      color: $primary-color;
      display: block;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    .fa, .fas {
      color: $gray;
      margin-right: 1rem;
    }
  }

  &__img-wrap {}

  &__img {
    margin-left: auto;
    margin-right: auto;
  }

  .notification {
    margin-bottom: 2rem;

    @media (min-width: $md) {
      margin-bottom: 3rem;
    }
  }
}

.tyre-calc-result-section {
  margin-bottom: 3rem;

  @media (min-width: $md) {
    margin-bottom: 4rem;
  }

  @media (max-width: $md--mw) {
    > .row > [class*="col-"]:not(:first-child) {
      margin-top: 2.5rem;
    }
  }
}

.tyre-calc-result {
  &__heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;

    .fa, .fas {
      margin-left: 1rem;
    }
  }

  &__table {
    width: 100%;
    border: 1px solid $gray--medium;
    font-size: 1.4rem;
    color: $black;

    th {
      font-weight: 500;
      background: $gray--thin;
      padding: 1rem;

      &:not(:first-child) {
        text-align: center;
      }
    }

    td {
      border-top: 1px solid $gray--medium;
      padding: 1.5rem 1rem;
      position: relative;
      transition: all .3s;

      &:not(:first-child)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1.5rem;
        bottom: 1.5rem;
        width: 1px;
        background: $gray--medium;
      }

      &:not(:first-child) {
        text-align: center;
      }
    }

    tr:hover td {
      background: $dark;
      color: $white;
    }

    .success {
      color: #94d82d;
      font-weight: 500;
    }

    .failure {
      color: #ff4747;
      font-weight: 500;
    }

    input {
      max-width: 6rem;
      font-weight: 500;
      text-align: center;
      padding-top: .8rem;
      padding-bottom: .7rem;
      font-size: 1.4rem;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.2;
    position: relative;

    min-height: 3rem;
    /*height: 1px;*/

    /*&::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }*/

    span {
      font-weight: 400;
      color: $dark--medium;
    }

    .title-type {
      font-weight: 700;
      color: $primary-color;
      font-size: 1.8rem;
      left: 0;
      
      @include absolute-vertical;
    }

    &--tyre {
      max-width: 11rem;
      padding-left: 2rem;
    }

    &--disk {
      max-width: 15rem;
    }

    &--speed {
      max-width: 20rem;
    }
  }
}