.price-range {
  &__values {
    display: flex;
    margin: 0 -1rem 2rem;
    align-items: center;
  }

  &__field {
    padding: 0 1rem;
  }

  &__input {
    text-align: center;
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &__separator {
    color: $black;
    font-size: 2.2rem;
  }

  &__slider {
    border: none;
    height: .5rem;
    box-shadow: none;
    background: $gray;

    .noUi-connect {
      background: $primary-color;
    }

    .noUi-handle {
      background: darken($primary-color, 25%);
      height: 1.5rem;
      width: 1.5rem;
      box-shadow: none;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%;

      &::before,
      &::after {
        display: none;
      }

      &-lower,
      &-upper {
        right: -8px !important;
      }
    }
  }
}