.upload-files {
  margin-bottom: 4rem;

  @media (min-width: $md) {
    margin-bottom: 6rem;
  }
  
  .upload-file {
    margin-bottom: 2.5rem;
  }
}

.upload-file {
  border: 1px solid $gray--medium;
  padding: 2.5rem;

  &__field {
    position: relative;

    [class*="fa"] {
      color: #18bd9b;
      font-size: 1.6rem;
      position: absolute;
      left: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__label {
    font-size: 1.4rem;
    color: $dark--medium;
    transition: all .3s;
    cursor: pointer;
    display: block;
    border: 1px dashed $gray--medium;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1rem 1rem 1rem 4rem;
  }

  &__btn {
    width: 100%;
    font-size: 1.4rem;
    margin: 1.5rem 0;

    @media (min-width: $md) {
      margin: 0;
    }
  }

  &__example {
    color: $dark--medium;
    position: relative;
    
    @media (min-width: $md) {
      padding-left: 3.5rem;

      &::before {
        content: "";
        border-left: 1px solid $gray--medium;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    a {
      color: $primary-color;

      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}