.vacancy {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray--medium;

  @media (min-width: $md) {
    margin-bottom: 4rem;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &__header {
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid $gray--medium;
  }

  &__title {
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 500;
  }

  &__sub-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  &__requires {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__require {
    text-align: center;
    max-width: 13rem;
    flex-basis: 13rem;
  }

  &__icon-wrap {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }

  &__icon {
    fill: $gray;
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__figcaption {
    font-size: 1.4rem;
    position: relative;
    padding-top: 1rem;
    margin-top: 1rem;

    &::before {
      height: 3px;
      width: 5rem;
      content: "";
      background: $primary-color;
      top: 0;

      @include absolute-horizontal;
    }
  }

  &__property {
    color: $black;
    font-weight: 500;
  }

  &__value {
    color: $dark--medium;
  }

  &__details {
    list-style: none;
  }

  &__detail {
    margin: .5rem 0;
    padding-left: 3rem;
    position: relative;

    &::before {
      content: "— ";
      color: $gray;
      position: absolute;
      left: 0;
    }
  }
}