figure.person
  .person__img-wrap
    img.person__img.img-responsive(src="assets/images/content/person-4.jpg" alt="Person")
  figcaption.person__figcaption
    .person__heading Оксана Воронова
    small.person__duty Директор департамента управления персоналом