figure.person
  .person__img-wrap
    img.person__img.img-responsive(src="assets/images/content/person-3.jpg" alt="Person")
  figcaption.person__figcaption
    .person__heading Евгений Паланчан
    small.person__duty Финансовый директор