figure.person
  .person__img-wrap
    img.person__img.img-responsive(src="assets/images/content/person-2.jpg" alt="Person")
  figcaption.person__figcaption
    .person__heading Павел Гуцу
    small.person__duty Исполнительный директор