figure.person
  .person__img-wrap
    img.person__img.img-responsive(src="assets/images/content/person-1.jpg" alt="Person")
  figcaption.person__figcaption
    .person__heading Алексей Винограденко
    small.person__duty Генеральный директор