include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  
  head

    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="assets/css/styles.min.css")

  body(class=pageClass)

    block header

    .container-fluid

      include ../components/breadcrumbs

      block heading

      .primary-content

        .sidebar
          block sidebar
        
        main.main-content
          block main

    block footer

    script(src="assets/js/libs.min.js")
    script(src="https://unpkg.com/popper.js@1")
    script(src="https://unpkg.com/tippy.js@5")
    script(src="assets/js/Modal.js")
    script(src="assets/js/main.js")

    block script