include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  
  head

    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="assets/css/styles.min.css")

  body(class=pageClass)

    .wrapper

        .wrapper__main

            block content

            //- script(src="assets/js/jquery-3.3.1.min.js")
            //- script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

            script(src="assets/js/libs.min.js")
            script(src="https://unpkg.com/popper.js@1")
            script(src="https://unpkg.com/tippy.js@5")
            script(src="assets/js/Modal.js")
            script(src="assets/js/main.js")

            block script

        .wrapper__footer

            block footer