article.product
  header.product__header
    a.product__img-wrap(href="#")
      img.product__img(src="assets/images/content/product-img-2.jpg" alt="Product")
    img.product__logo(src="assets/images/content/product-logo-1.png" alt="Product Logo")
  .product__body
    .product__title #[a.product__title-link(href="#") Супеоктан-корректор 150мл]
    ul.product__params
      li.product__param WYNN`S
      li.product__param W70701
    .product__price 30,00 #[span.product__currency MDL]
    .product__instock В наличии 854 шт.
  footer.product__footer
    a.product__add.btn.btn--main(href="#") Купить
    a.product__compare(href="#") 
      +icon('transfer', 'product__compare-icon')
      | Добавить к сравнению