article.product
  header.product__header
    a.product__img-wrap(href="#")
      img.product__img(src="assets/images/content/product-img-5.jpg" alt="Product")
    img.product__logo(src="assets/images/content/product-logo-5.png" alt="Product Logo")
    .product__stickers
      .product__stickers-sticker.product__stickers-sticker--discount Скидка
  .product__body
    .product__title #[a.product__title-link(href="#") Фильтр масляный VOLVO 740, 760, 940 I/II, 960;VW]
    ul.product__params
      li.product__param MFILTER
      li.product__param W70701
    .product__price 150,00 #[span.product__currency MDL]
    .product__instock В наличии 84 шт.
  footer.product__footer
    a.product__add.btn.btn--main(href="#") Купить
    a.product__compare(href="#") 
      +icon('transfer', 'product__compare-icon')
      | Добавить к сравнению