article.product
  header.product__header
    a.product__img-wrap(href="#")
      img.product__img(src="assets/images/content/product-img-1.jpg" alt="Product")
    img.product__logo(src="assets/images/content/product-logo-2.png" alt="Product Logo")
    .product__stickers
      .product__stickers-sticker.product__stickers-sticker--action Акция
  .product__body
    .product__title #[a.product__title-link(href="#") Очиститель топливной системы 325ML]
    ul.product__params
      li.product__param WYNN`S
      li.product__param W70759
    .product__price 115,98 #[span.product__currency MDL]
    .product__instock В наличии &gt; 4 шт.
  footer.product__footer
    a.product__add.btn.btn--main(href="#") Купить
    a.product__compare(href="#") 
      +icon('transfer', 'product__compare-icon')
      | Добавить к сравнению