article.product
  header.product__header
    a.product__img-wrap.product__img-wrap--noset(href="#")
      img.product__img(src="assets/images/general/product-img-default.svg" alt="Product")
    img.product__logo(src="assets/images/content/product-logo-1.png" alt="Product Logo")
    .product__stickers
      .product__stickers-sticker.product__stickers-sticker--discount Скидка
  .product__body
    .product__title #[a.product__title-link(href="#") Присадка для улучшения качества бензина 250ML]
    ul.product__params
      li.product__param WYNN`S
      li.product__param W22810
    .product__price 141,12 #[span.product__currency MDL]
    .product__instock В наличии 12 шт.
  footer.product__footer
    a.product__add.btn.btn--main(href="#") Купить
    a.product__compare(href="#") 
      +icon('transfer', 'product__compare-icon')
      | Добавить к сравнению