.product-line-wrap.d-none.d-md-block

  .product-line
    .product-line__promo
      
      .product-line__images
        a.product-line__img-wrap(href="#")
          img.product-line__img.img-responsive(src="assets/images/content/product-img-3.jpg" alt="Product Img")
          .product__stickers
            .product__stickers-sticker.product__stickers-sticker--discount Скидка
        img.product-line__product-logo.img-responsive(src="assets/images/content/product-logo-4.png" alt="Product Logo")

      .product-line__info
        .product-line__title
          a.product-line__title-link(href="#") Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат

        dl.product-line__params
          dt.product-line__param-heading Артикул
          dd.product-line__param-value 0W30 OFTECH MS-FFE 1L
          dt.product-line__param-heading Бренд
          dd.product-line__param-value #[a.product-line__param-value-link(href="#") WOLF]

    .product-line__main

      .product-line__meta

        .product-line__price-current
          span.product-line__price-heading Ваша цена
          span.product-line__price 99,36 #[span.product-line__price-currency MDL]
      
        .product-line__price-retail 
          span.product-line__price-heading Розница
          .product-line__retail-price 181,38 MDL

        include ../../components/counter

        a.product-line__add.btn.btn--main(href="#") Купить

      .product-line__footer

        a.product-line__docs(href="#") Спецификации
        a.product-line__analogs(href="#") Аналоги
        span.product-line__instock На складе #[a.product-line__instock-link(href="#") &gt; 4] шт.
        a.product-line__compare(href="#")
          +icon('transfer', 'product-line__compare-icon')
          | Сравнить

  .product-line__manual

    .product-line__manual-body

      button.product-line__manual-close
        +icon('close', 'product-line__manual-close-icon')

      include ../../components/manual-params

  .product-line__analogs-list

    .product-line__analogs-body

      button.product-line__analogs-close
        +icon('close', 'product-line__analogs-close-icon')

      include ../../components/manual-params