article.product
  header.product__header
    a.product__img-wrap.product__img-wrap--noset(href="#")
      img.product__img(src="assets/images/general/product-img-default-2.svg" alt="Product")
    img.product__logo(src="assets/images/content/product-logo-6.png" alt="Product Logo")
  .product__body
    .product__title #[a.product__title-link(href="#") Фильтр масляный Audi/VW mot.1Z/1Y/AAZ/ AEY/ AFN/AHU/ALE/CS/]
    ul.product__params
      li.product__param KOLBENSCHMIDT
      li.product__param TF53
    .product__price 115,98 #[span.product__currency MDL]
    .product__instock В наличии 69 шт.
  footer.product__footer
    a.product__add.btn.btn--main(href="#") Купить
    a.product__compare(href="#") 
      +icon('transfer', 'product__compare-icon')
      | Добавить к сравнению