.order-steps-wrap.text-center
  ul.order-steps
    li.order-steps__item.is-current
      +icon('shopping-cart', 'order-steps__icon')
      span.order-steps__title Корзина
    li.order-steps__item
      +icon('wallet-strong', 'order-steps__icon')
      span.order-steps__title Оплата
    li.order-steps__item
      +icon('lorry', 'order-steps__icon')
      span.order-steps__title Доставка
    li.order-steps__item
      +icon('confirmation', 'order-steps__icon')
      span.order-steps__title Завершение