.footer-collapse
  .footer-collapse__title Услуги
    +icon('chevron-down', 'footer-collapse__title-icon')
  .footer-collapse__body
    .footer-collapse_nav
      .footer-collapse__list
        .footer-collapse__item
          a(href="#").footer-collapse__link Подбор по VIN
        .footer-collapse__item
          a(href="#").footer-collapse__link Подбор по марке
        .footer-collapse__item
          a(href="#").footer-collapse__link Легковые авто
        .footer-collapse__item
          a(href="#").footer-collapse__link Подбор шин
        .footer-collapse__item
          a(href="#").footer-collapse__link Каталоги производителей
        .footer-collapse__item
          a(href="#").footer-collapse__link Eurogarage Service