.footer-collapse
  .footer-collapse__title О компании
    +icon('chevron-down', 'footer-collapse__title-icon')
  .footer-collapse__body
    .footer-collapse_nav
      .footer-collapse__list
        .footer-collapse__item
          a(href="#").footer-collapse__link О компании
        .footer-collapse__item
          a(href="#").footer-collapse__link GROUPAUTO Moldova
        .footer-collapse__item
          a(href="#").footer-collapse__link Учебный центр
        .footer-collapse__item
          a(href="#").footer-collapse__link Вакансии
        .footer-collapse__item
          a(href="#").footer-collapse__link Карьера
        .footer-collapse__item
          a(href="#").footer-collapse__link Контакты