.footer-collapse
  .footer-collapse__title Клиентам
    +icon('chevron-down', 'footer-collapse__title-icon')
  .footer-collapse__body
    .footer-collapse_nav
      .footer-collapse__list
        .footer-collapse__item
          a(href="#").footer-collapse__link Как купить?
        .footer-collapse__item
          a(href="#").footer-collapse__link Оплата и доставка
        .footer-collapse__item
          a(href="#").footer-collapse__link Гарантия и возврат товара
        .footer-collapse__item
          a(href="#").footer-collapse__link Поставщики 
        .footer-collapse__item
          a(href="#").footer-collapse__link Соглашение
        .footer-collapse__item
          a(href="#").footer-collapse__link Задать вопрос менеджеру