.accordeon

  .accordeon__heading Регистрация нового пользователя? #[span]
  .accordeon__pane
    .post
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading Вход зарегистрированного пользователя? #[span]
  .accordeon__pane
    .post
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading Запрос на представительство юридического лица? #[span]
  .accordeon__pane
    .post
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading.is-active Поиск товара? #[span]
  .accordeon__pane

    .accordeon__heading Поиск через каталог товаров? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading.is-active Поиск по каталожному номеру? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading Поиск товара, используя вкладку «Подбор по автомобилю»? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading Карточка товара? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading.is-active Работа с корзиной? #[span]
  .accordeon__pane
    .post
      p После того, как Вы выберите интересующие Вас товары и положите их в корзину, для дальнейшего оформления заказа Вам необходимо перейти в корзину. Для того чтобы перейти в корзину Вам следует либо кликнуть на пиктограмму корзины в правом верхнем углу, либо кликнуть на надпись #[strong &laquo;Корзина&raquo; (Рис.5.1)].

      figure.text-center
        img.img-responsive.img-shadow(src="assets/images/content/tanauto-screen-1.jpg" alt="")
        figcaption #[strong Рис.5.1]

      p В корзине отображена вся необходимая информация по товарам, которые Вы положили в нее: каталожный номер, наименование, производитель, цена за единицу, количество, сумма, срок доступности товара. #[strong (Рис.5.2)]

      figure.text-center
        img.img-responsive.img-shadow(src="assets/images/content/tanauto-screen-2.jpg" alt="")
        figcaption #[strong Рис.5.2]

      p Обратите внимание, что в корзине в графе «Кол-во» можно менять количество интересующего Вас товара. Кроме того, можно удалить лишний товар проставив напротив него галочку в последнем столбце и нажав кнопку «Удалить», расположенную в правом нижнем углу.

      p Для того чтобы сформировать заказ, проставьте галочку в последнем столбце напротив тех товаров, которые Вы хотите включить в заказ, удостоверьтесь в том, что указано верное количество товара, после чего нажмите кнопку «Сформировать заказ», расположенную в правом нижнем углу. #[strong (Рис.16)]
  
  .accordeon__heading Оформление заказа? #[span]
  .accordeon__pane

    .accordeon__heading Карточка заказа? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading Выбор типа оплаты? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading Оформление доставки? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading Резюме заказа? #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading Отслеживание заказов? #[span]
  .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

  .accordeon__heading.is-active Вкладка &laquo;Мой кабинет&raquo;? #[span]
  .accordeon__pane

    .accordeon__heading &laquo;Корзина&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Заказы&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Акт сверки&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Клиенты&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Личные данные&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;VIN запросы&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Личные данные&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
    .accordeon__heading &laquo;Мероприятия&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.

    .accordeon__heading &laquo;Акции&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
        
    .accordeon__heading &laquo;Онлайн-запись на СТО&raquo; #[span]
    .accordeon__pane
      .post
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.