form.add-address(method="POST" action="/" name="add-address")
  .row
    .col-12.col-md-4
      .add-address__field
        label.add-address__label(for="user-region") Область #[span *]
        select.js-select-default#user-region(name="user-region")
          option(value="user-reg-1") Алматинская область
          option(value="user-reg-2") Краснодарская область
          option(value="user-reg-3") Будапештская область
          option(value="user-reg-4") Билефильдская область
    .col-12.col-md-4
      .add-address__field
        label.add-address__label(for="user-city-location") Город #[span *]
        select.js-select-default#user-city-location(name="user-city-location")
          option(value="user-city-loc-1") г. Алматы
          option(value="user-city-loc-2") г. Краснодар
          option(value="user-city-loc-3") г. Будапешт
          option(value="user-city-loc-4") г. Билефильд
    .col-12.col-md-4
      .add-address__field
        label.add-address__label(for="user-district") Район #[span *]
        select.js-select-default#user-district(name="user-district")
          option(value="user-district-1") Алатауский район
          option(value="user-district-2") Краснодарский район
          option(value="user-district-3") Будапештский район
          option(value="user-district-4") Билефильдский район
    .col-12.col-md-4
      .add-address__field
        label.add-address__label(for="user-street") Улица #[span *]
        input.add-address__input(type="text" name="user-street" id="user-street")
    .col-6.col-md-2
      .add-address__field
        label.add-address__label(for="user-house") Дом #[span *]
        input.add-address__input(type="text" name="user-house" id="user-house")
    .col-6.col-md-2
      .add-address__field
        label.add-address__label(for="user-building") Строение
        input.add-address__input(type="text" name="user-building" id="user-building")
    .col-6.col-md-2
      .add-address__field
        label.add-address__label(for="user-box") Блок
        input.add-address__input(type="text" name="user-box" id="user-box")
    .col-6.col-md-2
      .add-address__field
        label.add-address__label(for="user-flat") Квартира
        input.add-address__input(type="text" name="user-flat" id="user-flat")
    .col-12.col-md-8
      .add-address__field
        textarea.add-address__msg(row="1" name="user-message" placeholder="Комментарий")
        .add-address__symb-left Осталось #[span.add-address__symb-left-amount 100]
    .col-12.col-md-4
      .text-center
        input.btn.btn--reverse(type="submit" name="send-data" value="Добавить адрес")