form.add-address.add-address--mob.d-md-none(method="POST" action="/" name="add-address")
  
  .payment-section__heading Добавление адреса

  .row
    .col-12
      .add-address__field
        label.add-address__label(for="user-region-2") Область #[span *]
        select.js-select-default#user-region-2(name="user-region")
          option(value="user-reg-1") Алматинская область
          option(value="user-reg-2") Краснодарская область
          option(value="user-reg-3") Будапештская область
          option(value="user-reg-4") Билефильдская область
    
    .col-12
      .add-address__field
        label.add-address__label(for="user-city-location-2") Город #[span *]
        select.js-select-default#user-city-location-2(name="user-city-location")
          option(value="user-city-loc-1") г. Алматы
          option(value="user-city-loc-2") г. Краснодар
          option(value="user-city-loc-3") г. Будапешт
          option(value="user-city-loc-4") г. Билефильд
  
    .col-12
      .add-address__field
        label.add-address__label(for="user-district-2") Район #[span *]
        select.js-select-default#user-district-2(name="user-district")
          option(value="user-district-1") Алатауский район
          option(value="user-district-2") Краснодарский район
          option(value="user-district-3") Будапештский район
          option(value="user-district-4") Билефильдский район

    .col-12
      .add-address__field
        label.add-address__label(for="user-street-2") Улица #[span *]
        input.add-address__input(type="text" name="user-street" id="user-street-2")

    .col-6
      .add-address__field
        label.add-address__label(for="user-house-2") Дом #[span *]
        input.add-address__input(type="text" name="user-house" id="user-house-2")
    .col-6
      .add-address__field
        label.add-address__label(for="user-building-2") Строение
        input.add-address__input(type="text" name="user-building" id="user-building-2")
    .col-6
      .add-address__field
        label.add-address__label(for="user-box-2") Блок
        input.add-address__input(type="text" name="user-box" id="user-box-2")
    .col-6
      .add-address__field
        label.add-address__label(for="user-flat-2") Квартира
        input.add-address__input(type="text" name="user-flat" id="user-flat-2")
    
    .col-12
      .add-address__field
        textarea.add-address__msg(row="1" name="user-message" placeholder="Комментарий")

    .col-12
      .text-center
        input.btn.btn--reverse(type="submit" name="send-data" value="Добавить адрес")