.product-added-modal(data-modal-win="add")

  .modal-win__title Товар добавлен в корзину

  .table-responsive
    table.table-added
      thead
        tr
          th(colspan="2") Наименование
          th К-во
          th Сумма
      tbody
        tr
          td
            a.table-added__img-wrap(href="#")
              img.table-added__img.img-responsive(src="assets/images/content/product-img-3.jpg" alt="Product Img")
          td
            div.table-added__title Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
          td #[strong x1]
          td 
            .table-added__price #[span.table-added__price-value 242,94] mdl
  
  .product-added-footer
    a.btn.btn--white(href="#") Продолжить покупки
    a.btn.btn--main(href="#") Перейти к корзине