.alert-notification
  .container-fluid
    +icon('information', 'alert-notification__info')
    .alert-notification__desc Сумма просроченной задолжности с мигающим эффектом!
    a.alert-notification__close(href="#")
      +icon('close', 'alert-notification__close-icon')