.logged-in

  .logged-in__user-data
    if(alertNotification)
      include ../components/alert-notification
    .logged-in__header
      .logged-in__user-data-avatar
        .logged-in__user-data-avatar-img-wrap
          img.logged-in__user-data-avatar-img(src="assets/images/general/avatar-default.png" alt="" width="35" height="35")
          .logged-in__user-data-avatar-notification 2
      .logged-in__user-data-info
        .logged-in__username Tanauto Username
        .logged-in__user-data-name Клиент: #[strong.logged-in__user-data-id 63275]
        span.logged-in__user-data-more Мой кабинет #[i.fas.fa-chevron-down]
    .logged-in__body
      .logged-in__choice
        select.js-select-autocomplete
          option(value="user-1") Luchincschi Alexan
          option(value="user-2") Alexan
          option(value="user-3") Luchincschi
      nav.logged-in__nav
        ul.logged-in__list
          li.category-nav__title.h3 Заказы и оплата
          li.logged-in__item
            a.logged-in__link.important(href="#") Акции
          li.logged-in__item
            a.logged-in__link(href="#") #[span (2)] Корзина
          li.logged-in__item
            a.logged-in__link(href="#") Заказы
          li.logged-in__item
            a.logged-in__link(href="#") Оплата
          li.category-nav__title.h3 Мой кабинет
          li.logged-in__item
            a.logged-in__link(href="#") Акт сверки
          li.logged-in__item
            a.logged-in__link(href="#") Клиенты
          li.logged-in__item
            a.logged-in__link(href="#") Профиль
          li.logged-in__item
            a.logged-in__link(href="#") VIN запросы
          li.logged-in__item
            a.logged-in__link(href="#") Мероприятия
          li.logged-in__item
            a.logged-in__link(href="#") Акции
          li.category-nav__title.h3 Инструменты
          li.logged-in__item
            a.logged-in__link(href="#") Управление пользователями
          li.logged-in__item
            a.logged-in__link(href="#") Регистрация пользователей
          li.logged-in__item
            a.logged-in__link(href="#") Статистика доступа
          li.logged-in__item
            a.logged-in__link(href="#") Контент групп
          li.logged-in__item
            a.logged-in__link(href="#") Управление сайтом
  
  .logged-in__basket
    a.logged-in__basket-main(href="#")
      +icon('shopping-cart-2', 'logged-in__basket-icon')
      span.logged-in__basket-count 99
  
  .logout-btn
    a.logout-btn__link(href="#")
      +icon('logout', 'logout-btn__icon')