.authorize

  ul.authorize__list
    li.authorize__item
      a(href="#").authorize__link.authorize__link--login #[+icon('login', 'authorize__icon')] Вход
    li.authorize__item
      a(href="#").authorize__link.authorize__link--register Регистрация

  .authorize__dropdown
    .authorize__dropdown-body
      include form-authorize

      .soc-heading Войти через соц. сети
      include soc-expanded

  .authorize__soc.d-none.d-md-block
    include soc-expanded