form.line-auth(action="/" name="auth" method="POST")
  .row
    .col-sm-5
      input(type="email" name="user-email" placeholder="Email")
    .col-sm-5
      input(type="password" name="user-password" placeholder="Пароль")
    .col-sm-2
      input.btn.btn--main(type="submit" name="send-data" value="Войти")
  .line-auth__helpers
    .line-auth__helpers-main
      .auth-form__checkbox.checkbox-label
        input.checkbox-label__input(type="checkbox" name="is-remember" id="remember")
        label.checkbox-label__main(for="remember") Запомнить
      a(href="#") Регистрация
    include soc-expanded