ul.breadcrumbs.breadcrumbs--no-gutters
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Главная
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Авторизация
  li.breadcrumbs__item Регистрация