form.callback-form
  
  .row
    .col-md-6
      .callback-form__field
        label(for="f1").callback-form__label Ваше имя #[span.callback-form__label-required *]
        input(id="f1" type="text" name="user-name").callback-form__input
    .col-md-6
      .callback-form__field
        label(for="f2").callback-form__label Обратный адрес или телефон #[span.callback-form__label-required *]
        input(id="f2" type="text" name="user-contacts").callback-form__input

  .callback-form__field
      label(for="f3").callback-form__label Ваш вопрос #[span.callback-form__label-required *]
      textarea(id="f3" rows="3" name="user-message").callback-form__textarea

  .callback-form__field
    input.callback-form__submit.btn.btn--main(type="submit" value="Отправить" name="send-data")