button.catalog-nav-toggle.btn.btn--main.d-md-none
  +icon('menu', 'catalog-nav-toggle__icon')
  | Каталог товаров
  +icon('chevron-down', 'catalog-nav-toggle__icon-arrow')

nav.main-nav
  ul.main-nav__point-container
    li.main-nav__point-item
      a(href="#").main-nav__point-link.btn.btn--main
        +icon('menu', 'main-nav__icon')
        | Каталог #[span товаров]
        +icon('chevron-down', 'main-nav__icon-arrow')
        div.main-nav__close-nav-wrap
            +icon('close', 'main-nav__close-nav')
      ul.main-nav__container
        li.main-nav__item
          a(href="#").main-nav__link Распродажа
        li.main-nav__item
          a(href="#").main-nav__link Автозапчасти
        li.main-nav__item
          a(href="#").main-nav__link Масла
            +icon('chevron-right', 'main-nav--icon')
          ul.main-nav__sub-container
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Моторное масло
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Трансмиссионная жидкость
                +icon('chevron-right', 'main-nav--icon')
              ul.main-nav__tertiary-container
                li.main-nav__tertiary-item
                  a(href="#").main-nav__tertiary-link Мелкая фасовка
                    +icon('chevron-right', 'main-nav--icon')
                  ul.main-nav__deep-list
                    li.main-nav__deep-item
                      a(href="#").main-nav__deep-link Четверый уровень вложенности
                    li.main-nav__deep-item
                      a(href="#").main-nav__deep-link Четверый уровень вложенности
                    li.main-nav__deep-item
                      a(href="#").main-nav__deep-link Четверый уровень вложенности
                    li.main-nav__deep-item
                      a(href="#").main-nav__deep-link Четверый уровень вложенности
                li.main-nav__tertiary-item
                  a(href="#").main-nav__tertiary-link Крупная фасовка
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Охлаждающая жидкость
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Автохимия
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Смазки узлов
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Прочие смазывающие жидкости
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Фильтра
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Автозапчасти
        li.main-nav__item
          a(href="#").main-nav__link Фильтра
            +icon('chevron-right', 'main-nav--icon')
          ul.main-nav__sub-container
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Моторное масло
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Трансмиссионная жидкость
                +icon('chevron-right', 'main-nav--icon')
              ul.main-nav__tertiary-container
                li.main-nav__tertiary-item
                  a(href="#").main-nav__tertiary-link Мелкая фасовка
                li.main-nav__tertiary-item
                  a(href="#").main-nav__tertiary-link Крупная фасовка
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Охлаждающая жидкость
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Автохимия
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Смазки узлов
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Прочие смазывающие жидкости
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Фильтра
            li.main-nav__sub-item
              a(href="#").main-nav__sub-link Автозапчасти
        li.main-nav__item
          a(href="#").main-nav__link Автозапчасти