.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link(href="#") Новости и новинки
    li.category-nav__item
      a.category-nav__link(href="#") Акции и предложения
    li.category-nav__item.active
      a.category-nav__link(href="#") Важные объявления
    li.category-nav__item
      a.category-nav__link(href="#") Мероприятия и фотоотчеты
    li.category-nav__item
      a.category-nav__link(href="#") Архив