.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item.active
      a.category-nav__link(href="#") Все
    li.category-nav__item
      a.category-nav__link(href="#") Охранник/контролер на склад
    li.category-nav__item
      a.category-nav__link(href="#") Автослесарь
    li.category-nav__item
      a.category-nav__link(href="#") Работник склада
    li.category-nav__item
      a.category-nav__link(href="#") Автоэлектрик-диагност
    li.category-nav__item
      a.category-nav__link(href="#") Менеджер по работе с клиентами
    li.category-nav__item
      a.category-nav__link(href="#") Программист MS SQL
    li.category-nav__item
      a.category-nav__link(href="#") Специалист по сходу-развалу автомобиля
    li.category-nav__item
      a.category-nav__link(href="#") Кассир
    li.category-nav__item
      a.category-nav__link(href="#") Водитель-экспедитор