.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link(href="#") Корзина
    li.category-nav__item.active
      a.category-nav__link(href="#") Заказы
    li.category-nav__item
      a.category-nav__link(href="#") Оплата
    li.category-nav__item
      a.category-nav__link(href="#") Акт сверки
    li.category-nav__item
      a.category-nav__link(href="#") Клиенты
    li.category-nav__item
      a.category-nav__link(href="#") Профиль
    li.category-nav__item
      a.category-nav__link(href="#") VIN запросы
    li.category-nav__item
      a.category-nav__link(href="#") Мероприятия
    li.category-nav__item
      a.category-nav__link(href="#") Акции
    li.category-nav__item
      a.category-nav__link(href="#") Управление пользователями
    li.category-nav__item
      a.category-nav__link(href="#") Регистрация пользователей
    li.category-nav__item
      a.category-nav__link(href="#") Статистика доступа
    li.category-nav__item
      a.category-nav__link(href="#") Контент групп
    li.category-nav__item
      a.category-nav__link(href="#") Управление сайтом
    li.category-nav__item
      a.category-nav__link(href="#") Загрузка прайса/кроссов