.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item.active
      a.category-nav__link(href="#") Каталоги производителей
    li.category-nav__item
      a.category-nav__link(href="#") Аккумуляторы
    li.category-nav__item
      a.category-nav__link(href="#") Газовые пружины
    li.category-nav__item
      a.category-nav__link(href="#") Кузов/Оптика
    li.category-nav__item
      a.category-nav__link(href="#") Мотор и сцепление
    li.category-nav__item
      a.category-nav__link(href="#") OEM Каталоги
    li.category-nav__item
      a.category-nav__link(href="#") Система охлаждения
    li.category-nav__item
      a.category-nav__link(href="#") Система очистки окон
    li.category-nav__item
      a.category-nav__link(href="#") Тормозная система
    li.category-nav__item
      a.category-nav__link(href="#") Фильтры и масла
    li.category-nav__item
      a.category-nav__link(href="#") Шины и диски
    li.category-nav__item
      a.category-nav__link(href="#") Электрика