.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link.important(href="#") Акции
    li.category-nav__item
      a.category-nav__link(href="#") О нас
    li.category-nav__item
      a.category-nav__link(href="#") История
    li.category-nav__item.active
      a.category-nav__link(href="#") Миссия и философия
    li.category-nav__item
      a.category-nav__link(href="#") Цели
    li.category-nav__item
      a.category-nav__link(href="#") Обязательства
    li.category-nav__item
      a.category-nav__link(href="#") Руководство
    li.category-nav__item
      a.category-nav__link(href="#") Сотрудничество