.category-nav.d-none.d-md-block
  
  .category-nav__title.h3 Категории
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link(href="#") Очистители инжекторов
    li.category-nav__item
      a.category-nav__link(href="#") Очистители карбюратора
    li.category-nav__item.active
      a.category-nav__link(href="#") Присадки к бензину
    li.category-nav__item
      a.category-nav__link(href="#") Очистители дизельных форсунок
    li.category-nav__item
      a.category-nav__link(href="#") Присадки к дизтопливу
    li.category-nav__item
      a.category-nav__link(href="#") Антигели и размораживатели для дизтоплива
    li.category-nav__item
      a.category-nav__link(href="#") Очистители расходомера воздуха