.category-nav.d-none.d-md-block
  
  ul.category-nav__list
    li.category-nav__item.active
      a.category-nav__link(href="#") Фильтр Топливный #[span (4)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр Масляный #[span (52)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр карбамидный, комплект #[span (2)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр для охлаждающей жидкости #[span (1)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр осушителя пневмосистемы #[span (12)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр Салонный #[span (8)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр Воздушный #[span (4)]
    li.category-nav__item
      a.category-nav__link(href="#") Фильтр АКПП #[span (17)]