.client-request
  form.client-request__form(action="/" method="POST" name="client-request")
    label.client-request__heading(for="code-request") Запрос на представительство
    .client-request__field
      input.client-request__input(type="text" name="user-code" id="code-request" placeholder="Код клиента")
    .client-request__submit
      input.client-request__btn.btn.btn--main(type="submit" value="Отправить запрос" name="send-data")