.company-history
  .company-history__title Основные вехи развития компании TANAUTO:
  .company-history__stage
    .company-history__stage-year 2005 год
    .company-history__stage-desc Основание компании;
  .company-history__stage
    .company-history__stage-year 2006 год
    .company-history__stage-desc Начало операционной деятельности;
  .company-history__stage
    .company-history__stage-year 2008 год
    .company-history__stage-desc Запуск сетевого концепта AUTO FIT;
  .company-history__stage
    .company-history__stage-year 2009 год
    .company-history__stage-desc Запуск сетевого концепта BOGE Service;
  .company-history__stage
    .company-history__stage-year 2010 год
    .company-history__stage-desc Запуск #[strong TANAUTO] Кузовное ателье;
  .company-history__stage
    .company-history__stage-year 2011 год
    .company-history__stage-desc Бизнес-форум AFTERMARKET 2011;
      ul
        li Запуск сетевого концепта #[a(href="#") TANAUTO Partner Service];
  .company-history__stage
    .company-history__stage-year 2012 год
    .company-history__stage-desc Запуск интернет-магазина;
      ul
       li Бизнес-форум AFTERMARKET 2012;
       li Ассортимент представляемых товаров пополнился шинами; 
       li Открытие филиала компании в Бельцах;
       li Открытие автотехцентра #[a(href="#") TANAUTO Service] в Алматы;
       li Открытие автотехцентра #[a(href="#") TANAUTO Service] в Нур-Султан;
  .company-history__stage
    .company-history__stage-year 2013 год
    .company-history__stage-desc Вступление в закупочный союз Groupauto International;
      ul
        li Ассортимент представляемых товаров пополнился элементами кузова; 
        li Открытие филиала компании и автотехцентра в Комрате;
  .company-history__stage
    .company-history__stage-year 2014 год
    .company-history__stage-desc Специализированная выставка TANAUTO Expo 2014;
      ul
        li Запуск сетевого концепта EUROGARAGE совместно с Groupauto;
        li Запуск сетевого концепта ProTech Service совместно с ZF Friedrichshafen AG;
        li Открытие второго автотехцентра #[a(href="#") TANAUTO Service] в Астане;
        li Открытие Учебного Центра #[strong TANAUTO];
  .company-history__stage
    .company-history__stage-year 2015 год
    .company-history__stage-desc Совместно с #[a(href="#") BOSCH] запуск сетевого концепта BOSCH Module;
      ul
        li Специализированная выставка #[strong TANAUTO] Expo 2015;
  .company-history__stage
    .company-history__stage-year 2016 год
    .company-history__stage-desc Бизнес-форум #[strong TANAUTO] Automotive Forum 2016;
      ul
        li Открытие третьего автотехцентра #[strong TANAUTO] Service в Астане;
        li Открытие специализированного грузового автосервиса #[strong TANAUTO] TOP TRUCK;
        li Специализированная выставка #[strong TANAUTO] Fest 2016