.compare.d-none.d-md-block

  .compare__heading.h3 К сравнению
    span / 3 товара
    +icon('transfer', 'compare__heading-icon')

  .compare__main

    .compare__item
      .compare__item-preview
        a.compare__item-img-wrap(href="#")
          img.compare__item-img.img-responsive(src="assets/images/content/product-img-1.jpg" alt="")
      .compare__item-desc
        .compare__item-header #[a(href="#") Фильтр осушителя пневмосистемы Mercedes DAF TRUCKS, MAN TRUCK, RENAULT TRUCKS, Volvo]
        .compare__item-price 45 300 #[span KZT]
      a.compare__item-close(href="#")
        +icon('close', 'compare__item-close-icon')

    .compare__item
      .compare__item-preview
        a.compare__item-img-wrap(href="#")
          img.compare__item-img.img-responsive(src="assets/images/general/no-photo.svg" alt="")
      .compare__item-desc
        .compare__item-header #[a(href="#") Фильтр осушителя пневмосистемы DAF TRUCKS New XF (XF106)]
        .compare__item-price 12 400 #[span KZT]
      a.compare__item-close(href="#")
        +icon('close', 'compare__item-close-icon')

    .compare__item
      .compare__item-preview
        a.compare__item-img-wrap(href="#")
          img.compare__item-img.img-responsive(src="assets/images/content/product-img-1.jpg" alt="")
      .compare__item-desc
        .compare__item-header #[a(href="#") Фильтр осушителя пневмосистемы Mercedes DAF TRUCKS, MAN TRUCK, RENAULT TRUCKS, Volvo]
        .compare__item-price 45 300 #[span KZT]
      a.compare__item-close(href="#")
        +icon('close', 'compare__item-close-icon')

    .compare__item
      .compare__item-preview
        a.compare__item-img-wrap(href="#")
          img.compare__item-img.img-responsive(src="assets/images/content/product-img-2.jpg" alt="")
      .compare__item-desc
        .compare__item-header #[a(href="#") Фильтр осушителя пневмосистемы DAF TRUCKS New XF (XF106)]
        .compare__item-price 12 400 #[span KZT]
      a.compare__item-close(href="#")
        +icon('close', 'compare__item-close-icon')

    .compare__item
      .compare__item-preview
        a.compare__item-img-wrap(href="#")
          img.compare__item-img.img-responsive(src="assets/images/content/product-img-4.jpg" alt="")
      .compare__item-desc
        .compare__item-header #[a(href="#") Фильтр осушителя пневмосистемы]
        .compare__item-price 1 400 #[span KZT]
      a.compare__item-close(href="#")
        +icon('close', 'compare__item-close-icon')

  .compare__footer

    .compare__btns

        a.compare__btn-accept.btn.btn--reverse(href="#") Сравнить
        a.compare__btn-reset.btn.btn--ghost(href="#") Очистить все