form.delivery-opt(name="delivery-control" action="/" method="POST")
  .row
    .col-md-4
      .delivery-opt__field
        label.delivery-opt__label(for="delivery-type") Тип доставки
        select.js-select-default#delivery-type(name="delivery-type")
          option(value="delivery-type-1") Доставка автотранспортом
          option(value="delivery-type-2") Самовывоз
    .col-md-5
      .delivery-opt__field
        label.delivery-opt__label Желаемая дата доставки
        .radio-labels
          .radio-label
            input.radio-label__input(type="radio" name="delivery-date" value="delivery-date-1" checked id="dlv-opt-1")
            label.radio-label__main(for="dlv-opt-1") 07 ноября
          .radio-label
            input.radio-label__input(type="radio" name="delivery-date" value="delivery-date-2" id="dlv-opt-2")
            label.radio-label__main(for="dlv-opt-2") 08 ноября
          .radio-label
            input.radio-label__input(type="radio" name="delivery-date" value="delivery-date-3" id="dlv-opt-3")
            label.radio-label__main(for="dlv-opt-3") 09 ноября
    .col-md-3.align-self-end
      input.btn.btn--main(type="submit" name="send-data" value="Добавить адрес")