.disclaimer
  .container-fluid
    .disclaimer__title Для чего нужен шинный калькулятор:
    p.disclaimer__desc С помощью шинного калькулятора вы легко можете посчитать как изменятся: внешние размеры колеса, высота дорожного просвета (клиренс), показания спидометра и другие характеристики, при установке шин с другим типоразмером на ваш автомобиль. Все размеры шин калькулятор рассчитывает в миллиметрах, а скорость автомобиля в км/ч. Также вы можете рассчитать необходимую ширину диска для определенного размера шины.
    p.disclaimer__desc Высота профиля шины (на рисунке обозначена буквой "B") рассчитывается исходя из значения профиля шины и ширины покрышки (в типоразмере профиль шины это вторая цифра, который указывается в процентах от ширины автошины).
    p.disclaimer__desc Мы рекомендуем вам устанавливать только заводские типоразмеры шин, которые указаны в инструкции по эксплуатации для вашей машины. Установка нестандартных типоразмеров может привести к снятию гарантийных обязательств у дилера, а также к ухудшению характеристик и управляемости автомобиля.