.email-notification
  .email-notification__info
    p.email-notification__desc Текст данной формы был выслан на Ваш e-mail, указанный при регистрации.
    small.email-notification__detail Заказ сформировал: Webmall Администратор (root@webmall.md)
  a.email-notification__btn.btn.btn--main(href="#") К списку заказов