// filter
.filter

  .filter__heading 
    span.filter__heading-text.d-md-none Категории
    button.filter__close.d-md-none
      +icon('close', 'filter__close-icon')

  .filter__main
    
    .filter__auto-categories
      include tree-nav-2
// /filter