address.footer-contacts-lines
  .footer-contacts-line
    +icon('phone-call', 'footer-contacts-line__icon')
    .footer-contacts-line__title Телефон отдела продаж:
    .footer-contacts-line__info #[a(href="tel:7333").footer-contacts-line__info-link 7333] – с 9:00 до 18:00
  .footer-contacts-line
    +icon('email', 'footer-contacts-line__icon')
    .footer-contacts-line__title Технический консультант:
    .footer-contacts-line__info #[a(href="mailto:tanauto@tanauto.kz").footer-contacts-line__info-link tanauto@tanauto.kz]