form.auth-form(method="POST" action="/" name="auth-form")

  .auth-form__field
    input.auth-form__input(type="email" name="user-email" placeholder="E-mail")

  .auth-form__field
    input.auth-form__input(type="password" name="user-password" placeholder="Пароль")
  
  .auth-form__field
    .auth-form__checkbox.checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-remember" id="remember")
      label.checkbox-label__main(for="remember") Запомнить

    input.auth-form__btn.btn.btn--main(name="send-data" type="submit" value="Войти")