.tiny-contacts
  a.tiny-contacts__wrap(href="tel:7333")
    +icon('phone-call', 'tiny-contacts__icon')
    span.tiny-contacts__phone 7333
  .tiny-contacts__weekdays Отдел продаж
    .tiny-contacts__working-hours с 9:00 до 18:00