.header-contacts
  +icon('phone-call', 'header-contacts__icon')
  .header-contacts-phones
    .header-contacts-phone
      a.header-contacts__tel(href="tel:380981029377") (+380) 98 102 93 77
    .header-contacts-phone
      a.header-contacts__tel(href="tel:380634743201") (+380) 63 474 32 01
  ul.header-contacts__timetable
    li.header-contacts__timetable-info ПН-ПТ: с 9-00 до 18-00
    li.header-contacts__timetable-info СБ: с 9-00 до 14-00
    li.header-contacts__timetable-info Вс: выходной