div.logo
  span.logo__wrap
    img.logo__img.img-responsive(src="assets/images/general/logo-tanauto.png" alt="Tanauto" width="210" height="60")

mixin logo(inner)
  div.logo
    if(inner)
      span.logo__wrap
        img.logo__img.img-responsive(src="assets/images/general/logo-tanauto.png" alt="Tanauto" width="210" height="60")
    else
      a.logo__wrap(href="/")
        img.logo__img.img-responsive(src="assets/images/general/logo-tanauto.png" alt="Tanauto" width="210" height="60")