form.main-form(method="POST" action="/" name="auth-form")
  .main-form__field
    label.main-form__label(for="user-email") Ваш E-mail:
    input.main-form__input(type="email" name="user-email" id="user-email")
  .main-form__field
    label.main-form__label(for="user-psw") Пароль #[span *]:
    input.main-form__input(type="password" name="user-psw" id="user-psw")
  .main-form__field.main-form__field--flex
    .main-form__checkbox.checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-remember" id="remember-psw")
      label.checkbox-label__main(for="remember-psw") Запомнить
    a.main-form__recover-psw(href="#") Забыли пароль
  .main-form__footer.text-center
    input.main-form__btn.btn.btn--main.btn--upper(type="submit" value="Войти")