form.main-form(method="POST" action="/" name="auth-form")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-name-2") Ваше имя #[span *]:
        input.main-form__input(type="name" name="user-name" id="user-name-2")
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-lastname-2") Фамилия #[span *]:
        input.main-form__input(type="text" lastname="user-lastname" id="user-lastname-2")
  .main-form__field
    label.main-form__label(for="user-email-2") Email (используется как логин) #[span *]:
    input.main-form__input(type="email" name="user-email" id="user-email-2")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-password-2") Пароль #[span *]:
        input.main-form__input(type="password" name="user-password" id="user-password-2")
    .col-sm-6
      .main-form__field.error
        label.main-form__label(for="user-password-verify-2") Пароль еще раз #[span *]:
        input.main-form__input(type="password" name="user-password-verify" id="user-password-verify-2")
        small.error__desc Пароли не совпадают
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-mob-phone-2") Телефон мобильный #[span *]:
        input.main-form__input(type="tel" name="user-mob-phone" id="user-mob-phone-2" placeholder="+727")
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-phone-2") Телефон стационарный:
        input.main-form__input(type="tel" name="user-phone" id="user-phone-2" placeholder="+727")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-location-2") Регион #[span *]:
        select.js-select-default(name="user-location" id="user-location-2")
          option(value="opt-1") Алматы
          option(value="opt-2") Нур-Султан
          option(value="opt-3") Алматы
          option(value="opt-4") Нур-Султан
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-city-2") Город:
        input.main-form__input(type="text" name="user-city" id="user-city-2")

.main-form__footer
  .main-form__field
    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-privacy" id="privacy-2")
      label.checkbox-label__main(for="privacy-2") Я ознакомлен и принимаю условия пользовательского соглашения, договора публичной оферты и регламента гарантии / #[a(href="#") Подробнее]

  .main-form__field
    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-subscribe" id="subscribe-2" checked)
      label.checkbox-label__main(for="subscribe-2") Подписаться на информацию о новинках, предложениях и акциях

  .main-form__field.main-form__field--flex
    span Каптча
    input.main-form__btn.btn.btn--main(name="send-data" value="Зарегистрироваться")