form.main-form(method="POST" action="/" name="auth-form")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-name") Ваше имя #[span *]:
        input.main-form__input(type="name" name="user-name" id="user-name")
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-lastname") Фамилия #[span *]:
        input.main-form__input(type="text" lastname="user-lastname" id="user-lastname")

  .row
    .col-sm-6
      .main-form__field
        .radio-label
          input.radio-label__input(type="radio" name="user-role" value="user-role-1" id="u-rl-1")
          label.radio-label__main(for="u-rl-1") Я физическое лицо
    .col-sm-6
      .main-form__field
        .radio-label
          input.radio-label__input(type="radio" name="user-role" checked value="user-role-2" id="u-rl-2")
          label.radio-label__main(for="u-rl-2") Я юридическое лицо

  .extra-fields
    .row
      .col-sm-6
        .main-form__field
          label.main-form__label(for="company-name") Юридическое название компании #[span *]:
          input.main-form__input(type="text" name="company-name" id="company-name")
      .col-sm-6
        .main-form__field
          label.main-form__label(for="u-code-id") BIN / INN #[span *]:
          input.main-form__input(type="text" name="u-code-id" id="u-code-id")
    .row
      .col-sm-6
        .main-form__field
          label.main-form__label(for="u-bill") Расчетный счет:
          input.main-form__input(type="text" name="u-bill" id="u-bill")
      .col-sm-6
        .main-form__field
          label.main-form__label(for="u-bank-id") Код банка:
          input.main-form__input(type="text" name="u-bank-id" id="u-bank-id")
    .main-form__field
      label.main-form__label(for="u-company-address") Юридический адрес:
      input.main-form__input(type="text" name="u-company-address" id="u-company-address")

  .main-form__field
    label.main-form__label(for="user-email") Email (используется как логин) #[span *]:
    input.main-form__input(type="email" name="user-email" id="user-email")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-password") Пароль #[span *]:
        input.main-form__input(type="password" name="user-password" id="user-password")
    .col-sm-6
      .main-form__field.error
        label.main-form__label(for="user-password-verify") Пароль еще раз #[span *]:
        input.main-form__input(type="password" name="user-password-verify" id="user-password-verify")
        small.error__desc Пароли не совпадают
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-mob-phone") Телефон мобильный #[span *]:
        input.main-form__input(type="tel" name="user-mob-phone" id="user-mob-phone" placeholder="+727")
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-phone") Телефон стационарный:
        input.main-form__input(type="tel" name="user-phone" id="user-phone" placeholder="+727")
  .row
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-location") Регион #[span *]:
        select.js-select-default(name="user-location" id="user-location")
          option(value="opt-1") Алматы
          option(value="opt-2") Нур-Султан
          option(value="opt-3") Алматы
          option(value="opt-4") Нур-Султан
    .col-sm-6
      .main-form__field
        label.main-form__label(for="user-city") Город:
        input.main-form__input(type="text" name="user-city" id="user-city")

.main-form__footer
  .main-form__field
    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-privacy" id="privacy")
      label.checkbox-label__main(for="privacy") Я ознакомлен и принимаю условия пользовательского соглашения, договора публичной оферты и регламента гарантии / #[a(href="#") Подробнее]

  .main-form__field
    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-subscribe" id="subscribe" checked)
      label.checkbox-label__main(for="subscribe") Подписаться на информацию о новинках, предложениях и акциях

  .main-form__field.main-form__field--flex
    span Каптча
    input.main-form__btn.btn.btn--main(name="send-data" value="Зарегистрироваться")