.main-carousel
  
  .swiper-container.main-carousel__container.js-main-carousel
    .swiper-wrapper

      .swiper-slide
        figure.main-carousel__slide
          img.main-carousel__img(src="https://tanauto.kz/ShowImage.ashx?InstanceId=22553&FieldId=1835&Language=0&IndexId=0" alt="")

      .swiper-slide
        figure.main-carousel__slide
          img.main-carousel__img(src="https://tanauto.kz/ShowImage.ashx?InstanceId=22555&FieldId=1835&Language=0&IndexId=0" alt="")

      .swiper-slide
        figure.main-carousel__slide
          img.main-carousel__img(src="https://tanauto.kz/ShowImage.ashx?InstanceId=22559&FieldId=1835&Language=0&IndexId=0" alt="")

      .swiper-slide
        figure.main-carousel__slide
          img.main-carousel__img(src="https://tanauto.kz/ShowImage.ashx?InstanceId=23570&FieldId=1835&Language=0&IndexId=0" alt="")

    .main-carousel__pagination

    .main-carousel__prev
      +icon('arrow-left', 'main-carousel__move-icon')
    .main-carousel__next
      +icon('arrow-right', 'main-carousel__move-icon')