.manual-params
  dl.manual-params__param
    dt.manual-params__value Класс вискозности SAE
    dd.manual-params__property 0W20
  dl.manual-params__param
    dt.manual-params__value Объем [л]
    dd.manual-params__property 60
  dl.manual-params__param.manual-params__param--section
    dt.manual-params__value #[b Спецификация]
    dd.manual-params__property API SN
  dl.manual-params__param
    dt.manual-params__value Тип контейнера 
    dd.manual-params__property Barrel
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла 
    dd.manual-params__property Chrysler MS-6395
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла 
    dd.manual-params__property Daihatsu
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Ford WSS-M2C 946-A
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property GM 6094 M
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Honda
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Hyundai
  dl.manual-params__param.manual-params__param--section
    dt.manual-params__value #[b Спецификация]
    dd.manual-params__property ILSAC GF-5
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Isuzu
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Kia
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Mazda
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Mitsubishi Dia Queen
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Nissan
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Subaru
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Suzuki
  dl.manual-params__param
    dt.manual-params__value Рекомендации производителя масла
    dd.manual-params__property Toyota
  dl.manual-params__param
    dt.manual-params__value Тип контейнера
    dd.manual-params__property Бочка