//- .modal-win(data-modal-win="callback-modal")
//-   .modal-win__body
    
//-     button.modal-win__close
//-       +icon('close', 'modal-win__close-icon')

.callback-form-modal(data-modal-win="callback-modal")

  .main-heading
    .main-heading__text Задать вопрос менеджеру
  
  //- .modal-win__title Задать вопрос менеджеру

  include callback-form