.notification.notification--gray
  +icon('information', 'notification__icon')
  .notification__body
    .notification__desc Введите сначала типоразмер установленный на вашем автомобиле, а затем тот, который вы хотите установить и нажмите &laquo;рассчитать&raquo;. В таблице снизу будут показаны результаты расчетов калькулятора.