.notification
  +icon('information', 'notification__icon')
  .notification__body
    .notification__title Внимание!!!
    .notification__desc Убедительная просьба в течение 3-х дней с момента получения товара проверять наличие и внешнее состояние (целостность, деформация и т.д.) По истечению 3-х дней с момента получения товара претензии по внешнему виду и состоянию товара не принимаются! Возврат товара осуществляется в течении 14 рабочих дней, при условии сохранения товарного вида (не распространяется на заказные позиции). Техническая неисправность товара оформляется Актом Рекламации с момента обнаружения дефекта!