.order-footer.d-none.d-md-flex
  a.btn.btn--reverse(href="#") Назад
  textarea.order-footer__message(placeholder="Комментарий к заказу" rows="1" name="order-message")
  .footer-summary-price
    .footer-summary-price__title Сумма к оплате
    .footer-summary-price__value 2 297 #[span KZT]
  a.btn.btn--main(href="#") Перейти к оплате
    i.fas.fa-chevron-circle-right
    //-span.btn__more-icon-wrap
      //-+icon('chevron-right', 'btn__more-icon')

.order-mob-footer.d-md-none
  footer.order-mob-footer__main
    p.order-mob-footer__payment Сумма к оплате
    div.order-mob-footer__total-price #[span.order-mob-footer__total-price-value 2 297] KZT
    textarea.order-mob-footer__message(placeholder="Комментарий к заказу" rows="2" name="order-message")
  .order-mob-footer__controls
    .row
      .col-4
        a.btn.btn--reverse(href="#") Назад
      .col-8
        a.btn.btn--main(href="#") Перейти к оплате
          i.fas.fa-chevron-circle-right
          //- span.btn__more-icon-wrap
            //- +icon('chevron-right', 'btn__more-icon')