figure.order-success
  img.order-success__img.img-responsive(src="assets/images/general/order-success.svg" alt="Order Success" width="90" height="90")
  figcaption.order-success__figcaption
    .order-success__heading Благодарим за покупку
    p.order-success__desc Ваш заказ #[a(href="#") №00000154705@19] был принят нами, и в ближайшее время Вы его получите.
    p.order-success__desc Если у Вас возникли вопросы по заказу, обратитесь в отдел продаж:
    a.tiny-contacts__wrap(href="tel:7333")
      +icon('phone-call', 'tiny-contacts__icon')
      span.tiny-contacts__phone 7333