.orders-list

  header.orders-list__header
    .orders-list__heading Детали заказа
      span.orders-list__date 24 октября 2019

  .table-responsive.d-none.d-md-block
    table.orders-list__table
      thead.orders-list__thead
        tr.orders-list__tr
          th.orders-list__th Номер
          th.orders-list__th Наименование
          th.orders-list__th Цена за ед.
          th.orders-list__th К-во
          th.orders-list__th Сумма KZT
          th.orders-list__th Склад
      tbody.orders-list__tbody
        tr.orders-list__tr
          td.orders-list__td #[a.orders-list__order-number(href="#") 00000157556@19]
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td #[a.orders-list__order-number(href="#") 00000157556@19]
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td #[a.orders-list__order-number(href="#") 00000157556@19]
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td #[a.orders-list__order-number(href="#") 00000157556@19]
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
      tfoot.orders-list__tfoot
        tr.orders-list__tr
          td.orders-list__td(colspan="3") 
            .orders-list__tfoot-desc Информацию о состоянии Вашего заказа вы сможете узнавать на странице #[a(href="#") Мой кабинет] во вкладке #[a(href="#") Заказы].
          td.orders-list__td(colspan="3") 
            div.orders-list__total-price Сумма заказа: #[span.orders-list__total-price-value 2 297] #[span.orders-list__total-price-currency KZT]

  .orders-list__mob.d-md-none
    header.orders-list__mob-header
      .orders-list__mob-heading Номер
      .orders-list__mob-heading Сумма KZT
    
    .orders-list__mob-order.is-opened
      .orders-list__mob-side
        a.orders-list__mob-order-number(href="#") 00000157556@19
        span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]
    
    .orders-list__mob-order
      .orders-list__mob-side
        a.orders-list__mob-order-number(href="#") 00000157556@19
        span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]
    
    .orders-list__mob-order
      .orders-list__mob-side
        a.orders-list__mob-order-number(href="#") 00000157556@19
        span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]

    footer.orders-list__mob-footer
      p.orders-list__mob-summary Сумма заказа
      div.orders-list__mob-total-price #[span.orders-list__mob-total 2 297] KZT
      p.orders-list__mob-desc Информацию о состоянии Вашего заказа вы сможете узнавать на странице #[a(href="#") Мой кабинет] во вкладке #[a(href="#") Заказы].


  .manual-params.manual-params--bigger
    dl.manual-params__param
      dt.manual-params__value Отсрочка платежа, дней
      dd.manual-params__property 30 дней
    dl.manual-params__param
      dt.manual-params__value Безналичный
      dd.manual-params__property Форма оплаты
    dl.manual-params__param
      dt.manual-params__value Тип доставки
      dd.manual-params__property Доставка автотранспортом
    dl.manual-params__param
      dt.manual-params__value Адрес доставки
      dd.manual-params__property Республика Казахстан, Алматы, ул.Толеби, дом № 94/10
    dl.manual-params__param
      dt.manual-params__value Комментарий
      dd.manual-params__property Привезите пж в офис