.table-responsive.d-none.d-md-block
  table.orders-table
    thead.orders-table__thead
      tr.orders-table__tr
        th.orders-table__th Номер / Дата
        th.orders-table__th Склад отгрузки
        th.orders-table__th Сумма KZT
        th.orders-table__th(colspan="4") Статусы / Доставка
    tbody.orders-table__tbody
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 24 октября 2019
        td.orders-table__td
          .orders-table__stock-heading Склад Уценненого товар
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 1 278,48
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--send Отправлен
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        td.orders-table__td
          .orders-table__delivery-location в Алматы
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--instock На складе
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--warning Нет оплаты
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 24 октября 2019
        td.orders-table__td
          .orders-table__stock-heading Склад Уценненого товар
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 1 278,48
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--draft Черновик
        td.orders-table__td
        td.orders-table__td
          .orders-table__delivery-location в Алматы
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--delivered Получен
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--warning Нет оплаты
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 24 октября 2019
        td.orders-table__td
          .orders-table__stock-heading Склад Уценненого товар
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 1 278,48
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--process В работе
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        td.orders-table__td
          .orders-table__delivery-location в Алматы
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--unload На отгрузке
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 24 октября 2019
        td.orders-table__td
          .orders-table__stock-heading Склад Уценненого товар
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 1 278,48
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--abandon Отменен
        td.orders-table__td
        td.orders-table__td
          .orders-table__delivery-location в Алматы
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--delivered Получен
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--warning Нет оплаты
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--delivered Получен
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')
      tr.orders-table__tr
        td.orders-table__td
          a.orders-table__order-id(href="#") 00000157556@19
          span.orders-table__order-date 01 ноября 2019
        td.orders-table__td
          .orders-table__stock-heading Группа Алматы
          .orders-table__stock-location г.Алматы
        td.orders-table__td
          strong.orders-table__order-price 2 297,00
        td.orders-table__td
          span.orders-table__delivery-status.orders-table__delivery-status--delivered Получен
        td.orders-table__td
          span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        td.orders-table__td
          .orders-table__delivery-location в Нур-Султан
          a.orders-table__delivery-more(href="#") Инфо
        td.orders-table__td
          a.orders-table__basket(href="#")
            +icon('dolly', 'orders-table__basket-icon')
          a.orders-table__remove(href="#")
            +icon('close', 'orders-table__remove-icon')

.orders-mob.d-md-none
  
  .orders-mob__heading Номер / Дата

  .orders-mob__order.is-opened
    .orders-mob__order-header
      button.orders-mob__order-body-toggle
      .orders-mob__order-detail
        a.orders-mob__order-id(href="#") 00000157556@19
        time.orders-mob__order-date(datetime="20019-10-24") 24 октября 2019
      .orders-mob__order-controls
        a.orders-table__basket(href="#")
          +icon('dolly', 'orders-table__basket-icon')
        a.orders-table__remove(href="#")
          +icon('close', 'orders-table__remove-icon')

    .orders-mob__order-body
      dl.orders-mob__params
        .orders-mob__param
          dt.orders-mob__param-term Склад отгрузки
          dd.orders-mob__param-definition Склад Уценненого товар г.Алматы
        .orders-mob__param
          dt.orders-mob__param-term Сумма KZT
          dd.orders-mob__param-definition 1 278,48
        .orders-mob__param
          dt.orders-mob__param-term Статусы
          dd.orders-mob__param-definition
            div.orders-mob__statuses
              span.orders-table__delivery-status.orders-table__delivery-status--send Отправлен
              span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        .orders-mob__param
          dt.orders-mob__param-term Доставка
          dd.orders-mob__param-definition Республика Казахстан, Алматы, ул.Толеби, дом № 94/10

  .orders-mob__order
    .orders-mob__order-header
      button.orders-mob__order-body-toggle
      .orders-mob__order-detail
        a.orders-mob__order-id(href="#") 00000157556@19
        time.orders-mob__order-date(datetime="20019-10-24") 24 октября 2019
      .orders-mob__order-controls
        a.orders-table__basket(href="#")
          +icon('dolly', 'orders-table__basket-icon')
        a.orders-table__remove(href="#")
          +icon('close', 'orders-table__remove-icon')

    .orders-mob__order-body
      dl.orders-mob__params
        .orders-mob__param
          dt.orders-mob__param-term Склад отгрузки
          dd.orders-mob__param-definition Склад Уценненого товар г.Алматы
        .orders-mob__param
          dt.orders-mob__param-term Сумма KZT
          dd.orders-mob__param-definition 1 278,48
        .orders-mob__param
          dt.orders-mob__param-term Статусы
          dd.orders-mob__param-definition
            div.orders-mob__statuses
              span.orders-table__delivery-status.orders-table__delivery-status--unload Отправлен
              span.orders-table__payment-status.orders-table__payment-status--warning Не оплачен
        .orders-mob__param
          dt.orders-mob__param-term Доставка
          dd.orders-mob__param-definition Республика Казахстан, Алматы, ул.Толеби, дом № 94/10

  .orders-mob__order
    .orders-mob__order-header
      button.orders-mob__order-body-toggle
      .orders-mob__order-detail
        a.orders-mob__order-id(href="#") 00000157556@19
        time.orders-mob__order-date(datetime="20019-10-24") 24 октября 2019
      .orders-mob__order-controls
        a.orders-table__basket(href="#")
          +icon('dolly', 'orders-table__basket-icon')
        a.orders-table__remove(href="#")
          +icon('close', 'orders-table__remove-icon')
          
    .orders-mob__order-body
      dl.orders-mob__params
        .orders-mob__param
          dt.orders-mob__param-term Склад отгрузки
          dd.orders-mob__param-definition Склад Уценненого товар г.Алматы
        .orders-mob__param
          dt.orders-mob__param-term Сумма KZT
          dd.orders-mob__param-definition 1 278,48
        .orders-mob__param
          dt.orders-mob__param-term Статусы
          dd.orders-mob__param-definition
            div.orders-mob__statuses
              span.orders-table__delivery-status.orders-table__delivery-status--abandon Отправлен
              span.orders-table__payment-status.orders-table__payment-status--success Оплачен
        .orders-mob__param
          dt.orders-mob__param-term Доставка
          dd.orders-mob__param-definition Республика Казахстан, Алматы, ул.Толеби, дом № 94/10