.orders-list

  header.orders-list__header
    .orders-list__heading Детали заказа

  .table-responsive.d-none.d-md-block
    table.orders-list__table
      thead.orders-list__thead
        tr.orders-list__tr
          th.orders-list__th
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-opt-1" id="opt-1")
              label.checkbox-label__main(for="opt-1")
            | Номер
          th.orders-list__th Наименование
          th.orders-list__th Цена за ед.
          th.orders-list__th К-во
          th.orders-list__th Сумма KZT
          th.orders-list__th Склад
      tbody.orders-list__tbody
        tr.orders-list__tr
          td.orders-list__td 
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-opt-2" id="opt-2")
              label.checkbox-label__main(for="opt-2")
            a.orders-list__order-number(href="#") 00000157556@19
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span.orders-list__total-price-currency 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-opt-3" id="opt-3")
              label.checkbox-label__main(for="opt-3")
            a.orders-list__order-number(href="#") 00000157556@19
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span.orders-list__total-price-currency 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td 
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-opt-4" id="opt-4")
              label.checkbox-label__main(for="opt-4")
            a.orders-list__order-number(href="#") 00000157556@19
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span.orders-list__total-price-currency 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
        tr.orders-list__tr
          td.orders-list__td 
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-opt-5" id="opt-5")
              label.checkbox-label__main(for="opt-5")
            a.orders-list__order-number(href="#") 00000157556@19
          td.orders-list__td
            .orders-list__product-brand Бренд: #[a(href="#") ARECA]
            .orders-list__product-heading #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          td.orders-list__td
            span.orders-list__price 2 297,00
          td.orders-list__td
            span.orders-list__amount 1 шт.
          td.orders-list__td
            .orders-list__total-price 2 297,#[span.orders-list__total-price-currency 00]
          td.orders-list__td
            span.orders-list__stock Орбита" г. Караганда
      tfoot.orders-list__tfoot.orders-list__tfoot--white
        tr.orders-list__tr
          td.orders-list__td(colspan="6")
            .orders-list__footer-summary
              a.btn.btn--reverse(href="#") Удалить
              textarea.orders-list__control-message(placeholder="Комментарий к заказу" rows="1" name="order-message")
              .footer-summary-price
                .footer-summary-price__title Сумма к оплате
                .footer-summary-price__value 2 297 #[span KZT]
              a.btn.btn--main(href="#") Перейти к оплате
                i.fas.fa-chevron-circle-right
                //-span.btn__more-icon-wrap
                  //-+icon('chevron-right', 'btn__more-icon')

  .orders-list__mob.d-md-none
    header.orders-list__mob-header
      .orders-list__mob-heading 
        .checkbox-label
          input.checkbox-label__input(type="checkbox" name="is-opt-6" id="opt-6")
          label.checkbox-label__main(for="opt-6")
        | Номер
      .orders-list__mob-heading Сумма KZT
    
    .orders-list__mob-order.is-opened
      .orders-list__mob-side
        .checkbox-label
          input.checkbox-label__input(type="checkbox" name="is-opt-7" id="opt-7")
          label.checkbox-label__main(for="opt-7")
        .orders-list__mob-order-number-wrap
          a.orders-list__mob-order-number(href="#") 00000157556@19
          span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]
    
    .orders-list__mob-order
      .orders-list__mob-side
        .checkbox-label
          input.checkbox-label__input(type="checkbox" name="is-opt-8" id="opt-8")
          label.checkbox-label__main(for="opt-8")
        .orders-list__mob-order-number-wrap
          a.orders-list__mob-order-number(href="#") 00000157556@19
          span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]
    
    .orders-list__mob-order
      .orders-list__mob-side
        .checkbox-label
          input.checkbox-label__input(type="checkbox" name="is-opt-9" id="opt-9")
          label.checkbox-label__main(for="opt-9")
        .orders-list__mob-order-number-wrap
          a.orders-list__mob-order-number(href="#") 00000157556@19
          span.orders-list__mob-order-date 24 октября 2019
      .orders-list__mob-side
        .orders-list__mob-price #[span 2 297],00
        button.orders-list__mob-toggle
          +icon('chevron-down', 'orders-list__mob-toggle-icon')
      .orders-list__mob-more
        dl.orders-mob__params
          .orders-mob__param
            dt.orders-mob__param-term Название
            dd.orders-mob__param-definition #[a(href="#") ARECA F4000 5W40 SN 8x1L]
          .orders-mob__param
            dt.orders-mob__param-term Склад
            dd.orders-mob__param-definition Орбита" г. Караганда
          .orders-mob__param
            dt.orders-mob__param-term Бренд 
            dd.orders-mob__param-definition #[a(href="#") ARECA]

    footer.orders-list__mob-footer
      p.orders-list__mob-summary-payment Сумма к оплате
      div.orders-list__mob-total-price #[span.orders-list__mob-total 2 297] KZT
      textarea.orders-list__mob-message(placeholder="Комментарий к заказу" rows="2" name="order-message")
    .orders-list__mob-controls
      .row
        .col-4
          a.btn.btn--reverse(href="#") Удалить
        .col-8
          a.btn.btn--main(href="#") Перейти к оплате
            i.fas.fa-chevron-circle-right
            //-span.btn__more-icon-wrap
              //-+icon('chevron-right', 'btn__more-icon')

  .manual-params.manual-params--bigger
    dl.manual-params__param
      dt.manual-params__value Склад отгрузки
      dd.manual-params__property Группа Алматы
    dl.manual-params__param
      dt.manual-params__value Заказ доступен с
      dd.manual-params__property 06 Ноября 2019 / 14:11
    dl.manual-params__param
      dt.manual-params__value Отсрочка платежа, дней
      dd.manual-params__property 30 дней
    dl.manual-params__param
      dt.manual-params__value Форма оплаты
      dd.manual-params__property Безналичный
    dl.manual-params__param
      dt.manual-params__value Тип доставки
      dd.manual-params__property Доставка автотранспортом
    dl.manual-params__param
      dt.manual-params__value Адрес доставки
      dd.manual-params__property Республика Казахстан, Алматы, ул.Толеби, дом № 94/10
    dl.manual-params__param
      dt.manual-params__value Комментарий
      dd.manual-params__property Привезите пж в офис