// orders-filter
.orders-filter

  .orders-filter__heading.d-md-none Фильтр пользователей
    button.orders-filter__close.d-md-none
      +icon('close', 'orders-filter__close-icon')

  form.orders-filter__main(action="/" method="POST" name="orders-filter")

    .row.align-items-center
      .col-md-4

        input.orders-filter__control(type="text" placeholder="Фамилия" name="user-lastname")

      .col-md-4

        input.orders-filter__control(type="text" placeholder="Имя" name="user-name")

      .col-md-4

        input.orders-filter__control(type="text" placeholder="Отчество" name="user-surname")

      .col-md-4

        input.orders-filter__control(type="text" placeholder="Логин" name="user-login")

      .col-md-4

        input.orders-filter__control(type="text" placeholder="Дата рождения" name="user-birthday")

      .col-md-4

        input.orders-filter__control(type="text" placeholder="Код клиента" name="user-code")

      .col-md-4
        .checkbox-label
          input.checkbox-label__input(type="checkbox" checked name="is-opt-1" id="opt-1")
          label.checkbox-label__main(for="opt-1") Только менеджеры

      .col-md-4
        .checkbox-label
          input.checkbox-label__input(type="checkbox" checked name="is-opt-2" id="opt-2")
          label.checkbox-label__main(for="opt-2") Только администраторы

      .col-md-4
        input.orders-filter__btn.btn.btn--main(type="submit" name="send-data" value="Применить фильтр")

// /orders-filter