// orders-filter
.orders-filter

  .orders-filter__heading.d-md-none Фильтр заказов
    button.orders-filter__close.d-md-none
      +icon('close', 'orders-filter__close-icon')

  form.orders-filter__main(action="/" method="POST" name="orders-filter")

    .row
      .col-md-4

        input.orders-filter__control(type="text" placeholder="Номер заказа" name="order-number")

      .col-md-4

        .orders-filter__status
          select.js-select-statuses
            option(placeholder) Статус заказа
            option(value="process") Обрабатывается
            option(value="delivery") Отправлен
            option(value="success") Получен

      .col-md-4

        .orders-filter__date-pickers
          .orders-filter__date-picker
            input.orders-filter__date-from(id="date-from" type="text" name="order-from" placeholder="Период с")
            +icon('calendar-alt', 'orders-filter__date-picker-icon')
          .orders-filter__date-picker
            input.orders-filter__date-to(id="date-to" type="text" name="order-from" placeholder="по")
            +icon('calendar-alt', 'orders-filter__date-picker-icon')

      .col-md-8

        input.orders-filter__control(type="text" name="product-heading" placeholder="Наименование товаа в заказе")

      .col-md-4
        input.orders-filter__btn.btn.btn--main(type="submit" name="send-data" value="Применить фильтр")

// /orders-filter