// orders-filter
.orders-filter

  .orders-filter__heading.d-md-none Фильтр акта сверки
    button.orders-filter__close.d-md-none
      +icon('close', 'orders-filter__close-icon')

  form.orders-filter__main(action="/" method="POST" name="orders-filter")

    .row

      .col-md-9

        .row.align-items-center

          .col-md-2

            .orders-filter__date-picker-title За период

          .col-md-5

            .orders-filter__date-picker-main
              input.orders-filter__date-from(id="date-from" type="text" name="order-from" placeholder="Период с")
              +icon('calendar-alt', 'orders-filter__date-picker-main-icon')

          .col-md-5

            .orders-filter__date-picker-main
              input.orders-filter__date-to(id="date-to" type="text" name="order-from" placeholder="по")
              +icon('calendar-alt', 'orders-filter__date-picker-main-icon')

      .col-md-3

        input.orders-filter__btn.btn.btn--main(type="submit" name="send-data" value="Сверить")

// /orders-filter