.product-main-promo

  .product-main-promo__main
    .product__stickers
      .product__stickers-sticker.product__stickers-sticker--discount Скидка
      .product__stickers-sticker.product__stickers-sticker--action Акция
      .product__stickers-sticker.product__stickers-sticker--new Новинка
    .js-promo-main.swiper-container
      .swiper-wrapper

        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-1.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-1.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-1.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-7.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-7.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-7.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-6.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-6.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-6.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-4.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-4.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-4.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-5.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-5.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-5.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-2.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-2.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-2.jpg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-3.jpg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-3.jpg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-3.jpg")

    .product-main-promo__pagination

    //- .product-main-promo__prev
    //-   +icon('chevron-left', 'product-main-promo__move-icon')
    //- .product-main-promo__next
    //-   +icon('chevron-right', 'product-main-promo__move-icon')
  .product-main-promo__thumbs
    .js-thumbs-list.swiper-container
      .swiper-wrapper

        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-1.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-7.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-6.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-4.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-5.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-2.jpg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-3.jpg" alt="Product Thumb")

    .product-main-promo__th-prev
      +icon('chevron-up', 'product-main-promo__th-prev-icon')
    .product-main-promo__th-next
      +icon('chevron-down', 'product-main-promo__th-next-icon')

  .product-main-promo__zoom-pane