.section-area
  .section-area__heading Личные данные

  .manual-params.manual-params--bigger
    dl.manual-params__param
      dt.manual-params__value Ваша Фамилия
      dd.manual-params__property Иванов
    dl.manual-params__param
      dt.manual-params__value Ваше Имя
      dd.manual-params__property Николай
    dl.manual-params__param
      dt.manual-params__value Email (используется как логин)
      dd.manual-params__property root@webmall.md
    dl.manual-params__param
      dt.manual-params__value Телефон мобильный
      dd.manual-params__property 7 037312312
    dl.manual-params__param
      dt.manual-params__value Телефон стационарный
      dd.manual-params__property 7 123
    a.manual-params__edit(href="#")
      +icon('pen', 'manual-params__edit-icon')
      | Редактировать

form(action="/" method="POST" name="profile-form")
  .section-area
    .section-area__heading Изменить пароль

    .row
      .col-sm-4
        .section-area__field
          label.section-area__label Текущий пароль #[span *]
          input.section-area__input(type="password" name="current-password")

      .col-sm-4
        .section-area__field
          label.section-area__label Новый пароль #[span *]
          input.section-area__input.section-area__input--gray(type="password" name="new-password")

      .col-sm-4
        .section-area__field
          label.section-area__label Новый пароль еще раз #[span *]
          input.section-area__input.section-area__input--gray(type="password" name="new-password-check")

    a.section-area__save-psw(href="#")
      +icon('save', 'section-area__save-psw-icon')
      | Сохранить изменения пароля

  .section-area
    .section-area__heading Настройки и уведомления

    .section-area__checkbox.checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-available" id="opt-1")
      label.checkbox-label__main(for="opt-1") Розничная цена в карточке товара

    .section-area__checkbox.checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-available" id="opt-2")
      label.checkbox-label__main(for="opt-2") Присылать уведомление о заказе на e-mail

    .section-area__checkbox.checkbox-label
      input.checkbox-label__input(type="checkbox" name="is-available" id="opt-3")
      label.checkbox-label__main(for="opt-3") Подписаться на информацию об акциях

    .section-area__footer

      input.btn.btn--main(type="submit" name="send-data" value="Сохранить изменения")