button.search-form-toggle
  +icon('search', 'search-form-toggle__icon')

form.search-form(method="GET" action="/" name="search-form")

  .search-form__field.search-form__field--choices
    select.js-select-default
      option(value="common") Общий
      option(value="section") Раздел

  .search-form__field.search-form__field--input
    input(type="search" name="search-field" placeholder="Введите номер детали. например “gbl199”").search-form__input

  .search-form__field.d-none.d-sm-block
    input(type="checkbox" name="accurate-search" id="accurate-checkbox").search-form__checkbox
    label(for="accurate-checkbox").search-form__checkbox-label Точный поиск

  .search-form__field
    button.search-form__submit.btn.btn--main(type="submit" name="send-data")
      +icon('search', 'search-form__submit-icon')