form.select-lang(action="/" method="GET" name="select-lang-form")
  select.js-select-default
    option(value="Ru") русский  
    option(value="Ro") română
    option(value="En") english
    option(value="Md") молдавский