ul.soc
  li.soc__item
    a(href="#").soc__link.soc__link--gg
      +icon('google', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--fb
      +icon('facebook-f', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--vk
      +icon('vk', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--tw
      +icon('twitter', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--yt
      +icon('youtube', 'soc__icon')
  li.soc__item.soc__item--expand
    a(href="#").soc__link
      +icon('plus', 'soc__icon')
  li.soc__item(style="display: none")
    a(href="#").soc__link.soc__link--mail
      +icon('mail', 'soc__icon')
  li.soc__item(style="display: none")
    a(href="#").soc__link.soc__link--ok
      +icon('odnoklassniki', 'soc__icon')