.table-responsie.d-none.d-md-block
  table.stock-table

    thead.stock-table__thead

      tr.stock-table__tr
        th.stock-table__th Фото
        th.stock-table__th Бренд / Артикул / Наименование
        th.stock-table__th Ваша цена
        th.stock-table__th Розница
        th.stock-table__th К-во
        th.stock-table__th Склад

    tbody.stock-table__tbody

      tr.stock-table__tr
        td.stock-table__td
          .stock-table__product-promo
            img.stock-table__product-logo(src="assets/images/content/product-logo-5.jpg" alt="Product Logo")
            a.stock-table__product-img-wrap(href="#")
              img.stock-table__product-img(src="assets/images/content/product-img-4.jpg" alt="Product Img")
            .product__stickers
              .product__stickers-sticker.product__stickers-sticker--new Новинка
        td.stock-table__td
          .stock-table__meta #[a.stock-table__meta-title(href="#") BARDAHL OIL] / Артикул #[span.stock-table__articul 36161]
          .stock-table__title
            a.stock-table__title-link(href="#") Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
          a.stock-table__docs(href="#") Спецификации
          a.stock-table__analogs(href="#") Аналоги
        td.stock-table__td
          .stock-table__price 99,36 #[span.stock-table__currency MDL]
        td.stock-table__td
          .stock-table__retail-price 181,38 MDL
        td.stock-table__td(colspan="2")
          ul.stock-table__list
            li.stock-table__item
              .stock-table__amount 353
              .stock-table__location г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount &gt;12
              .stock-table__location КарСити г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 3456
              .stock-table__location Склад товара в пути
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 37
              .stock-table__location Орбита" г. Караганда
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 15
              .stock-table__location Магазин на Райымбека
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 468
              .stock-table__location г. Нур-Султан
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 240
              .stock-table__location г.Шымкент
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
      tr.stock-table__more
        td(colspan="6")
          .product-line__manual

            .product-line__manual-body

              button.product-line__manual-close
                +icon('close', 'product-line__manual-close-icon')

              include ../components/manual-params

          .product-line__analogs-list

            .product-line__analogs-body

              button.product-line__analogs-close
                +icon('close', 'product-line__analogs-close-icon')

              include ../components/manual-params

      tr.stock-table__tr
        td.stock-table__td
          .stock-table__product-promo
            img.stock-table__product-logo(src="assets/images/content/product-logo-5.jpg" alt="Product Logo")
            a.stock-table__product-img-wrap(href="#")
              img.stock-table__product-img(src="assets/images/content/product-img-4.jpg" alt="Product Img")
            .product__stickers
              .product__stickers-sticker.product__stickers-sticker--action Акция
        td.stock-table__td
          .stock-table__meta #[a.stock-table__meta-title(href="#") BARDAHL OIL] / Артикул #[span.stock-table__articul 36161]
          .stock-table__title
            a.stock-table__title-link(href="#") Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
          a.stock-table__docs(href="#") Спецификации
          a.stock-table__analogs(href="#") Аналоги
        td.stock-table__td
          .stock-table__price 99,36 #[span.stock-table__currency MDL]
        td.stock-table__td
          .stock-table__retail-price 181,38 MDL
        td.stock-table__td(colspan="2")
          ul.stock-table__list
            li.stock-table__item
              .stock-table__amount 353
              .stock-table__location г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount &gt;12
              .stock-table__location КарСити г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 3456
              .stock-table__location Склад товара в пути
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 37
              .stock-table__location Орбита" г. Караганда
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 15
              .stock-table__location Магазин на Райымбека
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 468
              .stock-table__location г. Нур-Султан
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 240
              .stock-table__location г.Шымкент
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
      tr.stock-table__more
        td(colspan="6")
          .product-line__manual

            .product-line__manual-body

              button.product-line__manual-close
                +icon('close', 'product-line__manual-close-icon')

              include ../components/manual-params

          .product-line__analogs-list

            .product-line__analogs-body

              button.product-line__analogs-close
                +icon('close', 'product-line__analogs-close-icon')

              include ../components/manual-params

      tr.stock-table__tr
        td.stock-table__td
          .stock-table__product-promo
            img.stock-table__product-logo(src="assets/images/content/product-logo-5.jpg" alt="Product Logo")
            a.stock-table__product-img-wrap(href="#")
              img.stock-table__product-img(src="assets/images/content/product-img-4.jpg" alt="Product Img")
            .product__stickers
              .product__stickers-sticker.product__stickers-sticker--discount Скидка
        td.stock-table__td
          .stock-table__meta #[a.stock-table__meta-title(href="#") BARDAHL OIL] / Артикул #[span.stock-table__articul 36161]
          .stock-table__title
            a.stock-table__title-link(href="#") Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
          a.stock-table__docs(href="#") Спецификации
          a.stock-table__analogs(href="#") Аналоги
        td.stock-table__td
          .stock-table__price 99,36 #[span.stock-table__currency MDL]
        td.stock-table__td
          .stock-table__retail-price 181,38 MDL
        td.stock-table__td(colspan="2")
          ul.stock-table__list
            li.stock-table__item
              .stock-table__amount 353
              .stock-table__location г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount &gt;12
              .stock-table__location КарСити г. Алматы
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 3456
              .stock-table__location Склад товара в пути
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
            li.stock-table__item
              .stock-table__amount 37
              .stock-table__location Орбита" г. Караганда
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 15
              .stock-table__location Магазин на Райымбека
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 468
              .stock-table__location г. Нур-Султан
              span.stock-table__forbidden Нет прав
            li.stock-table__item
              .stock-table__amount 240
              .stock-table__location г.Шымкент
              a.stock-table__compare(href="#")
                +icon('transfer', 'stock-table__compare-icon')
              a.stock-table__add(href="#")
                +icon('shopping-cart', 'stock-table__add-icon')
      tr.stock-table__more
        td(colspan="6")
          .product-line__manual

            .product-line__manual-body

              button.product-line__manual-close
                +icon('close', 'product-line__manual-close-icon')

              include ../components/manual-params

          .product-line__analogs-list

            .product-line__analogs-body

              button.product-line__analogs-close
                +icon('close', 'product-line__analogs-close-icon')

              include ../components/manual-params