.table-responsive
  table.brands-table.table
    thead
      tr
        th Бренд
        th Описание
        th.text-center Скачать
    tbody
      tr
        td #[strong Bosal]
        td Универсальная линейка товаров Bosal
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Bosal]
        td Электронный каталог Bosal
        td
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Bosal]
        td Стенд Bosal
        td 
          a(href="#" download)
            +icon('arrow-down', '')
      tr
        td #[strong Cardex]
        td Электронный каталог Cardex
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Dayco]
        td Электронный каталог Dayco
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Dayco]
        td Электронный каталог Dayco
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Delphi]
        td Электронный каталог
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Delphi]
        td Электронный каталог Delphi
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Denso]
        td Denso - системы кондиционирования 1
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Denso]
        td Denso - системы кондиционирования 2
        td 
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Denso]
        td Электронный каталог Denso
        td 
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong EPS/Facet]
        td Электронный каталог EPS/Facet
        td 
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Febest]
        td Электронный каталог FEBEST
        td 
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Federal Mogul]
        td Электронный каталог Federal Mogul
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Filtron]
        td Электронный каталог Filtron
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Gart]
        td Электронный каталог Gart
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Gart]
        td Электронный каталог Gart
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Gates Europe]
        td Электронный каталог Gates Europe
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Gates USA]
        td Электронный каталог Gates USA
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong JanMor]
        td Электронный каталог Janmor
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Japanparts]
        td Электронный каталог Japanparts
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong KAYABA]
        td Электронный каталог KAYABA
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong KAYABA]
        td Электронный каталог амортизаторов KAYABA (PDF)
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong KAYABA]
        td Электронный каталог пружин подвески KAYABA (PDF)
        td
          a(href="#" download)
            +icon('globe', '')
      tr
        td #[strong Mahle детали двигателя]
        td Электронный каталог Mahle
        td
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Mahle/Knecht фильтры]
        td Электронный каталог Mahle/Knecht
        td
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Mann]
        td Электронный каталог Mann
        td
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Metalcaucho]
        td Электронный каталог Metalcaucho (on-line)
        td
          a(href="#" download)
            +icon('file-pdf', '')
      tr
        td #[strong Metalcaucho]
        td Электронный каталог Metalcaucho (PDF)
        td
          a(href="#" download)
            +icon('file-pdf', '')