//- nav.top-header-nav.header-top-area__top-header-nav
nav.top-header-nav

  button.top-header-nav__toggle.js-dropdown-toggle
    +icon('menu-dots', 'top-header-nav__toggle-icon')

  ul.top-header-nav__list
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Как купить?]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text О компании]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Eurogarage Service]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Учебный центр]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Поставщики]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text GROUPAUTO Moldova]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Контакты]
    li.top-header-nav__item
      a(href="#" data-modal-win-trigger="callback-modal").top-header-nav__link #[span.top-header-nav__text Задать вопрос менеджеру]

  ul.top-header-nav__dropdown