.training-section__subscribe
  .subscribe
    figure.subscribe__main
      .subscribe__icon-wrap
        +icon('email', 'subscribe__icon')
      figcaption.subscribe__details
        .subscribe__desc Рассылка о предстоящих тренингах
        a.subscribe__btn.btn.btn--main(href="#") Подписаться