.tree-nav-section.is-opened.d-none.d-md-block

  .tree-nav-section__header
    .tree-nav-section__heading CITROEN AMI 10 Super (AM3)
      +icon('chevron-up', 'tree-nav-section__heading-icon')

  .tree-nav-section__body

    nav.tree-nav
      ul
        li #[a(href="#") Распродажа]
        li #[a(href="#") Популярные товары]
        li #[a(href="#") Товары для ТО]
          ul
            li #[a(href="#") Вложенный пункт]
            li #[a(href="#") Вложенный пункт]
              ul
                li #[a(href="#") Вложенный пункт]
                  ul
                    li #[a(href="#") Вложенный пункт]
                    li #[a(href="#") Вложенный пункт]
                    li #[a(href="#") Вложенный пункт]
                    li #[a(href="#") Вложенный пункт]
                    li #[a(href="#") Вложенный пункт]
                li #[a(href="#") Вложенный пункт]
                li #[a(href="#") Вложенный пункт]
                li #[a(href="#") Вложенный пункт]
                li #[a(href="#") Вложенный пункт]
            li #[a(href="#") Вложенный пункт]
        li #[a(href="#") Маслa и смазки]
        li #[a(href="#") Кузов и Оптика]
        li #[a(href="#") Легковые автомобили]
          ul
            li #[a(href="#") Кузов]
              ul
                li #[a(href="#") Топливный бак / комплектующие]
                li #[a(href="#") Остекление / зеркала]
                li #[a(href="#") Основная фара / комплектующие]
                li #[a(href="#") Автомобиль, передняя часть]
                  ul
                    li #[a(href="#") Топливный бак / комплектующие]
                    li #[a(href="#") Основная фара / комплектующие]
                      ul
                        li #[a(href="#") Лампа накаливания основной фары]
            li #[a(href="#") Кабина пассажира]
            li #[a(href="#") Автомобиль, задняя часть]
            li #[a(href="#") Двигатель]
            li #[a(href="#") Система выпуска]
            li #[a(href="#") Фильтр]
            li #[a(href="#") Тормозная система]
            li #[a(href="#") Система охлаждения]
            li #[a(href="#") Система зажигания / накаливания]