extends templates/main

block variables
  - let title = 'Ошибка 500';
  - let pageClass = 'err-page';
  - let innerLogo = true;

block content

  include layouts/header-inner

  .container-fluid

  .inner-section.inner-section--mod
    .inner-section__main.inner-section__main--secondary
      .inner-section__header
        h1.inner-section__heading #{title}
        
      figure.error-notification
        .error-notification__img-wrap
          img.error-notification__img.img-responsive(src="assets/images/general/500.png" alt="Страница не найдена")
        figcaption.error-notification__figcaption
          .error-notification__desc Так уж получилось, что из множества страниц нашего сайта Вы оказались как раз на той, которая уже не существует… Предлагаем вам вернуться на главную страницу.
          a.btn.btn--main(href="#") Вернуться на главную


  include layouts/footer