extends templates/inner-2

block variables
  - let title = 'О компании';
  - let pageClass = 'about-page';
  - let pageHeading = 'О компании';
  - let innerLogo = true;
  - let auth = true;

block header
  //- include layouts/header-logos
  include layouts/header-logos-actions

block heading
  h1.main-title #{pageHeading}

block sidebar
  include components/category-nav-5

block main
  .post
    
    h2.text-center Рады приветствовать Вас в интернет-магазине tanauto.kz!

    p #[strong Портал tanauto.kz] – это самый крупный казахский интернет-магазин автозапчастей, в ассортименте которого более 14 млн товаров. 

    p Сегодня на страницах нашего интернет-магазина представлен широкий спектр товаров для легковых и грузовых автомобилей: автозапчасти, аксессуары, масла, оптика, шины, диски, лампы, системы охлаждения и кондиционирования, оборудование для СТО, инструменты и прочее.

    p Залогом качественного обслуживания #[strong tanauto.kz] является высококвалифицированный коллектив, сотрудничество с надежными поставщиками и использование современных информационных технологий. С #[strong tanauto.kz] Вы без труда совершите покупку, не выходя из дома, офиса или гаража.

    h2.text-center На сегодняшний день, tanauto.kz - это:

    .row.justify-content-center

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-1

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-2

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-3

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-4

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-5 

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-6

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-7

      .col-6.col-sm-4.col-md-3
        include components/company-features/company-feature-8

    .row

      .col-md-6

        .post-features
          .post-features__heading Доступен с любого устройства
          p.post-features__desc Под рукой не оказалось компьютера? Не беда. Вы можете разместить или отредактировать заказ при помощи любого современного смартфона или планшета.

      .col-md-6

        .post-features
          .post-features__heading Всегда на связи
          p.post-features__desc Не можете найти нужную деталь? Хотите проконсуль#[wbr]тироваться? Наберите телефон горячей линии 14814, и Ваша проблема будет решена. Все просто.

      .col-md-6

        .post-features
          .post-features__heading Удобная оплата
          p.post-features__desc Вы можете оплатить заказ наличными или перечислением. А все необходимые документы мы привезем вместе с заказом.

      .col-md-6

        .post-features
          .post-features__heading Мы не &laquo;виртуальны&raquo;
          p.post-features__desc Коллектив - это более 200 сотрудников, склады площадью 5000 м² и собственные филиалы в регионах. 

    h3.text-center Сделайте процесс покупки максимально быстрым и комфортным!

block footer
  include layouts/footer