extends templates/inner-2

block variables
  - let title = 'О компании';
  - let pageClass = 'about-page';
  - let pageHeading = 'О компании';
  - let innerLogo = true;
  - let auth = true;

block header
  include layouts/header-inner

block heading
  h1.main-title #{pageHeading}

block sidebar
  include components/category-nav-5

block main
  .post
    h2 Руководство

    .row
      .col-6.col-md-3
        include components/persons/person-1
      .col-6.col-md-3
        include components/persons/person-2
      .col-6.col-md-3
        include components/persons/person-3
      .col-6.col-md-3
        include components/persons/person-4

    p Нашими клиентами могут быть физические и юридические лица, профессиональная деятельность которых является обслуживание и ремонт автомобилей, а именно: центры экспресс замены масла, станции технического обслуживания, юридические лица, имеют личный автотранспорт и др.

    p В настоящее время приоритетом компании является развитие дилерской сети по Казахстану.

    p Наша компания придерживается золотого правила: доступные цены - высокое качество.

    p Звоните и мы найдем взаимовыгодные условия для совместной работы. Надеемся, что вы в ближайшее время станете нашим надежным партнером.

block footer
  include layouts/footer