extends templates/inner-2

block variables
  - let title = 'О компании';
  - let pageClass = 'about-page';
  - let pageHeading = 'О компании';
  - let innerLogo = true;
  - let auth = true;
  - let alertNotification = true;

block header
  include layouts/header-inner

block heading
  h1.main-title #{pageHeading}

block sidebar
  include components/category-nav-5

block main
  .post
    h2 Миссия и философия Tanauto

    img.img-responsive(src="assets/images/content/post-img.jpg" alt="Tanauto")

    p #[strong Компания Tanauto]  является представителем ведущих Европейских и Азиатских заводов производителей.
    p Tanauto - оптовая компания по продажам - автозапчастей, моторных масел, смазочных материалов, автохимии, автоаксессуаров, автокосметики.
    p Основные направления компании это дилеры, оптовые, розничные продажи по Казахстану.
    p Каждый клиент, работая с нами, получает персонального менеджера, который отслеживает всю цепочку от заказа до его получения. Быстрый документооборот и любая форма оплаты.

    h3.text-center Миссия Tanauto – делать все, чтобы автомобили оставались в пути.
    
    .row

      .col-md-6

        strong Мы предлагаем Вам:

        ol
          li Широкий ассортимент автозапчастей.
          li Высокий процент наличия на складе.
          li Гибкая система скидок для постоянных клиентов.
          li Срочную доставку автозапчастей по городу Алматы.
          li Квалифицированную помощь в подборе запчастей.
          li Проведение обучающих семинаров.
          li Предоставление рекламной продукции.

      .col-md-6

        strong Это позволит Вам:

        ol
          li Предоставлять дополнительный сервис для Ваших клиентов.
          li Сократить время на поиск и доставку автозапчастей.
          li Сократить время простоя обслуживающегося автомобиля.
          li Развивать Ваш бизнес в новом направлении.
          li Быть уверенным в качестве автозапчастей.
          li Быть конкурентными по цене и при этом получать дополнительную прибыль.
          li Получить квалифицированную помощь и профессиональные знания.

block footer
  include layouts/footer