extends templates/main

block variables
  - let title = 'Авторизация';
  - let pageClass = 'auth-page';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs-2

  .inner-section
    .inner-section__main
      .inner-section__header
        h1.inner-section__heading Авторизация
        a.inner-section__link(href="#") Регистрация

      .inner-section__body

        .authorize-social
          .authorize-social__heading Войти через социальные сети
          include components/soc-expanded-2

        include components/main-form-auth

  include layouts/footer