extends templates/inner

block variables
  - let title = 'Корзина: Шаг 2';
  - let pageClass = 'basket-page';
  - let pageHeading = 'Заказ';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
    span № 00000154705@19
  
  include components/order-steps/order-step-2

  .payment-section
    .payment-section__heading Форма оплаты
    
    include layouts/radio-opt-section-1

  include components/order-footer-summary

block footer
  include layouts/footer