extends templates/inner

block variables
  - let title = 'Корзина: Шаг 4';
  - let pageClass = 'basket-page';
  - let pageHeading = 'Заказ';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
    span № 00000154705@19
  
  include components/order-steps/order-step-4
  include components/order-success-badge

  div.basket-success-summary
    a.btn.btn--main(href="/") Вернуться на главную

block footer
  include layouts/footer