extends templates/inner

block variables
  - let title = 'Корзина';
  - let pageClass = 'basket-page';
  - let pageHeading = 'Корзина';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
  
  include components/order-steps/order-step-1

  div.empty-basket.text-center
    header.orders-list__header
      .orders-list__heading Ваша корзина пуста
    
    div.empty-basket__img-wrap
      img.empty-basket__img.img-responsive(src="assets/images/general/basket-default.png" alt="")

    a.empty-basket__btn.btn.btn--main(href="#") Перейти на главную

block footer
  include layouts/footer