extends templates/inner

block variables
  - let title = 'Корзина: Шаг 1';
  - let pageClass = 'basket-page';
  - let pageHeading = 'Заказ';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
    span № 00000154705@19
  
  include components/order-steps/order-step-1
  include components/orders-list-2

  .basket-info
    p Информацию о состоянии Вашего заказа вы сможете узнавать на странице #[a(href="#") Мой кабинет] во вкладке #[a(href="#") Заказы].

  include components/notification

block footer
  include layouts/footer