extends templates/inner

block variables
  - let title = 'Корзина: Шаг 3';
  - let pageClass = 'basket-page';
  - let pageHeading = 'Заказ';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
    span № 00000154705@19
  
  include components/order-steps/order-step-3

  .tabs-section

    .tabs.tabs--secondary

      .tabs__header

        ul.tabs__list
          li.tabs__item
            a.tabs__link.is-active(href="#section-1") Доставка на адрес
          li.tabs__item
            a.tabs__link(href="#section-2") Самовывоз

        .tabs__panes

          .tabs__tab-pane.is-active

            include components/delivery-options-form

            include layouts/radio-opt-section-2

            include components/add-address-form
                
          .tabs__tab-pane

            include components/garages/garage-tabs

  include components/order-footer-summary

  include components/add-address-mob-form

block footer
  include layouts/footer