extends templates/inner

block variables
  - let title = 'Каталоги производителей';
  - let pageClass = 'brands-catalog-page';
  - let pageHeading = 'Каталоги производителей';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-3

block main
  h1.main-title #{pageHeading}

  include components/table-brands-catalog

block footer
  include layouts/footer