extends templates/main

block variables
  - let title = 'Карта товара';
  - let pageClass = 'card-page';
  - let innerLogo = true;

block content

  include layouts/header-inner

  .container-fluid

    include components/breadcrumbs

    main
      
      include layouts/product-main-section

      include layouts/card-features

      include layouts/card-specification-section

      include layouts/tabs-section

  include layouts/footer

  include components/added-modal-win