extends templates/inner

block variables
  - let title = 'Каталог';
  - let pageClass = 'catalog-page';
  - let pageHeading = 'Присадки к бензину';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav
  include components/filter
  include components/compare

block main
  h1.main-title #{pageHeading}
  include layouts/catalog-header-controls
  include layouts/catalog-main
  include components/pagination

  .compare-success
    .compare-success__heading.main-heading Добавлен к сравнению
    .compare-success__item
      .compare-success__preview
        .compare-success__img-wrap
          img.compare-success__img.img-responsive(src="assets/images/content/product-img-1.jpg" alt="")
      .compare-success__desc
        .compare-success__item-header Фильтр осушителя пневмосистемы Mercedes DAF TRUCKS, MAN TRUCK, RENAULT TRUCKS, Volvo
        .compare-success__item-price 45 300 #[span KZT]

block footer
  include layouts/footer