extends templates/inner

block variables
  - let title = 'Каталог';
  - let pageClass = 'catalog-page';
  - let pageHeading = 'Присадки к бензину';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav
  include components/filter

block main
  h1.main-title #{pageHeading}
  include layouts/catalog-header-controls
  include layouts/catalog-secondary
  include components/pagination

block footer
  include layouts/footer