extends templates/inner

block variables
  - let title = 'Клиенты';
  - let pageClass = 'clients-page';
  - let pageHeading = 'Клиенты';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  .category-nav.d-none.d-md-block
    ul.category-nav__list
      a.category-nav__title.h3.important(href="#") Акции
      li.category-nav__title.h3 Оплата и заказы
      li.category-nav__item
        a.category-nav__link(href="#") Корзина
      li.category-nav__item
        a.category-nav__link(href="#") Заказы
      li.category-nav__title.h3 Мой кабинет
      li.category-nav__item
        a.category-nav__link(href="#") Акт сверки
      li.category-nav__item
        a.category-nav__link(href="#") Клиенты
      li.category-nav__item
        a.category-nav__link(href="#") Профиль
      li.category-nav__item
        a.category-nav__link(href="#") VIN запросы
      li.category-nav__item
        a.category-nav__link(href="#") Мероприятия
      li.category-nav__item
        a.category-nav__link(href="#") Акции
      li.category-nav__title.h3 Инструменты
      li.category-nav__item
        a.category-nav__link(href="#") Управление пользователями
      li.category-nav__item
        a.category-nav__link(href="#") Регистрация пользователей
      li.category-nav__item.active
        a.category-nav__link(href="#") Статистика доступа
      li.category-nav__item
        a.category-nav__link(href="#") Контент групп
      li.category-nav__item
        a.category-nav__link(href="#") Управление сайтом

block main

  .main-heading
    .main-heading__text #{pageHeading}
    .main-heading__link-wrap
      a.main-heading__link(href="#") Кирюхина Татьяна

  include layouts/client-options

  .client-detail
    .client-detail__header
      .client-detail__heading Адреса доставок
      a.client-detail__btn.btn.btn--main(href="#") Добавить адрес доставки

    include components/add-address-form

    .table-responsive
      table.table
        thead
          tr
            th Город
            th Улица
            th.text-center Дом
            th.text-center Кв.
            th Комментарий
        tbody
          tr
            td 
              .address-check
                .checkbox-label
                  input.checkbox-label__input(type="checkbox" name="is-loc-1" id="loc-1")
                  label.checkbox-label__main(for="loc-1")
                | Алматы
            td #[div.user-address ул.Толеби]
            td.text-center 94/10
            td.text-center #[span.noset — / —]
            td 
              .user-edit-wrap
                p.user-comment Лорем ипсум долор сит амет, ин сцрипта тамяуам нострум сеа.
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-check
                .checkbox-label
                  input.checkbox-label__input(type="checkbox" checked name="is-loc-2" id="loc-2")
                  label.checkbox-label__main(for="loc-2")
                | Киргизский
                small.district Каркаралинский район
            td #[div.user-address ул.Толеби]
            td.text-center 94/10
            td.text-center #[span.noset — / —]
            td 
              .user-edit-wrap
                p.user-comment Лорем ипсум долор сит амет, ин сцрипта тамяуам нострум сеа.
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
  
  .client-detail
    .client-detail__header
      .client-detail__heading Представительства
        .client-detail__link-wrap #[a.client-detail__link(href="#") Кирюхина Татьяна]

    .table-responsive
      table.table
        thead
          tr
            th ФИО
            th Контакты (Email, Телефон)
            th.text-center
              +icon('key')
            th.text-center
              +icon('contacts')
            th.text-center
              +icon('file')
            th.text-center
              +icon('shopping-cart')
            th &nbsp;
        tbody
          tr
            td Администратор Webmall
            td
              ul.client-detail-contacts
                li 
                  a(href="tel:+123, 037312312") #[i.fas.fa-phone-alt] 123, 037312312
                li 
                  a(href="mailto:root@webmall.md") #[i.fas.fa-envelope] root@webmall.md
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" name="opt-1" id="opt-1")
                label.checkbox-label__main(for="opt-1")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" checked name="is-opt-2" id="opt-2")
                label.checkbox-label__main(for="opt-2")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-3" id="opt-3")
                label.checkbox-label__main(for="opt-3")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-4" id="opt-4")
                label.checkbox-label__main(for="opt-4")
            td.text-center
              a.user-status-remove(href="#")
                +icon('close', '')
          tr
            td Кирюхина Татьяна
            td
              ul.client-detail-contacts
                li
                  a(href="mailto:tatiana@tanauto.kz") #[i.fas.fa-envelope] tatiana@tanauto.kz
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" checked name="opt-5" id="opt-5")
                label.checkbox-label__main(for="opt-5")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" checked name="is-opt-6" id="opt-6")
                label.checkbox-label__main(for="opt-6")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" checked name="is-opt-7" id="opt-7")
                label.checkbox-label__main(for="opt-7")
            td
              .checkbox-label
                input.checkbox-label__input(type="checkbox" checked name="is-opt-8" id="opt-8")
                label.checkbox-label__main(for="opt-8")
            td.text-center
              a.user-status-remove(href="#")
                +icon('close', '')

    include components/client-request

block footer
  include layouts/footer