extends templates/main

block variables
  - let title = 'История компании tanauto';
  - let pageClass = 'context-page';
  - let pageHeading = 'История компании tanauto';

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    main

      h1.main-title #{pageHeading}

      .post

        p Компания #[strong TANAUTO] является ведущим поставщиком запасных частей для легковых и грузовых автомобилей на рынке Казахстана.
 
        p Компания основана в ноябре 2005 года. За время деятельности она добилась впечатляющих результатов: каждый третий автомобиль в Молдове был обслужен или отремонтирован при помощи наших продуктов, а более 1000 автосервисов стали нашими постоянными клиентами.

        include components/company-history

        p За несколько лет компания TANAUTO из монопрофильного динамично развивающегося поставщика автотоваров выросла в группу компаний, охватывающих широкий спектр видов деятельности. На сегодняшний день TANAUTO - это не только ведущий поставщик автотоваров для легковых и грузовых автомобилей, но и уникальный учебный центр, кузовное ателье и сеть станций технического обслуживания. Особо следует отметить инновационное направление деятельности - интернет-магазин #[a(href="#") www.tanauto.kz], благодаря которому приобретать автозапчасти стало легко как никогда. #[a(href="#") TANAUTO.kz] – это самый посещаемый молдавский интернет-магазин, который позволяет подобрать, заказать, оплатить и получить автотовары, не вставая из-за компьютера.

        strong В 2013 году
        p компания TANAUTO получила международное признание, войдя в состав транснационального закупочного союза Groupauto International. Это событие стало важной вехой в развитии компании TANAUTO и открыло перед ней новые горизонты.

        strong 5 апреля 2014 года
        p в центральном офисе компании TANAUTO состоялось уникальное для молдавского рынка автотоваров событие – успешно прошла первая специализированная выставка TANAUTO EXPO 2014. В выставке приняли участие более тридцати поставщиков автозапчастей, автотоваров, аксессуаров, шин и автохимии мирового уровня. За время работы TANAUTO EXPO 2014 выставку посетило более 3000 человек, что безусловно доказывает актуальность и необходимость проведения подобных мероприятий. В рамках выставки гости получили возможность лично пообщаться с поставщиками автозапчастей, приняли участие в конференциях от FEDERAL MOGUL, GATES, BOSCH, DAYCO, RUVILLE, NRF, MONROE и практических мастер-классах от DENSO, ZF, LUK, BOSCH, а также смогли оценить новинки и последние тенденции в области ремонта и диагностики автомобилей. 

        strong В 2014 году
        p на базе концептов TANAUTO Partner Service и BOGE Service начинают формирование нового концепта EUROGARAGE, тем самым повышая уровень и внедряя современные европейские стандарты качества обслуживания клиентов. В этот же период компания TANAUTO совместно с концерном ZF Friedrichshafen AG начинают запуск нового концепта ProTech Service. Основной задачей концепта ProTech Service является предоставление качественного технологического обслуживания и поддержки от мирового производителя автозапчастей ZF Friedrichshafen AG. 

        strong В феврале 2015
        p года компания TANAUTO совместно с Robert Bosch LTD начали продвижение на рынке Казахстана концепта BOSCH Module. Одной из первых к концепту присоединилась cеть собственных СТО TANAUTO Service, получив статус «Партнер Bosch по диагностике и ремонту систем впрыска».

        strong 28-29 марта 2015
        p года прошла вторая специализированная выставка TANAUTO Expo 2015 – грандиозное и запоминающееся мероприятие для молдавских автолюбителей и профессионалов автомобильной сферы. По сложившейся традиции, выставка была организована совместно с компанией Groupauto Kazahstan и проходила в центральном офисе компании TANAUTO.  В рамках выставки был организован чемпионат автосервисов, где автотехцентры Молдовы боролись за звание лучшего.

        strong 11-12 марта 2016 года
        p в Алмате под эгидой TANAUTOи закупочного союза Groupauto Moldova состоялось уникальное для рынка автомобильных запчастей мероприятие – TANAUTO Automotive Forum 2016.

        p Главной целью данного мероприятия было создание платформы, где поставщики автомобильных товаров могли бы встретиться с клиентами и обсудить интересующие их вопросы. Нашим клиентам представилась исключительная возможность пообщаться напрямую с производителями автотоваров ABS, Bosch, Federal-Mogul, Gates, Mahle, Motul, Monroe, NRG, Ruville, Schaeffler, SWAG и ZF, руководителями «Учебного центра TANAUTO» и Groupauto Moldova, а также обсудить все рабочие вопросы с директорами TANAUTO.
         
        strong 3 сентября 2016
        p года состоялось грандиозное мероприятие в истории компании и автобизнеса Молдовы – TANAUTO Fest 2016. Организаторами события выступили AUTO MALL совместно с GROUPAUTO Moldova. Компания TANAUTO приурочила это событие к празднованию своего десятилетия. На этот раз мероприятие прошло в нестандартном формате, отличном от традиционной ежегодной выставки. Его трансформировали в полномасштабный фестиваль, который был разделен на две зоны:

        ul
          li выставочная бизнес-площадка, где более 32 поставщиков автотоваров мирового уровня представили свою продукцию и новинки, провели 6 тематических семинаров и 8 мастер-классов;
          li развлекательная зона, которая включала экспозицию ретро и тюнингованных авто, детский уголок с аниматорами, показательные выступления, граффити шоу, барбекю и многое другое.

        p TANAUTO Fest стал самой крупной выставкой автозапчастей, автокомпонентов и оборудования для технического обслуживания автомобилей Молдовы, которую посетило более 4000 человек. Это отличная бизнес-платфорама, позволившая специалистам автомобильной отрасли получить самое полное представление и узнать тенденции рынка автотоваров, а также приобрести новых деловых партнеров. Компания TANAUTO работает напрямую с крупнейшими мировыми поставщиками автотоваров, что позволяет гарантировать высокое качество продукции и обеспечивать конкурентоспособные цены. Рыночная политика компании TANAUTO основывается на обеспечении оптимальной гаммы товаров и услуг, уважении интересов клиентов, а также на предоставлении выгодных условий сотрудничества нашим партнерам.

        img.block-center(src="assets/images/content/tanauto-brand.jpg" alt="Tanauto")

  include layouts/footer