extends templates/main

block variables
  - let title = 'Часто задаваемые вопросы';
  - let pageClass = 'faq-page';
  - let pageHeading = 'Часто задаваемые вопросы';

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    main.inner-section-body

      h1.main-title #{pageHeading}

      include components/accordeon

  include layouts/footer