extends templates/main

block variables
  - let title = 'Eurogarage Service';
  - let pageClass = 'garage-page';
  - let pageHeading = 'Eurogarage Service';

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs
    
    .main-title-header
      h1.main-title #{pageHeading}
      img.main-title-img(src="assets/images/general/garage-logo.png" width="160" alt="Garage Logo")

    include components/garages/garage-1
    include components/garages/garage-2
    include components/garages/garage-3
    include components/garages/garage-4

  include layouts/footer