extends templates/inner

block variables
  - let title = 'История';
  - let pageClass = 'history-page';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/tree-nav
  include components/filter-2

block main

  include layouts/catalog-header-controls-2
  include layouts/history-catalog-section

block footer
  include layouts/footer