extends templates/main

block variables
  - let title = 'Главная страница';
  - let pageClass = 'index-page';
  - let innerLogo = false;

block content

  include layouts/header

  include components/main-carousel

  main.main

    .container-fluid

      include layouts/types-section-2

      include layouts/news-section

  include layouts/footer