doctype html
html(lang="ru-RU")
  
  head

    meta(charset="utf-8")

    title Список страниц

    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

  body

    .wrapper(style="max-width: 800px; margin: 0 auto;")

      h1 Список страниц

      ol
        li #[a(href="/index.html" target="_blank") Главная страница]
        li #[a(href="/catalog.html" target="_blank") Основной каталог]
        li #[a(href="/catalog-list.html" target="_blank") Линейный каталог (и табличный внизу)]
        li #[a(href="/card.html" target="_blank") Карта товара]
        li #[a(href="/orders.html" target="_blank") Заказы]
        li #[a(href="/order-success.html" target="_blank") Успешный заказ]
        li #[a(href="/profile.html" target="_blank") Профиль]
        li #[a(href="/select-car.html" target="_blank") Выбор авто]
        li #[a(href="/select-car-2.html" target="_blank") Подбор по автомобилю]
        li #[a(href="/search-result.html" target="_blank") Результаты поиска]
        li #[a(href="/auth.html" target="_blank") Авторизация]
        li #[a(href="/reg.html" target="_blank") Регистрация]
        li #[a(href="/reg-2.html" target="_blank") Регистрация новая]
        li #[a(href="/about-1.html" target="_blank") О нас 1]
        li #[a(href="/about-2.html" target="_blank") О нас 2]
        li #[a(href="/about-3.html" target="_blank") О нас 3]
        li #[a(href="/history.html" target="_blank") Страница истории]
        li #[a(href="/garage.html" target="_blank") Страница гаражей]
        li #[a(href="/faq.html" target="_blank") Страница частых вопросов]
        li #[a(href="/brands-catalog.html" target="_blank") Каталог брендов]
        li #[a(href="/basket-step-1.html" target="_blank") Корзина - шаг 1]
        li #[a(href="/basket-step-2.html" target="_blank") Корзина - шаг 2]
        li #[a(href="/basket-step-3.html" target="_blank") Корзина - шаг 3]
        li #[a(href="/basket-step-4.html" target="_blank") Корзина - шаг 4]
        li #[a(href="/news.html" target="_blank") Страница новостей]
        li #[a(href="/context.html" target="_blank") Страница контекста]
        li #[a(href="/vacation.html" target="_blank") Страница вакансий]
        li #[a(href="/match-group.html" target="_blank") Страница подбора груп]
        li #[a(href="/match-illustration.html" target="_blank") Страница подбора иллюстраций]
        li #[a(href="/match-illustration-main.html" target="_blank") Страница подобранной иллюстрации]
        li #[a(href="/match-vincode.html" target="_blank") Подбор по вин коду]
        li #[a(href="/payment-check.html" target="_blank") Акт сверки]
        li #[a(href="/clients.html" target="_blank") Клиенты]
        li #[a(href="/sto.html" target="_blank") Онлайн-запись на СТО]
        li #[a(href="/tyres.html" target="_blank") Подбор шин]
        li #[a(href="/tyres-calc.html" target="_blank") Шинный калькулятор]
        li #[a(href="/users.html" target="_blank") Управление пользователями]
        li #[a(href="/training-land.html" target="_blank") Учебный центр]
        li #[a(href="/404.html" target="_blank") 404]
        li #[a(href="/500.html" target="_blank") 500]
        li #[a(href="/upload.html" target="_blank") Загрузка прайса]
        li #[a(href="/payment.html" target="_blank") Страница оплаты]
        li #[a(href="/basket.html" target="_blank") Корзина]
        li #[a(href="/profile-2.html" target="_blank") Профиль пользователя]
        li #[a(href="/basket-empty.html" target="_blank") Корзина пустая]
        li #[a(href="/search-brands-result.html" target="_blank") Результат поиска брендов]

      div
        strong
          a(href="/sticky-footer.html") Прижатый футер (экспериментально)