extends templates/inner

block variables
  - let title = 'Подбор групп';
  - let pageClass = 'match-page';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/filter-3

block main
  include layouts/catalog-header-controls-2

  .tabs-section

    .tabs-wrap.tabs--secondary.tabs--full-body

      .tabs__header

        ul.tabs__list
          li.tabs__item
            a.tabs__link.is-active(href="#") Подбор по группе
          li.tabs__item
            a.tabs__link(href="#") Подбор по иллюстрациям

        .tabs__panes

          .tabs__tab-pane.is-active
            
            .match-items

              .row

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-1.jpg" alt="")
                      figcaption.match-item__caption Кузов

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-2.jpg" alt="")
                      figcaption.match-item__caption Двигатель

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-3.jpg" alt="")
                      figcaption.match-item__caption Фильтра

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-4.jpg" alt="")
                      figcaption.match-item__caption Ременный привод

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-5.jpg" alt="")
                      figcaption.match-item__caption Система подачи топлива

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-6.jpg" alt="")
                      figcaption.match-item__caption Подготовка топливной смеси

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-7.jpg" alt="")
                      figcaption.match-item__caption Система выпуска

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-8.jpg" alt="")
                      figcaption.match-item__caption Система охлаждения

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-9.jpg" alt="")
                      figcaption.match-item__caption Система сцепления / навесные части

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-10.jpg" alt="")
                      figcaption.match-item__caption Коробка передач

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-11.jpg" alt="")
                      figcaption.match-item__caption Привод колеса

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-12.jpg" alt="")
                      figcaption.match-item__caption Главная передача

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-13.jpg" alt="")
                      figcaption.match-item__caption Тормозная система

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-14.jpg" alt="")
                      figcaption.match-item__caption Подвеска / амортизация

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-15.jpg" alt="")
                      figcaption.match-item__caption Подвеска оси / система подвески / колеса

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-16.jpg" alt="")
                      figcaption.match-item__caption Рулевое управление
                
          .tabs__tab-pane

            .match-items

              .row

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-17.jpg" alt="")
                      figcaption.match-item__caption 0901: STANDARD TOOL

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-18.jpg" alt="")
                      figcaption.match-item__caption Двигатель

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-19.jpg" alt="")
                      figcaption.match-item__caption Фильтра

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-20.jpg" alt="")
                      figcaption.match-item__caption Ременный привод

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-21.jpg" alt="")
                      figcaption.match-item__caption Система подачи топлива

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-22.jpg" alt="")
                      figcaption.match-item__caption Подготовка топливной смеси

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-23.jpg" alt="")
                      figcaption.match-item__caption Система выпуска

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-24.jpg" alt="")
                      figcaption.match-item__caption Система охлаждения

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-25.jpg" alt="")
                      figcaption.match-item__caption Система сцепления / навесные части

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-26.jpg" alt="")
                      figcaption.match-item__caption Коробка передач

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-27.jpg" alt="")
                      figcaption.match-item__caption Привод колеса

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-28.jpg" alt="")
                      figcaption.match-item__caption Главная передача

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-29.jpg" alt="")
                      figcaption.match-item__caption Тормозная система

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-30.jpg" alt="")
                      figcaption.match-item__caption Подвеска / амортизация

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-31.jpg" alt="")
                      figcaption.match-item__caption Подвеска оси / система подвески / колеса

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-32.jpg" alt="")
                      figcaption.match-item__caption Рулевое управление

block footer
  include layouts/footer