extends templates/main

block variables
  - let title = 'Подбор по вин коду';
  - let pageClass = 'match-page-main';
  - let pageHeading = 'Подбор по вин коду';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    main
      
      h1.main-title #{pageHeading}
      
      .vincode-section

        .vincode-section__form

          include components/type/type-1-inner

        .vincode-section__data

          div.brand-info
            .brand-info__logo
              .brand-info__img-wrap
                img.brand-info__img.img-responsive(src="assets/images/content/toyota.png" alt="")
            .brand-info__params
              dl.brand-info__param
                div.brand-info__param-wrap
                  dt.brand-info__param-dt Марка:
                  dd.brand-info__param-dd #[a(href="#") Toyota]
                div.brand-info__param-wrap
                  dt.brand-info__param-dt Модель:
                  dd.brand-info__param-dd #[a(href="#") PRIUS (ZVW30L-AHXGBA)]
            .brand-info__more
              a.btn.btn--main(href="#") Каталоги запчастей

          .params

            .params__main-wrap

              .params__heading Информация по авто

              dl.params__deflist
                div.params__wrap
                  dt.params__descterm Марка авто
                  dd.params__descdetail TOYOTA
                div.params__wrap
                  dt.params__descterm Модель авто:
                  dd.params__descdetail PRIUS (ZVW30L-AHXGBA)
                div.params__wrap
                  dt.params__descterm Дата выпуска:
                  dd.params__descdetail 12.2011
                div.params__wrap
                  dt.params__descterm Цвет:
                  dd.params__descdetail 070
                div.params__wrap
                  dt.params__descterm Цвет салона:
                  dd.params__descdetail LB10
                div.params__wrap
                  dt.params__descterm Описание:
                  dd.params__descdetail ZVW30prod
                div.params__wrap
                  dt.params__descterm Period:
                  dd.params__descdetail 04.2009 - 11.2015
                div.params__wrap
                  dt.params__descterm Опции:
                  dd.params__descdetail #[span — / —]
                div.params__wrap
                  dt.params__descterm АКПП/МКПП:
                  dd.params__descdetail AUTOMATIC TRANSMISSION
                div.params__wrap
                  dt.params__descterm Комплектация:
                  dd.params__descdetail G TYPE
                div.params__wrap.is-hidden
                  dt.params__descterm Тип трансмиссии:
                  dd.params__descdetail ONTINUOUSLY VARIABLE TRANSMISSION
                div.params__wrap.is-hidden
                  dt.params__descterm Двигатель:
                  dd.params__descdetail (2ZRFXE) 1800CC 16-VALVE DOHC EFI
                div.params__wrap.is-hidden
                  dt.params__descterm Рынок сбыта:
                  dd.params__descdetail UNITED STATES OF AMERICA

              a.params__btn.btn.btn--main(href="#") Показать все

  include layouts/footer