extends templates/main

block variables
  - let title = 'ENGINE OVERHAUL GASKET KIT';
  - let pageClass = 'match-page-main';
  - let pageHeading = 'ENGINE OVERHAUL GASKET KIT';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    main

      //- .inner-section__header
      //-   h1.inner-section__heading #{pageHeading}
      //-   a.inner-section__link(href="#") Toyota Prius

      .main-heading
        h1.main-heading__text #{pageHeading}
        .main-heading__link-wrap
          a.main-heading__link(href="#") Toyota Prius

      .illustration-demo

        .illustration-demo__picture.js-lgallery
          
          a.illustration-img-wrap.zoom_w(href="assets/images/content/illustration.jpg" title="Description")
            img.illustration-img.img-responsive(src="assets/images/content/illustration.jpg" alt="")
            i.zoom #[i.zoom_dec]

        .illustration-demo__table

          .table-responsive.d-none.d-md-block
            table.table
              thead.table__thead

                tr.table__tr
                  th.table__th Номер
                  th.table__th OEM
                  th.table__th Наименование
                  th.table__th &nbsp;

              tbody.table__tbody

                tr.table__tr
                  td.table__td #[span 04111]
                  td.table__td #[span 0411137312]
                  td.table__td #[a.illustration-title(href="#") Комплект уплотнительных прокладок двигателя]
                    small.small Примечание: 2ZRFXE..ZVW30
                  td.table__td 
                    i.tooltip.fas.fa-info(data-template="params1")

                tr.table__tr
                  td.table__td #[span 04111]
                  td.table__td #[span 0411137312]
                  td.table__td #[a.illustration-title(href="#") Комплект уплотнительных прокладок двигателя]
                    small.small Примечание: 2ZRFXE..ZVW30
                  td.table__td 
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                tr.table__tr
                  td.table__td #[span 04112]
                  td.table__td #[span 0411237251]
                  td.table__td  #[a.illustration-title(href="#") Комплект уплотнительных прокладок двигателя]
                    small.small Примечание: 2ZRFXE..ZVW30
                  td.table__td 
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                tr.table__tr
                  td.table__td #[span 04112]
                  td.table__td #[span 0411237251]
                  td.table__td  #[a.illustration-title(href="#") Комплект уплотнительных прокладок двигателя]
                    small.small Примечание: 2ZRFXE..ZVW30
                  td.table__td 
                    i.tooltip.fas.fa-info(data-template="params2")

          .spec.d-md-none

            .spec__title Наименование товара

            .spec__product.is-open
              .spec__heading Комплект уплотнительных прокладок двигателя
              .spec__detail
                dl.spec__params
                  dt.spec__property Номер
                  dd.spec__value 04111
                  dt.spec__property OEM
                  dd.spec__value 0411137312
                a.spec__params-more(href="#") Подробнаяя информация

            .spec__product
              .spec__heading Комплект уплотнительных прокладок двигателя
              .spec__detail
                dl.spec__params
                  dt.spec__property Номер
                  dd.spec__value 04111
                  dt.spec__property OEM
                  dd.spec__value 0411137312
                a.spec__params-more(href="#") Подробнаяя информация

            .spec__product
              .spec__heading Комплект уплотнительных прокладок двигателя
              .spec__detail
                dl.spec__params
                  dt.spec__property Номер
                  dd.spec__value 04112
                  dt.spec__property OEM
                  dd.spec__value 0411237251
                a.spec__params-more(href="#") Подробнаяя информация

            .spec__product
              .spec__heading Комплект уплотнительных прокладок двигателя
              .spec__detail
                dl.spec__params
                  dt.spec__property Номер
                  dd.spec__value 04112
                  dt.spec__property OEM
                  dd.spec__value 0411237251
                a.spec__params-more(href="#") Подробнаяя информация

  div(data-tooltip-content="params1")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]

  div(data-tooltip-content="params2")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]
          dl.manual-params__param
            dt.manual-params__value Количество
            dd.manual-params__property ДоставкаАвтотранспортом
          dl.manual-params__param
            dt.manual-params__value Range
            dd.manual-params__property 12.2011 - 02.2012

  include layouts/footer