extends templates/inner

block variables
  - let title = 'Подбор иллюстраций';
  - let pageClass = 'match-page';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/filter-3

block main
  include layouts/catalog-header-controls-2

  .tabs-section

    .tabs.tabs--secondary.tabs--full-body

      .tabs__header

        ul.tabs__list
          li.tabs__item
            a.tabs__link.is-active(href="#section-1") Подбор по группе
          li.tabs__item
            a.tabs__link(href="#section-2") Подбор по иллюстрациям

        .tabs__panes

          .tabs__tab-pane.is-active

            article.match-item-detail
              header.match-item-detail__header
                .match-item-detail__title Двигатель / Топливная система / Инструменты
              
              .match-item-detail__body

                .match-item-detail__illustration

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-item-detail-1.jpg" alt="")
                      figcaption.match-item__caption 1502: #[span Oil Filter]

                .match-item-detail__table

                  .table-responsive.d-none.d-md-block
                    table.table
                      thead.table__thead

                        tr.table__tr
                          th.table__th Номер
                          th.table__th OEM
                          th.table__th Наименование
                          th.table__th &nbsp;

                      tbody.table__tbody

                        tr.table__tr
                          td.table__td #[span 04152]
                          td.table__td #[span 0415237010]
                          td.table__td #[a.illustration-title(href="#") Фильтр масляный]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params1")

                        tr.table__tr
                          td.table__td #[span 15609]
                          td.table__td #[span 1560937040]
                          td.table__td #[a.illustration-title(href="#") Кронштейн масляного фильтра (в подсборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                        tr.table__tr
                          td.table__td #[span 15609D]
                          td.table__td #[span 9034120002]
                          td.table__td  #[a.illustration-title(href="#") Заглушка с цилиндрической головкой кронштейна масляного фильтра]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params2")

                        tr.table__tr
                          td.table__td #[span 15609H]
                          td.table__td #[span 9672324020]
                          td.table__td  #[a.illustration-title(href="#") Уплотнительное кольцо]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                  .spec.d-md-none
    
                    .spec__title Наименование товара

                    .spec__product.is-open
                      .spec__heading Фильтр масляный
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 04152
                          dt.spec__property OEM
                          dd.spec__value 0415237010
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Кронштейн масляного фильтра (в подсборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609
                          dt.spec__property OEM
                          dd.spec__value 1560937040
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Заглушка с цилиндрической головкой кронштейна масляного фильтра
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609D
                          dt.spec__property OEM
                          dd.spec__value 9034120002
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Уплотнительное кольцо
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609H
                          dt.spec__property OEM
                          dd.spec__value 9672324020
                        a.spec__params-more(href="#") Подробнаяя информация
                  
                  .text-right
                    a.btn.btn--reverse(href="#") Остальные детали узла +

              .match-item-detail__body

                .match-item-detail__illustration

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-item-detail-2.jpg" alt="")
                      figcaption.match-item__caption 1703: #[span Air Cleaner]

                .match-item-detail__table

                  .table-responsive.d-none.d-md-block
                    table.table
                      thead.table__thead

                        tr.table__tr
                          th.table__th Номер
                          th.table__th OEM
                          th.table__th Наименование
                          th.table__th &nbsp;

                      tbody.table__tbody

                        tr.table__tr
                          td.table__td #[span 17700]
                          td.table__td #[span 1770037261]
                          td.table__td  #[a.illustration-title(href="#") Корпус воздушного фильтра (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                        tr.table__tr
                          td.table__td #[span 17700]
                          td.table__td #[span 1770037261]
                          td.table__td #[a.illustration-title(href="#") Корпус воздушного фильтра (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params2")

                        tr.table__tr
                          td.table__td #[span 17801]
                          td.table__td #[span 9034120002]
                          td.table__td  #[a.illustration-title(href="#") Фильтр воздушный]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params1")

                        tr.table__tr
                          td.table__td #[span 17801]
                          td.table__td #[span 9034120002]
                          td.table__td  #[a.illustration-title(href="#") Фильтр воздушный]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")
                  
                  .text-right
                    a.btn.btn--reverse(href="#") Остальные детали узла +

            article.match-item-detail
              header.match-item-detail__header
                .match-item-detail__title Кузов/Салон

              .match-item-detail__body

                .match-item-detail__illustration

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-item-detail-3.jpg" alt="")
                      figcaption.match-item__caption 7701: #[span FUEL TANK &amp; TUBE]

                .match-item-detail__table

                  .table-responsive.d-none.d-md-block
                    table.table
                      thead.table__thead

                        tr.table__tr
                          th.table__th Номер
                          th.table__th OEM
                          th.table__th Наименование
                          th.table__th &nbsp;

                      tbody.table__tbody

                        tr.table__tr
                          td.table__td #[span 77020A]
                          td.table__td #[span 0415237010]
                          td.table__td #[a.illustration-title(href="#") Топливовсасывающая трубка с насосом и датчиком (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                        tr.table__tr
                          td.table__td #[span 77020A]
                          td.table__td #[span 1560937040]
                          td.table__td #[a.illustration-title(href="#") Топливовсасывающая трубка с насосом и датчиком (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                        tr.table__tr
                          td.table__td #[span 77024A]
                          td.table__td #[span 9034120002]
                          td.table__td #[a.illustration-title(href="#") Пластина топливовсасывающей трубки (в подсборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params2")

                        tr.table__tr
                          td.table__td #[span 77024A]
                          td.table__td #[span 9672324020]
                          td.table__td #[a.illustration-title(href="#") Пластина топливовсасывающей трубки (в подсборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params1")

                  .spec.d-md-none
    
                    .spec__title Наименование товара

                    .spec__product.is-open
                      .spec__heading Топливовсасывающая трубка с насосом и датчиком (в сборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 04152
                          dt.spec__property OEM
                          dd.spec__value 0415237010
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Топливовсасывающая трубка с насосом и датчиком (в сборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609
                          dt.spec__property OEM
                          dd.spec__value 1560937040
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Пластина топливовсасывающей трубки (в подсборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609D
                          dt.spec__property OEM
                          dd.spec__value 9034120002
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Пластина топливовсасывающей трубки (в подсборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609H
                          dt.spec__property OEM
                          dd.spec__value 9672324020
                        a.spec__params-more(href="#") Подробнаяя информация

                  .text-right
                    a.btn.btn--reverse(href="#") Остальные детали узла +

            article.match-item-detail
              header.match-item-detail__header
                .match-item-detail__title Электрика

              .match-item-detail__body

                .match-item-detail__illustration

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-item-detail-3.jpg" alt="")
                      figcaption.match-item__caption 8714: #[span HEATING &amp; AIR CONDITIONING - COOLER UNIT]

                .match-item-detail__table

                  .table-responsive.d-none.d-md-block
                    table.table
                      thead.table__thead

                        tr.table__tr
                          th.table__th Номер
                          th.table__th OEM
                          th.table__th Наименование
                          th.table__th &nbsp;

                      tbody.table__tbody

                        tr.table__tr
                          td.table__td #[span 04152]
                          td.table__td #[span 0415237010]
                          td.table__td #[a.illustration-title(href="#") Топливовсасывающая трубка с насосом и датчиком (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params1")

                        tr.table__tr
                          td.table__td #[span 15609]
                          td.table__td #[span 1560937040]
                          td.table__td #[a.illustration-title(href="#") Топливовсасывающая трубка с насосом и датчиком (в сборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-template="params2")

                        tr.table__tr
                          td.table__td #[span 15609D]
                          td.table__td #[span 9034120002]
                          td.table__td #[a.illustration-title(href="#") Пластина топливовсасывающей трубки (в подсборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

                        tr.table__tr
                          td.table__td #[span 15609H]
                          td.table__td #[span 9672324020]
                          td.table__td #[a.illustration-title(href="#") Пластина топливовсасывающей трубки (в подсборе)]
                          td.table__td 
                            i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")
                  
                  .spec.d-md-none
    
                    .spec__title Наименование товара

                    .spec__product.is-open
                      .spec__heading Топливовсасывающая трубка с насосом и датчиком (в сборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 04152
                          dt.spec__property OEM
                          dd.spec__value 0415237010
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Топливовсасывающая трубка с насосом и датчиком (в сборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609
                          dt.spec__property OEM
                          dd.spec__value 1560937040
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Пластина топливовсасывающей трубки (в подсборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609D
                          dt.spec__property OEM
                          dd.spec__value 9034120002
                        a.spec__params-more(href="#") Подробнаяя информация

                    .spec__product
                      .spec__heading Пластина топливовсасывающей трубки (в подсборе)
                      .spec__detail
                        dl.spec__params
                          dt.spec__property Номер
                          dd.spec__value 15609H
                          dt.spec__property OEM
                          dd.spec__value 9672324020
                        a.spec__params-more(href="#") Подробнаяя информация

                  .text-right
                    a.btn.btn--reverse(href="#") Остальные детали узла +
                
          .tabs__tab-pane

            .match-items

              .row

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-1.jpg" alt="")
                      figcaption.match-item__caption 0901: STANDARD TOOL

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-2.jpg" alt="")
                      figcaption.match-item__caption 1101: PARTIAL ENGINE ASSEMBLY

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-3.jpg" alt="")
                      figcaption.match-item__caption 1102: SHORT BLOCK ASSEMBLY

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-4.jpg" alt="")
                      figcaption.match-item__caption 1103: ENGINE OVERHAUL GASKET KIT

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-5.jpg" alt="")
                      figcaption.match-item__caption 1103: ENGINE OVERHAUL GASKET KIT

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-6.jpg" alt="")
                      figcaption.match-item__caption 1104: CYLINDER HEAD

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-7.jpg" alt="")
                      figcaption.match-item__caption 1104: CYLINDER HEAD

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-8.jpg" alt="")
                      figcaption.match-item__caption 1105: CYaLINDER BLOCK

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-9.jpg" alt="")
                      figcaption.match-item__caption 1105: CYaLINDER BLOCK

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-10.jpg" alt="")
                      figcaption.match-item__caption 1106: TIMING GEAR COVER & REAR END PLATE

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-11.jpg" alt="")
                      figcaption.match-item__caption 1107: MOUNTING

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-12.jpg" alt="")
                      figcaption.match-item__caption 1201: VENTILATION HOSE

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-13.jpg" alt="")
                      figcaption.match-item__caption 1502: OIL FILTER

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-14.jpg" alt="")
                      figcaption.match-item__caption 1601: WATER PUMP

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-15.jpg" alt="")
                      figcaption.match-item__caption 1701: MANIFOLD

                .col-6.col-sm-4.col-md-3

                  a.match-item(href="#")
                    figure.match-item__main
                      .match-item__img-wrap
                        img.match-item__img.img-responsive(src="assets/images/content/match-ill-16.jpg" alt="")
                      figcaption.match-item__caption 1702: EXHAUST PIPE

  div(data-tooltip-content="params1")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]

  div(data-tooltip-content="params2")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]
          dl.manual-params__param
            dt.manual-params__value Количество
            dd.manual-params__property ДоставкаАвтотранспортом
          dl.manual-params__param
            dt.manual-params__value Range
            dd.manual-params__property 12.2011 - 02.2012

block footer
  include layouts/footer