extends templates/inner-2

block variables
  - let title = 'Новости';
  - let pageClass = 'news-page';
  - let pageHeading = 'Новости';
  - let innerLogo = true;

block header
  include layouts/header-inner

block heading

  .inner-section__header
    h1.inner-section__heading #{pageHeading}
    a.inner-section__link(href="#") Все новости

block sidebar
  include components/category-nav-6

block main

  .inner-news

    include components/news/news-1-inner

    section.news-section.news-section--column

      include components/news/news-2-inner
      include components/news/news-3-inner
      include components/news/news-4-inner
      include components/news/news-5-inner
    
    section.news-section.news-section--row

      include components/news/news-6-inner
      include components/news/news-7-inner
      include components/news/news-8-inner
      include components/news/news-9-inner
      include components/news/news-10-inner

    include components/pagination

block footer
  include layouts/footer