extends templates/inner

block variables
  - let title = 'Заказ';
  - let pageClass = 'orders-page';
  - let pageHeading = 'Заказ';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}
    span № 00000154705@19
  
  include components/order-steps/order-steps
  include components/order-success-badge
  include components/orders-list
  include components/email-notification

block footer
  include layouts/footer