extends templates/inner

block variables
  - let title = 'Заказы';
  - let pageClass = 'orders-page';
  - let pageHeading = 'Заказы';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}

  header.orders-header-controls.d-md-none
    .orders-header-control
      a.orders-filter-toggle(href="#") 
        +icon('sliders-h', 'orders-filter-toggle__icon')
        | Фильтры
    .orders-header-control
      a.btn.btn--main(href="#") Мой кабинет

  include components/orders-filter
  include components/orders-table
  include components/pagination

block footer
  include layouts/footer