extends templates/inner

block variables
  - let title = 'Акт сверки';
  - let pageClass = 'payment-check-page';
  - let pageHeading = 'Акт сверки';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}

  header.orders-header-controls.d-md-none
    a.orders-filter-toggle(href="#") 
      +icon('sliders-h', 'orders-filter-toggle__icon')
      | Фильтры

  include components/orders-filter-2

  include layouts/card-specification-section-3

block footer
  include layouts/footer