extends templates/inner

block variables
  - let title = 'Оплата';
  - let pageClass = 'payment-page';
  - let pageHeading = 'Оплата';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-3

block main

  .main-heading
    h1.main-heading__text #{pageHeading}
    .main-heading__link-wrap 
      strong текущая задолженность
        span 0 KZT

  form.payment-form(action="/" method="POST" name="payment-form")
    .payment-form__fields
      .payment-form__field
        .payment-form__helper Введите данные для оплаты
      .payment-form__field
        input.payment-form__input(type="email" name="user-email" placeholder="Email плательщика")
      .payment-form__field.payment-form__field--currency
        input.payment-form__input(type="text" name="user-price" placeholder="Сумма к оплате")
        span.payment-form__currency KZT
      .payment-form__field
        input.payment-form__btn.btn.btn--main(type="submit" name="send-data" value="Оплатить")


block footer
  include layouts/footer