extends templates/inner

block variables
  - let title = 'Профиль';
  - let pageClass = 'profile-page';
  - let pageHeading = 'Профиль';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}

  form(action="/" method="POST" name="user-profile-edit")

    .section-area
      .section-area__heading Личные данные

      .manual-params.manual-params--bigger
        dl.manual-params__param
          dt.manual-params__value Ваша Фамилия
          dd.manual-params__property Иванов
        dl.manual-params__param
          dt.manual-params__value Ваше Имя
          dd.manual-params__property Николай
        dl.manual-params__param
          dt.manual-params__value Дата рождения
          dd.manual-params__property 20 марта 1992
        dl.manual-params__param
          dt.manual-params__value Телефон мобильный
          dd.manual-params__property +373 79 234 731
        dl.manual-params__param
          dt.manual-params__value Телефон стационарный
          dd.manual-params__property +373 2244 58 63
        a.manual-params__edit(href="#")
          +icon('pen', 'manual-params__edit-icon')
          | Редактировать

      .section-area__bordered
        .row
          .col-sm-4
            .section-area__field
              label.section-area__label(for="bl-log") Логин
              input.section-area__input(type="text" name="block-login" id="bl-log")
          .col-sm-4
            .section-area__field
              label.section-area__label(for="bl-code") Код пользователя
              input.section-area__input(type="text" name="block-code" id="bl-code")
          .col-sm-4.align-self-center
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="is-blocked" checked id="opt-block")
              label.checkbox-label__main(for="opt-block") Заблокировать

      .section-area
        .section-area__heading Изменить пароль

        .section-area__bordered

          .row
            .col-sm-4
              .section-area__field
                label.section-area__label(for="cr-psw") Текущий пароль #[span *]
                input.section-area__input(type="password" name="current-password" id="cr-psw")

            .col-sm-4
              .section-area__field
                label.section-area__label(for="new-psw") Новый пароль #[span *]
                input.section-area__input.section-area__input--gray(type="password" name="new-password" id="new-psw")

            .col-sm-4
              .section-area__field
                label.section-area__label(for="new-ver-psw") Новый пароль еще раз #[span *]
                input.section-area__input.section-area__input--gray(type="password" name="new-password-check" id="new-ver-psw")

          a.section-area__save-psw(href="#")
            +icon('save', 'section-area__save-psw-icon')
            | Сохранить изменения пароля

      .section-area
        .section-area__heading Роли в системе

        .section-area__bordered

          .row

            .col-sm-6

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-1" id="opt-1" checked)
                label.checkbox-label__main(for="opt-1") Администратор системы безопастности

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-2" id="opt-2")
                label.checkbox-label__main(for="opt-2") Менеджер по VIN запросам

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-3" id="opt-3")
                label.checkbox-label__main(for="opt-3") Менеджер по ключевым сотрудникам

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-4" id="opt-4" checked)
                label.checkbox-label__main(for="opt-4") Менеджер по общим вопросам

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-5" id="opt-5" checked)
                label.checkbox-label__main(for="opt-5") Менеджер контента

            .col-sm-6

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-6" id="opt-6" checked)
                label.checkbox-label__main(for="opt-6") Статистика

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-7" id="opt-7")
                label.checkbox-label__main(for="opt-7") Менеджер предприятий

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-8" id="opt-8")
                label.checkbox-label__main(for="opt-8") Доступ к программе лояльности

              .section-area__checkbox.checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-opt-9" id="opt-9" checked)
                label.checkbox-label__main(for="opt-9") Менеджер по работе с клиентами
      
      .section-area
        .section-area__heading Поиск по VIN

        .section-area__bordered

          .row

            .col-sm-3.align-self-center
              .checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-vin-opt-1" id="vin-opt-1" checked)
                label.checkbox-label__main(for="vin-opt-1") Неограниченно
            .col-sm-3.align-self-center
              .checkbox-label
                input.checkbox-label__input(type="checkbox" name="is-vin-opt-2" id="vin-opt-2")
                label.checkbox-label__main(for="vin-opt-2") По умолчанию
            .col-sm-6
              .section-area__field
                label.section-area__label(for="tenure-log") Срок действия
                input.section-area__input(type="text" name="tenure-log" id="tenure-log")

      .section-area
        .section-area__heading Представительства

        .client-options-wrap
          include layouts/client-options
        
        .client-detail
          .table-responsive
            table.table
              thead
                tr
                  th Клиент
                  th &nbsp;
                  th.text-center
                    +icon('key')
                  th.text-center
                    +icon('contacts')
                  th.text-center
                    +icon('file')
                  th.text-center
                    +icon('shopping-cart')
                  th &nbsp;
              tbody
                tr
                  td Администратор Webmall
                  td &nbsp;
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" name="s-opt-1" id="s-opt-1")
                      label.checkbox-label__main(for="s-opt-1")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" checked name="s-opt-2" id="s-opt-2")
                      label.checkbox-label__main(for="s-opt-2")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" name="s-opt-3" id="s-opt-3")
                      label.checkbox-label__main(for="s-opt-3")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" name="s-opt-4" id="s-opt-4")
                      label.checkbox-label__main(for="s-opt-4")
                  td.text-center
                    a.user-status-remove(href="#")
                      +icon('close', '')
                tr
                  td Кирюхина Татьяна
                  td &nbsp;
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" checked name="s-opt-5" id="s-opt-5")
                      label.checkbox-label__main(for="s-opt-5")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" checked name="s-opt-6" id="s-opt-6")
                      label.checkbox-label__main(for="s-opt-6")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" checked name="s-opt-7" id="s-opt-7")
                      label.checkbox-label__main(for="s-opt-7")
                  td
                    .checkbox-label
                      input.checkbox-label__input(type="checkbox" checked name="s-opt-8" id="s-opt-8")
                      label.checkbox-label__main(for="s-opt-8")
                  td.text-center
                    a.user-status-remove(href="#")
                      +icon('close', '')
    
      .section-area__summary
        a.section-area__summary-cancel(href="#") #[i.fa.fa-times-circle] Отмена
        input.btn.btn--main(type="submit" name="send-data" value="Сохранить изменения")

block footer
  include layouts/footer