extends templates/inner

block variables
  - let title = 'Профиль';
  - let pageClass = 'profile-page';
  - let pageHeading = 'Профиль';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main
  h1.main-title #{pageHeading}

  include components/profile

block footer
  include layouts/footer