extends templates/main

block variables
  - let title = 'Авторизация';
  - let pageClass = 'auth-page';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs-2

  .inner-section
    .inner-section__main.inner-section__main--wider
      .inner-section__header
        h1.inner-section__heading Регистрация
        a.inner-section__link(href="#") Вход в систему
        
      .inner-section__body.inner-section__body--no-gutters
          
        .reg-form-wrap
          include components/main-form-reg-3

  include layouts/footer