extends templates/main

block variables
  - let title = 'Авторизация';
  - let pageClass = 'auth-page';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs-2

  .inner-section
    .inner-section__main.inner-section__main--wider
      .inner-section__header
        h1.inner-section__heading Регистрация
        a.inner-section__link(href="#") Вход в систему
        
      .inner-section__body.inner-section__body--no-gutters

        .tabs-section

          .tabs

            .tabs__header

              ul.tabs__list
                li.tabs__item
                  a.tabs__link.is-active(href="#section-1") Физическое лицо
                li.tabs__item
                  a.tabs__link(href="#section-2") Юридическое лицо

            .tabs__panes

              .tabs__tab-pane.is-active.is-opened
                .tabs__accordeon-toggle Физическое лицо
                .tabs__accordeon-body
                  include components/main-form-reg-1

              .tabs__tab-pane
                .tabs__accordeon-toggle Юридическое лицо
                .tabs__accordeon-body
                  .inner-section__info
                    +icon('info', 'inner-section__info-icon')
                    p.inner-section__info-desc Для того, чтобы зарегистрироваться в качестве юридического лица, Вам необходимо позвонить по номеру #[a(href="#") 14814] или же заполнить форму ниже. После завершения регистрации с Вами свяжется менеджер и поможет закончить оформление карточки.
                  include components/main-form-reg-2

  include layouts/footer