extends templates/inner-2

block variables
  - let title = 'Результат поиска';
  - let pageClass = 'search-result-page';
  - let pageHeading = 'Результат поиска "op525"';
  - let innerLogo = true;

block header
  include layouts/header-inner

block heading
  h1.main-title #{pageHeading} #[small найдено 100 товаров]

block sidebar
  include components/category-nav-4
  include components/filter

block main
  include layouts/catalog-header-controls
  include layouts/search-result-list
  include components/pagination

block footer
  include layouts/footer