extends templates/main

block variables
  - let title = 'Результат поиска "Масляный фильтр"';
  - let pageClass = 'search-res-page';
  - let pageHeading = 'Результат поиска "Масляный фильтр"';
  - let innerLogo = true;

block content
  
  .header-banner
    a.header-banner__wrap(href="#")
      .header-banner__desc Tanauto Kazakhstan приостанавливает свою деятельность с 30 марта по 5 апреля 200. Следите за новостями!
      .header-banner__logo
        img.header-banner__logo-img(src="assets/images/general/banner-logo.jpg" alt="")
    a.header-banner__close(href="#")
      +icon('close', 'header-banner__close-icon')
 
  include layouts/header

  .container-fluid
    include components/breadcrumbs

    .main-heading
      h1.main-heading__text #{pageHeading}

    .section-area__heading Бренды

    ul.category-nav__list.category-nav__list--search-result
      li.category-nav__item
        a.category-nav__link(href="#") 2117 #[span (12)]
      li.category-nav__item
        a.category-nav__link(href="#") AUGER #[span (21)]
      li.category-nav__item.active
        a.category-nav__link(href="#") Bosal #[span (4)]
      li.category-nav__item
        a.category-nav__link(href="#") Bosh #[span (8)]
      li.category-nav__item
        a.category-nav__link(href="#") Cardex #[span (44)]
      li.category-nav__item
        a.category-nav__link(href="#") Comma #[span (52)]
      li.category-nav__item
        a.category-nav__link(href="#") Dayco #[span (13)]
      li.category-nav__item
        a.category-nav__link(href="#") Delsi #[span (81)]
      li.category-nav__item
        a.category-nav__link(href="#") Denvo #[span (2)]
      li.category-nav__item
        a.category-nav__link(href="#") EPS/Facet #[span (1)]
      li.category-nav__item
        a.category-nav__link(href="#") Febest #[span (1)]
      li.category-nav__item
        a.category-nav__link(href="#") FEBI #[span (17)]

  include layouts/footer