extends templates/main

block variables
  - let title = 'Подбор по автомобилю';
  - let pageClass = 'select-car-page';
  - let innerLogo = true;

block content

  include layouts/header-inner

  .container-fluid
    include components/breadcrumbs-2

  .inner-section.inner-section--mod
    .container-fluid
      .inner-section__header
        h1.inner-section__heading Подбор по автомобилю
        a(href="#")
          img.inner-section__header-img(src="assets/images/general/tecdoc.png" width="45" height="45")
        
      .inner-section__body.inner-section__body--no-gutters

        .tabs-section

          .tabs

            .tabs__header

              ul.tabs__list
                li.tabs__item
                  a.tabs__link.is-active(href="#section-1") Легковые
                li.tabs__item
                  a.tabs__link(href="#section-2") Грузовые

            .tabs__panes

              .tabs__tab-pane.is-active
                .tabs__accordeon-body
                  .tabs__accordeon-wrap

                    .car-selection.js-car-selection-type-1
                      .car-selection__field
                        select.js-select-car(name="car-brand")
                          option(placeholder) Выберите марку
                          option(value="Toyota") Toyota
                          option(value="Mazda") Mazda
                          option(value="BMW") BMW
                          option(value="Nissan") Nissan
                          option(value="Audi") Audi
                      .car-selection__field
                        select.js-select-car(name="car-model")
                          option(placeholder) Выберите модель
                          option(value="Land-Cruiser") Land Cruiser (_J12_)
                          option(value="A6") A6
                          option(value="Romero") Romero
                      .car-selection__field
                        select.js-select-car(name="car-fuel")
                          option(placeholder) Тип топлива
                          option(value="type-1") Дизель
                          option(value="type-2") Газ
                          option(value="type-3") Бензин
                      .car-selection__field
                        select.js-select-car(name="car-year")
                          option(placeholder) Год выпуска
                          option(value="years-set-1") 1990-2000
                          option(value="years-set-2") 2000-2010
                          option(value="years-set-3") 2010-2020
                          option(value="years-set-4") 2020-2030
                          option(value="years-set-5") 2030-2040
                      .row
                        .col-sm-6
                          input.car-selection__input(type="text" name="param-1" placeholder="Объем")
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-1" id="opt-1")
                            label.checkbox-label__main(for="opt-1") +/- 10%
                        .col-sm-6
                          .car-selection__power
                            input.car-selection__input(type="text" name="param-2" placeholder="Мощность")
                            select.js-select-default
                              option(value="set-1") кВт
                              option(value="set-2") вт
                              option(value="set-3") кВт
                              option(value="set-4") вт
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-2" id="opt-2")
                            label.checkbox-label__main(for="opt-2") +/- 10%

                  .inner-section__type-img-wrap
                    img.inner-section__type-img.img-responsive(src="assets/images/general/car-type.png" width="600" height="400")

              .tabs__tab-pane
                .tabs__accordeon-body
                  .tabs__accordeon-wrap

                    .car-selection.js-car-selection-type-2
                      .car-selection__field
                        select.js-select-truck(name="car-brand")
                          option(placeholder) Выберите марку
                          option(value="Toyota") Toyota
                          option(value="Mazda") Mazda
                          option(value="BMW") BMW
                          option(value="Nissan") Nissan
                          option(value="Audi") Audi
                      .car-selection__field
                        select.js-select-truck(name="car-model")
                          option(placeholder) Выберите модель
                          option(value="Land-Cruiser") Land Cruiser (_J12_)
                          option(value="A6") A6
                          option(value="Romero") Romero
                      .car-selection__field
                        select.js-select-truck(name="car-fuel")
                          option(placeholder) Тип топлива
                          option(value="type-1") Дизель
                          option(value="type-2") Газ
                          option(value="type-3") Бензин
                      .car-selection__field
                        select.js-select-truck(name="car-year")
                          option(placeholder) Год выпуска
                          option(value="years-set-1") 1990-2000
                          option(value="years-set-2") 2000-2010
                          option(value="years-set-3") 2010-2020
                          option(value="years-set-4") 2020-2030
                          option(value="years-set-5") 2030-2040
                      .row
                        .col-sm-6
                          input.car-selection__input(type="text" name="param-1" placeholder="Объем")
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-3" id="opt-3")
                            label.checkbox-label__main(for="opt-3") +/- 10%
                        .col-sm-6
                          .car-selection__power
                            input.car-selection__input(type="text" name="param-2" placeholder="Мощность")
                            select.js-select-default
                              option(value="set-1") кВт
                              option(value="set-2") вт
                              option(value="set-3") кВт
                              option(value="set-4") вт
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-4" id="opt-4")
                            label.checkbox-label__main(for="opt-4") +/- 10%
                  
                  .inner-section__type-img-wrap
                    img.inner-section__type-img.img-responsive(src="assets/images/general/truck-type.png")

        a(href="#")
          img.inner-section__brand-img(src="assets/images/general/tecdoc.png" width="65" height="65")
    
  .container-fluid
    include layouts/card-specification-section-2

  include layouts/footer