extends templates/main

block variables
  - let title = 'Подбор по автомобилю';
  - let pageClass = 'select-car-page';
  - let innerLogo = true;

block content

  include layouts/header-inner

  .container-fluid
    include components/breadcrumbs-2

  .inner-section.inner-section--mod
    .container-fluid
      .inner-section__header
        h1.inner-section__heading Подбор по автомобилю
        a(href="#")
          img.inner-section__header-img(src="assets/images/general/tecdoc.png" width="45" height="45")
        
      .inner-section__body.inner-section__body--no-gutters

        .tabs-section

          .tabs

            .tabs__header

              ul.tabs__list
                li.tabs__item
                  a.tabs__link.is-active(href="#section-1") Легковые
                li.tabs__item
                  a.tabs__link(href="#section-2") Грузовые

            .tabs__panes

              .tabs__tab-pane.is-active
                .tabs__accordeon-body
                  .tabs__accordeon-wrap

                    .car-selection.js-car-selection-type-1
                      .car-selection__field
                        select.js-select-car(name="car-brand")
                          option(placeholder) Выберите марку
                          option(value="Toyota") Toyota
                          option(value="Mazda") Mazda
                          option(value="BMW") BMW
                          option(value="Nissan") Nissan
                          option(value="Audi") Audi
                      .car-selection__field
                        select.js-select-car(name="car-model")
                          option(placeholder) Выберите модель
                          option(value="Land-Cruiser") Land Cruiser (_J12_)
                          option(value="A6") A6
                          option(value="Romero") Romero
                      .car-selection__field
                        select.js-select-car(name="car-fuel")
                          option(placeholder) Тип топлива
                          option(value="type-1") Дизель
                          option(value="type-2") Газ
                          option(value="type-3") Бензин
                      .car-selection__field
                        select.js-select-car(name="car-year")
                          option(placeholder) Год выпуска
                          option(value="years-set-1") 1990-2000
                          option(value="years-set-2") 2000-2010
                          option(value="years-set-3") 2010-2020
                          option(value="years-set-4") 2020-2030
                          option(value="years-set-5") 2030-2040
                      .row
                        .col-sm-6
                          input.car-selection__input(type="text" name="param-1" placeholder="Объем")
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-1" id="opt-1")
                            label.checkbox-label__main(for="opt-1") +/- 10%
                        .col-sm-6
                          .car-selection__power
                            input.car-selection__input(type="text" name="param-2" placeholder="Мощность")
                            select.js-select-default
                              option(value="set-1") кВт
                              option(value="set-2") вт
                              option(value="set-3") кВт
                              option(value="set-4") вт
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-2" id="opt-2")
                            label.checkbox-label__main(for="opt-2") +/- 10%

                  .inner-section__type-img-wrap
                    img.inner-section__type-img.img-responsive(src="assets/images/general/car-type.png" width="600" height="400")

              .tabs__tab-pane
                .tabs__accordeon-body
                  .tabs__accordeon-wrap

                    .car-selection.js-car-selection-type-2
                      .car-selection__field
                        select.js-select-truck(name="car-brand")
                          option(placeholder) Выберите марку
                          option(value="Toyota") Toyota
                          option(value="Mazda") Mazda
                          option(value="BMW") BMW
                          option(value="Nissan") Nissan
                          option(value="Audi") Audi
                      .car-selection__field
                        select.js-select-truck(name="car-model")
                          option(placeholder) Выберите модель
                          option(value="Land-Cruiser") Land Cruiser (_J12_)
                          option(value="A6") A6
                          option(value="Romero") Romero
                      .car-selection__field
                        select.js-select-truck(name="car-fuel")
                          option(placeholder) Тип топлива
                          option(value="type-1") Дизель
                          option(value="type-2") Газ
                          option(value="type-3") Бензин
                      .car-selection__field
                        select.js-select-truck(name="car-year")
                          option(placeholder) Год выпуска
                          option(value="years-set-1") 1990-2000
                          option(value="years-set-2") 2000-2010
                          option(value="years-set-3") 2010-2020
                          option(value="years-set-4") 2020-2030
                          option(value="years-set-5") 2030-2040
                      .row
                        .col-sm-6
                          input.car-selection__input(type="text" name="param-1" placeholder="Объем")
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-3" id="opt-3")
                            label.checkbox-label__main(for="opt-3") +/- 10%
                        .col-sm-6
                          .car-selection__power
                            input.car-selection__input(type="text" name="param-2" placeholder="Мощность")
                            select.js-select-default
                              option(value="set-1") кВт
                              option(value="set-2") вт
                              option(value="set-3") кВт
                              option(value="set-4") вт
                          .checkbox-label
                            input.checkbox-label__input(type="checkbox" name="is-opt-4" id="opt-4")
                            label.checkbox-label__main(for="opt-4") +/- 10%
                  
                  .inner-section__type-img-wrap
                    img.inner-section__type-img.img-responsive(src="assets/images/general/truck-type.png")

  .container-fluid

    .top-brands-section

      .main-heading
        .main-heading__text Популярные бренды

      .brands-row
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/bmw.png" alt="")
              figcaption.top-brand__title BMW
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/citroen.png" alt="")
              figcaption.top-brand__title Citroen
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/ds.png" alt="")
              figcaption.top-brand__title DS
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/lexus.png" alt="")
              figcaption.top-brand__title Lexus
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/mazda.png" alt="")
              figcaption.top-brand__title Mazda
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/mercedes.png" alt="")
              figcaption.top-brand__title Mercedes-Benz
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/mini.png" alt="")
              figcaption.top-brand__title MINI
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/mitsubishi.png" alt="")
              figcaption.top-brand__title Mitsubishi
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/opel.png" alt="")
              figcaption.top-brand__title Opel
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/peugeot.png" alt="")
              figcaption.top-brand__title Peugeot
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/renault.png" alt="")
              figcaption.top-brand__title Renault
        .brands-col
          a.top-brand(href="#")
            figure.top-brand__main
              .top-brand__img-wrap
                img.top-brand__img.img-responsive(src="assets/images/general/rolls-royce.png" alt="")
              figcaption.top-brand__title Rolls-Royce

    .brands-list-section

      .main-heading
        .main-heading__text Все бренды

      .row
        .col-6.col-md-3
          ul.brands-list
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/acura-thumb.png" alt="")
                  figcaption.brand-thumb__title Acura
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/alfa-romeo-thumb.png" alt="")
                  figcaption.brand-thumb__title Alfa Romeo
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/apollo-thumb.png" alt="")
                  figcaption.brand-thumb__title Apollo
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/aston-thumb.png" alt="")
                  figcaption.brand-thumb__title Aston Martin
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/audi-thumb.png" alt="")
                  figcaption.brand-thumb__title Audi
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bentley-thumb.png" alt="")
                  figcaption.brand-thumb__title Bentley
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bmw-thumb.png" alt="")
                  figcaption.brand-thumb__title BMW
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/brilliance-thumb.png" alt="")
                  figcaption.brand-thumb__title Brilliance

        .col-6.col-md-3
          ul.brands-list
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/acura-thumb.png" alt="")
                  figcaption.brand-thumb__title Bugatti
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/alfa-romeo-thumb.png" alt="")
                  figcaption.brand-thumb__title Buick
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/apollo-thumb.png" alt="")
                  figcaption.brand-thumb__title BYD
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/aston-thumb.png" alt="")
                  figcaption.brand-thumb__title Cadillac
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/audi-thumb.png" alt="")
                  figcaption.brand-thumb__title Chana
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bentley-thumb.png" alt="")
                  figcaption.brand-thumb__title Chery
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bmw-thumb.png" alt="")
                  figcaption.brand-thumb__title Chevrolet
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/brilliance-thumb.png" alt="")
                  figcaption.brand-thumb__title Chrysler
      
        .col-6.col-md-3
          ul.brands-list
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/acura-thumb.png" alt="")
                  figcaption.brand-thumb__title Citroen
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/alfa-romeo-thumb.png" alt="")
                  figcaption.brand-thumb__title Cupra
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/apollo-thumb.png" alt="")
                  figcaption.brand-thumb__title Dacia
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/aston-thumb.png" alt="")
                  figcaption.brand-thumb__title Daewoo
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/audi-thumb.png" alt="")
                  figcaption.brand-thumb__title Daihatsu
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bentley-thumb.png" alt="")
                  figcaption.brand-thumb__title Datsun
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bmw-thumb.png" alt="")
                  figcaption.brand-thumb__title Detroit Electric
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/brilliance-thumb.png" alt="")
                  figcaption.brand-thumb__title Dodge
      
        .col-6.col-md-3
          ul.brands-list
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/acura-thumb.png" alt="")
                  figcaption.brand-thumb__title DS
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/alfa-romeo-thumb.png" alt="")
                  figcaption.brand-thumb__title FAW
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/apollo-thumb.png" alt="")
                  figcaption.brand-thumb__title Ferrari
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/aston-thumb.png" alt="")
                  figcaption.brand-thumb__title Fiat
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/audi-thumb.png" alt="")
                  figcaption.brand-thumb__title Fisker
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bentley-thumb.png" alt="")
                  figcaption.brand-thumb__title Ford
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/bmw-thumb.png" alt="")
                  figcaption.brand-thumb__title Geely
            li.brands-list__item
              a.brand-thumb(href="#")
                figure.brand-thumb__main
                  .brand-thumb__img-wrap
                    img.brand-thumb__img.img-responsive(src="assets/images/general/brilliance-thumb.png" alt="")
                  figcaption.brand-thumb__title GMC

  include layouts/footer