extends templates/sticky-footer

block variables
  - let title = 'Фиксированный подвал';
  - let pageClass = '';
  - let pageHeading = 'Фиксированный подвал';
  - let innerLogo = true;

block content
  
  .header-banner
    a.header-banner__wrap(href="#")
      .header-banner__desc Tanauto Kazakhstan приостанавливает свою деятельность с 30 марта по 5 апреля 200. Следите за новостями!
      .header-banner__logo
        img.header-banner__logo-img(src="assets/images/general/banner-logo.jpg" alt="")
    a.header-banner__close(href="#")
      +icon('close', 'header-banner__close-icon')
 
  include layouts/header

  .container-fluid
    include components/breadcrumbs

    .main-heading
      h1.main-heading__text #{pageHeading}

block footer
  
  include layouts/footer