extends templates/main

block variables
  - let title = 'Онлайн-запись на СТО';
  - let pageClass = 'sto-page-main';
  - let pageHeading = 'Онлайн-запись на СТО';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    main

      .main-heading
        h1.main-heading__text #{pageHeading}

      form.signup-sto(action="/" method="POST" name="signup-sto")

        fieldset.signup-sto__car-data

          legend.signup-sto__heading Данные автомобиля

          .row

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="u-car-vincode") Выберите марку #[span *]
                select.js-select-autocomplete(name="car-brand" id="u-car-vincode")
                  option(value="BMW") BMW
                  option(value="Toyota") Toyota
                  option(value="Mazda") Mazda
                  option(value="Nissan") Nissan
                  option(value="Audi") Audi

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="u-car-model") Модель авто #[span *]
                select.js-select-autocomplete(name="car-model" id="u-car-model")
                  option(value="Land-Cruiser") Land Cruiser (_J12_)
                  option(value="A6") A6
                  option(value="Romero") Romero

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="u-car-engine") Объем и тип двигателя #[span *]
                select.js-select-default(name="car-engine" id="u-car-engine")
                  option(value="2.0") 2.0
                  option(value="2.2") 2.2
                  option(value="3.0") 3.0
                  option(value="4.0") 4.0

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="u-car-year") Год выпуска #[span *]
                select.js-select-autocomplete(name="car-year" id="u-car-year")
                  option(value="1980-1985") 1980-1985
                  option(value="1985-1990") 1985-1990
                  option(value="1990-1995") 1990-1995
                  option(value="1995-2000") 1995-2000
                  option(value="2000-2005") 2000-2005
                  option(value="2005-2010") 2005-2010
                  option(value="2010-2015") 2010-2015
                  option(value="2015-2020") 2015-2020

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="user-car-vincode") VIN код автомобиля
                input.signup-sto__input(id="user-car-vincode" type="text" name="user-car-vincode")

            .col-sm-6.col-md-4

              .signup-sto__field
                label.signup-sto__label(for="user-car-number") Гос. номер автомобиля
                input.signup-sto__input(id="user-car-number" type="text" name="user-car-number")

        fieldset.signup-sto__owner-data

          .row

            .col-md-6

              .signup-sto__heading Данные владельца

              .row

                .col-sm-6
                  .signup-sto__field
                    label.signup-sto__label(for="u-name") Ваше Имя
                    input.signup-sto__input(id="u-name" type="text" name="user-name")

                .col-sm-6
                  .signup-sto__field
                    label.signup-sto__label(for="user-phone") Ваш номер мобильного #[span.signup-sto__label-required *]
                    input.signup-sto__input(id="user-phone" type="text" name="user-phone" placeholder="+727")

            .col-md-6

              .signup-sto__heading Время записи

              .row

                .col-sm-6
                  .signup-sto__field
                    label.signup-sto__label(for="date-from") Время #[span *]
                    .date-picker-main
                      input.signup-sto__date-from(id="date-from" type="text" name="order-from" placeholder="Дата")
                      +icon('calendar-alt', 'date-picker-main-icon')

                .col-sm-6
                  .signup-sto__field
                    label.signup-sto__label(for="u-signup-time") Время
                    select.js-select-default(name="signup-time" id="u-signup-time")
                      option(value="10:00") 10:00
                      option(value="11:00") 11:00
                      option(value="12:00") 12:00
                      option(value="13:00") 13:00
                      option(value="14:00") 14:00
                      option(value="15:00") 15:00
                      option(value="16:00") 16:00
                      option(value="17:00") 17:00
                      option(value="18:00") 18:00
                      option(value="19:00") 19:00

        fieldset.signup-sto__service-data

          legend.signup-sto__heading Время записи #[span *]

          .radio-option

            .row

              .col-sm-6.col-md-4
                .radio-opt.active
                  .radio-opt__title СТО Варница
                  .radio-opt__address г. Кишинёв, ул. Варница 8/1
                  .radio-opt__footer
                    .radio-label
                      input.radio-label__input(type="radio" name="payment" value="payment-online" checked id="opt-1")
                      label.radio-label__main(for="opt-1") Выбрать
                    .radio-opt__service
                      i.tooltip.fas.fa-info(data-template="params1") #[span Услуги]

              .col-sm-6.col-md-4
                .radio-opt
                  .radio-opt__title СТО Каля Ешилор
                  .radio-opt__address г. Кишинёв, ул. Каля Ешилор 14
                  .radio-opt__footer
                    .radio-label
                      input.radio-label__input(type="radio" name="payment" value="payment-cash" id="opt-2")
                      label.radio-label__main(for="opt-2") Выбрать
                    .radio-opt__service
                      i.tooltip.fas.fa-info(data-template="params2") #[span Услуги]

              .col-sm-6.col-md-4
                .radio-opt
                  .radio-opt__title СТО Узинелор
                  .radio-opt__address г. Кишинёв, ул. Узинелор, 88
                  .radio-opt__footer
                    .radio-label
                      input.radio-label__input(type="radio" name="payment" value="payment-cash" id="opt-3")
                      label.radio-label__main(for="opt-3") Выбрать
                    .radio-opt__service
                      i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара") #[span Услуги]

              .col-sm-6.col-md-4
                .radio-opt
                  .radio-opt__title СТО Бельцы
                  .radio-opt__address г. Бельцы, ул. Аэродромная 7а
                  .radio-opt__footer
                    .radio-label
                      input.radio-label__input(type="radio" name="payment" value="payment-cash" id="opt-4")
                      label.radio-label__main(for="opt-4") Выбрать
                    .radio-opt__service
                      i.tooltip.fas.fa-info(data-template="params2") #[span Услуги]

              .col-sm-6.col-md-4
                .radio-opt
                  .radio-opt__title СТО Комрат
                  .radio-opt__address г. Комрат, ул. Победы 115
                  .radio-opt__footer
                    .radio-label
                      input.radio-label__input(type="radio" name="payment" value="payment-cash" id="opt-5")
                      label.radio-label__main(for="opt-5") Выбрать
                    .radio-opt__service
                      i.tooltip.fas.fa-info(data-template="params1") #[span Услуги]

        .signup-sto__footer

          .row

            .col-md-9
              textarea.signup-sto__msg(rows="1" name="user-msg" placeholder="Краткое описание проблемы")

            .col-md-3
              input.signup-sto__btn.btn.btn--main(type="submit" name="send-data" value="Записаться на СТО")

  div(data-tooltip-content="params1")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]

  div(data-tooltip-content="params2")
    .tooltip-markup
      .tooltip-markup__heading Подробная информация
      .tooltip-markup__body
        .manual-params
          dl.manual-params__param
            dt.manual-params__value Номер
            dd.manual-params__property 04112
          dl.manual-params__param
            dt.manual-params__value Наименование
            dd.manual-params__property Комплект уплотнительных прокладок двигателя #[small Примечание: 2ZRFXE..ZVW30]
          dl.manual-params__param
            dt.manual-params__value Количество
            dd.manual-params__property ДоставкаАвтотранспортом
          dl.manual-params__param
            dt.manual-params__value Range
            dd.manual-params__property 12.2011 - 02.2012

  include layouts/footer