extends templates/main

block variables
  - let title = 'Учебный центр AUTO MALL';
  - let pageClass = 'auth-page';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs-2

  include layouts/training-promo-section

  .section
    .section-max-width
      .main-heading
        .main-heading__text Предстоящие тренинги

      .table-responsive
        table.training-table
          thead
            tr
              th Дата
              th Тема
              th Тренер
              th Стоимость
          tbody
            tr
              td #[time.training-table__date(datetime="2019-10-24") 24 октября 2019]
              td #[div.training-table__topic Специалист по продаже запасных частей]
              td #[span.training-table__coach Вячеслав Литовкий]
              td 
                .training-table__summary
                  strong.training-table__price 200 MDL
                  a.training-table__btn.btn.btn--main(href="#") Регистрация
            tr
              td #[time.training-table__date(datetime="2019-10-24") 24 октября 2019]
              td #[div.training-table__topic Магическая сила управления проектами]
              td #[span.training-table__coach Данила Поперечный]
              td 
                .training-table__summary
                  strong.training-table__price 250 MDL
                  a.training-table__btn.btn.btn--main(href="#") Регистрация
            tr
              td #[time.training-table__date(datetime="2019-10-24") 24 октября 2019]
              td #[div.training-table__topic Риск менеджмент]
              td #[span.training-table__coach Стас Сечирбу]
              td 
                .training-table__summary
                  strong.training-table__price 100 MDL
                  a.training-table__btn.btn.btn--main(href="#") Регистрация
            tr
              td #[time.training-table__date(datetime="2019-10-24") 24 октября 2019]
              td #[div.training-table__topic Продвижение товаров на заподные рынки]
              td #[span.training-table__coach Ион Петряну]
              td 
                .training-table__summary
                  strong.training-table__price 100 MDL
                  a.training-table__btn.btn.btn--main(href="#") Регистрация
      
      include components/training-subscribe-section

  .section.section--gray
    .section-max-width
      .main-heading
        .main-heading__text Отзывы наших Клиентов

      .opinions-carousel
        .swiper-container.opinions-carousel__container.js-opinions-carousel
          .swiper-wrapper

            .swiper-slide

              article.opinion
                figure.opinion__author
                  .opinion__author-img-wrap
                    img.opinion__author-img(src="assets/images/content/opinion-1.png" alt="")
                  figcaption.opinion__caption
                    .opinion__author-name Труханов Олег
                    p.opinion__desc Мне все понравилось. Уточнил подбор автозапчастей по номеру шасси, а также новые сайты для точного подбора.
                div.opinion__details
                  div.opinion__topic-heading Семинар:
                  a.opinion__topic(href="#") Технический семинар от компании SWAG

            .swiper-slide

              article.opinion
                figure.opinion__author
                  .opinion__author-img-wrap
                    img.opinion__author-img(src="assets/images/content/opinion-2.png" alt="")
                  figcaption.opinion__caption
                    .opinion__author-name Ольга Труханова
                    p.opinion__desc Отличный тренинг! Понравилось то, что мы разбирали ситуации, которые были грамотно представлены и истолкованы...
                div.opinion__details
                  div.opinion__topic-heading Семинар:
                  a.opinion__topic(href="#") Персонализация продаж. Типологии клиентов

            .swiper-slide

              article.opinion
                figure.opinion__author
                  .opinion__author-img-wrap
                    img.opinion__author-img(src="assets/images/content/opinion-3.png" alt="")
                  figcaption.opinion__caption
                    .opinion__author-name Caraman Vadim
                    p.opinion__desc Mi-a plăcut pe nota "5". Am învaţat cum să îndeplineşti un lucru corect, ca să poţi da un garant unui client
                div.opinion__details
                  div.opinion__topic-heading Семинар:
                  a.opinion__topic(href="#") Дизельный впрыск BOSCH. Уровень: Специалист

          .opinions-carousel__pagination

  .section
    .section-max-width
      p.training-promo-desc Лорем ипсум долор сит амет, партем саперет маиестатис сед ад, еам тимеам репрехендунт ат. Постеа долорум опортеат ид еос, меа ферри цонсулату модератиус еа. Еи граецо патриояуе яуи. Но цоммуне фастидии тациматес меа, пер но латине деленити репрехендунт. Модо видерер яуо не, сит ет вери аццусата торяуатос.
      .iframe-wrap
        .iframe-main
          iframe(src="about:blank" data-src="https://www.youtube.com/embed/N6zm52tRF0c" allowfullscreen="")

  .section.section--gray
    .section-max-width
      .main-heading
        .main-heading__text Архив проведенных тренингов

      .trainings-carousel
        .swiper-container.trainings-carousel__container.js-trainings-carousel
          .swiper-wrapper

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Система охлаждения и инновационные присадки

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc DSG - конструкция, принцип работы. Двухмассовый маховик – конструкция, принцип работы, диагностика, причины выхода из строя.
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Комплекты сцепления BLUE PRINT. Цепи ГРМ SWAG.

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Тенденции автомобильного рынка и инновации в маслах
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Лямбда сенсоры, свечи зажигания свечи накаливания, датчики

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Система охлаждения и инновационные присадки

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc DSG - конструкция, принцип работы. Двухмассовый маховик – конструкция, принцип работы, диагностика, причины выхода из строя.
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Комплекты сцепления BLUE PRINT. Цепи ГРМ SWAG.

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Тенденции автомобильного рынка и инновации в маслах
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Лямбда сенсоры, свечи зажигания свечи накаливания, датчики

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Регулировка углов установки колес

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Персонализация продаж. Типологии клиентов Персонализация продаж. Типологии клиентов
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Профессиональная приемка и этапы работы на СТО

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Технический семинар от компании SWAG

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Специалист по продаже запасных частей

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Регулировка углов установки колес

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Персонализация продаж. Типологии клиентов

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Профессиональная приемка и этапы работы на СТО

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Технический семинар от компании SWAG. Технический семинар от компании SWAG
                    i.training-archive__more.fas.fa-ellipsis-h

            .swiper-slide
              a.training-archive(href="#")
                article.training-archive__body
                  .training-archive__wrap
                    time.training-archive__date(datetime="2019-08-24") 24.08.2019
                    p.training-archive__desc Специалист по продаже запасных частей

          .trainings-carousel__pagination

  .meating-carousel
    .swiper-container.meating-carousel__container.js-meating-carousel
      .swiper-wrapper

        .swiper-slide
          a.meating-promo(href="assets/images/content/illustration.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

        .swiper-slide
          a.meating-promo(href="assets/images/content/product-main-promo-zoom-1.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

        .swiper-slide
          a.meating-promo(href="assets/images/content/illustration.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

        .swiper-slide
          a.meating-promo(href="assets/images/content/product-main-promo-zoom-1.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

        .swiper-slide
          a.meating-promo(href="assets/images/content/illustration.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

        .swiper-slide
          a.meating-promo(href="assets/images/content/product-main-promo-zoom-1.jpg")
            img.meating-promo__img(src="assets/images/content/training-slide-1.jpg" alt="")

      .meating-carousel__prev
        +icon('arrow-left', 'meating-carousel__move-icon')
      .meating-carousel__next
        +icon('arrow-right', 'meating-carousel__move-icon')

  include layouts/footer