extends templates/main

block variables
  - let title = 'Подбор шин';
  - let pageClass = 'tyres-page';
  - let pageHeading = 'Подбор шин';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    .main-heading
      h1.main-heading__text #{pageHeading}
      .main-heading__link-wrap
        a.main-heading__link(href="#") Все шины

    main.tyres-area

      .row.align-items-center

        .col-md-6

          form.tyres-area__main(action="/" name="tyres select" method="GET")

            .tyres-area__row

              .tyres-area__seasons
                .tyres-area__seasons-heading Сезонность
                .tyres-area__seasons-options
                  .radio-label
                     input.radio-label__input(type="radio" name="season" value="summer" checked id="summer")
                     label.radio-label__main(for="summer") Летние
                  .radio-label
                     input.radio-label__input(type="radio" name="season" value="winter" id="winter")
                     label.radio-label__main(for="winter") Зимние
                  .radio-label
                     input.radio-label__input(type="radio" name="season" value="all-seasons" id="all-seasons")
                     label.radio-label__main(for="all-seasons") Всесезонные

            .tyres-area__row.tyres-area__row--last

              .tyres-area__params
                .tyres-area__params-row
                  .tyres-area__param
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-width") Ширина
                      select.js-select-default(name="tyre-width" id="u-tyre-width")
                        option(placeholder) &nbsp;
                        option(value="225") 225 мм
                        option(value="325") 325 мм
                        option(value="425") 425 мм
                        option(value="525") 525 мм
                  .tyres-area__param
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-height") Высота
                      select.js-select-default(name="tyre-height" id="u-tyre-height")
                        option(placeholder) &nbsp;
                        option(value="55") 55 мм
                        option(value="66") 66 мм
                        option(value="77") 77 мм
                  .tyres-area__param
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-diameter") Диаметр
                      select.js-select-default(name="tyre-diameter" id="u-tyre-diameter")
                        option(placeholder) &nbsp;
                        option(value="16") 16
                        option(value="18") 18
                        option(value="20") 20
                        option(value="22") 22
                        option(value="24") 24
                        option(value="26") 26
                .tyres-area__helper
                  img.tyres-area__helper-img.img-responsive(src="assets/images/general/tyre-inputs-helper.png" alt="")

            .tyres-area__footer
              .tyres-area__footer-main
                div.tyres-area__calculate
                  a.tyres-area__calculate-link(href="#") #[i.fas.fa-calculator]Шинный калькулятор
                input.tyres-area__btn.btn.btn--main(type="submit" name="send-data" value="Подобрать")

        .col-md-6

          .tyres-area__img-wrap
            img.tyres-area__img.img-responsive(src="assets/images/general/tyres-meaning.png" alt="")

  include layouts/footer