extends templates/main

block variables
  - let title = 'Шинный калькулятор';
  - let pageClass = 'tyres-calc-page';
  - let pageHeading = 'Шинный калькулятор';
  - let innerLogo = true;

block content

  include layouts/header

  .container-fluid
    include components/breadcrumbs

    .main-heading
      h1.main-heading__text #{pageHeading}

    main.tyres-area

      include components/notification-2

      .row.align-items-center

        .col-md-6

          form.tyres-area__main(action="/" name="tyres select" method="GET")

            .tyres-area__row
              .tyres-area__row-heading Старый размер

              .tyres-area__params
                .tyres-area__params-row
                  .tyres-area__param
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-width") #[strong A] Ширина
                      select.js-select-default(name="tyre-width" id="u-tyre-width")
                        option(placeholder) &nbsp;
                        option(value="225") 225 мм
                        option(value="325") 325 мм
                        option(value="425") 425 мм
                        option(value="525") 525 мм
                  .tyres-area__param
                    .tyres-area__param-helper-symb /
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-height") #[strong B] Высота
                      select.js-select-default(name="tyre-height" id="u-tyre-height")
                        option(placeholder) &nbsp;
                        option(value="55") 55 мм
                        option(value="66") 66 мм
                        option(value="77") 77 мм
                  .tyres-area__param
                    .tyres-area__param-helper-symb R
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-diameter") #[strong C] Диаметр
                      select.js-select-default(name="tyre-diameter" id="u-tyre-diameter")
                        option(placeholder) &nbsp;
                        option(value="16") 16
                        option(value="18") 18
                        option(value="20") 20
                        option(value="22") 22
                        option(value="24") 24
                        option(value="26") 26

            .tyres-area__row.tyres-area__row--last-calc
              .tyres-area__row-heading Новый размер

              .tyres-area__params
                .tyres-area__params-row
                  .tyres-area__param
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-width-res") #[strong A] Ширина
                      select.js-select-default(name="tyre-width-result" id="u-tyre-width-res")
                        option(placeholder) &nbsp;
                        option(value="225") 225 мм
                        option(value="325") 325 мм
                        option(value="425") 425 мм
                        option(value="525") 525 мм
                  .tyres-area__param
                    .tyres-area__param-helper-symb /
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-height-res") #[strong B] Высота
                      select.js-select-default(name="tyre-height-result" id="u-tyre-height-res")
                        option(placeholder) &nbsp;
                        option(value="55") 55 мм
                        option(value="66") 66 мм
                        option(value="77") 77 мм
                  .tyres-area__param
                    .tyres-area__param-helper-symb R
                    .tyres-area__param-field
                      label.tyres-area__param-label(for="u-tyre-diameter-res") #[strong C] Диаметр
                      select.js-select-default(name="tyre-diameter-result" id="u-tyre-diameter-res")
                        option(placeholder) &nbsp;
                        option(value="16") 16
                        option(value="18") 18
                        option(value="20") 20
                        option(value="22") 22
                        option(value="24") 24
                        option(value="26") 26

            .tyres-area__footer
              .tyres-area__footer-summary.text-center
                input.tyres-area__btn.btn.btn--main(type="submit" name="send-data" value="Рассчитать")

        .col-md-6

          .tyres-area__img-wrap
            img.tyres-area__img.img-responsive(src="assets/images/general/tyre-meaning-calc.png" alt="")

    .tyre-calc-result-section

      .row

        .col-md-4

          .tyre-calc-result
            .tyre-calc-result__heading Сравнение размеров шин
              i.tooltip.fas.fa-info(data-template="params3")

            .table-responsive
              table.tyre-calc-result__table
                thead
                  tr
                    th Параметры
                    th Старый
                    th Новый
                    th Разница
                tbody
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--tyre #[strong.title-type A] Ширина шины #[span мм]
                    td 265
                    td 295
                    td #[.success +30]
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--tyre #[strong.title-type B] Высота профиля #[span мм]
                    td 172
                    td 222
                    td #[.success +50]
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--tyre #[strong.title-type C] Внутренний диаметр #[span мм]
                    td 432
                    td 406
                    td #[.failure -26]
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--tyre #[strong.title-type D] Внешний диаметр #[span мм]
                    td 776
                    td 849
                    td #[.success +73]

        .col-md-4

          .tyre-calc-result
            .tyre-calc-result__heading Параметры диска
              i.tooltip.fas.fa-info(data-template="params4")

            .table-responsive
              table.tyre-calc-result__table
                thead
                  tr
                    th Параметры
                    th.text-center Старый
                    th.text-center Новый
                tbody
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--disk Диаметр диска #[span дюймы]
                    td 265
                    td 295
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--disk Минимальная ширина диска #[span дюймы]
                    td 172
                    td 222
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--disk Максимальная ширина диска #[span дюймы]
                    td 432
                    td 406
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--disk Минимальная ширина диска #[span дюймы]
                    td 172
                    td 222

        .col-md-4

          .tyre-calc-result
            .tyre-calc-result__heading Показаниях спидометра
              i.tooltip.fas.fa-info(data-template="params3")

            .table-responsive
              table.tyre-calc-result__table
                thead
                  tr
                    th Параметры
                    th Результат
                tbody
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--speed Показания спидометра #[span км/ч]
                    td
                      input(type="text" name="speed" value="120")
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--speed Реальная скорость #[span км/ч]
                    td 131.29
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--speed Разница #[span км/ч]
                    td 11.29
                  tr
                    td
                      .tyre-calc-result__title.tyre-calc-result__title--speed Изменение клиренса #[span мм]
                    td 36.5

  include components/disclaimer

  div(data-tooltip-content="params3")
    .tooltip-markup
      .tooltip-markup__heading Полезная информация
      .tooltip-markup__body
        p При увеличении диаметра колёсного диска, (и, как следствие, уменьшение высоты профиля шины, чтобы внешний диаметр колеса оставался без изменений) увеличивается нагрузка на подвеску автомобиля, а так же ухудшается комфорт (машина станет заметно жёстче).
        p При чрезмерном увеличении профиля шины машина становится "валкой", хуже управляется и при критических значениях высоты профиля шина может начать цепляться за детали кузова и подвески автомобиля, что в последствии приведет к ее разрушению.

  div(data-tooltip-content="params4")
    .tooltip-markup
      .tooltip-markup__heading Важная информация
      .tooltip-markup__body
        p При чрезмерном увеличении профиля шины машина становится "валкой", хуже управляется и при критических значениях высоты профиля шина может начать цепляться за детали кузова и подвески автомобиля, что в последствии приведет к ее разрушению.

  include layouts/footer