extends templates/inner

block variables
  - let title = 'Загрузка прайса / кроссов';
  - let pageClass = 'upload-page';
  - let pageHeading = 'Загрузка прайса / кроссов';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-3

block main
  h1.main-title #{pageHeading}

  .upload-files

    form.upload-file(action="/" method="POST" name="upload-file" enctype="multipart/form-data")
      .row.align-items-center
        .col-md-4
          .upload-file__field
            i.fas.fa-file-excel
            input(type="file" id="upload-price-file" name="uploaded-file" class="upload-file__upload" multiple data-multiple-caption="{count} файлов выбрано")
            label(for="upload-price-file" class="upload-file__label")
              span Выберите файл Excel
        .col-md-4
          input.upload-file__btn.btn.btn--main(type="submit" value="Загрузить прайс лист")
        .col-md-4
          .upload-file__example Скачать пример #[a(href="#") прайс листа]

    form.upload-file(action="/" method="POST" name="upload-file" enctype="multipart/form-data")
      .row.align-items-center
        .col-md-4
          .upload-file__field
            i.fas.fa-file-excel
            input(type="file" id="upload-cross-file" name="uploaded-file" class="upload-file__upload" multiple data-multiple-caption="{count} файлов выбрано")
            label(for="upload-cross-file" class="upload-file__label")
              span Выберите файл Excel
        .col-md-4
          input.upload-file__btn.btn.btn--main(type="submit" value="Загрузить кроссы")
        .col-md-4
          .upload-file__example Скачать пример #[a(href="#") кроссов]

  .main-title Скачать прайс лист

  .table-responsive
    table.prices-table.table
      thead
        tr
          th Дата обновления
          th Описание
          th.text-center Скачать
      tbody
        tr
          td #[time.price-table-date(datetime="") 21 января 2020]
          td Электронный каталог Танавто 2020
          td
            a(href="#" download)
              i.fas.fa-file-excel
              +icon('arrow-down', '')
        tr
          td #[time.price-table-date(datetime="") 24 октября 2019]
          td Электронный каталог Танавто 2019
          td
            a(href="#" download)
              i.fas.fa-file-excel
              +icon('arrow-down', '')
        tr
          td #[time.price-table-date(datetime="") 14 апреля 2019]
          td Электронный каталог Танавто 2019
          td
            a(href="#" download)
              i.fas.fa-file-excel
              +icon('arrow-down', '')
        tr
          td #[time.price-table-date(datetime="") 17 декабря 2018]
          td Электронный каталог Танавто 2018
          td
            a(href="#" download)
              i.fas.fa-file-excel
              +icon('arrow-down', '')

block footer
  include layouts/footer