extends templates/inner

block variables
  - let title = 'Управление пользователями';
  - let pageClass = 'users-page';
  - let pageHeading = 'Управление пользователями';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-2

block main

  .main-heading
    .main-heading__text #{pageHeading}

  header.orders-header-controls.d-md-none
    .orders-header-control
      a.orders-filter-toggle(href="#") 
        +icon('sliders-h', 'orders-filter-toggle__icon')
        | Фильтры

  .client-detail
    .client-detail__header.d-none.d-md-block
      .client-detail__heading Фильтр
    include components/orders-filter-3

  .client-detail
    .client-detail__show-by
      label.client-detail__show-by-label(for="show-by") Отображать
      select.js-select-default(id="show-by")
        option(value="all") всех пользователей
        option(value="type-1") только менеджеры
        option(value="type-2") только администраторы
        option(value="type-3") еще какой-то тип

    .table-responsive
      table.table
        thead
          tr
            th Ф И О / Время и дата
            th Логин (email)  /  Телефон
            th Роль
        tbody
          tr
            td 
              .address-location
                .address-location__data #[i.fas.fa-lock] 09 Августа 2019 / Время  14:55
                .address-location__main AqusServiceAstana ТОО (аэропорт) (док), Карпушенко
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:m.baidauletov@allurauto.com") #[i.fas.fa-envelope] m.baidauletov@allurauto.com
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
                li 
                  a(href="tel:+7789421977") #[i.fas.fa-phone-alt] +778 9421977
            td 
              .user-edit-wrap
                .user-roles
                  ul.user-roles__list
                    li.user-roles__role Администратор системы безопасности
                    li.user-roles__role Менеджер по VIN запросам
                    li.user-roles__role Менеджер по ключевым сотрудникам
                    li.user-roles__role.is-hidden Администратор системы безопасности
                    li.user-roles__role.is-hidden Менеджер по VIN запросам
                    li.user-roles__role.is-hidden Менеджер по ключевым сотрудникам
                  a.user-roles__more.js-more-roles(href="#") показать еще
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-location
                .address-location__data 09 Августа 2019 / Время  14:55
                .address-location__main Алиев Турал
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:ramszotti110@yandex.ru") #[i.fas.fa-envelope] Ramszotti110@yandex.ru
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
            td 
              .user-edit-wrap
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-location
                .address-location__data 09 Августа 2019 / Время  14:55
                .address-location__main Алиев Турал
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:ramszotti110@yandex.ru") #[i.fas.fa-envelope] Ramszotti110@yandex.ru
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
            td 
              .user-edit-wrap
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-location
                .address-location__data 09 Августа 2019 / Время  14:55
                .address-location__main Алиев Турал
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:ramszotti110@yandex.ru") #[i.fas.fa-envelope] Ramszotti110@yandex.ru
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
            td 
              .user-edit-wrap
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-location
                .address-location__data 09 Августа 2019 / Время  14:55
                .address-location__main Алиев Турал
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:ramszotti110@yandex.ru") #[i.fas.fa-envelope] Ramszotti110@yandex.ru
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
            td 
              .user-edit-wrap
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')
          tr
            td 
              .address-location
                .address-location__data #[i.fas.fa-lock] 09 Августа 2019 / Время  14:55
                .address-location__main AqusServiceAstana ТОО (аэропорт) (док), Карпушенко
            td
              ul.client-detail-contacts
                li 
                  a(href="mailto:m.baidauletov@allurauto.com") #[i.fas.fa-envelope] m.baidauletov@allurauto.com
                li 
                  a(href="tel:+387059888827") #[i.fas.fa-phone-alt] +387 059888827
                li 
                  a(href="tel:+7789421977") #[i.fas.fa-phone-alt] +778 9421977
            td 
              .user-edit-wrap
                .user-roles
                  ul.user-roles__list
                    li.user-roles__role Администратор системы безопасности
                    li.user-roles__role Менеджер по VIN запросам
                    li.user-roles__role Менеджер по ключевым сотрудникам
                    li.user-roles__role.is-hidden Администратор системы безопасности
                    li.user-roles__role.is-hidden Менеджер по VIN запросам
                    li.user-roles__role.is-hidden Менеджер по ключевым сотрудникам
                  a.user-roles__more.js-more-roles(href="#") показать еще
                ul.user-controls
                  li
                    a.user-status-edit(href="#")
                      +icon('pen')
                  li
                    a.user-status-remove(href="#")
                      +icon('close')

    include components/pagination

block footer
  include layouts/footer