extends templates/inner-2

block variables
  - let title = 'Вакансии';
  - let pageClass = 'about-page';
  - let pageHeading = 'Вакансии';
  - let innerLogo = true;

block header
  include layouts/header-inner

block sidebar
  include components/category-nav-7

block main
  h1.main-title #{pageHeading}

  p.preview-desc Компания Tanauto обеспечивает своим сотрудникам комфортные условия труда, достойную оплату и возможности для самореализации, давая уверенность в завтрашнем дне. В компании много интересных проектов, и если Вы ищете увлекательную, перспективную работу, то обращайтесь в отдел кадров по телефону #[strong (022) 815-449] или #[strong +(373) 78-300-831] или пишите на почту #[a(href="mailto:hr@tanauto.md") hr@tanauto.md].

  include components/vacancies/vacancy-1
  include components/vacancies/vacancy-2

  include components/pagination

block footer
  include layouts/footer