mixin icon(name, mod)
  if(mod)
    svg(class="icon icon-" + name + ' ' + mod)
      use(href="assets/images/svg/symbol/sprite.svg#" + name)
  else
    svg(class="icon icon-" + name)
      use(href="assets/images/svg/symbol/sprite.svg#" + name)

mixin history-component(iconName, heading, href='#')
  a.history(href=href)
    figure.history__main
      .history__img-wrap
        +icon(iconName, 'history__icon')
      figcaption.history__figcaption #{heading}

mixin logo(inner)
  div.logo
    if(inner)
      a.logo__wrap(href="/")
        img.logo__img.img-responsive(src="assets/images/general/logo-tanauto.png" alt="Tanauto" width="210" height="60")
    else
      span.logo__wrap
        img.logo__img.img-responsive(src="assets/images/general/logo-tanauto.png" alt="Tanauto" width="210" height="60")