.card-specification-section {
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 1rem;
  }
}

.spec-table {
  width: 100%;
  font-size: 1.4rem;

  &__thead {
    background: $dark;
    color: $white;
  }

  &__tbody {
    .is-collapsed & {
      display: none;
    }
  }

  &__th {
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.4rem;

    &:last-child {
      text-align: right;
    }
  }

  &__collapse {
    width: 2rem;
    height: 2rem;
    border: 1px solid $white;
    padding: 0;
    background: transparent;
    border-radius: 2px;
    position: relative;
    transition: all .3s;
    display: inline-block;

    &::before {
      content: "\f325";
      font-size: 1rem;
      font-family: fa;
      color: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;
    }

    &:hover {
      background: $white;
    }

    &:hover::before {
      color: $dark;
    }
    
	&__auto {
		border: 1px solid $primary-color;
		margin-right: 5px;
		
		&::before {
			color: $primary-color;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all .3s;
		}
		&:hover {
			background: $primary-color;
		}
		
		&:hover::before {
		  color: $white;
		}
	}
	
    .is-collapsed &::before {
      content: "\f322";
    }
  }

  &__td {
    border-bottom: 1px solid $gray--medium;
    padding: 1rem 1rem;
    position: relative;

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      height: 2rem;
      background: $gray--medium;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }
  }

  &__number {
    font-size: 1.2rem;
    color: $dark--medium;
  }

  &__title {
	max-width: 28rem;
    overflow: hidden;
	
    &-link {
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }

  &__brand {
    color: $primary-color;

    &:hover {
      color: $primary-color;
    }
  }

  &__amount {
    color: $black;
  }

  &__instock {
    color: $black;
    white-space: nowrap;
  }

  &__price-main {
    color: $primary-color;
  }

  &__price-retail {
    color: $black;
  }

  &__meta {
    display: flex;
    align-items: center;

    .counter {
      max-width: 6.5rem;
      padding-left: 0;
      padding-right: 0;
      margin: 0 2rem;

      &__field {
        padding-left: .5rem;
        padding-right: .5rem;
        width: 4rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }

      &--remove {
        right: 100%;
        left: auto;
      }

      &--add {
        left: 100%;
      }
    }
  }

  &__controls {
    margin-left: auto;
    white-space: nowrap;
  }

  /* Blame */
  th:nth-child(1) {
    min-width: 10rem;
  }
  td:nth-child(1) {}
  th:nth-child(2) {
    min-width: 15rem;
  }
  td:nth-child(2) {}
  th:nth-child(3) {}
  td:nth-child(3) {
    //text-align: center;
  }
  th:nth-child(4) {
    white-space: nowrap;
  }
  td:nth-child(4) {
    //text-align: center;
  }
  th:nth-child(5) {
    //text-align: center;
  }
  td:nth-child(5) {
    //text-align: center;
  }
  th:nth-child(6) {
    //text-align: center;
  }
  td:nth-child(6) {
    //text-align: center;
    white-space: nowrap;
  }
  th:nth-child(7) {
    //text-align: center;
    width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  td:nth-child(7) {
    //text-align: center;
  }
  th:nth-child(8) {
    text-align: center;
    width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  td:nth-child(8) {
    //text-align: center;
    white-space: nowrap;
  }
  th:nth-child(9) {
    min-width: 14rem;
  }
  td:nth-child(9) {}
  /* Blame */
}

.spec {
  margin: 0 -15px;

  &__title {
    background: $dark;
    padding: 1.5rem;
    font-weight: 500;
    color: $white;
    position: relative;
    font-size: 1.6rem;

    button {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__header {
    color: $black;
    font-size: 1.4rem;
    font-weight: 500;
    border-top: 1px solid $gray--medium;
    border-bottom: 1px solid $gray--medium;
    padding: 1.5rem;
    display: flex;

    &-title:first-child {
      flex-basis: 12.5rem;
      max-width: 12.5rem;
      flex-shrink: 0;
    }

    &-title:not(:first-child) {
      flex-grow: 1;
    }
  }

  &__heading-desc {
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem 0;
    margin: 0;
  }

  &__product {
    padding: 0 1.5rem;
    border-bottom: 1px solid $gray--medium;

    .is-collapsed & {
      display: none;
    }
  }

  &__heading {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.5rem 0;
    cursor: pointer;

    &::after {
      content: "\f078";
      font-family: fa;
      font-size: 1.6rem;
      float: right;
      color: $primary-color;
      transition: all .3s;
      margin-right: .3rem;
    }

    .is-open & {
      color: $primary-color;
    }

    .is-open &::after {
      transform: rotate(180deg);
    }
  }

  &__main {
    padding-bottom: 1.5rem;
    // border-bottom: 1px solid $gray--medium;
    display: flex;
    align-items: center;

    .spec-table__main-prices {
      flex-basis: 60%;
      max-width: 60%;
      font-size: 1.4rem;

      span {
        display: inline-block;
        color: $dark--medium;
        min-width: 7rem;
      }

      .spec-table__main-price {
        font-weight: 500;
        color: $primary-color;
      }
      .spec-table__retail-price {
        font-weight: 500;
        color: $black;
      }
    }

    .spec-table__meta {
      flex-basis: 50%;
      max-width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .spec-table__controls {
        margin: 0;
      }
    }

    .spec__property {
      color: $black;
    }
  }

  &__detail {
    display: none;
    padding: 2.5rem 1.5rem;

    border-top: 1px solid $gray--medium;
    margin-left: -15px;
    margin-right: -15px;

    .is-open & {
      display: block;
    }
  }

  &__params {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    width: 100%;
    border-bottom: 1px dotted $gray--medium;
  }

  &__property {
    flex-basis: 50%;
    max-width: 50%;
    color: $dark--medium;
    font-weight: 400;
    padding: .5rem 0;
  }

  &__value {
    flex-basis: 50%;
    max-width: 50%;
    font-weight: 400;
    color: $black;
    margin: 0;
    padding: .5rem 0;

    &-link {
      color: $primary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__params-more {
    font-size: 1.4rem;
    color: $primary-color;
    border-bottom: 1px dotted $primary-color;
    margin-left: 2rem;
    position: relative;

    &::before {
      content: "\f05a";
      font-family: fa;
      font-size: 1.6rem;
      color: $primary-color;
      position: absolute;
      left: -2rem;
    }
  }

  &__footer {
    border-top: 1px solid $gray--medium;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1rem 1.5rem;

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    
    &-item {
      padding: 0;
      flex-basis: 33.333%;
      max-width: 33.333%;
      font-size: 1.4rem;

      &:last-child {
        text-align: right;
      }
    }

    &-link {
      color: $primary-color;

      &:hover,
      &:focus {
        color: $primary-color;
        text-decoration: none;
      }

      .fa {
        font-size: 1.2rem;
        margin-left: .5rem;
      }
    }
  }

  &__primary {
    font-size: 1.4rem;
    line-height: 1.2;
    display: flex;
    padding-top: 1rem;
    margin-bottom: 2rem;

    &-info {
      flex-basis: 12.5rem;
      max-width: 12.5rem;
      flex-shrink: 0;
    }

    &-details {
      flex-grow: 1;
      overflow: auto;
    }

    &-heading {
      color: $font-base-color;
    }

    &-brand {
      a {
        color: $primary-color;
      }
    }

    &-articul {
      color: $dark--medium;
    }
  }

  &__secondary {
    font-size: 1.4rem;
    line-height: 1.2;
    display: flex;
    margin-bottom: 1.5rem;

    &-info {
      flex-basis: 12.5rem;
      max-width: 12.5rem;
      flex-shrink: 0;
    }

    &-details {
      flex-grow: 1;
      display: flex;
    }

    &-heading {
      font-weight: 500;
      color: $black;
    }

    &-price {
      flex-basis: 50%;
      max-width: 50%;

      &-value {
        color: $black;
        text-transform: uppercase;

        span {
          color: $primary-color;
        }

        strong,
        b {
          font-weight: 500;
        }
      }

      &-label {
        color: $dark--medium;
      }
    }
  }

  &__similar,
  &__add,
  &__spec {
    display: none;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.5rem;
    padding-bottom: 0;
    background: $gray--thin;

    &.active {
      display: block;

      padding-top: 1rem;
      border-top: 1px solid $gray--medium;
    }

    .spec__params {
      margin: 0;
    }

    table {
      width: 100%;

      th {
        font-size: 1.4rem;
        color: $black;
        font-weight: 500;
        padding-bottom: 1rem;
		white-space: nowrap;
		padding-right: 5px;
      }

      tbody tr {
        border-top: 1px solid $gray--medium;
      }

      td {
        padding: .5rem 0;
      }

      .prod-amount {
        color: $font-base-color;
        font-size: 1.2rem;
        font-weight: 500;
        
        span {
          color: $dark--medium;
        }
      }

      .prod-add-wrap {}

      .prod-add {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-btn.disabled {
          cursor: default;

          svg {
            fill: $dark--medium;
          }
        }
      }

      .prod-stock {
        font-size: 1.2rem;
      }

      .tooltip {
        margin-right: .5rem;
        color: $dark--medium;
      }
    }
  }

  .product__stickers {
    position: static;
    padding-top: .5rem;
    padding-right: 1.5rem;
  }
}
  
/* Select-Car */
.card-specification-section--offset {
  // margin-top: -5rem;
}

.spec-table--inner {
  th {
    white-space: nowrap;
    min-width: 100%;
    height: 5rem;
  }

  tr:hover td {
    color: $primary-color;
    background: $gray--thin;
  }

  tr:hover .spec-table__title-model {
    color: $primary-color;
  }

  .spec-table__title-model {
    font-weight: 500;
    text-align: left;
    color: $font-base-color;
    display: inline-block;
    font-size: 1.4rem;
    max-width: 22rem;
  }

  .spec-table__engine {}

  .spec-table__type {
    min-width: 16rem;

    .fas {
      color: $primary-color;
      font-size: 1.5rem;
      margin-left: .5rem;
    }
  }

  .card-feature__tooltip {
    &-body {
      left: auto;
      right: 0;
      transform: none;
    }
  }

  th:nth-child(2),
  td:nth-child(2) {
    text-align: center;
    min-width: 100%;
  }

  th:nth-child(7),
  td:nth-child(7) {
  }
}
/* Select-Car */

.spec-payment-table {
  $self: &;

  width: 100%;
  font-size: 1.2rem;
  table-layout: fixed;

  &__thead {
    border: 1px solid $gray--medium;
  }
  
  &__tbody {
    &.is-opened .spec-payment-table {
      display: table;
    }

    &.is-opened #{$self}__toggle {
      transform: rotate(180deg);
    }
  }

  &__tfoot {
    td {
      border: none;
      padding-left: 0;
      padding-right: 0;
      
      &::before {
        display: none;
      }
    }

    tr:hover td {
      background: $white;
    }

    .btn {
      float: right;
      font-size: 1.4rem;
      padding-left: 2rem;
      padding-right: 2rem;

      .fa {
        margin-right: .5rem;
      }
    }
  }

  &__tr {
    &:hover > td {
      background: $gray--light;
    }

    &--bordered th {
      position: relative;

      &:not(:first-child)::before {
        border-left: 1px solid $gray--medium;
        content: "";
        height: calc(100% - 2rem);
        position: absolute;
        left: 0;
        top: 50%;

        @include absolute-vertical;
      }
    }
  }

  &__subhead-tr {
    .spec-payment-table__th {
      background: $gray--light;
      font-size: 1.2rem;
      position: relative;

      &:not(:first-child)::before {
        border-left: 1px solid $gray--medium;
        content: "";
        height: calc(100% - 2rem);
        position: absolute;
        left: 0;
        top: 50%;

        @include absolute-vertical;
      }
    }
  }

  &__th {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    background: $white;

    &[rowspan="2"]:nth-child(3) {
      border-right: 1px solid $gray--medium;
    }
  }

  &__td {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    position: relative;
    background: $white;
    transition: all .3s;

    &:not(:first-child)::before {
      border-left: 1px solid $gray--medium;
      content: "";
      height: calc(100% - 3rem);
      position: absolute;
      left: 0;
      top: 50%;

      @include absolute-vertical;
    }

    &[colspan="6"] {
      padding: 0;
      border: none;
    }
  }

  &__value {
    line-height: 1.7;

    &-gray {
      color: $dark--medium;
    }

    &-primary {
      color: $primary-color;
    }
  }

  [class*="spec-payment-table__value"]:first-child {
    padding-bottom: .5rem;
  }

  &__toggle {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;

    @include absolute-vertical;

    &-icon {
      max-width: 100%;
      max-height: 100%;
      fill: $primary-color;
      transition: all .3s;

      &:hover {
        fill: $dark;
      }
    }
  }

  &__col-title {
    width: 20rem;

    &-sub {
      width: 25rem;
    }
  }

  &__col-count {
    width: 7rem;
  }
}

/* Inner Table */
.spec-payment-table .spec-payment-table {
  display: none;
  border: 1px solid $gray--medium;
  border-top: none;

  .spec-payment-table__thead {
    border: none; 
  }

  [class*="spec-payment-table__value"]:first-child {
    padding-bottom: 0;
  }
}
/* Inner Table */

.spec-payment-header {
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }
}

.spec-payment-toggle {
  color: $primary-color;

  &:hover {
    text-decoration: underline;
    color: $primary-color;
  }
  
  .fas {
    margin-left: .5rem;
    transition: transform .2s ease-in-out;
  }

  &.active {
    .fas {
      transform: rotate(180deg);
    }
  }
}