.catalog-main {
  margin: 0 0 2rem;

  @media (min-width: $md) {
    margin: 0 0 3rem;
  }

  [class*="col-"]:not(:nth-last-child(-n+4)) {
    @media (min-width: $md) {
      margin-bottom: 3rem;
    }
  }

  [class*="col-"]:not(:nth-last-child(-n+4)) {
    @media (min-width: $sm) {
      margin-bottom: 2rem;
    }
  }

  [class*="col-"]:not(:nth-last-child(-n+4)) {
    @media (min-width: $md) {
      margin-bottom: 3rem;
    }
  }

  /* gutters */
  @media (max-width: $sm--mw) {
    margin-left: -15px;
    margin-right: -15px;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
  /* gutters */
}

.catalog-secondary {
  margin: 0 0 2rem;
}