.client-detail {
  margin-bottom: 2.5rem;

  > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  &__header {
    position: relative;
  }

  &__heading {
    text-transform: uppercase;
    color: $black;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    @media (min-width: $md) {
      margin-bottom: 2.5rem;
    }

    span {
      color: $primary-color;
    }
  }

  &__link-wrap {
    display: inline-block;

    &::before {
      content: "/";
      color: $dark--medium;
      font-size: 1.6rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-weight: 400;
    }
  }

  .client-detail__btn {
    font-size: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .8rem;
    padding-bottom: .8rem;

    @media (min-width: $md) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link {
    color: $primary-color;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  &__show-by {
    border-bottom: 1px solid $gray--medium;
    padding-bottom: 1.5rem;
    margin-bottom: 0 !important;
    text-align: right;

    &-label {
      font-size: 1.4rem;
      color: $black;
      margin: 0;
    }

    .choices {
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
      border-color: transparent;
      text-align: left;

      &__inner {
        color: $primary-color;
        font-size: 1.4rem;
      }
    }
  }

  .table {
    th {
      font-size: 1.4rem;
    }

    th .icon {
      fill: $primary-color;
      width: 2rem;
      height: 2rem;
    }

    .checkbox-label__main {
      padding: 0 1.5rem;

      &::before {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .user-status-remove {
      .icon {
        fill: $dark;
        width: 1.5rem;
        height: 1.5rem;
        transition: all .3s;

        &:hover {
          fill: $primary-color;
        }
      }
    }

    .client-detail-contacts {
      list-style: none;
      margin: 0;
      min-height: 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;

      li {}

      a {
        color: $font-base-color;
        transition: all .3s;

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }

      .fas {
        color: $primary-color;
        margin-right: .5rem;
      }
    }

    .address-check {
      position: relative;
      padding-left: 3.5rem;
      max-width: 20rem;

      .district {
        color: $dark--medium;
        font-size: 1.2rem;
        display: block;
      }

      .checkbox-label {
        left: 0;

        @include absolute-vertical;
      }
    }

    .address-location {
      position: relative;
      max-width: 22rem;
      padding-left: 2rem;

      &__data {
        font-size: 1.2rem;
        margin-bottom: .3rem;
      }

      &__main {
        font-size: 1.4rem;
        color: $primary-color;
      }

      .fas, .fa {
        position: absolute;
        left: 0;
        color: $gray;
        top: 0;
        transform: translateY(2px);
      }
    }

    .noset {
      white-space: nowrap;
      color: $dark--medium;
    }

    .user-address {
      max-width: 20rem;
    }
    
    .user-edit-wrap {
      padding-right: 5rem;
      position: relative;
      min-height: 3rem;

      .user-comment {
        color: $dark--medium;
        font-size: 1.2rem;
        max-width: 19rem;
        margin: 0;
      }

      .user-roles {
        font-size: 1.2rem;
        max-width: 24rem;

        &__list {
          padding: 0;
          margin: 0 0 .3rem;
          list-style: none;
        }

        &__role {
          position: relative;
          padding: .1rem 0 .1rem .7rem;

          &::before {
            content: ".";
            color: $primary-color;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.4rem;
            line-height: 1;
          }

          &.is-hidden {
            display: none;
          }
        }

        &__more {
          color: $primary-color;
          margin: 0 0 0 .5rem;

          &:hover {
            color: $primary-color;
            text-decoration: underline;
          }
        }
      }

      .user-controls {
        list-style: none;
        white-space: nowrap;
        margin: 0;
        position: absolute;
        right: 0;
        top: .5rem;

        li {
          display: inline-block;

          &:not(:first-child) {
            margin-left: 1rem;
          }
        }

        .user-status-edit {
          .icon {
            fill: $primary-color;
          }
        }
      }
    }
  }

  .add-address {
    border: 1px solid $gray--medium;
    padding: 1.5rem;

    @media (min-width: $md) {
      padding: 2.5rem;
    }
  }
}