.client-option {
  $self: &;

  border: 1px solid $gray--medium;
  padding: 1.5rem;
  display: block;
  transition: all .3s;
  height: 100%;

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 .5rem rgba($black, .15);

    #{$self}__heading {
      color: $primary-color;
    }
  }

  &__main {
    margin: 0;
    height: 100%;
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
      display: flex;
      align-items: center;
    }
  }

  &__img-wrap {
    margin-bottom: 1rem;
    width: 100%;

    @media (min-width: $md) {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
      margin-bottom: 0;
      width: auto;
    }
  }

  &__img {
    fill: $primary-color;
  }

  &__heading {
    font-size: 1.4rem;
    line-height: 1.1;
    color: $black;
    transition: all .3s;
    width: 100%;

    @media (min-width: $md) {
      max-width: 12rem;
      width: auto;
    }
  }
}

.client-options {
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
  }

  > .row {
    @media (max-width: $sm--mw) {
      margin-left: -5px;
      margin-right: -5px;

      [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
      
      [class*="col-"]:not(:nth-last-child(-n+2)) {
        margin-bottom: 10px;
      }
    }
  }
}