.footer {
  background: $footer-bg;

  @media (min-width: $md) {
    padding: 3.5rem 0 0;
  }

  &__conclude {
    padding: 1.5rem 0;
    margin-top: 2.5rem;

    @media (min-width: $md) {
      border-top: 1px solid $footer-border-color;
    }
  }

  &__logo {
    padding-top: .5rem;
    margin: 3rem auto;
    max-width: 20rem;

    @media (min-width: $md) {
      margin: 0 0 3rem;
      max-width: 18rem;
    }
  }

  /* Footer Soc */
  .soc {
    @media (max-width: $md--mw) {
      border-bottom: 1px solid $footer-border-color;
      padding: 0 0 3rem;
      text-align: center;
      margin: 0 -15px 3rem;
    }
  }
  /* Footer Soc */
}

.copy {
  font-size: 1.4rem;
  color: $dark--medium;

  @media (max-width: $md--mw) {
    display: block;
    text-align: center;
  }
}
.copy .copy__icon {
  fill: $primary-color;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem auto;
  display: none;

  @media (min-width: $md) {
    float: right;
    margin: 0;
    display: block;
  }
}