.header {
    position: relative;
}

/* Header-Top-Area */
.header-top-area {
    border-bottom: 1px solid $gray--medium;
    background: $gray--light;

    .header-top-area-main {
        display: flex;
    }

    .top-header-nav {
        flex-grow: 1;
    }

    .select-lang {
        max-width: 12rem;
        flex: 0 0 12rem;
    }
}
/* Header-Top-Area */

/* Header-Main */
.header-main {
    background: $white;
    padding: 2rem 0;

    [class*="col-"] {
        position: static;
    }

    .tiny-contacts {
        position: absolute;
        margin: 0 auto;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);


        &:not(.first-phone) {
            display: none;
        }

        @media (min-width: $md) {
            position: static;
            transform: none;
            display: flex;

            &:not(.first-phone) {
                display: flex;
            }
        }
    }

    &--actions {
        padding-top: 0;

        @media (min-width: 768px) {
            padding-bottom: 0;
            padding-top: 1rem;
            position: relative;

            [class*="col-"]:not(.col-actions) {
                flex: 0 0 28%;
                max-width: 28%;
            }

            [class*="col-"].col-actions {
                flex: 0 0 44%;
                max-width: 44%;

                &::before {
                    content: '';
                    height: 1rem;
                    background: #054c82;
                    left: 0;
                    right: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &::before {
                    top: 0;
                }
            }
        }

        .row {
            padding-top: 2rem;

            @media (min-width: 768px) {
                padding-top: 0;
            }
        }
    }
}
/* Header-Main */

/* Header-Meta-Area */
.header-meta-area {
    background: $header-bottom-background;
    padding: 1rem 0;
    position: relative;

    @media (max-width: $md--mw) {
        padding: 1.8rem 0;
    }

    &__body {
        display: flex;
    }

    .main-nav {
    }
}
/* Header-Meta-Area */

/* Two LOGO */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding-right: 1.5rem;
    }
}
/* Two LOGO */

.actions {
    background: #054c82;
    color: $white;
    padding: 2.5rem 15px 7rem 15px;
    position: relative;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    border-bottom: .5rem solid $primary-color;

    @media (min-width: 768px) {
        padding: 1rem 6rem 1rem 3rem;
        position: relative;
        height: 100%;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2rem;
            background: #054c82;
            background: #fff;
            border-radius: 3rem;
        }

        &::before {
            left: -2rem;
            transform: translateX(50%);
        }

        &::after {
            right: -2rem;
            transform: translateX(-50%);
        }
    }

    &__action {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }

        &:not(:first-child) {
            margin-top: 1.8rem;
        }
    }

    &__title {
        margin-right: .7rem;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: bold;
        flex: 0 0 12.5rem;
        max-width: 12.5rem;
        line-height: 1.1;
        margin-bottom: 2.5rem;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__progress {
        height: 1.6rem;
        background: $white;
        flex: 1;
        border-radius: 1.5rem;
        position: relative;

        &::after {
            content: attr(data-amount);
            position: absolute;
            right: .7rem;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 1rem;
            color: #054c82;
            z-index: 2;
        }

        &-scale {
            background: $primary-color;
            height: 100%;
            border: 2px solid $white;
            border-radius: 1.5rem;
            font-size: 1rem;
            color: $white;
            line-height: 1.5rem;
            font-weight: bold;
            text-align: center;
            padding-right: .5rem;
            position: relative;
            z-index: 2;

            &[style="width: 1%;"],
            &[style="width: 1;"],
            &[style="width: 0%;"],
            &[style="width: 0;"] {
                display: none;
            }
        }
    }

    &__stages {
        color: $white;
        position: absolute;
        font-weight: bold;
        font-size: 1rem;
        bottom: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__stage {
    }

    &__reload {
        position: absolute;
        bottom: 1.5rem;
        right: 50%;
        transform: translateX(50%);

        @media (min-width: 768px) {
            top: 50%;
            right: 2.2rem;
            bottom: auto;
            transform: translateY(-50%);
        }

        &:hover {
            > .icon {
                fill: $primary-color;
            }
        }

        &-icon {
            transition: all .3s;
            fill: $white;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
		
		&__info {
			position: absolute;
			right: 2.2rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
			top: 20%;
			bottom: auto;
			font-weight: 700;
			font-size: 1rem;
			width: 25px;
			text-align: center;
    }
}

.is-actions-opened {
    .actions {
        display: block;
        z-index: 555;
    }

    .header-main--actions .row {
        position: relative;
    }

    .header-main .tiny-contacts {
        margin-top: -7rem;
    }

    .header-main__actions-trigger {
        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1.4rem;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.88 22.88' fill='%23fff'%3E%3Cpath d='M.324 1.909a1.14 1.14 0 010-1.587 1.14 1.14 0 011.587 0l9.523 9.539L20.973.322a1.12 1.12 0 011.571 0 1.112 1.112 0 010 1.587l-9.523 9.524 9.523 9.539a1.112 1.112 0 010 1.587 1.12 1.12 0 01-1.571 0l-9.539-9.539-9.523 9.539a1.14 1.14 0 01-1.587 0c-.429-.444-.429-1.159 0-1.587l9.523-9.539L.324 1.909z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
}

.header-main__actions-trigger {
    width: calc(100% + 30px);
    background: #054c82;
    color: $white;
    text-align: left;
    padding: 1rem 15px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-style: dashed;
    text-decoration-color: $white;
    text-decoration-line: underline;
    position: relative;
    display: block;
    border: none;
    margin-left: -15px;
    margin-right: -15px;
}
