.history-catalog-section {
  display: flex;
  flex-flow: row wrap;

  &__col {
    flex-basis: 50%;
    max-width: 50%;
    transition: all .3s;

    @media (min-width: 420px) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $sm) {
      flex-basis: 25%;
      max-width: 25%;
    }

    @media (min-width: $lg) {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
}