.illustration-demo {
  margin-bottom: 2rem;

  @media (min-width: $md) {
    display: flex;
    margin-bottom: 3rem;
  }

  &__picture {
    text-align: center;

    @media (min-width: $md) {
      padding-right: 1.5rem;
      max-width: 38%;
      flex-basis: 38%;
    }
  }

  &__table {
    @media (min-width: $md) {
      padding-left: 1.5rem;
      max-width: 62%;
      flex-basis: 62%;
    }
  }

  // Components
  .illustration-img-wrap {
    position: relative;
    display: inline-block;
    max-width: 30rem;
    margin-bottom: 2rem;

    @media (min-width: $md) {
      max-width: 100%;
      margin-bottom: 0;
    }

    &::before {
      content: "";
      background: transparent;
      transition: all .3s;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    &:hover::before {
      background: rgba($black, .2);
    }
  }

  .illustration-img {
    width: 100%;
  }

  table {
    margin-bottom: 1.5rem;
    width: 100%;

    th {
      font-size: 1.4rem;
      padding-top: 0;
    }

    td {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    tr:hover a {
      color: $primary-color;
    }

    span {
      color: $primary-color;
    }

    a {
      color: $font-base-color;
    }

    .small {
      display: block;
      color: $dark--medium;
      font-size: 1.2rem;
    }

    th:nth-child(2),
    td:nth-child(2) {
      text-align: center;
    }
  }

  .spec {
    margin-bottom: 2rem;
  }
}