.inner-section {
  $self: &;

  background: #f0f0f0 url("../images/general/inner-page-bg.jpg") no-repeat center top/cover;
  padding: 5rem 1.5rem;

  &__header {
    background: radial-gradient($gray 20%, transparent 20%);
    background-size: 9px 9px;
    background-repeat: repeat-x;
    background-position: left bottom;
    position: relative;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;

    &::before {
      content: "";
      width: 6.5rem;
      height: 4px;
      background: $primary-color;
      position: absolute;
      bottom: 4px;
      left: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 8.4rem;
      height: 3px;
      background: #f0f0f0;
      position: absolute;
      bottom: 3px;
      left: 0;
      z-index: 1;
    }
  }
  
  &__heading {
    font-size: 3rem;
    font-weight: 400;
    padding: 0 4rem 0 0;
    display: inline-block;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "/";
      font-size: 1.6rem;
      color: $dark--medium;
      position: absolute;
      right: 1.5rem;
      bottom: 5px;
    }
  }

  &__link {
    font-size: 1.6rem;
    color: $primary-color;

    &:hover {
      color: $primary-color;
    }
  }

  &__main {
    max-width: 41rem;
    margin: 0 auto;

    &--wider {
      max-width: 60rem;
    }

    &--secondary {
      max-width: 76rem;

      .inner-section__header {
        background-image: radial-gradient(#f0f0f0 20%, transparent 20%);
        padding-right: 0;
      }

      .inner-section__header::after {
        background: #f0f0f0;
      }
    }
  }

  &__body {
    background: $white;
    padding: 2.5rem;

    &--no-gutters {
      padding: 0;
    }

    .tabs-section {
      .tabs__item {
        margin: 0;
        width: 50%;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
      }

      .tabs__link {
        border: none;
        color: $dark--medium;
        background: $gray--medium;
        padding: 2rem;

        &::before,
        &::after {
          display: none;
        }

        &.is-active {
          color: $primary-color;
          background: $white;
        }
      }

      .tabs__panes {
        border: none;
      }

      .tabs__tab-pane {
        padding: 0 1.5rem;

        @media (min-width: $md) {
          padding: 2.5rem;
        }
      }
    }

    .choices {
      min-height: 4.6rem;
      height: 1px;
      border-radius: 3px;

      &__inner {
        padding-left: 1.5rem;
      }
    }
  }

  &__info {
    border-bottom: 1px solid $gray--medium;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;

    @media (min-width: $sm) {
      padding-left: 6.5rem;
    }

    .inner-section__info-icon {
      fill: $primary-color;
      left: 0;
      margin-top: -1rem;
      display: none;

      @include absolute-vertical;
      @include elem-size(5rem);

      @media (min-width: $sm) {
        display: block;
      }
    }

    &-desc {
      font-size: 1.4rem;
      color: $black;
      margin: 0;

      a {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }

  &--mod {
    background-image: url("../images/general/inner-page-bg-2.jpg");
    padding-bottom: 6rem;

    #{$self}__header {
      background-image: radial-gradient($white 20%, transparent 20%);

      &::after {
        background: #dfe0e2;
      }
    }

    #{$self}__heading {
      &::after {
        display: none;
      }
    }

    .inner-section__header {
      padding-right: 5rem;
    }

    .inner-section__header-img {
      position: absolute;
      right: 0;
      top: 0;

      @media (min-width: $md) {
        display: none;
      }
    }

    .inner-section__brand-img {
      position: absolute;
      right: 0;
      bottom: 0;

      @media (max-width: $md--mw) {
        display: none;
      }
    }

    .tabs__tab-pane.is-active {
      padding: 0;
    }

    .inner-section__body {
      position: relative;
      background: none;
      padding: 0;

      @media (max-width: $md--mw) {
        .is-active .tabs__accordeon-body {
          display: block;
          padding: 0;
        }
      }
    }

    .tabs-section {
      margin-bottom: 2rem;
      position: relative;

      @media (min-width: $md) {
        margin-bottom: 0;
      }
    }

    .tabs__header {
      display: block;

      @media (min-width: $md) {
        max-width: 44rem;
      }
    }

    .inner-section__type-img-wrap {
      position: absolute;
      left: 45rem;
      right: 0;
      top: 0;
      bottom: 0;

      animation: fadeInRight .75s;

      @media (max-width: $md--mw) {
        display: none;
      }

      .inner-section__type-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    .tabs__tab-pane:first-child .inner-section__type-img-wrap {
      animation: fadeInLeft .75s;
    }

    .tabs__accordeon-wrap {
      background: $white;
      padding: 2.5rem;
      position: relative;
      z-index: 2;

      @media (min-width: $md) {
        max-width: 44rem;
      }
    }
  }
}

.inner-section-body {
  max-width: 80rem;
  margin: 0 auto;
}