.match-item-detail {
  &:not(:first-child) {
    margin-top: 4rem;
  }

  &__header {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $gray--medium;
  }

  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__body {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $gray--medium;
    
    @media (min-width: $md) {
      display: flex;
    }
  }

  &__illustration {
    @media (min-width: $md) {
      padding-right: 1.5rem;
      max-width: 26.5rem;
      flex-basis: 26.5rem;
    }
  }

  &__table {
    @media (min-width: $md) {
      padding-left: 1.5rem;
      max-width: calc(100% - 26.5rem);
      flex-grow: 1;
    }
  }
  
  // Components
  .match-item {
    &__main {
      margin-bottom: 2rem;
      width: 100%;
      max-width: 100%;

      @media (min-width: $md) {
        margin: 0;
        max-width: 25rem;
      }
    }

    &__img-wrap {
      background: #fbfdfb;
      height: 20rem;

      @media (min-width: $md) {
        height: 24rem;
      }
    }

    &__caption {
      color: $primary-color;
      font-size: 1.4rem;
      padding-bottom: 3rem;
      padding-top: 4rem;

      &::before {
        width: 4rem;
        top: 2rem;
      }

      span {
        font-weight: 400;
      }
    }
  }

  .table {
    margin-bottom: 1.5rem;
    width: 100%;

    th {
      font-size: 1.4rem;
      padding-top: 0;
    }

    td {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    tr:hover a {
      color: $primary-color;
    }

    span {
      color: $primary-color;
    }

    a {
      color: $font-base-color;
    }

    .illustration-title {
      height: 3rem;
      display: flex;
      line-height: 1.2;
      flex-direction: column;
      justify-content: center;
    }
  }

  .spec {
    margin-bottom: 2rem;
  }

  .btn {
    font-size: 1.4rem;
    width: 100%;

    @media (min-width: $md) {
      width: auto;
    }
  }
}