.match-items {
  @media (max-width: $sm--mw) {
    .row > [class*="col-"]:not(:nth-child(-n+2)) {
      margin-top: 3rem;
    }
  }

  @media (min-width: $sm) and (max-width: $md--mw) {
    .row > [class*="col-"]:not(:nth-child(-n+3)) {
      margin-top: 3rem;
    }
  }

  @media (min-width: $md--mw) {
    .row > [class*="col-"]:not(:nth-child(-n+4)) {
      margin-top: 3rem;
    }
  }
}