.news-section {
  &__header {
    margin-bottom: 4.5rem;
    background: radial-gradient($gray 20%, transparent 20%);
    background-size: 9px 9px;
    background-repeat: repeat-x;
    background-position: left bottom; 
    position: relative;
    padding-bottom: 1.8rem;

    &::before {
      content: "";
      width: 6.5rem;
      height: 4px;
      background: $primary-color;
      position: absolute;
      bottom: 4px;
      left: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 8.4rem;
      height: 3px;
      background: $white;
      position: absolute;
      bottom: 3px;
      left: 0;
      z-index: 1;
    }
  }

  &__title {
    font-size: 3rem;
    color: $black;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;

    &::after {
      content: "/";
      color: #999;
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: middle;
      margin: 0 2.2rem;
    }
  }

  &__more-news {
    color: $primary-color;
    font-size: 1.6rem;
    text-transform: none;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  &--column {
    @media (min-width: $lg) {
      display: flex;
      margin: 0 -1rem;
      align-items: flex-start;

      .news-wrap {
        flex-basis: 33.333%;
      }

      .news {
        flex-wrap: wrap;
        padding: 0 1rem;
        flex-basis: 33.333%;
      }

      .news__img-wrap,
      .news__body {
        flex-basis: 100%;
        max-width: 100%;
      }

      .news__img-wrap {
        margin-bottom: 2rem;
		min-height: 150px;
      }

      .news__body {
        padding: 0;
      }

      .news__title-link {
        color: $black;
      }
    }

    .news:not(:last-child) {
      @media (max-width: $lg--mw) {
        margin-bottom: 3.5rem;
        padding-bottom: 3.5rem;
        background: radial-gradient($gray 20%, transparent 20%);
        background-size: 9px 9px;
        background-repeat: repeat-x;
        background-position: left bottom; 
      }
    }
  }

  &--row {
    .news:not(:last-child) {
      margin-bottom: 3.5rem;
      padding-bottom: 3.5rem;
      background: radial-gradient($gray 20%, transparent 20%);
      background-size: 9px 9px;
      background-repeat: repeat-x;
      background-position: left bottom; 
    }
  }

  &--mobile-gray {
    @media (max-width: $sm--mw) {
      background: $gray--light;
      padding: 4rem 3rem;
      margin: 3rem -15px 0;

      .news__img-wrap::before {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        bottom: -2px;
        right: -2px;
        background: linear-gradient(to right bottom, rgba($gray--light, 0) 0, rgba($gray--light, 0) 20%, $gray--light 20%, $gray--light 80%, rgba($gray--light, 0) 80%, rgba($gray--light, 0) 100%);
      }
    }
  }
}

// news.pug
.inner-news {
  .news {
    @media (min-width: $lg) {
      padding: 0 1.5rem;
    }

    &__img-wrap {
      border: none;
      padding: 0;

      &::before {
        display: none;
      }
    }

    &__img {
      border: 1px solid $gray--medium;
	  margin: auto;
    }

    &--lead {
      padding: 0;

      @media (max-width: $lg--mw) {
        display: flex;
        margin-bottom: 3.5rem;
        padding-bottom: 3.5rem;
        background: radial-gradient($gray 20%, transparent 20%);
        background-size: 9px 9px;
        background-repeat: repeat-x;
        background-position: left bottom; 
      }

      .news__img-wrap {
        @media (min-width: $lg) {
          flex-basis: 50%;
          max-width: 165px;
          padding-right: 1.5rem;
        }
      }

      .news__body {
        @media (min-width: $lg) {
          flex-basis: 50%;
          max-width: 50%;
          padding-left: 1.5rem;
        }
      }

      .news__title {
        @media (min-width: $lg) {
          font-size: 2rem;
          margin-bottom: 2rem;
          padding-bottom: 1.2rem;
        }

        &::after {
          background: $primary-color;
          width: 4.5rem;
        }
      }

      .news__excerpt-link {
        > *:not(:last-child) {
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .news-section {
    @media (min-width: $lg) {
      margin: 0 -1.5rem;
    }

    &--column {
      @media (min-width: $lg) {
        border-bottom: 1px solid $gray--medium;
        padding-bottom: 3.5rem;
        margin-bottom: 3.5rem;
      }

      .news-wrap {
        flex-basis: 25%;
      }
      
      .news {
        flex-basis: 25%;

        @media (max-width: $lg--mw) {
          &:last-child {
            margin-bottom: 3.5rem;
            padding-bottom: 3.5rem;
            background: radial-gradient($gray 20%, transparent 20%);
            background-size: 9px 9px;
            background-repeat: repeat-x;
            background-position: left bottom; 
          }
        }
      }

      .news__title-link {
        color: $black;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &--row {
      @media (min-width: $lg) {
        border-bottom: 1px solid $gray--medium;
        padding-bottom: 3.5rem;
        margin-bottom: 3.5rem;
      }

      .news-wrap {
        @media (min-width: $lg) {
          &:not(:last-child) {
            margin-bottom: 3.5rem;
          }
        }
      }

      .news {
        @media (min-width: $lg) {
          background: none;
          margin: 0;

          &:not(:last-child) {
            margin-bottom: 3.5rem;
          }
        }
        
        @media (max-width: $lg--mw) {
          &:last-child {
            margin-bottom: 3.5rem;
            padding-bottom: 3.5rem;
            background: radial-gradient($gray 20%, transparent 20%);
            background-size: 9px 9px;
            background-repeat: repeat-x;
            background-position: left bottom; 
          }
        }
      }

      .news__img-wrap {
        @media (min-width: $lg) {
          flex-basis: 25%;
          max-width: 165px;
          padding-right: 1.5rem;
        }
      }

      .news__body {
        @media (min-width: $lg) {
          flex-basis: 75%;
          max-width: 75%;
          padding-left: 1.5rem;
        }
      }

      .news__title-link {
        color: $black;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  	
  .socialbookmarks-content {
	margin-top: 50px;
	font-weight: bold;
	
	.b-share {
	    margin-top: -10px;
	}
  }
  
  .prev-next a {
    margin: 5px;
  }
}