.product-main-section {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  @media (min-width: $md) {
    margin-bottom: 1rem;
    padding-left: 47rem;
    // min-height: 45rem;
  }

  .product-main-promo {
    @media (min-width: $md) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.product-header {
  background: #e6e6e6;
  position: relative;
  margin-bottom: 3rem;
  padding-right: 17rem;
  width: 100%;

  background: radial-gradient($gray 20%, transparent 20%);
  background-size: 9px 9px;
  background-repeat: repeat-x;
  background-position: left bottom; 
  position: relative;
  padding-bottom: 1.8rem;

  @media (max-width: $md--mw) {
    padding-right: 0;
  }

  &::before {
    content: "";
    width: 6.5rem;
    height: 4px;
    background: $primary-color;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: 2;
  }

  &::after {
    content: "";
    width: 8.4rem;
    height: 3px;
    background: $white;
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
  }

  &__heading {
    font-size: 3rem;
    color: $black;
    font-weight: 400;
    flex-grow: 1;
	overflow: hidden;
  }

  &__brand {
    width: 15rem;
    padding: 1rem 2rem 1rem 2rem;
    border-left: 1px solid $gray--medium;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -1rem;
    z-index: 3;

    @media (max-width: $md--mw) {
      top: 100%;
      transform: none;
      border-left: none;
      width: 10rem;
      left: 0;
      padding: 0;
      margin-top: 2rem;
    }
  }

  &__brand-link {}

  &__brand-img {
    max-width: 100%;
    display: block;
    height: auto;
  }
}

.product-main {
  width: 100%;

  &__params-wrap {
    font-size: 1.4rem;

    @media (max-width: $md--mw) {
      border-top: 1px solid $gray--medium;
      padding-top: 2.5rem;
      margin-top: 2.5rem;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__params {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
  }

  &__property {
    color: $dark--medium;
    font-weight: 400;
    
    flex-basis: 50%;
    max-width: 50%;
  }

  &__value {
    font-weight: 400;
    color: $black;
    
    flex-basis: 50%;
    max-width: 50%;

    &-link {
      color: $primary-color;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  &__params-more {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  &__main-price {
    font-size: 2.8rem;
    color: $primary-color;
    padding-right: 4rem;

    &-value {
      position: relative;

      &::before {
        // content: "/";
        position: absolute;
        left: 100%;
        bottom: 0;
        margin-left: 1.5rem;
        color: $gray;
        font-size: 1.8rem;
      }
    }
  }

  &__retail-price {
    font-size: 2rem;
    color: $black;

    &-value {
      position: relative;
      top: .7rem;
    }
  }

  &__price-heading {
    font-size: 1.4rem;
    color: $dark--medium;
    display: block;
  }

  &__compare {
    font-size: 1.4rem;
    color: $primary-color;
    border-bottom: 1px dotted $primary-color;
    position: relative;
    margin-left: 3rem;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
      color: $primary-color;
    }

    &-icon {
      position: absolute;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
      fill: $dark--medium;
      width: 2rem;
      height: 2rem;
    }
  }

  &__controls {
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    .counter {
      padding-left: 0;
      padding-right: 0;
      max-width: 9.5rem;

      &__btn {
        color: $gray;
      }
    }
  }

  &__control {

    &--counter {
      margin-right: 2rem;
    }

    &--buy {
      margin-right: 1rem;
      flex-grow: 1;
    }

    &--fast-buy {
      flex-grow: 1;
      margin-top: 2rem;
      margin-right: 1rem;

      @media (min-width: $sm) and (max-width: $md--mw) {
        margin-top: 0;
      }
    }
  }

  &__buy {
    width: 100%;
  }
}

.fast-buy {
  position: relative;

  .fast-buy__number {
    border-radius: .5rem;
    padding: 1rem 9rem 1rem 8.5rem;
    font-size: 1.4rem;
  }

  &__submit {
    position: absolute;
    right: 0;
    height: 100%;
    width: 8rem;
    background: $gray--light;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $black;
    font-weight: 500;
    border-radius: 0 .5rem .5rem 0;
    transition: all .3s;
    max-width: 8rem;

    &:hover {
      background: $gray--medium;
    }
  }

  & .choices {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 1rem;
    border-color: transparent;
    color: #c0c0c0;
    min-width: 8rem;
    white-space: nowrap;

    &::after {
      display: none;
    }

    .choices__item--choice {
      padding-left: 1rem !important;
    }

    .country-icon {
      margin-right: 2rem;
      margin-top: .5rem;
      width: 2rem;
      height: 1rem;
      float: left;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid $gray--medium;

      &::after {
        content: "\f078";
        font-family: fa;
        color: $primary-color;
        left: 100%;
        margin-left: .5rem;

        @include absolute-vertical;
      }
    }

    .flag-icon {
      margin-right: 10px;
      margin-top: .5rem;
      width: 2rem;
      height: 1rem;
      float: left;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid $gray--medium;
    }

    .md {
      background-image: url("../images/general/md.png");
    }

    .ru {
      background-image: url("../images/general/ru.png");
    }

    .ro {
      background-image: url("../images/general/ro.png");
    }

    .kz {
      background-image: url("../images/general/kz.png");
    }
  }
}