.section {
  padding: 3rem 0;

  @media (min-width: $md) {
    padding: 5.5rem 0;
  }

  .section-max-width {
    max-width: 92rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .training-promo-desc {
    margin-bottom: 3rem;

    @media (min-width: $md) {
      margin-bottom: 4rem;
    }
  }

  &--gray {
    background: $gray--thin;
  }
}