.tabs {
  $self: &;

  @media (min-width: $md) {
    margin: 0 0 2rem;
  }

  /* Tabs Items */
  &__header {
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__container {}

  &__item {
    font-size: 1.4rem;
    font-weight: 500;

    &:not(:first-child) {
      margin-left: 3rem;
    }
  }

  &__link {
    color: $dark--medium;
    display: block;
    background: $gray--light;
    padding: 1.5rem 2rem;
    border: 1px solid $gray--medium;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      background: transparent;
      height: 4px;
      bottom: -2px;
      transition: all .3s;
    }

    &:hover {
      background: $white;
      color: $black;
      text-decoration: none;

      &::before {
        background: $white;
      }
    }

    &.is-active {
      background: $white;
      cursor: default;
      color: $black;

      &::after {
        content: "";
        position: absolute;
        left: 1.5rem;
        right: 1.5rem;
        background: $primary-color;
        height: 3px;
        bottom: 0;
      }

      &::before {
        background: $white;
      }
    }
  }
  /* Tabs Items */

  /* Tabs Body */
  &__panes {
    @media (min-width: $md) {
      border-top: 1px solid $gray;
    }
  }

  &__tab-pane {
    @media (min-width: $md) {
      padding: 3rem 0;
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
  /* Tabs Body */

  /* Tab Accordeon */
  &__accordeon-toggle {
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    background: $gray--light;
    color: $dark--medium;
    border-top: 1px solid $gray--medium;
    padding: 1.5rem;
    margin: 0 -15px;
    cursor: pointer;

    @media (min-width: $md) {
      display: none;
    }

    &::after {
      content: "\f078";
      font-family: fa;
      font-size: 1.6rem;
      float: right;
      color: $primary-color;
      transition: all .3s;
    }

    #{$self}__tab-pane.is-opened & {
      background: $white;
      border-bottom: none;
      color: $black;
    }

    #{$self}__tab-pane.is-opened &::after {
      transform: rotate(180deg);
    }

    #{$self}__tab-pane.is-opened &::before {
      content: "";
      width: 5.5rem;
      position: absolute;
      bottom: 0;
      height: 3px;
      background: $primary-color;
    }
  }

  &__accordeon-body {
    @media (max-width: $md--mw) {
      padding: 2rem 0;
      display: none;
    }

    #{$self}__tab-pane.is-opened & {
      display: block;
    }
  }
  /* Tab Accordeon */

  &__amount {
    font-weight: 400;
    color: $gray;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
  }

  &--secondary {
    margin-bottom: 2rem;

    .tabs__header {
      display: block;
    }

    .tabs__item {
      margin: 0;
      width: 50%;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
    }

    .tabs__link {
      border: none;
      color: $dark--medium;
      background: $gray--medium;
      padding: 1.5rem 2rem;
      height: 100%;
      line-height: 1.2;
      border: 1px solid $gray--medium;
      border-bottom: none;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: $md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      &::before,
      &::after {
        display: none;
      }

      &.is-active {
        color: $primary-color;
        background: $white;
      }
    }

    .tabs__panes {
      border: none;
    }

    .tabs__tab-pane {
      padding: 1.5rem;
      border: 1px solid $gray--medium;
      border-top: none;

      &:not(.is-active) {
        display: none;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $md) {
        padding: 2.5rem;
      }
    }
  }

  &--full-body {
    .tabs__tab-pane {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}