.training-promo {
  background: url("../images/general/training-promo-bg.jpg") no-repeat center / cover;

  &__main {
    position: relative;
    overflow: hidden;
    padding: 8rem 0 28rem;

    @media (min-width: $md) {
      padding: 15.5rem 0 28.5rem;
    }
  }

  .training-promo-about {
    color: $white;
    text-transform: uppercase;
    position: relative;

    @media (min-width: $md) {
      margin-left: 3rem;
      padding-left: 12rem;
    }

    &__logo-wrap {
      max-width: 9.5rem;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &__logo {}

    &__heading {
      font-size: 5rem;
      font-weight: 300;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
      position: relative;
      line-height: 1;

      &::after {
        content: "";
        width: 6.5rem;
        height: 3px;
        background: $primary-color;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -1px;
      }

      &-text {
        font-weight: 700;
        display: block;
      }
    }

    &__desc {
      font-size: 1.8rem;
      max-width: 18rem;
      line-height: 1.25;
    }
  }

  .training-promo__manager {
    position: absolute;
    right: 0;
    top: -2rem;
    z-index: 2;
    max-width: 46.5rem;
  }

  &-desc {
    font-size: 1.4rem;
    text-align: center;
    color: $black;
    max-width: 70rem;
    margin: 0 auto;
    line-height: 1.7;
  }
}

.training-promo-section {
  background: $gray--light;
  padding: 3.5rem 0 7.5rem;
}

.benefits-section {
  position: relative;
  margin-top: -25rem;

  &__contacts {
    overflow: hidden;
    max-width: 90rem;

    &-skew {
      transform: skew(-20deg);
      margin-right: -2rem;
      margin-left: 3.5rem;

      @media (min-width: $md) {
        margin-left: 5rem;
      }

      @media (min-width: $xlg) {
        margin-left: 13rem;
      }
    }

    &-body {
      position: relative;
      background: $primary-color;
      padding: 1.5rem 1.5rem;

      @media (min-width: $sm) {
        padding: 2rem 3rem;
      }

      @media (min-width: $md) {
        padding: 2.5rem 2.5rem;
      }

      @media (min-width: $lg) {
        padding: 3.5rem 3.5rem;
      }

      &::before {
        content: "";
        width: 50%;
        left: -1.5rem;
        background: mix(black, $primary-color, 40%);
        position: absolute;
        height: calc(100% - 2rem);
        bottom: 0;
        z-index: -1;
      }
    }
  }

  &__tel {
    transform: skew(20deg);
    font-size: 1.8rem;
    color: mix(black, $primary-color, 40%);
    transform: skew(20deg);
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    transition: all .3s;

    @media (min-width: $sm) {
      font-size: 2.6rem;
    }

    @media (min-width: $md) {
      font-size: 3rem;
    }

    &:hover {
      text-decoration: none;
      color: mix(black, $primary-color, 50%);
      transform: skew(20deg) translateY(-3px);
    }

    &-icon {
      fill: $white;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: .5rem;
      vertical-align: baseline;

      @media (min-width: $sm) {
        width: 3.4rem;
        height: 3.4rem;
        margin-right: 1.5rem;
      }

      @media (min-width: $md) {
        width: 4rem;
        height: 4rem;
      }
    }

    strong {
      font-weight: 500;
      font-size: 2.4rem;
      color: $white;

      @media (min-width: $sm) {
        font-size: 4rem;
      }

      @media (min-width: $md) {
        font-size: 5rem;
      }
    }
  }

  &__row {
    background: $white;
    padding: 1rem;
    margin-bottom: 6.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
    position: relative;

    @media (min-width: $md) {
      padding: 3rem 2.5rem;
    }
  }

  &__col {
    flex-basis: 50%;
    max-width: 50%;
    margin: 1.5rem 0;

    @media (min-width: 480px) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $md) {
      flex-basis: 20%;
      max-width: 20%;
      margin: 0;
    }
  }

  .company-feature {
    max-width: 13rem;
    margin: 0 auto;

    &--wide {
      min-width: 16rem;
    }

    &__icon-wrap {
      width: 5rem;
      height: 5rem;
    }

    &__figcaption {
      &::before {
        width: 5rem;
      }
    }

    &__desc {
      color: $black;
    }
  }
}

.training-table {
  border: 1px solid $gray--medium;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: $black;
  width: 100%;
  margin: 0 auto;

  th {
    font-weight: 500;
    padding: 2rem 1.5rem;
  }

  td {
    padding: 1.5rem 1.5rem;
    position: relative;
    border-top: 1px solid $gray--medium;
    transition: all .3s;

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      height: calc(100% - 3rem;);
      top: 50%;
      transform: translateY(-50%);
      border-left: 1px solid $gray--medium;
    }

    &:first-child::after,
    &:last-child::after {
      content: "";
      background: $white;
      height: 2px;
      position: absolute;
      top: -1px;
      width: 1.5rem;
    }

    &:first-child::after {
      left: 0;
    }

    &:last-child::after {
      right: 0;
    }
  }

  tr {
    &:hover td {
      background: $gray--thin;
    }
  }

  &__date {
    font-size: 1.2rem;
    color: $dark--medium;
    white-space: nowrap;
  }

  &__topic {
    max-width: 30rem;
  }

  &__coach {}

  &__summary {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: 1.6rem;
    text-align: left;
  }

  &__btn {
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}

.training-section__subscribe {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.trainings-carousel {

  @media (min-width: $md) {
    margin: 0 -3.5rem;
  }

  &__container {
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;

    &::before {
      content: "";
      background: $gray--thin;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      z-index: 2;
      width: 1.6rem;
    }

    &::after {
      content: "";
      background: $gray--thin;
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
      z-index: 2;
      width: 1.6rem;
    }

    &.swiper-container-initialized {
      visibility: visible;
      opacity: 1;

      /*overflow-y: auto;
      overflow-x: hidden;*/
    }

    .swiper-wrapper {
      &::after {
        content: "";
        background: $gray--thin;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 2px;
      }
    }
  }

  &__pagination {
    text-align: center;
    padding-top: 2.5rem;

    .swiper-pagination-bullet {
      width: 1.6rem;
      height: 1.6rem;
      border: 2px solid $gray;
      display: inline-block;
      margin: 0 .5rem;
      cursor: pointer;
      border-radius: 50%;
      position: relative;

      &-active {
        cursor: default;
        border-color: $primary-color;
        background: $primary-color;

        &::after {
          content: "";
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          background: $white;

          @include absolute-center;
        }
      }
    }
  }
}

.training-archive {
  font-size: 1.4rem;
  color: $black;
  display: block;
  height: 100%;
  position: relative;
  padding: 0 0 1.5rem 0;

  &::after {
    content: "";
    border-bottom: 1px solid $gray--medium;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__body {
    position: relative;

    line-height: 1.3;
    overflow: hidden;
    height: 12rem;
  }

  &__wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.5rem 1.5rem 2rem;
    z-index: 2;
    border: 1px solid transparent;
    transition: background .3s;
    min-height: 14rem;

    &::before {
      content: "";
      border-left: 1px solid $gray--medium;
      right: -1px;
      height: calc(100% - 4rem);

      @include absolute-vertical;
    }

    &::after {
      content: "";
      height: 3px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background .3s;
    }
  }

  &__date {
    color: $gray;
    margin-bottom: 1rem;
    display: block;
    white-space: nowrap;
  }

  &__desc {
    margin: 0;
    height: 5.5rem;
    overflow: hidden;
  }

  &__more {
    color: $gray;
    font-size: 1.4rem;
    margin-top: .5rem;
  }
}

.training-archive:hover {
  .training-archive__body {
    overflow: visible;
  }

  .training-archive__wrap {
    background: $white;
    color: $primary-color;
    text-decoration: none;
    border-color: $gray--medium;
    box-shadow: 0 0 1.5rem rgba($black, .07);
    z-index: 3;

    &::after {
      background: mix($black, $primary-color, 40%);
    }
  }

  .training-archive__desc {
    height: auto;
  }

  .training-archive__more {
    display: none;
  }
}