.types-section {
  $self: &;

  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 3;

  @media (min-width: $md) {
    margin-bottom: 5rem;
  }

  @media (min-width: $lg) {
    margin-bottom: 2.5rem;
  }

  @media (min-width: $xlg) {
    margin-top: -1rem;
  }

  &__wrap {
    padding: 1rem;
    flex: 0 1 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex: 0 1 50%;
      max-width: 50%;
    }

    @media (min-width: $md) {
      padding: 0 1rem;
      flex: 0 1 25%;
      max-width: 25%;
    }
  }

  &--mod {
    #{$self}__wrap {
      @media (min-width: $sm) {
        flex: 1 0 auto;
        max-width: 100%;
      }
    }

    .type-section {
      @media (min-width: $md) {
        max-width: 100%;
      }

      &__header {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

      &__title-entity {
        @media (min-width: $sm) {
          display: inline;
        }
      }

      &__icon {
        max-width: 13rem;
      }
    }
  }
}