.vincode-section {
  @media (min-width: $md) {
    display: flex;
  }

  &__form {
    @media (min-width: $md) {
      max-width: 30%;
      flex-basis: 30%;
      padding-right: 1.5rem;
    }
  }

  &__data {
    @media (min-width: $md) {
      max-width: 70%;
      flex-basis: 70%;
      padding-left: 1.5rem;
    }
  }

  // Components
  .type-section {
    margin: 0 0 2rem;

    @media (max-width: $md--mw) {
      max-width: 100%;
    }

    &::after {
      display: none;
    }

    &__title-entity {
      display: inline;
    }

    &__icon {
      max-width: 12rem;
      fill: $gray;
      height: 7rem;
      margin-bottom: 2rem;
    }

    &__input::placeholder {
      font-style: italic;
    }
  }
}