.choices {
  $self: &;

  &[data-type*="select-one"] {
    height: 100%;
    font-size: 1.4rem;
    color: $font-base-color;
    margin: 0;
    position: relative;
    padding-right: 2.6rem;
    border: 1px solid $gray--medium;

    &.is-open {
      border: 1px solid $dark--medium;
      box-shadow: 0 0 15px rgba($black, 0.1);
      background: $white;
      border-color: transparent;
    }

    &::after {
      content: "\f078";
      font-family: fa;
      font-size: 1.4rem;
      color: $primary-color;

      border: none;
      right: 1rem;
      top: 50%;
      width: auto;
      height: auto;
      margin: 0;
      position: absolute;
      transform: translateY(-50%);
    }

    &.is-open::after {
      content: "\f077";
      border: none;
      margin: 0;
    }
  }

  &__inner {
    background: transparent;
    border: none;
    min-height: 3rem;
    height: 100%;
    white-space: nowrap;
    padding-right: 0;
  }

  &__list--single {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  // dropdown
  &__list--dropdown {
    background: $white;
    z-index: 9;
    padding: 0;
  }

  &__item--choice {
    padding: 1rem .5rem 1rem 1.5rem !important;
    transition: all .3s;
    margin: auto;

    &:hover {
      background: $gray--light;
      color: $primary-color;
      transition: all .3s;
    }

    &:hover::before {
      content: "";
      width: 2px;
      height: 2rem;
      background: $primary-color;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  // dropdowns
  
  /* Hide Placeholder in the Dropdown List */
  &__list--dropdown &__placeholder {
    opacity: 0;
    height: 0;
    visibility: hidden;
    padding: 0 !important;
  }
  /* Hide Placeholder in the Dropdown List */

  /* Disabled */
  &.is-disabled {
    padding-right: 0;

    &[data-type*="select-one"] {
      &::after {
        color: $gray;
      }
    }

    .choices__inner,
    .choices__input {
      background: $white;
    }
  }
  /* Disabled */
}

select.js-select-default,
select.js-select-statuses,
select.js-select-car,
select.js-select-truck {
  opacity: 0;
  visibility: hidden;
}