.location
  .location__heading Филиал AUTO MALL - #[span Комрат]
  .location__places
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-3.jpg" alt="location")
    .location__place
      //- img.location__place-img(src="assets/images/general/garage-location-map.jpg" alt="location")
      iframe.location__place-img(src="https://snazzymaps.com/embed/208647" width="100%" height="100%" style="border:none;")
  .location__contacts
    .row
      .col-md-4
        .location__contact
          +icon('shopping-cart-2', 'location__contact-icon')
          .location__contact-title интернет магазин
          .location__contact-desc #[a(href="#") www.automall.md]
      .col-md-4
        .tiny-contacts
          a.tiny-contacts__wrap(href="tel:14814")
            +icon('phone-call', 'tiny-contacts__icon')
            span.tiny-contacts__phone 14814
          .tiny-contacts__desc Отдел продаж и запись на СТО
      .col-md-4
        .location__contact
          +icon('email', 'location__contact-icon')
          .location__contact-title E-mail
          .location__contact-desc #[a(href="mailto:automall@automall.md") automall@automall.md]
  .location__details
    .row
      .col-md-4
        .location__detail
          .location__detail-heading Адрес
          .location__detail-desc MD-2059, Молдова, г. Комрат, ул. Победы, 115
      .col-md-4
        .location__detail
            .location__detail-heading График работы
            dl
              dt Пн-Пт     
              dd с 8:00 до 18:00
              dt Суббота
              dd с 8:00 до 15:00
              dt Воскресенье
              dd выходной