.location
  .location__heading Филиал AUTO MALL - #[span Бельцы]
  .location__places
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-2.jpg" alt="location")
    .location__place
      //- iframe.location__place-img(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25513.443841091557!2d27.908601304732834!3d47.76650702217105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5328c1a45aa688d5!2z0JrQvtC90L3Ri9C5INCh0L_QvtGA0YLQuNCy0L3Ri9C5INCa0LvRg9CxICLQkdGN0LvRhtGMIiDQsy4g0JHQtdC70YzRhtGLLCDQnNC-0LvQtNC-0LLQsA!5e0!3m2!1sru!2s!4v1575499296916!5m2!1sru!2s" width="600" frameborder="0" style="border:0;" allowfullscreen="")
      iframe.location__place-img(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2681.591871522056!2d27.95031471584137!3d47.76997018467092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cb60d881edea6b%3A0x35702280306b99a9!2sWebmall!5e0!3m2!1sru!2s!4v1577647543963!5m2!1sru!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="")
  .location__contacts
    .row
      .col-md-4
        .location__contact
          +icon('shopping-cart-2', 'location__contact-icon')
          .location__contact-title интернет магазин
          .location__contact-desc #[a(href="#") www.automall.md]
      .col-md-4
        .tiny-contacts
          a.tiny-contacts__wrap(href="tel:14814")
            +icon('phone-call', 'tiny-contacts__icon')
            span.tiny-contacts__phone 14814
          .tiny-contacts__desc Отдел продаж и запись на СТО
      .col-md-4
        .location__contact
          +icon('email', 'location__contact-icon')
          .location__contact-title E-mail
          .location__contact-desc #[a(href="mailto:service.balti@automall.md") service.balti@automall.md]
  .location__details
    .row
      .col-md-4
        .location__detail
          .location__detail-heading Адрес
          .location__detail-desc MD-3100, Молдова, г. Бельцы ул. Аэродромная, 7А
      .col-md-4
        .location__detail
            .location__detail-heading График работы
            dl
              dt Пн-Пт     
              dd с 8:00 до 18:00
              dt Суббота
              dd с 8:00 до 15:00
              dt Воскресенье
              dd выходной