.location-desc
  p Для того, чтобы забрать свой заказ, Вам нужно явиться в наше представительство по адресу, указанному ниже.

  p Просим обратить внимание на время, с которого будет доступен заказ.

  strong Ближайшие рабочие дни
  p 07 Ноября / 08 Ноября / 09 Ноября
.location
  .location__places
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-1.jpg" alt="location")
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-map.jpg" alt="location")
  .location__details
    .row
      .col-md-4
        .location__detail
          .location__detail-heading Адрес
          .location__detail-desc MD-2059, Молдова, г. Кишинев, ул. Петрикань, 17
      .col-md-4
        .location__detail
          .location__detail-heading Телефоны
          dl
            dt Администрация
            dd #[a(href="tel:+37322815400") /+373 22/ 815-400]
      .col-md-4
        .location__detail
            .location__detail-heading График работы
            dl
              dt Пн-Пт     
              dd с 8:00 до 18:00
              dt Суббота
              dd с 8:00 до 15:00
              dt Воскресенье
              dd выходной