.location
  .location__heading Филиал AUTO MALL - #[span Кузовное Ателье]
  .location__places
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-4.jpg" alt="location")
    .location__place
      img.location__place-img(src="assets/images/general/garage-location-map-2.jpg" alt="location")
  .location__contacts
    .row
      .col-md-4
        .location__contact
          +icon('shopping-cart-2', 'location__contact-icon')
          .location__contact-title интернет магазин
          .location__contact-desc #[a(href="#") www.automall.md]
      .col-md-4
        .location__contact
          +icon('email', 'location__contact-icon')
          .location__contact-title E-mail
          .location__contact-desc #[a(href="mailto:service.balti@automall.md") service.balti@automall.md]
  .location__details
    .row
      .col-md-4
        .location__detail
          .location__detail-heading Адрес
          .location__detail-desc MD-3100, Молдова, г. Кишинев ул. Заводская, 90
      .col-md-4
        .location__detail
          .location__detail-heading Телефоны
          dl
            dt Автосервис
            dd #[a(href="tel:+37322840100") /+373 22/ 84-01-00]
            dt Запасные части
            dd #[a(href="tel:+37322840100") /+373 22/ 84-01-00]
      .col-md-4
        .location__detail
            .location__detail-heading График работы
            dl
              dt Пн-Пт     
              dd с 8:00 до 18:00
              dt Суббота
              dd с 8:00 до 14:00
              dt Воскресенье
              dd выходной