article.news
  a(href="#").news__img-wrap
    img(src="assets/images/content/news-3.jpg" alt="News Title").news__img
  .news__body
    time(datetime="2019-08-16").news__date #[+icon('calendar-alt', 'news__date-icon')] 16.08.2019
    .news__title #[a(href="#").news__title-link Расширение ассортимента по бренду FAG]
    p.news__excerpt #[a(href="#").news__excerpt-link Дорогие друзья! Компания AUTO MALL сообщает о расширении ассортимента ролик]
    a(href="#").news__more детали
      span.news__more-icon-wrap
        +icon('chevron-right', 'news__more-icon')