article.news.news--lead
  a(href="#").news__img-wrap
    img(src="assets/images/content/news-1.jpg" alt="News Title").news__img
  .news__body
    time(datetime="2019-08-24").news__date #[+icon('calendar-alt', 'news__date-icon')] 24.08.2019
    .news__title #[a(href="#").news__title-link График работы в период национальных праздников]
    p.news__excerpt #[a(href="#").news__excerpt-link Уважаемые клиенты! #[br] В период государственных праздников – 27 и 31 августа, магазин AUTO MALL работает для Вас полный рабочий день.]
    a(href="#").news__more детали
      span.news__more-icon-wrap
        +icon('chevron-right', 'news__more-icon')