//- article.news
//-   a(href="#").news__img-wrap
//-     img(src="assets/images/content/news-8-inner.jpg" alt="News Title").news__img
//-   .news__body
//-     time(datetime="2019-09-09").news__date 09.09.2019
//-     .news__title #[a(href="#").news__title-link Широкий ассортимент щёток стеклоочистителей]
//-     p.news__excerpt #[a(href="#").news__excerpt-link Дорогие друзья! Компания AUTO MALL предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности]

a(href="#").news-wrap
  article.news
    .news__img-wrap
      img(src="assets/images/content/news-8-inner.jpg" alt="News Title").news__img
    .news__body
      time(datetime="2019-09-09").news__date 09.09.2019
      .news__title Широкий ассортимент щёток стеклоочистителей
      p.news__excerpt Дорогие друзья! Компания AUTO MALL предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности