//- article.news
//-   a(href="#").news__img-wrap
//-     img(src="assets/images/content/news-5-inner.jpg" alt="News Title").news__img
//-   .news__body
//-     time(datetime="2019-07-24").news__date 16.07.2019
//-     .news__title #[a(href="#").news__title-link MOTUL - это больше, чем бренд]
//-     p.news__excerpt #[a(href="#").news__excerpt-link Дорогие друзья! Представляем вашему вниманию широкий ассортимент автохимии по бренду MOTUL.]

a(href="#").news-wrap
  article.news
    .news__img-wrap
      img(src="assets/images/content/news-5-inner.jpg" alt="News Title").news__img
    .news__body
      time(datetime="2019-07-24").news__date 16.07.2019
      .news__title MOTUL - это больше, чем бренд
      p.news__excerpt Дорогие друзья! Представляем вашему вниманию широкий ассортимент автохимии по бренду MOTUL.