article.news
  a(href="#").news__img-wrap
    img(src="assets/images/content/news-5.jpg" alt="News Title").news__img
  .news__body
    time(datetime="2019-09-09").news__date #[+icon('calendar-alt', 'news__date-icon')] 09.09.2019
    .news__title #[a(href="#").news__title-link Купи продукцию Lemforder, Sachs и ZF oil]
    p.news__excerpt #[a(href="#").news__excerpt-link Купи продукцию Lemforder, Sachs и ZF oil и получи подарочный сертификат от Tana]
    a(href="#").news__more детали
      span.news__more-icon-wrap
        +icon('chevron-right', 'news__more-icon')