//- article.news.news--lead
//-   a(href="#").news__img-wrap
//-     img(src="assets/images/content/news-1-inner.jpg" alt="News Title").news__img
//-   .news__body
//-     time(datetime="2019-08-24").news__date 24.08.2019
//-     .news__title #[a(href="#").news__title-link График работы в период национальных праздников]
//-     a.news__excerpt-link(href="#")
//-       p.news__excerpt Уважаемые клиенты! #[br] В период государственных праздников – 27 и 31 августа, магазин AUTO MALL работает для Вас полный рабочий день.
//-       ul
//-         li 27 августа - 08:00 – 18:00;
//-         li 31 августа - 08:00 – 15:00.

a.news-wrap(href="#")
  article.news.news--lead
    .news__img-wrap
      img(src="assets/images/content/news-1-inner.jpg" alt="News Title").news__img
    .news__body
      time(datetime="2019-08-24").news__date 24.08.2019
      .news__title График работы в период национальных праздников
      p.news__excerpt Уважаемые клиенты! #[br] В период государственных праздников – 27 и 31 августа, магазин AUTO MALL работает для Вас полный рабочий день.
      ul
        li 27 августа - 08:00 – 18:00;
        li 31 августа - 08:00 – 15:00.