//- article.news
//-   a(href="#").news__img-wrap
//-     img(src="assets/images/content/news-3-inner.jpg" alt="News Title").news__img
//-   .news__body
//-     time(datetime="2019-08-16").news__date 16.08.2019
//-     .news__title #[a(href="#").news__title-link Расширение ассортимента по бренду FAG]
//-     p.news__excerpt #[a(href="#").news__excerpt-link Дорогие друзья! Компания AUTO MALL сообщает о расширении ассортимента ролик]

a(href="#").news-wrap
  article.news
    .news__img-wrap
      img(src="assets/images/content/news-3-inner.jpg" alt="News Title").news__img
    .news__body
      time(datetime="2019-08-16").news__date 16.08.2019
      .news__title Расширение ассортимента по бренду FAG
      p.news__excerpt Дорогие друзья! Компания AUTO MALL сообщает о расширении ассортимента ролик