article.news
  a(href="#").news__img-wrap
    img(src="assets/images/content/news-6.jpg" alt="News Title").news__img
  .news__body
    time(datetime="2019-08-16").news__date #[+icon('calendar-alt', 'news__date-icon')] 16.08.2019
    .news__title #[a(href="#").news__title-link АКЦИЯ TRT С 15.07.2019-15.09.2019!!!]
    p.news__excerpt #[a(href="#").news__excerpt-link Покупай продукцию TRT и выиграй поездку на завод и экскурсию по историческим]
    a(href="#").news__more детали
      span.news__more-icon-wrap
        +icon('chevron-right', 'news__more-icon') 