//- article.news
//-   a(href="#").news__img-wrap
//-     img(src="assets/images/content/news-4-inner.jpg" alt="News Title").news__img
//-   .news__body
//-     time(datetime="2019-07-24").news__date 24.07.2019
//-     .news__title #[a(href="#").news__title-link Широкий ассортимент навигаторов и видеоре#[wbr]гистраторов от бренда NAVITEL]
//-     p.news__excerpt #[a(href="#").news__excerpt-link Уважаемые клиенты! Компания]

a(href="#").news-wrap
  article.news
    .news__img-wrap
      img(src="assets/images/content/news-4-inner.jpg" alt="News Title").news__img
    .news__body
      time(datetime="2019-07-24").news__date 24.07.2019
      .news__title Широкий ассортимент навигаторов и видеоре#[wbr]гистраторов от бренда NAVITEL
      p.news__excerpt Уважаемые клиенты! Компания