article.vacancy
  header.vacancy__header
    .vacancy__title Руководитель отдела рекламы и pr
  .vacancy__requires
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('address', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Город:
        .vacancy__value Алмааты
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('mortarboard', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Образование:
        .vacancy__value Высшее
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('promotion', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Опы работы:
        .vacancy__value Не менее 2-х лет
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('money', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Зарплата:
        .vacancy__value Договорная
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('time', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property График работы:
        .vacancy__value Полная занятость

  .vacancy__sub-title Требования:
  p.vacancy__desc Мы ищем энергичного, креативного сотрудника, готового работать с большим объемом информации в режиме постоянных изменений и движения вперед. Если Вы обладаете необходимыми качествами, имеете соответствующее образование и опыт работы, свободно владеете английским языком и любите свою работу, то мы ждем Ваших резюме! Уважаемые соискатели, все резюме будут рассмотрены в течение 7 дней.
  .vacancy__sub-title Обязанности:
  ul.vacancy__details
    li.vacancy__detail руководство отделом рекламы и PR, постановка задач сотрудникам;
    li.vacancy__detail организация продвижения продукции на рынки сбыта;
    li.vacancy__detail планирование рекламных мероприятий, оценка эффективности;
    li.vacancy__detail организация выставок, бизнес-форумов, конференций, взаимодействие со СМИ, информационными, рекламными агентствами и т.д;
    li.vacancy__detail укрепление позиций бренда на рынке.
  .vacancy__sub-title Условия:
  ul.vacancy__details
    li.vacancy__detail достойный уровень оплаты (обсуждается с успешным кандидатом);
    li.vacancy__detail оформление согласно ТК РМ;
    li.vacancy__detail молодой, дружный коллектив;
    li.vacancy__detail возможность получения ценного опыта в успешной компании;
    li.vacancy__detail тренинги, повышение квалификации за счет компании;
    li.vacancy__detail поездки к поставщикам в Европу.