article.vacancy
  header.vacancy__header
    .vacancy__title Водитель-экспедитор
  .vacancy__requires
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('address', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Город:
        .vacancy__value Алмааты
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('mortarboard', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Образование:
        .vacancy__value Любое
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('promotion', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Опы работы:
        .vacancy__value От 2-х лет
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('money', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property Зарплата:
        .vacancy__value Договорная
    figure.vacancy__require
      .vacancy__icon-wrap
        +icon('time', 'vacancy__icon')
      .vacancy__figcaption
        .vacancy__property График работы:
        .vacancy__value Полная занятость

  .vacancy__sub-title Требования:
  ul.vacancy__details
    li.vacancy__detail Водительское удостоверение категории &laquo;В, С&raquo;.
    li.vacancy__detail Опыт работы не менее 2-х лет водителем-экспедитором, умение работать с товарно-сопроводительными документами.
    li.vacancy__detail Работоспособность, честность, вежливость с клиентами, исполнительность, готовность работать в динамичном ритме.
    li.vacancy__detail Владение русским и румынским языком.
  .vacancy__sub-title Обязанности:
  ul.vacancy__details
    li.vacancy__detail Перевозка / Экспедирование товара
    li.vacancy__detail Работа с накладными
  .vacancy__sub-title Условия:
  ul.vacancy__details
    li.vacancy__detail своевременная оплата труда, спец. одежда
    li.vacancy__detail официальное трудоустройство, полный cоц. пакет
    li.vacancy__detail молодой дружный коллектив