.card-specification-section

  .table-responsive.d-none.d-md-block
    table.spec-table
      thead.spec-table__thead
        tr.spec-table__tr
          th.spec-table__th Номер
          th.spec-table__th Наименование товара
          th.spec-table__th.text-center Бренд
          th.spec-table__th.text-center Кол-во
          th.spec-table__th.text-center На складе отгрузки
          th.spec-table__th.text-center Срок поставки
          th.spec-table__th.text-center Ваша цена (mdl)
          th.spec-table__th.text-center Розница (mdl)
          th.spec-table__th 
            button.spec-table__collapse
      tbody.spec-table__tbody
        tr.spec-table__tr
          td.spec-table__td #[div.spec-table__number INUGEL EXPERT -37°C 5L]
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-link(href="#") Антифриз -37°C 5L (102928) Motul]
          td.spec-table__td.text-center #[a.spec-table__brand(href="#") MOTUL]
          td.spec-table__td.text-center #[span.spec-table__amount &gt; 4]
          td.spec-table__td.text-center #[span.spec-table__amount &gt; 4]
          td.spec-table__td.text-center #[span.spec-table__instock В наличии]
          td.spec-table__td.text-center #[span.spec-table__price-main 390,18]
          td.spec-table__td.text-center #[span.spec-table__price-retail 410,50]
          td.spec-table__td
            .spec-table__meta
              div.spec-table__counter
                include ../components/counter
              div.spec-table__controls
                a.stock-table__compare(href="#")
                  +icon('transfer', 'stock-table__compare-icon')
                a.stock-table__add(href="#")
                  +icon('shopping-cart', 'stock-table__add-icon')
        tr.spec-table__tr
          td.spec-table__td #[div.spec-table__number INUGEL EXPERT -37°C 5L]
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-link(href="#") Антифриз -37°C 5L (102928) Motul]
          td.spec-table__td.text-center #[a.spec-table__brand(href="#") MOTUL]
          td.spec-table__td.text-center #[span.spec-table__amount &gt; 4]
          td.spec-table__td.text-center #[span.spec-table__amount &gt; 4]
          td.spec-table__td.text-center #[span.spec-table__instock В наличии]
          td.spec-table__td.text-center #[span.spec-table__price-main 390,18]
          td.spec-table__td.text-center #[span.spec-table__price-retail 410,50]
          td.spec-table__td
            .spec-table__meta
              div.spec-table__counter
                include ../components/counter
              div.spec-table__controls
                a.stock-table__compare(href="#")
                  +icon('transfer', 'stock-table__compare-icon')
                a.stock-table__add(href="#")
                  +icon('shopping-cart', 'stock-table__add-icon')

  .spec.d-md-none
    
    .spec__title Наименование товара
      button.spec-table__collapse

    .spec__product.is-open
      .spec__heading Антифриз -37°C 5L (102928) Motul
      .spec__main
        .spec-table__main-prices
          .spec-table__main-price #[span Цена] 390,18 MDL
          .spec-table__retail-price #[span Розница] 410,50 MDL
        .spec-table__meta
          div.spec-table__counter
            include ../components/counter
          div.spec-table__controls
            a.stock-table__compare(href="#")
              +icon('transfer', 'stock-table__compare-icon')
            a.stock-table__add(href="#")
              +icon('shopping-cart', 'stock-table__add-icon')
      .spec__detail
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Кол-во
          dd.spec__value &gt; 4
          dt.spec__property На складе отгрузки
          dd.spec__value &gt; 4
          dt.spec__property Срок поставки
          dd.spec__value В наличии
        a.spec__params-more(href="#") Подробнаяя информация

    .spec__product
      .spec__heading Антифриз -37°C 5L (102928) Motul
      .spec__main
        .spec-table__main-prices
          .spec-table__main-price #[span Цена] 390,18 MDL
          .spec-table__retail-price #[span Розница] 410,50 MDL
        .spec-table__meta
          div.spec-table__counter
            include ../components/counter
          div.spec-table__controls
            a.stock-table__compare(href="#")
              +icon('transfer', 'stock-table__compare-icon')
            a.stock-table__add(href="#")
              +icon('shopping-cart', 'stock-table__add-icon')
      .spec__detail
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Кол-во
          dd.spec__value &gt; 4
          dt.spec__property На складе отгрузки
          dd.spec__value &gt; 4
          dt.spec__property Срок поставки
          dd.spec__value В наличии
        a.spec__params-more(href="#") Подробнаяя информация