.card-features
  .row
    .col-12.col-sm-6.col-md-3
      include ../components/card-features/card-feature-1
    .col-12.col-sm-6.col-md-3
      include ../components/card-features/card-feature-2
    .col-12.col-sm-6.col-md-3
      include ../components/card-features/card-feature-3
    .col-12.col-sm-6.col-md-3
      include ../components/card-features/card-feature-4