.card-specification-section

  div.spec-payment-header.d-none.d-md-block
    a.spec-payment-toggle(href="#") Развернутый вид #[i.fas.fa-angle-double-down]

  .table-responsive.d-none.d-md-block
    table.spec-payment-table(id="spec-payment-table")

      colgroup
        col
        col.spec-payment-table__col-title
        col
        col
        col
        col

      thead.spec-payment-table__thead
        tr.spec-payment-table__tr
          th.spec-payment-table__th(rowspan="2") № док-та
          th.spec-payment-table__th(rowspan="2") Тип док-та
          th.spec-payment-table__th.text-center(rowspan="2") Дата
          th.spec-payment-table__th.text-center(colspan="3") Сумма
        tr.spec-payment-table__tr.spec-payment-table__tr--bordered
          th.spec-payment-table__th.text-center Дебет
          th.spec-payment-table__th.text-center Кредит
          th.spec-payment-table__th.text-center Долг
        tr.spec-payment-table__subhead-tr
          th.spec-payment-table__th &nbsp;
          th.spec-payment-table__th Начальный остаток
          th.spec-payment-table__th.text-center 31 июня 2019
          th.spec-payment-table__th &nbsp;
          th.spec-payment-table__th -6 025,25
          th.spec-payment-table__th &nbsp;

      tbody.spec-payment-table__tbody.is-opened
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                    
      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                    
      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tbody.spec-payment-table__tbody
        tr.spec-payment-table__tr
          td.spec-payment-table__td 
            div.spec-payment-table__value-primary ALM00017967
            div.spec-payment-table__value-primary ALM00001042
          td.spec-payment-table__td
            div.spec-payment-table__value Платеж
            div.spec-payment-table__value Расходный кассовый ордер
          td.spec-payment-table__td 
            div.spec-payment-table__value 03 май 2019
            div.spec-payment-table__value 03 май 2019
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value 100 000,00
          td.spec-payment-table__td
            div.spec-payment-table__value 0,00
            div.spec-payment-table__value -100 000,00
          td.spec-payment-table__td 
            div.spec-payment-table__value -101 377,25
            div.spec-payment-table__value -1 377,25
            .spec-payment-table__toggle
              +icon('chevron-down', 'spec-payment-table__toggle-icon')
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="6")

            table.spec-payment-table

              colgroup
                col
                col.spec-payment-table__col-title-sub
                col
                col
                col.spec-payment-table__col-count
                col

              thead.spec-payment-table__thead
                tr.spec-payment-table__tr
                  th.spec-payment-table__th Номер
                  th.spec-payment-table__th Наименование товара
                  th.spec-payment-table__th Бренд
                  th.spec-payment-table__th Цена / ед.
                  th.spec-payment-table__th.text-center К-во
                  th.spec-payment-table__th Сумма KZT
              tbody.spec-payment-table__tbody
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray HU7019z
                  td.spec-payment-table__td 
                    .spec-payment-table__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1752.63
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W610/9
                  td.spec-payment-table__td 
                    .spec-payment-table__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                tr.spec-payment-table__tr
                  td.spec-payment-table__td 
                    .spec-payment-table__value-gray W712/83
                  td.spec-payment-table__td 
                    .spec-payment-table__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98->,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
                  td.spec-payment-table__td 
                    .spec-payment-table__value-primary MANN-FILTER
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57
                  td.spec-payment-table__td 
                    .spec-payment-table__value.text-center 1
                  td.spec-payment-table__td 
                    .spec-payment-table__value 1267.57

      tfoot.spec-payment-table__tfoot
        tr.spec-payment-table__tr
          td.spec-payment-table__td(colspan="3")
            .checkbox-label
              input.checkbox-label__input(type="checkbox" name="details" id="dets")
              label.checkbox-label__main(for="dets") Подробности
          td.spec-payment-table__td(colspan="3")
            a.btn.btn--main(href="#") #[i.fa.fa-file-excel] Экспортировать в MS Excel

  .spec.d-md-none
    
    .spec__title Акт сверки

    p.spec__heading-desc Начальный остаток на #[strong 31 июня 2019 года] - кредит #[strong -6.025.5]

    .spec__product.is-open
      .spec__heading № док-та - ALM00017967
      .spec__main
        dl.spec__params
          dt.spec__property #[strong Тип документа]
          dd.spec__value Платеж
          dt.spec__property #[strong Дата]
          dd.spec__value 03 май 2019
          dt.spec__property #[strong Дебет]
          dd.spec__value 0.00
          dt.spec__property #[strong Кредит]
          dd.spec__value -100.000.000
          dt.spec__property #[strong Долг]
          dd.spec__value -101 377,25
      .spec__detail
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value HU7019z
          dt.spec__property Наименование товара
          dd.spec__value HU7019z Фильтрующий элемент масляного фильтра Lexus, Toyota
          dt.spec__property Бренд
          dd.spec__value MANN-FILTER
          dt.spec__property Цена / ед.
          dd.spec__value 1752.63
          dt.spec__property Кол-во
          dd.spec__value 2
          dt.spec__property Сумма KZT
          dd.spec__value 1752.63

    .spec__product
      .spec__heading № док-та - ALM00001042
      .spec__main
        dl.spec__params
          dt.spec__property #[strong Тип документа]
          dd.spec__value Расходный кассовый ордер
          dt.spec__property #[strong Дата]
          dd.spec__value 03 май 2019
          dt.spec__property #[strong Дебет]
          dd.spec__value 100.000.000
          dt.spec__property #[strong Кредит]
          dd.spec__value 0.00
          dt.spec__property #[strong Долг]
          dd.spec__value -1 377,25
      .spec__detail
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value W610/9
          dt.spec__property Наименование товара
          dd.spec__value W610/9 Фильтр масляный TOYOTA Camry (V30) 2.4 VVT-i 01-06,Camry (V40) 06-11,Rav 4 00-&gt;,Corolla 02-06
          dt.spec__property Бренд
          dd.spec__value MANN-FILTER
          dt.spec__property Цена / ед.
          dd.spec__value 1267.57
          dt.spec__property Кол-во
          dd.spec__value &gt; 4
          dt.spec__property Сумма KZT
          dd.spec__value 1267.57

    .spec__product
      .spec__heading № док-та - ALM00001042
      .spec__main
        dl.spec__params
          dt.spec__property #[strong Тип документа]
          dd.spec__value Расходный кассовый ордер
          dt.spec__property #[strong Дата]
          dd.spec__value 03 май 2019
          dt.spec__property #[strong Дебет]
          dd.spec__value 100.000.000
          dt.spec__property #[strong Кредит]
          dd.spec__value 0.00
          dt.spec__property #[strong Долг]
          dd.spec__value -1 377,25
      .spec__detail
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value W712/83
          dt.spec__property Наименование товара
          dd.spec__value W712/83 Фильтр масляный TOYOTA Land Cruiser 100 98-&gt;,Prado (J120) 02-09, LEXUS RX 300/330/35097-08
          dt.spec__property Бренд
          dd.spec__value MANN-FILTER
          dt.spec__property Цена / ед.
          dd.spec__value 1267.57
          dt.spec__property Кол-во
          dd.spec__value 1
          dt.spec__property Сумма KZT
          dd.spec__value 1267.57