.card-specification-section.card-specification-section--offset

  .table-responsive.d-none.d-md-block
    table.spec-table.spec-table--inner
      thead.spec-table__thead

        tr.spec-table__tr
          th.spec-table__th Модель / Двигатель
          th.spec-table__th Код двигателя
          th.spec-table__th Года выпуска
          th.spec-table__th Мощность, кВт
          th.spec-table__th Мощность, л.с.
          th.spec-table__th Объем, см3
          th.spec-table__th Тип кузова

      tbody.spec-table__tbody

        tr.spec-table__tr
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-model(href="#") Toyota Land Cruiser (j120) 3.4]
          td.spec-table__td #[span.spec-table__engine — / —]
          td.spec-table__td 2002 - 2004
          td.spec-table__td 136
          td.spec-table__td 185
          td.spec-table__td 3378
          td.spec-table__td 
            .spec-table__type Вездеход, закрытый
              i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

        tr.spec-table__tr
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-model(href="#") Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)]
          td.spec-table__td #[span.spec-table__engine — / —]
          td.spec-table__td 2002 - 2004
          td.spec-table__td 145
          td.spec-table__td 90
          td.spec-table__td 3378
          td.spec-table__td 
            .spec-table__type Вездеход, закрытый
              i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

        tr.spec-table__tr
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-model(href="#") Toyota Land Cruiser (j120) 3.4]
          td.spec-table__td #[span.spec-table__engine — / —]
          td.spec-table__td 2002 - 2004
          td.spec-table__td 136
          td.spec-table__td 185
          td.spec-table__td 3378
          td.spec-table__td 
            .spec-table__type Вездеход, закрытый
              i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

        tr.spec-table__tr
          td.spec-table__td 
            div.spec-table__title #[a.spec-table__title-model(href="#") Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)]
          td.spec-table__td #[span.spec-table__engine — / —]
          td.spec-table__td 2002 - 2004
          td.spec-table__td 145
          td.spec-table__td 90
          td.spec-table__td 3378
          td.spec-table__td 
            .spec-table__type Вездеход, закрытый
              i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка о возврате и обмене товара")

  .spec.d-md-none
    
    .spec__title Модель / Двигатель

    .spec__product.is-open
      .spec__heading Антифриз -37°C 5L (102928) Motul
      .spec__detail
        dl.spec__params
          dt.spec__property Код двигателя
          dt.spec__value — / —
          dt.spec__property Года выпуска
          dt.spec__value 2002 - 2004
          dt.spec__property Мощность, кВт
          dt.spec__value 136
          dt.spec__property Мощность, л.с.
          dt.spec__value 185
          dt.spec__property Объем, см3
          dt.spec__value 3378
          dt.spec__property Тип кузова
          dt.spec__value Вездеход, закрытый
        a.spec__params-more(href="#") Подробнаяя информация
        
    .spec__product
      .spec__heading Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)
      .spec__detail
        dl.spec__params
          dt.spec__property Код двигателя
          dt.spec__value — / —
          dt.spec__property Года выпуска
          dt.spec__value 2002 - 2004
          dt.spec__property Мощность, кВт
          dt.spec__value 145
          dt.spec__property Мощность, л.с.
          dt.spec__value 90
          dt.spec__property Объем, см3
          dt.spec__value 3378
          dt.spec__property Тип кузова
          dt.spec__value Вездеход, закрытый
        a.spec__params-more(href="#") Подробнаяя информация

    .spec__product
      .spec__heading Антифриз -37°C 5L (102928) Motul
      .spec__detail
        dl.spec__params
          dt.spec__property Код двигателя
          dt.spec__value — / —
          dt.spec__property Года выпуска
          dt.spec__value 2002 - 2004
          dt.spec__property Мощность, кВт
          dt.spec__value 136
          dt.spec__property Мощность, л.с.
          dt.spec__value 185
          dt.spec__property Объем, см3
          dt.spec__value 3378
          dt.spec__property Тип кузова
          dt.spec__value Вездеход, закрытый
        a.spec__params-more(href="#") Подробнаяя информация
        
    .spec__product
      .spec__heading Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)
      .spec__detail
        dl.spec__params
          dt.spec__property Код двигателя
          dt.spec__value — / —
          dt.spec__property Года выпуска
          dt.spec__value 2002 - 2004
          dt.spec__property Мощность, кВт
          dt.spec__value 145
          dt.spec__property Мощность, л.с.
          dt.spec__value 90
          dt.spec__property Объем, см3
          dt.spec__value 3378
          dt.spec__property Тип кузова
          dt.spec__value Вездеход, закрытый
        a.spec__params-more(href="#") Подробнаяя информация