.catalog-secondary
  include ../components/products/product-line-1
  include ../components/products/product-line-2

  .spec.d-md-none
    
    .spec__header
      .spec__header-title Бренд / Арт.
      .spec__header-title Наименование

    .spec__product

      .spec__primary
        .spec__primary-info
          .spec__primary-brand #[a(href="#") BARDAHL OIL]
          .spec__primary-articul #00000157556
          .product__stickers
            .product__stickers-sticker.product__stickers-sticker--discount Скидка
        .spec__primary-details
          .spec__primary-heading Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
      .spec__secondary
        .spec__secondary-info
          .spec__secondary-heading Цена
        .spec__secondary-details
          .spec__secondary-price
            .spec__secondary-price-value #[span 99,36] #[b KZT]
            .spec__secondary-price-label Ваша
          .spec__secondary-price
            .spec__secondary-price-value 181,38 KZT
            .spec__secondary-price-label Розница

      .spec__footer
        ul.spec__footer-list
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="similar") Аналоги #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="spec") Спецификации #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="add") 
              +icon('shopping-cart', 'stock-table__add-icon')
              i.fa.fa-chevron-down

      .spec__similar(data-dealer="similar")
        dl.spec__params
          dt.spec__property Класс вискозности SAE
          dd.spec__value 0W20
          dt.spec__property Объем [л]
          dd.spec__value 60
          dt.spec__property Тип контейнера
          dd.spec__value Barrel
                
      .spec__spec(data-dealer="spec")
        dl.spec__params
          dt.spec__property Спецификация
          dd.spec__value API SN
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Daihatsu
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Ford WSS-M2C 946-A

      .spec__similar(data-dealer="add")
        table
          thead
            tr
              th К-во
              th Склад
          tbody
            tr
              td
                .prod-amount 353
              td
                .prod-add
                  div.prod-stock г.Алматы
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount #[span &gt;] 12
              td
                .prod-add
                  div.prod-stock КарСити г.Алматы
                  .prod-add-wrap
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка почему товар пока что недоступен")
                    a.prod-add-btn.disabled(href="#" data-dealer-toggle="add") 
                      +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount 3456
              td
                .prod-add
                  div.prod-stock Склад товара в пути
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')

    .spec__product
      
      .spec__primary
        .spec__primary-info
          .spec__primary-brand #[a(href="#") BARDAHL OIL]
          .spec__primary-articul #00000157556
          .product__stickers
            .product__stickers-sticker.product__stickers-sticker--action Акция
        .spec__primary-details
          .spec__primary-heading Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
      .spec__secondary
        .spec__secondary-info
          .spec__secondary-heading Цена
        .spec__secondary-details
          .spec__secondary-price
            .spec__secondary-price-value #[span 99,36] #[b KZT]
            .spec__secondary-price-label Ваша
          .spec__secondary-price
            .spec__secondary-price-value 181,38 KZT
            .spec__secondary-price-label Розница

      .spec__footer
        ul.spec__footer-list
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="similar") Аналоги #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="spec") Спецификации #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="add") 
              +icon('shopping-cart', 'stock-table__add-icon')
              i.fa.fa-chevron-down

      .spec__similar(data-dealer="similar")
        dl.spec__params
          dt.spec__property Спецификация
          dd.spec__value API SN
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Daihatsu
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
                
      .spec__spec(data-dealer="spec")
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]

      .spec__similar(data-dealer="add")
        table
          thead
            tr
              th К-во
              th Склад
          tbody
            tr
              td
                .prod-amount 353
              td
                .prod-add
                  div.prod-stock г.Алматы
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount #[span &gt;] 12
              td
                .prod-add
                  div.prod-stock КарСити г.Алматы
                  .prod-add-wrap
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка почему товар пока что недоступен")
                    a.prod-add-btn.disabled(href="#" data-dealer-toggle="add") 
                      +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount 3456
              td
                .prod-add
                  div.prod-stock Склад товара в пути
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')

    .spec__product

      .spec__primary
        .spec__primary-info
          .spec__primary-brand #[a(href="#") BARDAHL OIL]
          .spec__primary-articul #00000157556
          .product__stickers
            .product__stickers-sticker.product__stickers-sticker--new Новинка
        .spec__primary-details
          .spec__primary-heading Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
      .spec__secondary
        .spec__secondary-info
          .spec__secondary-heading Цена
        .spec__secondary-details
          .spec__secondary-price
            .spec__secondary-price-value #[span 99,36] #[b KZT]
            .spec__secondary-price-label Ваша
          .spec__secondary-price
            .spec__secondary-price-value 181,38 KZT
            .spec__secondary-price-label Розница

      .spec__footer
        ul.spec__footer-list
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="similar") Аналоги #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="spec") Спецификации #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="add") 
              +icon('shopping-cart', 'stock-table__add-icon')
              i.fa.fa-chevron-down

      .spec__similar(data-dealer="similar")
        dl.spec__params
          dt.spec__property Класс вискозности SAE
          dd.spec__value 0W20
          dt.spec__property Объем [л]
          dd.spec__value 60
          dt.spec__property Тип контейнера
          dd.spec__value Barrel
                
      .spec__spec(data-dealer="spec")
        dl.spec__params
          dt.spec__property Спецификация
          dd.spec__value API SN
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Daihatsu
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Ford WSS-M2C 946-A

      .spec__similar(data-dealer="add")
        table
          thead
            tr
              th К-во
              th Склад
          tbody
            tr
              td
                .prod-amount 353
              td
                .prod-add
                  div.prod-stock г.Алматы
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount #[span &gt;] 12
              td
                .prod-add
                  div.prod-stock КарСити г.Алматы
                  .prod-add-wrap
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка почему товар пока что недоступен")
                    a.prod-add-btn.disabled(href="#" data-dealer-toggle="add") 
                      +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount 3456
              td
                .prod-add
                  div.prod-stock Склад товара в пути
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')

    .spec__product
      
      .spec__primary
        .spec__primary-info
          .spec__primary-brand #[a(href="#") BARDAHL OIL]
          .spec__primary-articul #00000157556
          .product__stickers
            .product__stickers-sticker.product__stickers-sticker--discount Скидка
            .product__stickers-sticker.product__stickers-sticker--action Акция
            .product__stickers-sticker.product__stickers-sticker--new Новинка
        .spec__primary-details
          .spec__primary-heading Трансмиссионное масло; Моторное масло; Моторное масло; Масло ступенчат
      .spec__secondary
        .spec__secondary-info
          .spec__secondary-heading Цена
        .spec__secondary-details
          .spec__secondary-price
            .spec__secondary-price-value #[span 99,36] #[b KZT]
            .spec__secondary-price-label Ваша
          .spec__secondary-price
            .spec__secondary-price-value 181,38 KZT
            .spec__secondary-price-label Розница

      .spec__footer
        ul.spec__footer-list
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="similar") Аналоги #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="spec") Спецификации #[i.fa.fa-chevron-down]
          li.spec__footer-item
            a.spec__footer-link(href="#" data-dealer-toggle="add") 
              +icon('shopping-cart', 'stock-table__add-icon')
              i.fa.fa-chevron-down

      .spec__similar(data-dealer="similar")
        dl.spec__params
          dt.spec__property Спецификация
          dd.spec__value API SN
          dt.spec__property Рекомендации производителя масла
          dd.spec__value Daihatsu
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
                
      .spec__spec(data-dealer="spec")
        dl.spec__params
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]
          dt.spec__property Номер
          dd.spec__value INUGEL EXPERT -37°C 5L
          dt.spec__property Бренд
          dd.spec__value #[a.spec__value-link(href="#") MOTUL]

      .spec__similar(data-dealer="add")
        table
          thead
            tr
              th К-во
              th Склад
          tbody
            tr
              td
                .prod-amount 353
              td
                .prod-add
                  div.prod-stock г.Алматы
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount #[span &gt;] 12
              td
                .prod-add
                  div.prod-stock КарСити г.Алматы
                  .prod-add-wrap
                    i.tooltip.fas.fa-info(data-tippy-content="Какая-то подсказка почему товар пока что недоступен")
                    a.prod-add-btn.disabled(href="#" data-dealer-toggle="add") 
                      +icon('shopping-cart', 'stock-table__add-icon')
            tr
              td
                .prod-amount 3456
              td
                .prod-add
                  div.prod-stock Склад товара в пути
                  a.prod-add-btn(href="#" data-dealer-toggle="add") 
                    +icon('shopping-cart', 'stock-table__add-icon')


include ../components/stock-table