.catalog-main

  .row

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-1.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-2.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-3.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-4.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-5.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-6.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-1.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-2.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-3.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-4.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-5.pug

    .col-6.col-sm-4.col-lg-3
      include ../components/products/product-6.pug