.client-options
  .row
    .col-6.col-sm-3

      a.client-option(href="#")
        figure.client-option__main
          .client-option__img-wrap
            +icon('key', 'client-option__img')
          figcaption.client-option__heading Ключевой доступ

    .col-6.col-sm-3

      a.client-option(href="#")
        figure.client-option__main
          .client-option__img-wrap
            +icon('contacts', 'client-option__img')
          figcaption.client-option__heading Просмотр всех заказов клиента

    .col-6.col-sm-3

      a.client-option(href="#")
        figure.client-option__main
          .client-option__img-wrap
            +icon('file', 'client-option__img')
          figcaption.client-option__heading Доступ к актам сверки

    .col-6.col-sm-3

      a.client-option(href="#")
        figure.client-option__main
          .client-option__img-wrap
            +icon('shopping-cart', 'client-option__img')
          figcaption.client-option__heading Может делать заказ