footer.footer.js-footer-collapse

  .container-fluid

    .row

      .col-md-3.order-last.order-md-first
        .footer-collapse.d-none.d-md-block
          .footer-collapse__title Контакты
        div.logo.footer__logo
          span.logo__wrap
            img.logo__img.img-responsive(src="assets/images/general/footer-logo-tanauto.png" alt="Tanauto" width="210" height="60")
        include ../components/footer-contacts-line

      .col-md-3
        include ../components/footer-collapse/footer-collapse-1

      .col-md-3
        include ../components/footer-collapse/footer-collapse-2

      .col-md-3
        include ../components/footer-collapse/footer-collapse-3
  
    .footer__conclude

      .row.align-items-center

        .col-md-4
          include ../components/soc

        .col-md-8
          small.copy &copy; TM "Tanauto Kazakhstan" 050050,Республика Казахстан, г. Алматы, пр. Райымбека 169А
            +icon('clock', 'copy__icon')

include ../components/modal-win