if(alertNotification)
  include ../components/alert-notification

header.header

  .header-top-area
    .container-fluid
      .header-top-area-main
        include ../components/top-header-nav
        include ../components/select-lang

  .header-main.header-main--actions
    .container-fluid
      
      button.header-main__actions-trigger.d-md-none.js-actions-toggle Акции

      .row.align-items-center

        .col-6.col-md-4

          .logos
            +logo(innerLogo)
            div.logo.d-none.d-md-block
              span.logo__wrap
                img.logo__img.img-responsive(src="assets/images/general/logo2.png" alt="Tanauto" width="210" height="60")

          .tiny-contacts.tiny-contacts--center
            a.tiny-contacts__wrap(href="tel:7333")
              +icon('phone-call', 'tiny-contacts__icon')
              span.tiny-contacts__phone 7333
            .tiny-contacts__weekdays Отдел продаж
              .tiny-contacts__working-hours с 9:00 до 18:00

        .col-md-4.col-actions.align-self-stretch.order-last.order-md-0

          .actions
            .actions__action 
              .actions__title Наименование акции
              .actions__progress 
                .actions__stages
                  .actions__stage.is-first 0
                  .actions__stage 10 000
                  .actions__stage 25 000
                  .actions__stage.is-last 50 000
                .actions__progress-scale(style="width: 40%;") 16 000
            .actions__action 
              .actions__title Наименование акции в две строки
              .actions__progress(data-amount="x1")
                .actions__stages
                  .actions__stage.is-first 0
                  .actions__stage.is-last 50 000
                .actions__progress-scale(style="width: 50%;")
            .actions__action 
              .actions__title Наименование акции
              .actions__progress 
                .actions__stages
                  .actions__stage.is-first 0
                  .actions__stage.is-middle 10 000
                  .actions__stage.is-middle 25 000
                  .actions__stage.is-last 50 000
                .actions__progress-scale(style="width: 80%;") 30 000
            a.actions__reload(href="#")
              +icon('reload', 'actions__reload-icon')

        .col-6.col-md-4
          if(auth)
            include ../components/authorized
          else
            include ../components/authorize

  .header-meta-area
    .container-fluid
      .header-meta-area__body
        include ../components/catalog-nav
        include ../components/brand-catalogs
        include ../components/search-form
  
  if(alertNotification)
    include ../components/alert-notification