if(alertNotification)
  include ../components/alert-notification

header.header

  .header-top-area
    .container-fluid
      .header-top-area-main
        include ../components/top-header-nav
        include ../components/select-lang

  .header-main
    .container-fluid
      .row.align-items-center
        .col-6.col-md-6.col-lg-5
          //- include ../components/logo-2
          .logos
            +logo(innerLogo)
            div.logo.d-none.d-md-block
              span.logo__wrap
                img.logo__img.img-responsive(src="assets/images/general/logo2.png" alt="Tanauto" width="210" height="60")
        .col-md-3.col-lg-4.order-last.order-md-0
         .tiny-contacts.tiny-contacts--center
            a.tiny-contacts__wrap(href="tel:7333")
              +icon('phone-call', 'tiny-contacts__icon')
              span.tiny-contacts__phone 7333
            .tiny-contacts__weekdays Отдел продаж
              .tiny-contacts__working-hours с 9:00 до 18:00
        .col-6.col-md-3.col-lg-3
          if(auth)
            include ../components/authorized
          else
            include ../components/authorize

  .header-meta-area
    .container-fluid
      .header-meta-area__body
        include ../components/catalog-nav
        include ../components/brand-catalogs
        include ../components/search-form
  
  if(alertNotification)
    include ../components/alert-notification