if(alertNotification)
  include ../components/alert-notification

header.header

  .header-top-area
    .container-fluid
      .header-top-area-main
        include ../components/top-header-nav
        include ../components/select-lang

  .header-main
    .container-fluid
      .row.align-items-center
        .col-6.col-md-4
          //- include ../components/logo-2
          +logo(innerLogo)
        .col-md-4.order-last.order-md-0
          if(auth)
            include ../components/header-contacts-2
          else
            include ../components/header-contacts
        .col-6.col-md-4
          if(auth)
            include ../components/authorized
          else if (authModified)
            include ../components/authorizeModified
          else
            include ../components/authorize

  .header-meta-area
    .container-fluid
      .header-meta-area__body
        include ../components/catalog-nav
        include ../components/brand-catalogs
        include ../components/search-form
  
  if(alertNotification)
    include ../components/alert-notification