.history-catalog-section

  .history-catalog-section__col
    +history-component('car-part-1', 'Кузов')

  .history-catalog-section__col
    +history-component('car-part-2', 'Двигатель')

  .history-catalog-section__col
    +history-component('car-part-3', 'Система выпуска')

  .history-catalog-section__col
    +history-component('car-part-4', 'Фильтр')

  .history-catalog-section__col
    +history-component('car-part-5', 'Тормозная система')

  .history-catalog-section__col
    +history-component('car-part-6', 'Система охлаждения')

  .history-catalog-section__col
    +history-component('car-part-7', 'Система зажигания / накаливания')

  .history-catalog-section__col
    +history-component('car-part-8', 'Электрика')

  .history-catalog-section__col
    +history-component('car-part-9', 'Подвеска / амортизация')

  .history-catalog-section__col
    +history-component('car-part-10', 'Рулевое управления')

  .history-catalog-section__col
    +history-component('car-part-11', 'Подвеска оси / система подвески / колеса')

  .history-catalog-section__col
    +history-component('car-part-12', 'Привод колеса')

  .history-catalog-section__col
    +history-component('car-part-13', 'Ременный привод')

  .history-catalog-section__col
    +history-component('car-part-14', 'Система очистки окон')

  .history-catalog-section__col
    +history-component('car-part-15', 'Система сцепления / навесные части')

  .history-catalog-section__col
    +history-component('car-part-16', 'Система подачи топлива')

  .history-catalog-section__col
    +history-component('car-part-17', 'Отопление / вентиляция')

  .history-catalog-section__col
    +history-component('car-part-18', 'Кондиционер')

  .history-catalog-section__col
    +history-component('car-part-19', 'Подготовка топливной смеси')

  .history-catalog-section__col
    +history-component('car-part-20', 'Главная передача')

  .history-catalog-section__col
    +history-component('car-part-21', 'Мотоцикл')