.items-carousel-wrap

  .swiper-container.items-carousel.js-instance-1

    .swiper-wrapper
          
      .swiper-slide
        include ../components/products/product-1

      .swiper-slide
        include ../components/products/product-2

      .swiper-slide
        include ../components/products/product-4

      .swiper-slide
        include ../components/products/product-6

      .swiper-slide
        include ../components/products/product-5

      .swiper-slide
        include ../components/products/product-3

    .default-pagination

  .default-carousel-prev.sw-prev-1
    +icon('chevron-left', 'default-carousel__icon')
  .default-carousel-next.sw-next-1
    +icon('chevron-right', 'default-carousel__icon')