.row

  .col-sm-6.col-lg-7.col-xl-6

    section.news-section
      header.news-section__header
        .news-section__title Новости
        a(href="#").news-section__more-news Все новости
      include ../components/news/news-1
      
    section.news-section.news-section--column

      include ../components/news/news-2
      include ../components/news/news-3
      include ../components/news/news-4

  .col-sm-6.col-lg-5.offset-xl-1

    section.news-section.news-section--row.news-section--mobile-gray
      header.news-section__header
        .news-section__title Акции
        a(href="#").news-section__more-news Все акции

      include ../components/news/news-5
      include ../components/news/news-6
      include ../components/news/news-7