.product-main-section

  header.product-header
    h1.product-header__heading Антифриз -37°C 5L (102928) Motul MOTUL
    .product-header__brand
      a.product-header__brand-link(href="#")
        img.product-header__brand-img(src="assets/images/content/product-logo-2.png" alt="Brand")

  include ../components/product-main-promo

  .product-main
    .row
      .col-12.col-md-6
        .product-main__prices
          .product-main__main-price 
            span.product-main__price-heading Ваша цена
            span.product-main__main-price-value 390,18 MDL
          .product-main__retail-price 
            span.product-main__price-heading Розница
            span.product-main__retail-price-value 410,50 MDL

        .product-main__controls
          .product-main__control.product-main__control--counter
            include ../components/counter
          .product-main__control.product-main__control--buy
            a.product-main__buy.btn.btn--main(href="#" data-modal-win-trigger="add") Купить
          .product-main__control.product-main__control--fast-buy
            form.fast-buy(action="/" method="GET" name="fast-buy")
              select.js-select-region
                option(value="md") +373
                option(value="ru") +7
                option(value="ro") +40
                option(value="kz") +7
              input.fast-buy__number(type="tel" name="user-phone")
              input.fast-buy__submit(type="submit" value="В 1 клик" name="send-data")

        a.product-main__compare(href="#")
          +icon('transfer', 'product-main__compare-icon')
          | Добавить товар к сравнению

      .col-12.col-md-6
        .product-main__params-wrap
          dl.product-main__params
            dt.product-main__property Бренд
            dd.product-main__value #[a.product-main__value-link(href="#") MOTUL]
            dt.product-main__property Артикул
            dd.product-main__value INUGEL EXPERT -37°C 
            dt.product-main__property Доступность
            dd.product-main__value В наличии
            dt.product-main__property Наличие
            dd.product-main__value &gt; 9536 шт.
            dt.product-main__property На складе отгрузки
            dd.product-main__value &gt; 542 шт.
          a.product-main__params-more(href="#section-2") Показать спецификации 