.radio-option
  .row
    .col-sm-6
      .radio-opt.active
        .radio-opt__user-data
          dl.manual-params
            div.manual-params__param
              dt.manual-params__value Область
              dd.manual-params__property Алматинская область
            div.manual-params__param
              dt.manual-params__value Город
              dd.manual-params__property Алма-Аты
            div.manual-params__param
              dt.manual-params__value Район
              dd.manual-params__property Алатауский район
            div.manual-params__param
              dt.manual-params__value Улица
              dd.manual-params__property ул.Толеби
            div.manual-params__param
              dt.manual-params__value Дом / Номер
              dd.manual-params__property 94/10
            div.manual-params__param
              dt.manual-params__value Квартира
              dd.manual-params__property 24
          .radio-opt__comment
            span.radio-opt__comment-title Комментарий:
            p.radio-opt__comment-desc Лорем ипсум долор сит амет, ан цлита албуц иус сит, цум вирис нусяуам сцрибентур ад,
        .radio-opt__footer
          .radio-label
            input.radio-label__input(type="radio" name="delivery-opt" value="delivery-location-1" checked id="opt-1")
            label.radio-label__main(for="opt-1") Доставить на этот адрес
    .col-sm-6
      .radio-opt
        .radio-opt__user-data
          dl.manual-params
            div.manual-params__param
              dt.manual-params__value Область
              dd.manual-params__property Алматинская область
            div.manual-params__param
              dt.manual-params__value Город
              dd.manual-params__property Алма-Аты
            div.manual-params__param
              dt.manual-params__value Район
              dd.manual-params__property Алатауский район
            div.manual-params__param
              dt.manual-params__value Улица
              dd.manual-params__property ул.Толеби
            div.manual-params__param
              dt.manual-params__value Дом / Номер
              dd.manual-params__property 94/10
            div.manual-params__param
              dt.manual-params__value Квартира
              dd.manual-params__property — / —
          .radio-opt__comment
            span.radio-opt__comment-title Комментарий:
            p.radio-opt__comment-desc — / —
        .radio-opt__footer
          .radio-label
            input.radio-label__input(type="radio" name="delivery-opt" value="delivery-location-2" id="opt-2")
            label.radio-label__main(for="opt-2") Доставить на этот адрес