.radio-option
  .row
    .col-sm-6
      .radio-opt.active
        .radio-opt__title Оплата через систему #[span EPay KKB]
        
        .radio-opt__user-data
          strong.radio-opt__notice Введите данные для проведения оплаты
          .row
            .col-lg-8
              label.radio-opt__label(for="u-email") E-mail плательщика
              .radio-opt__field
                input.radio-opt__input(type="email" name="user-email" id="u-email")
            .col-lg-4
              label.radio-opt__label(for="u-total") Сумма
              .radio-opt__field
                input.radio-opt__input.radio-opt__input--total(type="text" name="user-total" value="0" id="u-total")
                span.radio-opt__total-currency Kzt

        .radio-opt__footer
          .radio-label
            input.radio-label__input(type="radio" name="payment" value="payment-online" checked id="opt-1")
            label.radio-label__main(for="opt-1") Выбрать этот способ оплаты

    .col-sm-6
      .radio-opt
        .radio-opt__title Оплата наличными
        figure.radio-opt__figure
          svg.icon.radio-opt__icon(viewbox="0 0 512 512")
            use(href="assets/images/svg/symbol/sprite.svg#money")
          figcaption.radio-opt__figcaption #[strong Оплата заказа наличными курьеру либо в кассу]
        .radio-opt__footer
          .radio-label
            input.radio-label__input(type="radio" name="payment" value="payment-cash" id="opt-2")
            label.radio-label__main(for="opt-2") Выбрать этот способ оплаты