.tabs-section

  .tabs

    .tabs__header

      ul.tabs__list
        li.tabs__item
          a.tabs__link.is-active(href="#section-1") Аналоги #[span.tabs__amount (25)]
        li.tabs__item
          a.tabs__link(href="#section-2" id="section-2") Спецификации
        li.tabs__item
          a.tabs__link(href="#section-3") Применяемость
        li.tabs__item
          a.tabs__link(href="#section-4") Описание

    .tabs__panes

      .tabs__tab-pane.is-active.is-opened
        .tabs__accordeon-toggle Аналоги #[span.tabs__amount (25)]
        .tabs__accordeon-body
          include items-carousel

      .tabs__tab-pane
        .tabs__accordeon-toggle Спецификации
        .tabs__accordeon-body
          include ../components/manual-params-2

      .tabs__tab-pane
        .tabs__accordeon-toggle Применяемость
        .tabs__accordeon-body

          .card-specification-section

            .table-responsive.d-none.d-md-block
              ul.appropriate-cars
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") TOYOTA],
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") LEXUS],
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") DAIHATSU],
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") VW],
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") LOTUS],
                li.appropriate-cars__item #[a.appropriate-cars__link(href="#") MINI]
              table.spec-table
                thead.spec-table__thead
                  tr.spec-table__tr
                    th.spec-table__th Объем двигателя
                    th.spec-table__th.text-center Объем, см
                    th.spec-table__th.text-center Год выпуска
                    th.spec-table__th Мощность, л.с. (kWt)
                    th.spec-table__th Тип кузова
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td(colspan="5")
                      .spec-table__brand-heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td(colspan="5")
                      .spec-table__brand-heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td(colspan="5")
                      .spec-table__brand-heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td(colspan="5")
                      .spec-table__brand-heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                tbody.spec-table__tbody
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]
                  tr.spec-table__tr
                    td.spec-table__td
                      div.spec-table__title #[a.spec-table__title-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    td.spec-table__td.text-center 0
                    td.spec-table__td #[span.spec-table__amount 08.01.1979 - 04.01.1983]
                    td.spec-table__td #[span.spec-table__amount 73]
                    td.spec-table__td #[span.spec-table__instock Вездеход закрытый]

            .spec.d-md-none
              
              .spec__title #[a(href="#") TOYOTA], #[a(href="#") LEXUS], #[a(href="#") DAIHATSU], #[a(href="#") VW], #[a(href="#") LOTUS], #[a(href="#") MINI]

              .spec__product.is-open
                .spec__heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                .spec__main
                  .spec-table__main-prices
                    .spec-table__retail-price #[span Объем двигателя] TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)
                    .spec-table__main-price #[span Объем, см] 0
                    .spec-table__main-price #[span Год выпуска] 07.01.2009 - 01.01.0001
                    .spec-table__main-price #[span Мощность, л.с. (kWt)] 190
                    .spec-table__main-price #[span Тип кузова] вездеход закрытый
                .spec__detail
                  dl.spec__params
                    dt.spec__property Объем двигателя
                    dd.spec__value #[a.spec__value-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    dt.spec__property Объем, см
                    dd.spec__value 0
                    dt.spec__property Год выпуска
                    dd.spec__value &gt; 07.01.2009 - 01.01.0001
                    dt.spec__property Мощность, л.с. (kWt)
                    dd.spec__value &gt; 190
                    dt.spec__property Тип кузова
                    dd.spec__value вездеход закрытый
                  a.spec__params-more(href="#") Подробнаяя информация

              .spec__product
                .spec__heading #[a(href="#") TOYOTA LAND CRUISER (_J15_)]
                .spec__main
                  .spec-table__main-prices
                    .spec-table__retail-price #[span Объем двигателя] TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)
                    .spec-table__main-price #[span Объем, см] 0
                    .spec-table__main-price #[span Год выпуска] 07.01.2009 - 01.01.0001
                    .spec-table__main-price #[span Мощность, л.с. (kWt)] 190
                    .spec-table__main-price #[span Тип кузова] вездеход закрытый
                .spec__detail
                  dl.spec__params
                    dt.spec__property Объем двигателя
                    dd.spec__value #[a.spec__value-link(href="#") TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)]
                    dt.spec__property Объем, см
                    dd.spec__value 0
                    dt.spec__property Год выпуска
                    dd.spec__value &gt; 07.01.2009 - 01.01.0001
                    dt.spec__property Мощность, л.с. (kWt)
                    dd.spec__value &gt; 190
                    dt.spec__property Тип кузова
                    dd.spec__value вездеход закрытый
                  a.spec__params-more(href="#") Подробнаяя информация

      .tabs__tab-pane
        .tabs__accordeon-toggle Описание
        .tabs__accordeon-body
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi dignissimos cumque possimus deleniti provident dolorum nisi culpa iste asperiores officiis, ducimus, natus commodi mollitia perspiciatis eum est autem rem. Autem quas beatae a debitis, voluptatem soluta. Quaerat maxime ipsa necessitatibus, dolorum consectetur officia, alias eveniet placeat dicta saepe temporibus?