.training-promo

  .container-fluid

    .training-promo__main

      .training-promo-about
        .training-promo-about__logo-wrap.d-none.d-md-block
          img.training-promo-about__logo.img-responsive(src="assets/images/general/training-logo.png" alt="")
        .training-promo-about__heading Учебный центр #[strong.training-promo-about__heading-text Tanauto]
        .training-promo-about__desc Мы готовим профессионалов!

      .training-promo__manager.d-none.d-md-block
        img.training-promo__manager-img.img-responsive(src="assets/images/general/training-manager.png" alt="")

.training-promo-section

  .container-fluid

    .benefits-section
      
      .benefits-section__contacts
        .benefits-section__contacts-skew
          .benefits-section__contacts-body
            a.benefits-section__tel(href="tel:+37378300828") 
              +icon('phone-call', 'benefits-section__tel-icon')
              | +/373/ #[strong 78 300 828]

      .benefits-section__row

        .benefits-section__col
          include ../components/company-features/company-feature-9

        .benefits-section__col
          include ../components/company-features/company-feature-10

        .benefits-section__col
          include ../components/company-features/company-feature-11

        .benefits-section__col
          include ../components/company-features/company-feature-12

        .benefits-section__col
          include ../components/company-features/company-feature-13

    p.training-promo-desc Лорем ипсум долор сит амет, партем саперет маиестатис сед ад, еам тимеам репрехендунт ат. Постеа долорум опортеат ид еос, меа ферри цонсулату модератиус еа. Еи граецо патриояуе яуи. Но цоммуне фастидии тациматес меа, пер но латине деленити репрехендунт. Модо видерер яуо не, сит ет вери аццусата торяуатос.