.types-section
  
  .types-section__wrap
    include ../components/type/type-1

  .types-section__wrap
    include ../components/type/type-2

  .types-section__wrap
    include ../components/type/type-3

  .types-section__wrap
    include ../components/type/type-4