.types-section.types-section--mod
  
  .types-section__wrap
    include ../components/type/type-1

  .types-section__wrap
    include ../components/type/type-6

  .types-section__wrap
    include ../components/type/type-5