// ************************
// | Template main colors |
// ************************
$primary-color: #3498db !default;
$secondary-color: lightblue !default;
$tertiary-color: skyblue !default;

$white: #ffffff !default;
$black: #000000 !default;
$dark: #333333 !default;
$dark--medium: #999999 !default;

$gray: #cccccc !default;
$gray--medium: #e6e6e6 !default;
$gray--light: #f7f7f7 !default;
$gray--thin: #f5f5f5 !default;

// ***************
// | Base styles |
// ***************
$body-bg: #ffffff !default;
$body-bg-secondary: #f7f7f7 !default;
//$layout-max-width: 1220px !default;
$layout-max-width: 1360px !default;

$baseZIndex: 3 !default;
$flowZIndex: 11 !default;
$dropdownZIndex: 55 !default;
$overlayZIndex: 101 !default;
$overlayAboveZIndex: 111 !default;

// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xlg: 1200px
);

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$xs--mw: 479px;
$sm--mw: 575px;
$md--mw: 767px;
$lg--mw: 991px;
$xlg--mw: 1199px;

// **************
// | Typography |
// **************
$font-base-weight: 400 !default;
$font-base-stack: Rubik, Arial, sans-serif !default;
$font-base-size: 1.6rem !default;
$font-base-color: #16191d !default;
$font-error-color: red !default;
$base-line-height: 1.5 !default;

// Headings
$headings-weight: 600 !default;
$headings-fonts-stack: 'Rubik', Arial, sans-serif !default;
$headings-color: #333333 !default;
$headings-line-height: 1.1 !default;

// ***********
// | Buttons |
// ***********
$btn-bg-color: #ffffff !default;
$btn-radius: 3px !default;
$btn-icon-fill-color: #ffffff !default;

// **********
// | Header |
// **********
$header-bottom-background: #054c82 !default;

// **********
// | Footer |
// **********
$footer-bg: #333333 !default;
$footer-border-color: #484848 !default;

// ***********************
// | Main Promo Carousel |
// ***********************
$main-carousel-nav-bg: #16191d !default;
$main-carousel-nav-bg-state: #ffffff !default;

// ***************
// | Catalog Nav |
// ***************
$catalog-nav-container-width: 21rem;
$catalog-nav-mobcontainer-width: 30rem;

$catalog-nav-first-lvl-font-size: 1.4rem;
$catalog-nav-first-lvl-bg: $white;
$catalog-nav-first-lvl-border-color: $gray--medium;

$catalog-nav-second-lvl-bg: $gray--thin;
$catalog-nav-tertiary-lvl-bg: $gray--thin;

// ***************
// | Cart        |
// ***************
$cart-icon-primary: red;
$cart-icon-over: darkred;

// ***************
// | Banner        |
// ***************
$banner-bg: #054c82;
$banner-text-color: #ffffff;