@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";
@import "../../../node_modules/pikaday/scss/pikaday.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";

// 3.Base stuff
@import "base/base"; // maybe reset
@import "base/fonts";
@import "base/typography";
@import "base/utilities"; // aka helpers
@import "base/forms";
@import "base/tables";
@import "base/animations";

// 4.Layout
@import "layout/header";
@import "layout/footer";
@import "layout/news-section";
@import "layout/types-section";
@import "layout/sidebar";
@import "layout/inner-page-layout";
@import "layout/catalog-header-controls";
@import "layout/catalog-main";
@import "layout/tabs-section";
@import "layout/items-carousel";
@import "layout/card-specification";
@import "layout/product-main-section";
@import "layout/inner-section";
@import "layout/history-section";
@import "layout/match-items-section";
@import "layout/vincode-section";
@import "layout/illustration-demo";
@import "layout/match-item-detail";
@import "layout/client-options";
@import "layout/client-detail-section";
@import "layout/training-promo-section";
@import "layout/section";
@import "layout/sticky-footer";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/top-header-nav";
@import "components/select-lang";
@import "components/brand-catalogs";
// @import "components/logo";
@import "components/authorize";
@import "components/catalog-nav";
@import "components/header-contacts";
@import "components/search-form";
@import "components/main-carousel";
@import "components/news";
@import "components/type";
@import "components/soc";
@import "components/footer-collapse";
@import "components/footer-contacts-line";
@import "components/callback-form";
@import "components/modal-wins";
@import "components/form-authorize";
@import "components/breadcrumbs";
@import "components/category-nav";
@import "components/filter";
@import "components/ui-slider";
@import "components/pagination";
@import "components/view-modes";
@import "components/product";
@import "components/product-line";
@import "components/counter";
@import "components/product-main-promo";
@import "components/manual-params";
@import "components/stock-table";
@import "components/card-feature";
@import "components/orders-filter";
@import "components/orders-table";
@import "components/order-steps";
@import "components/order-success-badge";
@import "components/email-notification";
@import "components/orders-list";
@import "components/profile";
@import "components/person";
@import "components/company-feature";
@import "components/tree-nav";
@import "components/history";
@import "components/garage-location";
@import "components/accordeon";
@import "components/notification";
@import "components/alert-notification";
@import "components/order-footer-summary";
@import "components/radio-opt";
@import "components/delivery-options-form";
@import "components/add-address-form";
@import "components/added-modal-win";
@import "components/company-history";
@import "components/vacancy";
@import "components/match-item";
@import "components/brand-info";
@import "components/params";
@import "components/tooltip";
@import "components/client-request";
@import "components/signup-sto";
@import "components/disclaimer";
@import "components/tyres-area-section";
@import "components/training-subscribe-section";
@import "components/opinion";
@import "components/meetings-carousel";
@import "components/authorized";
@import "components/404";
@import "components/selection-car-brands";
@import "components/upload-files";
@import "components/payment-form";
@import "components/compare";
@import "components/sort-by-window";
@import "components/line-auth";
@import "components/reactjs-popup";

// 6.Pages (page-specific styles)
//@import 'pages/home'

// 7.Themes
// @import 'themes/default';

.current > a {
  background: #3498db;
  color: white;
  padding: 0.5rem;
  cursor: default;
}

.tree-nav .current:hover > a {
  color: $white;
}

.section-area__bordered {
  margin: 2rem 0;
  border-bottom: 1px solid $gray--medium;
  padding-bottom: 1.5rem;

  @media (min-width: $md) {
    margin: 3rem 0;
  }
}

.client-options-wrap {
  .client-option {
    background: $gray--thin;
    border-radius: 2px;
  }
}

.section-area__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.1;

  &-cancel {
    color: $primary-color;
    font-size: 1.4rem;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    [class*="fa"] {
      margin-right: .5rem;
      float: left;
    }
  }

  .btn {
    font-size: 1.4rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.illustration-demo #viewport {
  width: 100% !important;
}

.params__main-wrap {
  margin-bottom: 3rem;

  .btn {
    margin-top: 2rem;
  }

  .is-hidden {
    display: none;
  }

  &.active .is-hidden {
    display: flex;
  }
}



/* --------- Integration Fixes --------- */
.sortable {
  position: relative;
  padding-right: 1.2rem;
  line-height: 1;
  display: block;
}

.sort-top,
.sort-bottom {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: .6rem;
}

.sort-bottom {
  border-width: .5rem .5rem 0 .5rem;
  border-color: #333333 #ffffff transparent #ffffff;
  border-style: solid solid none solid;
}

.sort-top {
  border-width: 0 .5rem .5rem .5rem;
  border-color: transparent #ffffff #333333 #ffffff;
  border-style: none solid solid solid;
}

.search-form .easy-autocomplete {
  height: 100%;
}

.search-form .easy-autocomplete input {
  border-color: #e6e6e6;
  box-shadow: none;
  padding: 1rem 1.5rem;
}
/* --------- Integration Fixes --------- */

/* --------- Empty Basket Page --------- */
.empty-basket {
  &__img-wrap {}
  
  &__img {
    margin: 0 auto 4rem;
  }

  &__btn {}
}
/* --------- Empty Basket Page --------- */


.manual-section tr .product-line__manual {
  max-height: 9999px;
}

.analogs-section tr .product-line__analogs-list {
  max-height: 9999px;
}

.stock-table__more {
  td {
    border: none;
  }
}

.spec-table__brand-heading {
  font-weight: 500;
  color: $primary-color;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
	
  a {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.spec__title {
  a {
    color: $white;
  }
}

.spec__heading {
  a {
    color: $primary-color;
  }
}

.appropriate-cars {
  margin-bottom: 1.5rem;

  &__item {
    display: inline-block;
	margin-right: 0.5rem;
  }

  &__link {
    color: $primary-color;
	border: 1px solid $primary-color;
    padding: 2px 5px;
    border-radius: 10px;
	line-height: 3rem;
	
	&.selected {
	  background-color: $primary-color;
	  color: $white;
	}

    &:hover {
      // color: $primary-color;
      text-decoration: underline;
    }
  }
}

/* New Fixes */
.brands-table {
  td svg {
    width: 2rem;
    height: 2rem;
  }

  @media (max-width: $sm--mw) {
    table-layout: fixed;

    td,
    th {
      padding-left: 1rem;
      padding-right: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    th:nth-child(1),
    td:nth-child(1) {
      width: 25%;
    }
    
    th:nth-child(2),
    td:nth-child(2) {
      width: 65%;
    }
    
    th:nth-child(3),
    td:nth-child(3) {
      width: 20%;
    }
  }
}

.is-present {
  color: #178b17 !important;
  font-weight: bold !important;
}
.is-transit {
  color: #47190a !important;
  font-weight: bold !important;
}

/* New Fixes */

/* Header Banner */
.header-banner {
  background: $banner-bg;
  max-width: $layout-max-width;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &:hover {
    .header-banner__close {
      opacity: 1;
    }
  }

  &__wrap {
  color: $banner-text-color;
    display: block;
    padding: 1.5rem 15rem 1.5rem 1.5rem;
    position: relative;

    @media (min-width: $md) {
      padding: 1.5rem 15rem;
    }

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &__desc {
    max-width: 85rem;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 1.2rem;
    font-weight: 500;

    @media (min-width: $md) {
      font-size: 2rem;
    }
  }

  &__logo {
    background: $white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14rem;
    border-right: 1px solid $gray--medium;
    padding: .5rem 0;

    &-img {
      max-width: 10rem;
      max-height: 100%;
    }
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: .5rem;
    transition: all .3s;

    @media (min-width: $md) {
      opacity: 0;
    }

    &:hover {
      svg {
        fill: $dark;
      }
    }

    &-icon {
      fill: $dark--medium;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
/* Header Banner */

.important {
  color: #f00 !important;
}

/* Stickers */
.product__stickers {
  font-size: 1.2rem;
  font-weight: normal;
  color: $white;
  position: absolute;
  right: .5rem;
  bottom: .5rem;

  &-sticker {
    background: $gray;
    border-radius: 15rem;
    padding: .2rem 1.5rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &--discount {
      background: rgba(255, 71, 71, .8);
    }

    &--action {
      background: rgba(241, 196, 15, .8);
    }

    &--new {
      background: rgba(26, 188, 156, .8);
    }
  }
}

.product__sticker {}
/* Stickers */

.logged-in__link.important,
.category-nav__link.important {
  font-weight: bold;
}

.category-nav__title.h3.important:hover {
  text-decoration: none;
}

/* News Img Fixes */
.news__img-wrap {
  height: 15rem;
  padding: 1rem;
}

.news__img {
  object-fit: contain;
}

.news__img-wrap.no-border {
  border: none;
  padding: 0;
}

.news__img-wrap.no-border::before {
  display: none;
}
/* News Img Fixes */