article.type-section
  a(href="#").type-section__wrap
    header.type-section__header
      .type-section__title Онлайн запись #[span.type-section__title-entity на сервис]
    figure.type-section__type
      +icon('car-brand-online', 'type-section__icon type-section__icon--online')
      figcaption.type-section__desc Запишитесь прямо сейчас 
        span.type-section__desc-icon-wrap
          +icon('chevron-right', 'type-section__desc-icon')