article.type-section
  a(href="#").type-section__wrap
    header.type-section__header
      .type-section__title Подбор #[span.type-section__title-entity шин]
    figure.type-section__type
      +icon('tyre', 'type-section__icon type-section__icon--tyre')
      figcaption.type-section__desc Для всех типов авто
        span.type-section__desc-icon-wrap
          +icon('chevron-right', 'type-section__desc-icon')