article.type-section
  a(href="#").type-section__wrap
    header.type-section__header
      .type-section__title Подбор по #[span.type-section__title-entity по марке]
    figure.type-section__type
      +icon('car-brand', 'type-section__icon')
      figcaption.type-section__desc Любые марки и модели авто
        span.type-section__desc-icon-wrap
          +icon('chevron-right', 'type-section__desc-icon')