article.type-section
  header.type-section__header
    .type-section__title VIN: #[span.type-section__title-entity JTDKN3DU3C1481899]
  div.type-section__type
    +icon('car-code', 'type-section__icon')
    form(action="/" method="GET" name="search-by-code").type-section__form
      div.type-section__field
        input.type-section__input(type="text" size="17" maxlength="17" placeholder="VIN код (17 символов)")
        button.type-section__submit(type="submit" name="send-data")
          +icon('search', 'type-section__submit-icon')